Repository pytorch/pytorch, changes with the labels that .github/labeler.yml gives for each.
All labels: module: dynamo, module: inductor, ciflow/inductor, module: cpu, module: mkldnn, ciflow/linux-aarch64, module: amp (automated mixed precision), NNC, release notes: quantization, ciflow/trunk, oncall: distributed, release notes: distributed (checkpoint), module: compiled autograd, ciflow/xpu, release notes: inductor (aoti)

Add infra to run CPython tests under Dynamo (#150787)
  .lintrunner.toml
  test/dynamo/cpython/3_13/CHANGES.txt
  test/dynamo/cpython/3_13/LICENSE
  test/dynamo/test_ctx_manager.py
  test/dynamo/test_exceptions.py
  test/dynamo/test_generator.py
  test/dynamo/test_generator_stop.py
  test/dynamo/test_raise.py
  test/dynamo/test_sys.py
  test/dynamo/test_unittest.py
  test/run_test.py
  torch/_dynamo/test_case.py
  torch/_dynamo/variables/builtin.py
  torch/testing/_internal/common_utils.py
Labels: module: dynamo, ciflow/inductor

WIP: Fix caching when output has unbacked
  torch/_subclasses/_fake_tensor_utils.py
  torch/_subclasses/fake_tensor.py
Labels: ciflow/inductor

Removed unused import as suggested by reviewer
  torch/xpu/memory.py
Labels: none

Update on "WIP: Fix caching when output has unbacked"
  torch/_subclasses/_fake_tensor_utils.py
  torch/_subclasses/fake_tensor.py
  torch/fx/experimental/symbolic_shapes.py
Labels: ciflow/inductor

fix test
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

Update on "[Inductor] Pattern matcher support for mutable ops with non-view inputs"
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

Update on "[Inductor] Pattern matcher support for mutable ops with non-view inputs"
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

[Testing] Add logic for running MPS tests (#153012)
  .ci/pytorch/macos-test.sh
Labels: none

Update base for Update on "[WIP] Pattern matcher support for mutable ops with view inputs"
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

Update guards.py
  torch/_dynamo/guards.py
Labels: module: dynamo, ciflow/inductor

Update guards.py
  torch/_dynamo/guards.py
Labels: module: dynamo, ciflow/inductor

Update guards.py
  torch/_dynamo/guards.py
Labels: module: dynamo, ciflow/inductor

Update on "[Inductor] Pattern matcher support for mutable ops with non-view inputs"
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

Update base for Update on "[WIP] Pattern matcher support for mutable ops with view inputs"
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

Update
  aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp
Labels: module: cpu, release notes: quantization

Update (base update)
  aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp
Labels: module: cpu, release notes: quantization

remove
  test/inductor/test_aot_inductor.py
Labels: module: inductor, ciflow/inductor

elementwise_dtypes
  torch/_inductor/decomposition.py
Labels: module: inductor, ciflow/inductor

Fix bug visualizing 1D Tensor using rich (#152871)
  torch/distributed/tensor/debug/_visualize_sharding.py
  torch/distributed/tensor/examples/visualize_sharding_example.py
Labels: ciflow/inductor, oncall: distributed

Update
  aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp
Labels: module: cpu, release notes: quantization

Update (base update)
  aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp
Labels: module: cpu, release notes: quantization

[AOTInductor] Generate kernels separately for const graph and main graph
  test/inductor/test_aot_inductor.py
  torch/_inductor/graph.py
Labels: module: inductor, ciflow/inductor

resolve comments
  aten/src/ATen/native/mkldnn/xpu/Attention.cpp
  aten/src/ATen/native/mkldnn/xpu/detail/Attention.cpp
Labels: module: cpu

[c10d][fr] Decouple the core logic of FR with the entry and event type (#152585)
  torch/csrc/distributed/c10d/FlightRecorder.cpp
  torch/csrc/distributed/c10d/FlightRecorder.hpp
  torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp
Labels: oncall: distributed

[Break XPU] Fix XPU UT failures introduced by community. (#152945)
  test/inductor/test_torchinductor.py
Labels: module: inductor, ciflow/inductor

device typing
  torch/_dynamo/device_interface.py
Labels: module: dynamo, ciflow/inductor

skip rowwise scaled_mm on blackwell
  test/test_matmul_cuda.py
Labels: none

skip for sm_12x
  test/test_matmul_cuda.py
Labels: none

[Inductor] Set correct baseline for decomposek test (#152897)
  test/inductor/test_max_autotune.py
Labels: module: inductor, ciflow/inductor

add ut
  test/xpu/test_softmax.py
Labels: none

removed private method from docs and fixed indent on Example
  torch/optim/lr_scheduler.py
Labels: none

🌠 Add Muon optimizer
  torch/optim/muon.py
Labels: none

Reverted invoke_subgraph and FunctionalizeCtxWrapper
  test/export/test_export.py
  test/higher_order_ops/test_invoke_subgraph.py
  torch/_dynamo/variables/higher_order_ops.py
  torch/_higher_order_ops/associative_scan.py
  torch/_higher_order_ops/cond.py
  torch/_higher_order_ops/invoke_subgraph.py
  torch/_higher_order_ops/map.py
  torch/_higher_order_ops/scan.py
  torch/_higher_order_ops/while_loop.py
Labels: module: dynamo, ciflow/inductor

Update
  aten/src/ATen/Context.cpp
Labels: none

Update (base update)
  aten/src/ATen/Context.cpp
Labels: none

Update (base update)
  aten/src/ATen/Context.cpp
Labels: none

Update (base update)
  aten/src/ATen/Context.cpp
Labels: none

Update (base update)
  aten/src/ATen/Context.cpp
Labels: none

Add back removed white space change
  cmake/Modules/FindAPL.cmake
Labels: none

Fixes detection of ArmPL on Linux platform
  cmake/Modules/FindAPL.cmake
  cmake/Modules/FindLAPACK.cmake
Labels: none

.github/labeler.yml:

"module: dynamo":
- torch/_dynamo/**
- torch/csrc/dynamo/**
- benchmarks/dynamo/**
- test/dynamo/**

"module: inductor":
- torch/_inductor/**
- test/inductor/**

"ciflow/inductor":
- torch/_decomp/**
- torch/_dynamo/**
- torch/_export/**
- torch/_inductor/**
- benchmarks/dynamo/**
- torch/_subclasses/fake_tensor.py
- torch/_subclasses/fake_utils.py
- torch/_subclasses/meta_utils.py
- test/distributed/test_dynamo_distributed.py
- test/distributed/test_inductor_collectives.py
- torch/_functorch/_aot_autograd/**
- torch/_functorch/aot_autograd.py
- torch/_functorch/partitioners.py
- .ci/docker/ci_commit_pins/**
- .github/ci_commit_pins/**
- c10/core/Sym*
- torch/fx/experimental/symbolic_shapes.py
- torch/fx/experimental/recording.py
- torch/fx/experimental/sym_node.py
- torch/fx/experimental/validator.py
- torch/fx/experimental/proxy_tensor.py
- test/distributed/tensor/test_dtensor_compile.py
- test/distributed/tensor/parallel/test_fsdp_2d_parallel.py
- torch/distributed/tensor/**
- torch/distributed/fsdp/**
- torch/csrc/inductor/**
- torch/csrc/dynamo/**
- test/cpp/aoti_abi_check/**
- test/cpp/aoti_inference/**
- test/inductor/**
- test/dynamo/**

"module: cpu":
- aten/src/ATen/cpu/**
- aten/src/ATen/native/cpu/**
- aten/src/ATen/native/quantized/cpu/**
- aten/src/ATen/native/Convolution*.cpp
- aten/src/ATen/native/mkldnn/**
- torch/cpu/**
- torch/utils/mkldnn.py
- torch/utils/_sympy/**
- test/test_mkldnn.py

"module: mkldnn":
- third_party/ideep
- caffe2/ideep/**
- caffe2/python/ideep/**
- cmake/Modules/FindMKLDNN.cmake
- third_party/mkl-dnn.BUILD
- torch/csrc/jit/codegen/onednn/**
- test/test_jit_llga_fuser.py
- test/test_mkldnn.py

"ciflow/linux-aarch64":
- third_party/ideep
- caffe2/ideep/**
- caffe2/python/ideep/**
- cmake/Modules/FindMKLDNN.cmake
- third_party/mkl-dnn.BUILD
- torch/csrc/jit/codegen/onednn/**
- test/test_jit_llga_fuser.py
- test/test_mkldnn.py

"module: amp (automated mixed precision)":
- torch/amp/**
- aten/src/ATen/autocast_mode.*
- torch/csrc/jit/passes/autocast.cpp
- test/test_autocast.py

"NNC":
- torch/csrc/jit/tensorexpr/**

"release notes: quantization":
- torch/ao/quantization/**
- torch/quantization/**
- aten/src/ATen/quantized/**
- aten/src/ATen/native/quantized/cpu/**
- test/quantization/**

"ciflow/trunk":
- .ci/docker/ci_commit_pins/triton.txt

"oncall: distributed":
- torch/csrc/distributed/**
- torch/distributed/**
- torch/nn/parallel/**
- test/distributed/**
- torch/testing/_internal/distributed/**

"release notes: distributed (checkpoint)":
- torch/distributed/checkpoint/**
- test/distributed/checkpoint/**

"module: compiled autograd":
- torch/csrc/dynamo/python_compiled_autograd.cpp
- torch/csrc/dynamo/compiled_autograd.h
- torch/_dynamo/compiled_autograd.py
- torch/inductor/test_compiled_autograd.py

"ciflow/xpu":
- torch/csrc/inductor/aoti_include/xpu.h
- torch/csrc/inductor/cpp_wrapper/device_internal/xpu.h
- torch/csrc/inductor/cpp_wrapper/xpu.h

"release notes: inductor (aoti)":
- torch/_C/_aoti.pyi
- torch/_dynamo/repro/aoti.py
- torch/_export/serde/aoti_schema.py
- torch/_higher_order_ops/aoti_call_delegate.py
- torch/_inductor/codegen/aoti_runtime/**
- torch/_inductor/codegen/aoti_hipify_utils.py
- torch/_inductor/codegen/cpp_wrapper_cpu.py
- torch/_inductor/codegen/cpp_wrapper_gpu.py
- torch/_inductor/aoti_eager.py
- torch/csrc/inductor/aoti_runtime/**
- torch/csrc/inductor/aoti_torch/**
- torch/csrc/inductor/aoti_runner/**
- torch/csrc/inductor/aoti_eager/**
- torch/csrc/inductor/aoti_package/**
- torch/csrc/inductor/aoti_include/**
- torchgen/aoti/**
- torchgen/gen_aoti_c_shim.py
