Repository pytorch/pytorch, changes with the labels that .github/labeler.yml gives for each.
All labels: module: dynamo, module: inductor, ciflow/inductor, module: cpu, module: mkldnn, ciflow/linux-aarch64, module: amp (automated mixed precision), NNC, release notes: quantization, ciflow/trunk, oncall: distributed, release notes: distributed (checkpoint), module: compiled autograd, ciflow/xpu, release notes: inductor (aoti)

.github/labeler.yml:

"module: dynamo":
- torch/_dynamo/**
- torch/csrc/dynamo/**
- benchmarks/dynamo/**
- test/dynamo/**

"module: inductor":
- torch/_inductor/**
- test/inductor/**

"ciflow/inductor":
- torch/_decomp/**
- torch/_dynamo/**
- torch/_export/**
- torch/_inductor/**
- benchmarks/dynamo/**
- torch/_subclasses/fake_tensor.py
- torch/_subclasses/fake_utils.py
- torch/_subclasses/meta_utils.py
- test/distributed/test_dynamo_distributed.py
- test/distributed/test_inductor_collectives.py
- torch/_functorch/_aot_autograd/**
- torch/_functorch/aot_autograd.py
- torch/_functorch/partitioners.py
- .ci/docker/ci_commit_pins/**
- .github/ci_commit_pins/**
- c10/core/Sym*
- torch/fx/experimental/symbolic_shapes.py
- torch/fx/experimental/recording.py
- torch/fx/experimental/sym_node.py
- torch/fx/experimental/validator.py
- torch/fx/experimental/proxy_tensor.py
- test/distributed/tensor/test_dtensor_compile.py
- test/distributed/tensor/parallel/test_fsdp_2d_parallel.py
- torch/distributed/tensor/**
- torch/distributed/fsdp/**
- torch/csrc/inductor/**
- torch/csrc/dynamo/**
- test/cpp/aoti_abi_check/**
- test/cpp/aoti_inference/**
- test/inductor/**
- test/dynamo/**

"module: cpu":
- aten/src/ATen/cpu/**
- aten/src/ATen/native/cpu/**
- aten/src/ATen/native/quantized/cpu/**
- aten/src/ATen/native/Convolution*.cpp
- aten/src/ATen/native/mkldnn/**
- torch/cpu/**
- torch/utils/mkldnn.py
- torch/utils/_sympy/**
- test/test_mkldnn.py

"module: mkldnn":
- third_party/ideep
- caffe2/ideep/**
- caffe2/python/ideep/**
- cmake/Modules/FindMKLDNN.cmake
- third_party/mkl-dnn.BUILD
- torch/csrc/jit/codegen/onednn/**
- test/test_jit_llga_fuser.py
- test/test_mkldnn.py

"ciflow/linux-aarch64":
- third_party/ideep
- caffe2/ideep/**
- caffe2/python/ideep/**
- cmake/Modules/FindMKLDNN.cmake
- third_party/mkl-dnn.BUILD
- torch/csrc/jit/codegen/onednn/**
- test/test_jit_llga_fuser.py
- test/test_mkldnn.py

"module: amp (automated mixed precision)":
- torch/amp/**
- aten/src/ATen/autocast_mode.*
- torch/csrc/jit/passes/autocast.cpp
- test/test_autocast.py

"NNC":
- torch/csrc/jit/tensorexpr/**

"release notes: quantization":
- torch/ao/quantization/**
- torch/quantization/**
- aten/src/ATen/quantized/**
- aten/src/ATen/native/quantized/cpu/**
- test/quantization/**

"ciflow/trunk":
- .ci/docker/ci_commit_pins/triton.txt

"oncall: distributed":
- torch/csrc/distributed/**
- torch/distributed/**
- torch/nn/parallel/**
- test/distributed/**
- torch/testing/_internal/distributed/**

"release notes: distributed (checkpoint)":
- torch/distributed/checkpoint/**
- test/distributed/checkpoint/**

"module: compiled autograd":
- torch/csrc/dynamo/python_compiled_autograd.cpp
- torch/csrc/dynamo/compiled_autograd.h
- torch/_dynamo/compiled_autograd.py
- torch/inductor/test_compiled_autograd.py

"ciflow/xpu":
- torch/csrc/inductor/aoti_include/xpu.h
- torch/csrc/inductor/cpp_wrapper/device_internal/xpu.h
- torch/csrc/inductor/cpp_wrapper/xpu.h

"release notes: inductor (aoti)":
- torch/_C/_aoti.pyi
- torch/_dynamo/repro/aoti.py
- torch/_export/serde/aoti_schema.py
- torch/_higher_order_ops/aoti_call_delegate.py
- torch/_inductor/codegen/aoti_runtime/**
- torch/_inductor/codegen/aoti_hipify_utils.py
- torch/_inductor/codegen/cpp_wrapper_cpu.py
- torch/_inductor/codegen/cpp_wrapper_gpu.py
- torch/_inductor/aoti_eager.py
- torch/csrc/inductor/aoti_runtime/**
- torch/csrc/inductor/aoti_torch/**
- torch/csrc/inductor/aoti_runner/**
- torch/csrc/inductor/aoti_eager/**
- torch/csrc/inductor/aoti_package/**
- torch/csrc/inductor/aoti_include/**
- torchgen/aoti/**
- torchgen/gen_aoti_c_shim.py

[Testing] Add copysign from scalar regression test (#152997)
  torch/testing/_internal/common_methods_invocations.py
Labels: none

[Dynamo] Guard serialization for EQUALS_MATCH (#152704)
  test/dynamo/test_guard_serialization.py
Labels: module: dynamo, ciflow/inductor

Update test_aot_inductor.py
  test/inductor/test_aot_inductor.py
Labels: module: inductor, ciflow/inductor

[CI] Upgrade sccache to 0.10.0 (#152957)
  .ci/docker/common/install_cache.sh
Labels: none

Update on "[Linter] Add linter to detect device-bias hard code in test cases."
  test/higher_order_ops/test_invoke_quant.py
Labels: none

[Dynamo] Guard serialization for CONSTANT_MATCH (#152724)
  test/dynamo/test_guard_serialization.py
Labels: module: dynamo, ciflow/inductor

[MPS] SDPA specialized kernels (#152781)
  aten/src/ATen/native/mps/kernels/Attention.metal
  aten/src/ATen/native/mps/operations/Attention.mm
  test/test_mps.py
Labels: none

Add NVSHMEM_HOME detection
  caffe2/CMakeLists.txt
  tools/setup_helpers/cmake.py
  torch/__init__.py
Labels: none

Revert "[dynamo][ca] support dynamic annotations on tensors in ListVariables/TupleVariables (#152119)"
  test/inductor/test_compiled_autograd.py
  torch/_dynamo/output_graph.py
Labels: module: dynamo, module: inductor, ciflow/inductor

Revert "[ca] hide unused scalar int sizes from dynamo (#151962)"
  test/dynamo/test_backward_higher_order_ops.py
  test/inductor/test_compiled_autograd.py
  test/inductor/test_distributed_patterns.py
  torch/_dynamo/compiled_autograd.py
Labels: module: dynamo, module: inductor, ciflow/inductor, module: compiled autograd

Revert "[aot][ca] save bw_module in AOTAutogradCache (#151860)"
  test/dynamo/test_aot_autograd_cache.py
  test/dynamo/test_structured_trace.py
  torch/_dynamo/compiled_autograd.py
  torch/_functorch/_aot_autograd/autograd_cache.py
  torch/_functorch/_aot_autograd/jit_compile_runtime_wrappers.py
  torch/_functorch/_aot_autograd/runtime_wrappers.py
Labels: module: dynamo, ciflow/inductor, module: compiled autograd

Revert "[ca] mark scalar int sizes as dynamic via tensor wrapping (#151731)"
  test/dynamo/test_backward_higher_order_ops.py
  test/inductor/test_compiled_autograd.py
  torch/_dynamo/compiled_autograd.py
  torch/_dynamo/external_utils.py
  torch/csrc/dynamo/python_compiled_autograd.cpp
Labels: module: dynamo, module: inductor, ciflow/inductor, module: compiled autograd

init
  test/dynamo/test_misc.py
  torch/_meta_registrations.py
  torch/_refs/__init__.py
Labels: module: dynamo, ciflow/inductor

add
  test/dynamo/test_misc.py
Labels: module: dynamo, ciflow/inductor

Update
  .ci/pytorch/macos-test.sh
Labels: none

Update (base update)
  .ci/pytorch/macos-test.sh
Labels: none

Update (base update)
  .ci/pytorch/macos-test.sh
  .github/workflows/_mac-test.yml
  .github/workflows/trunk.yml
Labels: none

Update
  .lintrunner.toml
Labels: none

[export] Add draft-export docs (#152637)
  docs/source/_static/img/export/draft_export_report.png
  docs/source/_static/img/export/draft_export_report_dde.png
  docs/source/draft_export.rst
  docs/source/export.rst
Labels: none

Update
  .github/workflows/mac-mps.yml
Labels: none

Update (base update)
  .github/workflows/mac-mps.yml
Labels: none

Update on "Detect NVSHMEM location"
  caffe2/CMakeLists.txt
Labels: none

[aoti] skip input symbol codegen for sympy expr w/ many symbols (#152579)
  test/inductor/test_aot_inductor.py
  torch/_inductor/codegen/cpp_wrapper_cpu.py
  torch/_inductor/codegen/wrapper.py
Labels: module: inductor, ciflow/inductor, release notes: inductor (aoti)

Update __init__.py
  torch/accelerator/__init__.py
Labels: none

Update on "[Linter] Add linter to detect device-bias hard code in test cases."
  tools/linter/adapters/test_device_bias_linter.py
Labels: none

Adding a generic attribute for easier debugging.
  torch/utils/checkpoint.py
Labels: none

Define USE_C10D_XCCL and USE_XCCL in pytorch
  CMakeLists.txt
  cmake/Summary.cmake
Labels: none

Update
  pyproject.toml
Labels: none

Fix cmake warning
  cmake/Codegen.cmake
Labels: none

[dynamo][ez] Remove unused guard OBJECT_MUTATION. (#152855)
  torch/_dynamo/guards.py
Labels: module: dynamo, ciflow/inductor

[dynamo] Recursively realize the stack_values (#152853)
  benchmarks/dynamo/ci_expected_accuracy/aot_eager_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/cpu_inductor_freezing_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/cpu_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_aot_eager_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_cpu_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamo_eager_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/dynamic_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/inductor_torchbench_inference.csv
  test/dynamo/test_repros.py
  test/dynamo/test_structured_trace.py
  test/export/test_export_with_inline_and_install.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/variables/builder.py
Labels: module: dynamo, ciflow/inductor

[c10d] Fix unused `group` input argument in `new_subgroups()` (#152765)
  torch/distributed/distributed_c10d.py
Labels: oncall: distributed

fix a cuda bias case
  test/inductor/test_flex_attention.py
Labels: module: inductor, ciflow/inductor

Update
  test/test_sparse.py
Labels: none

tc
  .ci/pytorch/install_cache_xla.sh
Labels: none

Pass UNINSTALL_DILL to docker build (#152792)
  .ci/docker/build.sh
Labels: none

remove register_fake
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

Update on "[Inductor] Pattern matcher support for mutable ops with non-view inputs"
  test/inductor/test_pattern_matcher.py
Labels: module: inductor, ciflow/inductor

[Dynamo] Replace `unimplemented` with `unimplemented_v2` in `torch/_dynamo/variables/misc.py` [1/2] (#152274)
  torch/_dynamo/variables/misc.py
Labels: module: dynamo, ciflow/inductor

[nativert] Port string join and split to c10/util (#152873)
  c10/test/util/string_util_test.cpp
  c10/util/StringUtil.cpp
  c10/util/StringUtil.h
Labels: none
