Repository pytorch/pytorch, changes with the labels that .github/labeler.yml gives for each.
All labels: module: dynamo, module: inductor, ciflow/inductor, module: cpu, module: mkldnn, ciflow/linux-aarch64, module: amp (automated mixed precision), NNC, release notes: quantization, ciflow/trunk, oncall: distributed, release notes: distributed (checkpoint), module: compiled autograd, ciflow/xpu, release notes: inductor (aoti)

Update docs of saved_tensors_hooks to avoid ref cycle
  docs/source/notes/autograd.rst
  torch/autograd/graph.py
Labels: none

Fixed residual computation to use torch.abs(eigenvalue)
  torch/_lobpcg.py
Labels: none

[Inductor][CPP] Enable Group GEMM Template
  test/inductor/test_cpu_select_algorithm.py
  torch/_inductor/codegen/cpp_gemm_template.py
  torch/_inductor/codegen/cpp_group_gemm_template.py
  torch/_inductor/codegen/cpp_template_kernel.py
  torch/_inductor/codegen/wrapper.py
Labels: module: inductor, ciflow/inductor

rebase from main
  torch/_inductor/codegen/cpp_gemm_template.py
  torch/_inductor/codegen/cpp_template_kernel.py
Labels: module: inductor, ciflow/inductor

[Inductor][CPP] Enable Epilogue Fusion for Group GEMM Template
  test/inductor/test_cpu_select_algorithm.py
  torch/_inductor/codegen/cpp_group_gemm_template.py
  torch/_inductor/codegen/cpp_template_kernel.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/ir.py
  torch/_inductor/mkldnn_lowerings.py
  torch/_inductor/scheduler.py
Labels: module: inductor, ciflow/inductor

[Inductor][CPP] Remove redundant Buffers after Group GEMM Fusion
  torch/_inductor/codegen/cpp_template_kernel.py
  torch/_inductor/codegen/wrapper.py
Labels: module: inductor, ciflow/inductor

[Inductor][CPP] Enable horizontal Transverse
  test/inductor/test_cpu_select_algorithm.py
  torch/_inductor/codegen/cpp_gemm_template.py
  torch/_inductor/codegen/cpp_group_gemm_template.py
  torch/_inductor/codegen/cpp_micro_gemm.py
  torch/_inductor/codegen/cpp_prefix.h
  torch/_inductor/codegen/cpp_utils.py
  torch/_inductor/config.py
Labels: module: inductor, ciflow/inductor

[Inductor][CPP] Enable Linear Silu Mul fusion when concat linear enabled
  test/inductor/test_cpu_select_algorithm.py
  torch/_inductor/fx_passes/freezing_patterns.py
Labels: module: inductor, ciflow/inductor

`has_triton`: Use the device interface for detecting Triton availability (#139171)
  torch/_dynamo/utils.py
  torch/_dynamo/variables/builder.py
  torch/_higher_order_ops/triton_kernel_wrap.py
  torch/_inductor/compile_fx.py
  torch/_inductor/fx_passes/pad_mm.py
  torch/_inductor/runtime/autotune_cache.py
  torch/_inductor/utils.py
  torch/sparse/_triton_ops.py
  torch/utils/_triton.py
Labels: module: dynamo, module: inductor, ciflow/inductor

Fix Codegen.cmake warning (#153023)
  cmake/Codegen.cmake
Labels: none

Use gcc14 in Manylinux 2.28 images
  .ci/docker/manywheel/Dockerfile_2_28
  .ci/docker/manywheel/Dockerfile_2_28_aarch64
  .ci/docker/manywheel/Dockerfile_cuda_aarch64
Labels: none

install_devtoolchain
  .ci/docker/manywheel/Dockerfile_2_28
Labels: none

gcc14
  .ci/docker/manywheel/build.sh
Labels: none

fix
  .ci/docker/manywheel/Dockerfile_2_28
Labels: none

use_gcc13
  .ci/docker/manywheel/Dockerfile_2_28
Labels: none

fix
  .ci/docker/manywheel/Dockerfile_2_28
Labels: none

devtoolset13
  .ci/docker/manywheel/build.sh
Labels: none

manylinux
  .ci/docker/manywheel/Dockerfile_2_28
Labels: none

check_binary_and_more
  .ci/docker/manywheel/Dockerfile_2_28_aarch64
  .ci/docker/manywheel/Dockerfile_cuda_aarch64
  .ci/docker/manywheel/build.sh
  .ci/pytorch/check_binary.sh
Labels: none

Use `torch.types.Device` in `device_interface.py` (#152935)
  torch/_dynamo/device_interface.py
Labels: module: dynamo, ciflow/inductor

Update test_cuda.py
  test/test_cuda.py
Labels: none

fix device typing
  torch/__init__.py
Labels: none

Update cpp_extension.py
  torch/utils/cpp_extension.py
Labels: none

Fix AttributeError for `_get_vc_env` with setuptools>=75.9.0
  torch/utils/cpp_extension.py
Labels: none

Update
  aten/src/ATen/native/mkldnn/xpu/Blas.cpp
  cmake/Modules/FindMKLDNN.cmake
Labels: module: cpu, module: mkldnn, ciflow/linux-aarch64

Update
  aten/src/ATen/native/mkldnn/xpu/Blas.cpp
Labels: module: cpu

[BE]: Blacklist broken setuptools until we upgrade MSVC API
  pyproject.toml
  requirements.txt
Labels: none

Update
  aten/src/ATen/native/cuda/Indexing.cu
Labels: none

Reworked HOPs to use FunctionalizeCtxWrapper
  torch/_higher_order_ops/associative_scan.py
  torch/_higher_order_ops/cond.py
  torch/_higher_order_ops/hints_wrap.py
  torch/_higher_order_ops/map.py
  torch/_higher_order_ops/scan.py
  torch/_higher_order_ops/while_loop.py
Labels: none

Try dynamic pyproject attributes
  pyproject.toml
Labels: none

Thread through options so GraphPickler can allow all ops (#152801)
  torch/fx/_graph_pickler.py
Labels: none

Update OperationUtils.mm
  aten/src/ATen/native/mps/OperationUtils.mm
Labels: none

[Lint] Add install command for GHA step (#153013)
  .lintrunner.toml
Labels: none

Update
  .lintrunner.toml
Labels: none

Update (base update)
  .lintrunner.toml
Labels: none

Update (base update)
  .lintrunner.toml
Labels: none

.github/labeler.yml:

"module: dynamo":
- torch/_dynamo/**
- torch/csrc/dynamo/**
- benchmarks/dynamo/**
- test/dynamo/**

"module: inductor":
- torch/_inductor/**
- test/inductor/**

"ciflow/inductor":
- torch/_decomp/**
- torch/_dynamo/**
- torch/_export/**
- torch/_inductor/**
- benchmarks/dynamo/**
- torch/_subclasses/fake_tensor.py
- torch/_subclasses/fake_utils.py
- torch/_subclasses/meta_utils.py
- test/distributed/test_dynamo_distributed.py
- test/distributed/test_inductor_collectives.py
- torch/_functorch/_aot_autograd/**
- torch/_functorch/aot_autograd.py
- torch/_functorch/partitioners.py
- .ci/docker/ci_commit_pins/**
- .github/ci_commit_pins/**
- c10/core/Sym*
- torch/fx/experimental/symbolic_shapes.py
- torch/fx/experimental/recording.py
- torch/fx/experimental/sym_node.py
- torch/fx/experimental/validator.py
- torch/fx/experimental/proxy_tensor.py
- test/distributed/tensor/test_dtensor_compile.py
- test/distributed/tensor/parallel/test_fsdp_2d_parallel.py
- torch/distributed/tensor/**
- torch/distributed/fsdp/**
- torch/csrc/inductor/**
- torch/csrc/dynamo/**
- test/cpp/aoti_abi_check/**
- test/cpp/aoti_inference/**
- test/inductor/**
- test/dynamo/**

"module: cpu":
- aten/src/ATen/cpu/**
- aten/src/ATen/native/cpu/**
- aten/src/ATen/native/quantized/cpu/**
- aten/src/ATen/native/Convolution*.cpp
- aten/src/ATen/native/mkldnn/**
- torch/cpu/**
- torch/utils/mkldnn.py
- torch/utils/_sympy/**
- test/test_mkldnn.py

"module: mkldnn":
- third_party/ideep
- caffe2/ideep/**
- caffe2/python/ideep/**
- cmake/Modules/FindMKLDNN.cmake
- third_party/mkl-dnn.BUILD
- torch/csrc/jit/codegen/onednn/**
- test/test_jit_llga_fuser.py
- test/test_mkldnn.py

"ciflow/linux-aarch64":
- third_party/ideep
- caffe2/ideep/**
- caffe2/python/ideep/**
- cmake/Modules/FindMKLDNN.cmake
- third_party/mkl-dnn.BUILD
- torch/csrc/jit/codegen/onednn/**
- test/test_jit_llga_fuser.py
- test/test_mkldnn.py

"module: amp (automated mixed precision)":
- torch/amp/**
- aten/src/ATen/autocast_mode.*
- torch/csrc/jit/passes/autocast.cpp
- test/test_autocast.py

"NNC":
- torch/csrc/jit/tensorexpr/**

"release notes: quantization":
- torch/ao/quantization/**
- torch/quantization/**
- aten/src/ATen/quantized/**
- aten/src/ATen/native/quantized/cpu/**
- test/quantization/**

"ciflow/trunk":
- .ci/docker/ci_commit_pins/triton.txt

"oncall: distributed":
- torch/csrc/distributed/**
- torch/distributed/**
- torch/nn/parallel/**
- test/distributed/**
- torch/testing/_internal/distributed/**

"release notes: distributed (checkpoint)":
- torch/distributed/checkpoint/**
- test/distributed/checkpoint/**

"module: compiled autograd":
- torch/csrc/dynamo/python_compiled_autograd.cpp
- torch/csrc/dynamo/compiled_autograd.h
- torch/_dynamo/compiled_autograd.py
- torch/inductor/test_compiled_autograd.py

"ciflow/xpu":
- torch/csrc/inductor/aoti_include/xpu.h
- torch/csrc/inductor/cpp_wrapper/device_internal/xpu.h
- torch/csrc/inductor/cpp_wrapper/xpu.h

"release notes: inductor (aoti)":
- torch/_C/_aoti.pyi
- torch/_dynamo/repro/aoti.py
- torch/_export/serde/aoti_schema.py
- torch/_higher_order_ops/aoti_call_delegate.py
- torch/_inductor/codegen/aoti_runtime/**
- torch/_inductor/codegen/aoti_hipify_utils.py
- torch/_inductor/codegen/cpp_wrapper_cpu.py
- torch/_inductor/codegen/cpp_wrapper_gpu.py
- torch/_inductor/aoti_eager.py
- torch/csrc/inductor/aoti_runtime/**
- torch/csrc/inductor/aoti_torch/**
- torch/csrc/inductor/aoti_runner/**
- torch/csrc/inductor/aoti_eager/**
- torch/csrc/inductor/aoti_package/**
- torch/csrc/inductor/aoti_include/**
- torchgen/aoti/**
- torchgen/gen_aoti_c_shim.py
