Repository pytorch/pytorch, pull requests merged in 2018-03, with the labels that each got.

#5471 Reorganize interned strings into categories.
  tools/jit/gen_jit_dispatch.py
  tools/jit/templates/aten_interned_strings.h
  torch/csrc/jit/interned_strings.h
Labels: jit

#5574 Defer shape analysis failures until runtime
  test/test_jit.py
  torch/csrc/jit/passes/shape_analysis.cpp
  torch/jit/frontend.py
Labels: jit

#5358 Fixed distribution constraints and added some test cases for distributions parameter check
  test/test_distributions.py
  torch/__init__.py
  torch/distributions/bernoulli.py
  torch/distributions/beta.py
  torch/distributions/binomial.py
  torch/distributions/categorical.py
  torch/distributions/cauchy.py
  torch/distributions/chi2.py
  torch/distributions/constraints.py
  torch/distributions/dirichlet.py
  torch/distributions/distribution.py
  torch/distributions/exponential.py
  torch/distributions/fishersnedecor.py
  torch/distributions/gamma.py
  torch/distributions/geometric.py
  torch/distributions/gumbel.py
  torch/distributions/laplace.py
  torch/distributions/log_normal.py
  torch/distributions/multinomial.py
  torch/distributions/normal.py
  torch/distributions/one_hot_categorical.py
  torch/distributions/pareto.py
  torch/distributions/poisson.py
  torch/distributions/relaxed_bernoulli.py
  torch/distributions/relaxed_categorical.py
  torch/distributions/studentT.py
  torch/distributions/transformed_distribution.py
  torch/distributions/uniform.py
Labels: distributions

#4950 Added an implementation of a multivariate normal distribution
  docs/source/distributions.rst
  test/test_distributions.py
  torch/distributions/__init__.py
  torch/distributions/constraints.py
  torch/distributions/multivariate_normal.py
  torch/distributions/utils.py
Labels: distributions

#5408 Expose gradients w.r.t. input & weight for conv1d, conv2d, conv3d in Python
  test/test_nn.py
  torch/nn/functional.py
  torch/nn/grad.py
Labels: awaiting response

#5927 Linearly interpolating upsampling fix
  aten/src/ATen/nn.yaml
  aten/src/ATen/nn_parse.py
  aten/src/ATen/test/basic.cpp
  aten/src/THCUNN/SpatialUpSamplingBilinear.cu
  aten/src/THCUNN/TemporalUpSamplingLinear.cu
  aten/src/THCUNN/VolumetricUpSamplingTrilinear.cu
  aten/src/THCUNN/generic/SpatialUpSamplingBilinear.cu
  aten/src/THCUNN/generic/THCUNN.h
  aten/src/THCUNN/generic/TemporalUpSamplingLinear.cu
  aten/src/THCUNN/generic/VolumetricUpSamplingTrilinear.cu
  aten/src/THCUNN/linear_upsampling.h
  aten/src/THNN/generic/SpatialUpSamplingBilinear.c
  aten/src/THNN/generic/THNN.h
  aten/src/THNN/generic/TemporalUpSamplingLinear.c
  aten/src/THNN/generic/VolumetricUpSamplingTrilinear.c
  aten/src/THNN/generic/linear_upsampling.c
  aten/src/THNN/init.cpp
  test/test_nn.py
  tools/autograd/derivatives.yaml
  torch/nn/functional.py
  torch/nn/modules/upsampling.py
Labels: bc-breaking

#6112 Give ATen errors backtraces
  aten/src/ATen/Error.h
  torch/csrc/Exceptions.h
Labels: awaiting response
