Repository pytorch/pytorch, pull requests merged in 2018-04, with the labels that each got.

#5936 Add support for printing extra information in Module and refactor redundant codes
  docs/source/notes/extending.rst
  test/test_nn.py
  torch/nn/modules/activation.py
  torch/nn/modules/batchnorm.py
  torch/nn/modules/container.py
  torch/nn/modules/conv.py
  torch/nn/modules/dropout.py
  torch/nn/modules/fold.py
  torch/nn/modules/linear.py
  torch/nn/modules/module.py
  torch/nn/modules/normalization.py
  torch/nn/modules/padding.py
  torch/nn/modules/pixelshuffle.py
  torch/nn/modules/pooling.py
  torch/nn/modules/rnn.py
  torch/nn/modules/sparse.py
  torch/nn/modules/upsampling.py
Labels: in progress

#5548 Fix extension test on Windows
  .gitignore
  .jenkins/pytorch/win-test.sh
  setup.py
  test/run_test.py
  torch/csrc/THP_export.h
  torch/csrc/assertions.h
  torch/csrc/autograd/python_variable.h
  torch/torch.h
  torch/utils/cpp_extension.py
Labels: in progress

#6261 Fixing conda test builds
  .jenkins/caffe2/build.sh
  .jenkins/caffe2/test.sh
  docker/caffe2/jenkins/common/install_anaconda.sh
  scripts/build_anaconda.sh
Labels: caffe2

#6335 [Caffe2] Some small changes to InferBlobShapesAndTypes definition and SameAsInput Schema
  caffe2/core/operator.cc
  caffe2/core/operator.h
  caffe2/core/operator_schema.cc
  caffe2/python/pybind_state.cc
Labels: caffe2

#6387 [Caffe2] Add mock python module for testing
  docker/caffe2/jenkins/common/install_python.sh
Labels: caffe2

#6317 Check mappings ONNX -> Caffe2 bear the same argument names
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
  caffe2/python/onnx/tests/c2_ref_test.py
Labels: caffe2

#6379 [caffe2] Guard couple shape inference functions for unkown input shapes
  caffe2/core/operator_schema.cc
  caffe2/core/operator_schema.h
  caffe2/operators/concat_split_op.cc
  caffe2/operators/conv_pool_op_base.h
  caffe2/operators/dropout_op.cc
  caffe2/operators/fully_connected_op.cc
Labels: caffe2

#6456 [caffe2] Disallow using the OOP api workspace as context managers
  caffe2/python/onnx/backend.py
  caffe2/python/onnx/backend_rep.py
  caffe2/python/onnx/workspace.py
Labels: caffe2

#6460 [Caffe2] Add mock to conda
  docker/caffe2/jenkins/common/install_anaconda.sh
Labels: caffe2

#6368 [caffe2][nomnigraph] Generic subgraph replacement
  caffe2/core/nomnigraph/Representations/NeuralNet.cc
  caffe2/core/nomnigraph/include/nomnigraph/Converters/Caffe2.h
  caffe2/core/nomnigraph/include/nomnigraph/Converters/Dot.h
  caffe2/core/nomnigraph/include/nomnigraph/Graph/Graph.h
  caffe2/core/nomnigraph/include/nomnigraph/Representations/NeuralNet.h
  caffe2/opt/backend_cutting.cc
  caffe2/opt/backend_cutting.h
  caffe2/opt/backend_cutting_test.cc
Labels: caffe2

#6150 [Caffe2] Add support to TensorRT
  CMakeLists.txt
  caffe2/contrib/CMakeLists.txt
  caffe2/contrib/tensorrt/CMakeLists.txt
  caffe2/contrib/tensorrt/tensorrt_op_trt.cc
  caffe2/contrib/tensorrt/tensorrt_op_trt.h
  caffe2/contrib/tensorrt/tensorrt_tranformer.cc
  caffe2/contrib/tensorrt/tensorrt_tranformer.h
  caffe2/contrib/tensorrt/trt_utils.h
  caffe2/core/macros.h.in
  caffe2/core/operator.cc
  caffe2/core/operator.h
  caffe2/onnx/onnx_exporter.cc
  caffe2/onnx/onnx_exporter.h
  caffe2/operators/CMakeLists.txt
  caffe2/python/onnx/frontend.py
  caffe2/python/pybind_state_gpu.cc
  caffe2/python/trt/__init__.py
  caffe2/python/trt/test_trt.py
  caffe2/python/trt/transform.py
  cmake/Dependencies.cmake
  cmake/Summary.cmake
  cmake/public/cuda.cmake
  modules/CMakeLists.txt
Labels: caffe2

#6497 [caffe2] Update ReduceOps
  caffe2/core/common.h
  caffe2/operators/locally_connected_op_impl.h
  caffe2/operators/lpnorm_op.cc
  caffe2/operators/lpnorm_op.h
  caffe2/operators/reduce_ops.cc
  caffe2/operators/reduce_ops.h
  caffe2/operators/reduce_ops_gpu.cc
  caffe2/operators/top_k.cu
  caffe2/operators/transpose_op.h
  caffe2/operators/transpose_op_cudnn.cc
  caffe2/utils/math.h
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
  caffe2/utils/math_gpu_test.cc
  caffe2/utils/math_test.cc
  cmake/public/cuda.cmake
Labels: caffe2

#6496 Fix ATen build in Caffe2
  caffe2/contrib/aten/CMakeLists.txt
  caffe2/contrib/aten/gen_op.py
Labels: caffe2

#6577 [Caffe2] [ThreadPool] WorkersPool uses atomic writes to task_
  caffe2/utils/threadpool/WorkersPool.h
Labels: caffe2

#6602 [caffe2] Update math functions with params on host.
  caffe2/core/common_gpu.h
  caffe2/operators/locally_connected_op.cc
  caffe2/operators/locally_connected_op.h
  caffe2/operators/locally_connected_op_impl.h
  caffe2/operators/locally_connected_op_util.cc
  caffe2/operators/locally_connected_op_util.h
  caffe2/operators/reduce_ops.cc
  caffe2/operators/reduce_ops.h
  caffe2/operators/top_k.cu
  caffe2/operators/transpose_op.cc
  caffe2/operators/transpose_op.h
  caffe2/operators/transpose_op_cudnn.cc
  caffe2/python/operator_test/arg_ops_test.py
  caffe2/python/operator_test/reduce_ops_test.py
  caffe2/python/operator_test/transpose_op_test.py
  caffe2/utils/math.h
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
  caffe2/utils/math_gpu_test.cc
Labels: caffe2

#6458 [Caffe2] Scoped dummy name generator
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
  caffe2/onnx/helper.cc
  caffe2/onnx/helper.h
  caffe2/onnx/onnx_exporter.cc
  caffe2/onnx/onnx_exporter.h
  caffe2/python/onnx/backend.py
  caffe2/python/onnx/frontend.py
  caffe2/python/onnx/helper.py
  caffe2/python/onnx/tests/c2_ref_test.py
  caffe2/python/onnx/tests/conversion_test.py
  caffe2/python/onnx/tests/helper_test.py
  caffe2/python/pybind_state.cc
Labels: caffe2

#6513 Explicitly define all caffe2 reducer ops by name
  caffe2/core/operator_schema.h
  caffe2/operators/segment_reduction_op.cc
Labels: caffe2

#5919 add mpi support for DDP
  test/run_test.py
  test/test_distributed.py
  torch/nn/parallel/__init__.py
  torch/nn/parallel/distributed_cpu.py
Labels: awaiting response

#6656 randperm supports n=0
  aten/src/ATen/native/TensorFactories.cpp
  test/test_torch.py
Labels: pytorch

#6566 enable exporting bidirectional rnn with fixed seq len from onnx to caffe2
  caffe2/python/onnx/backend.py
Labels: caffe2

#6668 [caffe2] Add broadcast and reduce gradient
  caffe2/operators/locally_connected_op_impl.h
  caffe2/operators/reduce_ops.cc
  caffe2/operators/reduce_ops.h
  caffe2/operators/reduce_ops_gpu.cc
  caffe2/operators/top_k.cu
  caffe2/operators/transpose_op.h
  caffe2/operators/transpose_op_cudnn.cc
  caffe2/python/operator_test/reduce_ops_test.py
  caffe2/utils/math.h
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
  caffe2/utils/math_gpu_test.cc
  caffe2/utils/math_test.cc
Labels: caffe2

#6681 fix broken code from rebasing
  caffe2/python/onnx/backend.py
Labels: caffe2

#6647 Gltensor fix
  caffe2/mobile/contrib/arm-compute/core/context.h
  caffe2/mobile/contrib/arm-compute/core/net_gl.cc
  caffe2/mobile/contrib/arm-compute/operators/activation_ops.cc
  caffe2/mobile/contrib/arm-compute/operators/concat_op.cc
  caffe2/mobile/contrib/arm-compute/operators/conv_op.cc
  caffe2/mobile/contrib/arm-compute/operators/copy_op.cc
  caffe2/mobile/contrib/arm-compute/operators/elementwise_sum_op.cc
  caffe2/mobile/contrib/arm-compute/operators/fully_connected_op.cc
  caffe2/mobile/contrib/arm-compute/operators/norm_planar_yuv_op.cc
  caffe2/mobile/contrib/arm-compute/operators/pool_op.cc
  caffe2/mobile/contrib/arm-compute/operators/reshape_op.cc
  caffe2/mobile/contrib/arm-compute/operators/resize_op.cc
  caffe2/mobile/contrib/arm-compute/operators/softmax_op.cc
  caffe2/mobile/contrib/arm-compute/operators/spatial_batch_norm_op.cc
Labels: caffe2

#6307 Implement torch.einsum (fixes #1889)
  aten/src/ATen/native/Linear.cpp
  aten/src/ATen/native/native_functions.yaml
  docs/source/torch.rst
  test/test_torch.py
  tools/autograd/gen_python_functions.py
  tools/autograd/templates/VariableType.cpp
  torch/_torch_docs.py
  torch/csrc/Device.cpp
  torch/csrc/utils/python_arg_parser.cpp
Labels: high priority

#6645 [Caffe2] Detectron fpn support
  caffe2/operators/collect_and_distribute_fpn_rpn_proposals_op.cc
  modules/detectron/batch_permutation_op.cc
  modules/detectron/batch_permutation_op.h
Labels: caffe2

#6685 [caffe2] Add reduce min and reduce max in math
  caffe2/operators/reduce_ops.h
  caffe2/utils/math.h
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
  caffe2/utils/math_gpu_test.cc
  caffe2/utils/math_test.cc
Labels: caffe2

#6693 [Caffe2] Enhance test for CollectAndDistributeOp
  caffe2/operators/collect_and_distribute_fpn_rpn_proposals_op.cc
  caffe2/python/operator_test/collect_and_distribute_fpn_rpn_proposals_op_test.py
Labels: caffe2

#6697 [caffe2] Use both __ARM_NEON__ and __ARM_NEON macros
  caffe2/mobile/contrib/ulp2/ulp.cc
  caffe2/mobile/contrib/ulp2/ulp_neon.cc
  caffe2/operators/conv_transpose_op_impl.h
  caffe2/operators/conv_transpose_op_mobile_impl.h
  caffe2/operators/conv_transpose_op_mobile_test.cc
  caffe2/operators/pool_op.cc
  caffe2/operators/prelu_op.cc
  caffe2/operators/resize_op.cc
  caffe2/operators/stylizer_ops.cc
  caffe2/utils/cpu_neon.h
  caffe2/utils/math_cpu.cc
Labels: caffe2

#6729 [caffe2] Add gpu check for reduce_max
  caffe2/utils/math_gpu_test.cc
Labels: caffe2

#6735 [caffe2] Update EigenTensorMap to use ColMajor
  caffe2/operators/locally_connected_op.cc
  caffe2/operators/reduce_ops.cc
  caffe2/operators/transpose_op.cc
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
Labels: caffe2

#6667 ChannelShuffle with NHWC layout
  caffe2/operators/channel_shuffle_op.cc
  caffe2/operators/channel_shuffle_op.h
  caffe2/operators/channel_shuffle_op_gpu.cu
  caffe2/python/operator_test/channel_shuffle_test.py
Labels: caffe2

#6717 [Caffe2] Use mapped workspace instead of renaming when working on renamed nets
  caffe2/contrib/tensorrt/tensorrt_tranformer.cc
  caffe2/contrib/tensorrt/tensorrt_tranformer.h
  caffe2/core/workspace.h
Labels: caffe2

#6696 [Caffe2] Let TensorRT flow use the generic graph transformer
  caffe2/contrib/tensorrt/tensorrt_tranformer.cc
  caffe2/contrib/tensorrt/tensorrt_tranformer.h
  caffe2/onnx/onnx_exporter.cc
  caffe2/opt/backend_cutting.cc
  caffe2/python/trt/test_trt.py
  caffe2/python/trt/transform.py
Labels: caffe2

#6752 Make the variable closer to usage
  caffe2/core/net_dag.cc
Labels: caffe2

#6775 Change to use CAFFE2_HOME for specifiying caffe2 models path
  caffe2/python/onnx/tests/c2_ref_test.py
Labels: caffe2

#6782 [Caffe2] Increase TensorRT test coverage
  caffe2/contrib/tensorrt/tensorrt_tranformer.cc
  caffe2/python/trt/test_trt.py
Labels: caffe2

#6802 Quick patch for Caffe2 CI
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#6689 [caffe2][nomnigraph] Add binary split algorithm to Algorithms.h
  caffe2/core/nomnigraph/CMakeLists.txt
  caffe2/core/nomnigraph/include/nomnigraph/Graph/Algorithms.h
  caffe2/core/nomnigraph/include/nomnigraph/Graph/BinaryMatchImpl.h
  caffe2/core/nomnigraph/include/nomnigraph/Representations/NeuralNet.h
  caffe2/core/nomnigraph/tests/basic_test.cc
  caffe2/core/nomnigraph/tests/binary_match_test.cc
Labels: caffe2

#6799 [easy] Mark schema registration helper variables as unused
  caffe2/core/operator_schema.h
Labels: caffe2

#6798 [caffe2] Add Moments to math
  caffe2/utils/math.h
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
  caffe2/utils/math_gpu_test.cc
  caffe2/utils/math_test.cc
Labels: caffe2

#6824 [Caffe2] Fix typo in the cmake
  cmake/Dependencies.cmake
  cmake/Summary.cmake
Labels: caffe2

#6821 [Caffe2] Fix cuda.cmake
  cmake/public/cuda.cmake
Labels: caffe2

#6825 [caffe2] Rename add_stop_signal to add_stop_condition
  caffe2/python/checkpoint.py
  caffe2/python/checkpoint_test.py
  caffe2/python/net_printer.py
Labels: caffe2

#6809 [Caffe2] Provide option to initialize the TensorRT engine at Operator constructor time
  caffe2/contrib/tensorrt/tensorrt_op_trt.cc
  caffe2/contrib/tensorrt/tensorrt_tranformer.cc
  caffe2/contrib/tensorrt/tensorrt_tranformer.h
  caffe2/contrib/tensorrt/trt_utils.cc
  caffe2/contrib/tensorrt/trt_utils.h
  caffe2/python/pybind_state_gpu.cc
  caffe2/python/trt/test_trt.py
  caffe2/python/trt/transform.py
Labels: caffe2

#6880 [caffe2][nomnigraph][fixup][tiny] Remove accidentally included logging
  caffe2/core/nomnigraph/CMakeLists.txt
Labels: caffe2

#6833 Work around protobuf issues by importing onnx first
  caffe2/python/onnx/backend.py
Labels: caffe2

#6908 [caffe2][tiny][fix] Make the build work with profile observers
  caffe2/observers/profile_observer.h
  caffe2/observers/profile_observer_gpu.cc
Labels: caffe2

#6473 [Caffe2] Fix the legacy padding handling on global pool case
  caffe2/onnx/onnx_exporter.cc
Labels: caffe2

#6909 [caffe2] Fix logic error in tensor filling ops in C++ ONNX backend
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
  caffe2/python/onnx/tests/c2_ref_test.py
  caffe2/python/pybind_state.cc
Labels: caffe2

#6928 remove quotes from caffe2/contrib/aten/CMakeLists.txt
  caffe2/contrib/aten/CMakeLists.txt
Labels: caffe2

#6923 [Caffe2] add default value to ConstantFill doc
  caffe2/operators/filler_op.cc
Labels: caffe2

#6922 [Caffe2] Remove Eigen from math CUDA and update algorithm in ReduceTensor and Moments
  caffe2/operators/reduce_ops.h
  caffe2/utils/math.h
  caffe2/utils/math_cpu.cc
  caffe2/utils/math_gpu.cu
  caffe2/utils/math_gpu_test.cc
  caffe2/utils/math_test.cc
Labels: caffe2

#6914 [caffe2] ONNX backend support for control nodes
  caffe2/operators/onnx_while_op.h
  caffe2/python/onnx/backend.py
  caffe2/python/onnx/tests/conversion_test.py
Labels: caffe2

#6966 [Caffe2][Easy] Update the script to avoid the protobuf lib issue and add ZFNet
  scripts/model_zoo/update-models-from-caffe2.py
Labels: caffe2

#6601 [caffe2] Open-source DEPTHWISE_3x3 engine
  caffe2/operators/depthwise_3x3_conv_op.cu
  caffe2/python/operator_test/depthwise_3x3_conv_test.py
  caffe2/share/contrib/CMakeLists.txt
  caffe2/share/contrib/depthwise/CMakeLists.txt
  caffe2/share/contrib/depthwise/depthwise3x3_conv_op.cc
  caffe2/share/contrib/depthwise/depthwise3x3_conv_op_test.cc
  caffe2/share/contrib/nnpack/CMakeLists.txt
  caffe2/share/contrib/nnpack/nnpack_test.cc
Labels: caffe2

#7018 [caffe2][nomnigraph] Move nomnigraph<->caffe2 converter logic to caff…
  caffe2/core/nomnigraph/include/nomnigraph/Converters/Caffe2.h
  caffe2/core/nomnigraph/include/nomnigraph/Representations/NeuralNet.h
  caffe2/opt/backend_cutting.cc
  caffe2/opt/backend_cutting.h
  caffe2/opt/converter.cc
  caffe2/opt/converter.h
  caffe2/opt/mobile.cc
Labels: caffe2

#7045 [caffe2][nomnigraph] Lint
  caffe2/core/nomnigraph/Representations/NeuralNet.cc
  caffe2/core/nomnigraph/include/nomnigraph/Converters/Dot.h
  caffe2/core/nomnigraph/include/nomnigraph/Generated/OpClasses.h
  caffe2/core/nomnigraph/include/nomnigraph/Generated/OpEnum.h
  caffe2/core/nomnigraph/include/nomnigraph/Generated/OpNames.h
  caffe2/core/nomnigraph/include/nomnigraph/Graph/Algorithms.h
  caffe2/core/nomnigraph/include/nomnigraph/Graph/BinaryMatchImpl.h
  caffe2/core/nomnigraph/include/nomnigraph/Graph/Graph.h
  caffe2/core/nomnigraph/include/nomnigraph/Graph/TarjansImpl.h
  caffe2/core/nomnigraph/include/nomnigraph/Representations/Compiler.h
  caffe2/core/nomnigraph/include/nomnigraph/Representations/ControlFlow.h
  caffe2/core/nomnigraph/include/nomnigraph/Representations/NeuralNet.h
  caffe2/core/nomnigraph/include/nomnigraph/Support/Casting.h
  caffe2/core/nomnigraph/include/nomnigraph/Support/Common.h
  caffe2/core/nomnigraph/include/nomnigraph/Support/Pointer.h
  caffe2/core/nomnigraph/include/nomnigraph/Transformations/Match.h
  caffe2/core/nomnigraph/tests/basic_test.cc
  caffe2/core/nomnigraph/tests/binary_match_test.cc
Labels: caffe2

#7048 [caffe2] Fix build of depthwise_3x3 for CUDA compute capability < 3.5
  caffe2/operators/depthwise_3x3_conv_op.cu
Labels: caffe2

#7024 Fix Visual Studio error C2398 about ill-formed narrowing conversion.
  caffe2/operators/roi_align_op_gpu_test.cc
Labels: caffe2

#7053 [caffe2][ONNX] Implement CPU NumpyTileOp and corresponding ONNX backend
  caffe2/onnx/backend.cc
  caffe2/operators/numpy_tile_op.cc
  caffe2/operators/numpy_tile_op.h
  caffe2/operators/onnx_while_op.h
  caffe2/python/onnx/backend.py
  caffe2/python/operator_test/numpy_tile_op_test.py
Labels: caffe2

#7076 [Caffe2] Follow-up of onnx-trt API change
  caffe2/contrib/tensorrt/tensorrt_tranformer.cc
  caffe2/contrib/tensorrt/trt_utils.cc
  caffe2/python/pybind_state.cc
  caffe2/python/trt/test_trt.py
  cmake/Dependencies.cmake
Labels: caffe2

#6986 Add support for dotted names in CPP Extensions
  test/cpp_extensions/setup.py
  test/cpp_extensions/torch_test_cpp_extension/__init__.py
  test/run_test.py
  test/test_cpp_extensions.py
  torch/utils/cpp_extension.py
Labels: cpp-extensions, pytorch

#7058 [Caffe2] Add full impl of GroupNorm
  caffe2/operators/group_norm_op.cc
  caffe2/operators/group_norm_op.cu
  caffe2/operators/group_norm_op.h
  caffe2/python/helpers/normalization.py
  caffe2/python/operator_test/group_norm_op_test.py
  caffe2/utils/math.h
Labels: caffe2

#6965 [jit] Fix handling of IntList[k] parameters
  test/test_jit.py
  tools/jit/gen_jit_dispatch.py
Labels: jit

#7062 [Caffe2] Revising cudnn version check
  caffe2/core/common_cudnn.h
Labels: caffe2

#7100 Location of pip package changed
  docker/caffe2/jenkins/common/install_python.sh
Labels: caffe2

#7091 [Caffe2] Fix the wrong argument name in collect_and_distribute_op
  caffe2/operators/collect_and_distribute_fpn_rpn_proposals_op.h
  caffe2/python/operator_test/collect_and_distribute_fpn_rpn_proposals_op_test.py
Labels: caffe2
