Repository pytorch/pytorch, pull requests merged in 2018-06, with the labels that each got.

#7694 Support CUDA tensors in ProcessGroupGloo
  torch/lib/c10d/CMakeLists.txt
  torch/lib/c10d/CUDAUtils.cpp
  torch/lib/c10d/CUDAUtils.hpp
  torch/lib/c10d/ProcessGroup.hpp
  torch/lib/c10d/ProcessGroupGloo.cpp
  torch/lib/c10d/ProcessGroupGloo.hpp
  torch/lib/c10d/Utils.hpp
  torch/lib/c10d/private/CUDAUtils.hpp
  torch/lib/c10d/test/CMakeLists.txt
  torch/lib/c10d/test/CUDATest.cu
  torch/lib/c10d/test/CUDATest.hpp
  torch/lib/c10d/test/ProcessGroupGlooAsyncTest.cpp
  torch/lib/c10d/test/ProcessGroupGlooTest.cpp
  torch/lib/c10d/test/StoreTestCommon.hpp
  torch/lib/c10d/test/TestUtils.hpp
Labels: distributed

#8005 [caffe2] Add profiling annotations to NeuralNet[Operator|Data]
  caffe2/contrib/prof/CMakeLists.txt
  caffe2/contrib/prof/profiling_annotations.h
  caffe2/contrib/prof/profiling_annotations_test.cc
  caffe2/core/nomnigraph/include/nomnigraph/Representations/NeuralNet.h
Labels: caffe2

#8037 Support to run ONNX Upsample operator (mode=nearest) in Caffe2
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
  caffe2/python/onnx/backend.py
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#8074 Skip ConvTraspose ONNX backend tests
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#5287 Implement adaptive softmax
  docs/source/nn.rst
  test/test_nn.py
  torch/nn/modules/__init__.py
  torch/nn/modules/adaptive.py
Labels: awaiting response

#6896 [Caffe2] Support non peer access in muji and fix bug when reduced_affix is empty
  caffe2/python/muji.py
  caffe2/python/muji_test.py
Labels: caffe2

#8127 Skip OnnxBackendNodeModelTest::test_lrn_default_cuda that causes segf…
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#8134 Add back lrn test
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#8142 Fix a corner case for ReShapeOp
  caffe2/operators/reshape_op.h
Labels: caffe2

#8144 Use the correct datatype format for shape_op
  caffe2/operators/shape_op.cc
  caffe2/python/operator_test/shape_inference_test.py
Labels: caffe2

#8143 Add back onnx console scripts dropped during migration from onnx-caffe2
  setup_caffe2.py
Labels: caffe2

#8178 Fix a corner case for ReShapeOp
  caffe2/python/operator_test/reshape_ops_test.py
Labels: caffe2

#7411 fix caffe2 docker build
  docker/caffe2/ubuntu-16.04-cuda8-cudnn7-all-options/Dockerfile
Labels: caffe2

#7672 Add a loop unrolling pass to PyTorch JIT
  setup.py
  test/expect/TestScript.test_loop_unroll_unused_counter.expect
  test/expect/TestScript.test_loop_unrolling.expect
  test/expect/TestScript.test_loop_unrolling_const-add_const.expect
  test/expect/TestScript.test_loop_unrolling_const-add_iter.expect
  test/expect/TestScript.test_loop_unrolling_nested.expect
  test/test_jit.py
  tools/cpp_build/libtorch/CMakeLists.txt
  torch/csrc/jit/graph_executor.cpp
  torch/csrc/jit/init.cpp
  torch/csrc/jit/ir.cpp
  torch/csrc/jit/passes/dead_code_elimination.cpp
  torch/csrc/jit/passes/dead_code_elimination.h
  torch/csrc/jit/passes/loop_unrolling.cpp
  torch/csrc/jit/passes/loop_unrolling.h
  torch/csrc/jit/script/compiler.cpp
  torch/csrc/jit/symbolic_variable.h
  torch/csrc/jit/tensor_conversions.h
  torch/jit/__init__.py
Labels: jit

#8207 Fix tanh_op on ios build
  caffe2/operators/elementwise_ops.h
  caffe2/operators/swish_op.cc
  caffe2/operators/tanh_op.cc
Labels: caffe2

#8224 Move helper functions to unnamed namespace.
  caffe2/opt/converter.cc
Labels: caffe2

#8220 [Caffe2] Add ADD operator for IDEEP
  caffe2/ideep/operators/elementwise_sum_op.cc
Labels: caffe2

#8228 Update MKL exporter to IDEEP ops
  caffe2/ideep/operators/operator_fallback_ideep.cc
  caffe2/python/mkl/rewrite_graph.py
  caffe2/python/mkl/rewrite_graph_test.py
Labels: caffe2

#8227 [ideep] Add IDEEP Squeeze op
  caffe2/ideep/operators/squeeze_op.cc
  caffe2/python/ideep/squeeze_op_test.py
Labels: caffe2

#8256 Fix app size check
  caffe2/operators/elementwise_add_op.h
  caffe2/operators/elementwise_div_op.cu
  caffe2/operators/elementwise_mul_op.cu
  caffe2/operators/elementwise_ops.cc
  caffe2/operators/elementwise_ops.cu
  caffe2/operators/elementwise_ops.h
  caffe2/operators/elementwise_ops_utils.cc
  caffe2/operators/elementwise_ops_utils.h
  caffe2/operators/elementwise_sub_op.h
  caffe2/operators/pow_op.h
Labels: caffe2

#8260 [ideep] Add IDEEP fallbacks for Faster-RCNN ops
  caffe2/ideep/operators/operator_fallback_ideep.cc
Labels: caffe2

#8233 [ideep] Fuse Conv-Relu after IDEEP graph rewrite, skip group conv
  caffe2/opt/optimize_ideep.cc
  caffe2/python/mkl/rewrite_graph.py
Labels: caffe2

#8182 [c10d] NCCL Process Group implementation
  cmake/Modules/FindGloo.cmake
  cmake/Modules/FindNCCL.cmake
  torch/lib/c10d/CMakeLists.txt
  torch/lib/c10d/CUDAUtils.cpp
  torch/lib/c10d/CUDAUtils.hpp
  torch/lib/c10d/NCCLUtils.hpp
  torch/lib/c10d/ProcessGroupMPI.cpp
  torch/lib/c10d/ProcessGroupMPI.hpp
  torch/lib/c10d/ProcessGroupNCCL.cpp
  torch/lib/c10d/ProcessGroupNCCL.hpp
  torch/lib/c10d/test/CMakeLists.txt
  torch/lib/c10d/test/CUDATest.cu
  torch/lib/c10d/test/CUDATest.hpp
  torch/lib/c10d/test/ProcessGroupNCCLTest.cpp
  torch/lib/c10d/test/TestUtils.hpp
Labels: distributed

#7778 Some utils for compile-time programming
  caffe2/utils/Array.cpp
  caffe2/utils/Array.h
  caffe2/utils/Array_test.cpp
  caffe2/utils/C++17.cpp
  caffe2/utils/C++17.h
  caffe2/utils/CMakeLists.txt
  caffe2/utils/Metaprogramming.cpp
  caffe2/utils/Metaprogramming.h
  caffe2/utils/Metaprogramming_test.cpp
  caffe2/utils/TypeList.cpp
  caffe2/utils/TypeList.h
  caffe2/utils/TypeList_test.cpp
  caffe2/utils/TypeTraits.cpp
  caffe2/utils/TypeTraits.h
  caffe2/utils/TypeTraits_test.cpp
Labels: caffe2

#8301 [Caffe2] Add depthwise convolution test for IDEEP
  caffe2/python/ideep/conv_op_test.py
Labels: caffe2

#8302 Fix dividing by zero segfault in Reshape
  caffe2/operators/reshape_op.h
  caffe2/python/operator_test/reshape_ops_test.py
Labels: caffe2

#8297 [Caffe2] Remove unused grad ops on mobile to reduce app size
  caffe2/operators/elementwise_add_op.cc
  caffe2/operators/elementwise_div_op.cc
  caffe2/operators/elementwise_mul_op.cc
  caffe2/operators/elementwise_sub_op.cc
  caffe2/operators/log_op.cc
  caffe2/operators/sigmoid_op.cc
  caffe2/operators/tanh_op.cc
Labels: caffe2

#8296 Small fixes
  caffe2/utils/Array.h
  caffe2/utils/Metaprogramming.h
  caffe2/utils/Metaprogramming_test.cpp
Labels: caffe2

#8323 [THD] fix broken THD build with NCCL
  torch/lib/THD/CMakeLists.txt
Labels: distributed

#8346 Remove is_new_object from Blob::GetMutable
  caffe2/core/blob.h
  caffe2/core/blob_test.cc
Labels: caffe2

#8315 [caffe2] Move elementwise grad ops to separate files
  caffe2/operators/elementwise_add_gradient_op.cc
  caffe2/operators/elementwise_add_op.cc
  caffe2/operators/elementwise_div_gradient_op.cc
  caffe2/operators/elementwise_div_op.cc
  caffe2/operators/elementwise_mul_gradient_op.cc
  caffe2/operators/elementwise_mul_op.cc
  caffe2/operators/elementwise_ops_schema.cc
  caffe2/operators/elementwise_sub_gradient_op.cc
  caffe2/operators/elementwise_sub_op.cc
  caffe2/operators/log_op.cc
  caffe2/operators/sigmoid_gradient_op.cc
  caffe2/operators/sigmoid_op.cc
  caffe2/operators/tanh_gradient_op.cc
  caffe2/operators/tanh_op.cc
Labels: caffe2

#8349 Allow TypeMeta hold non-default-constructible types
  caffe2/core/blob.h
  caffe2/core/blob_test.cc
  caffe2/core/tensor.h
  caffe2/core/typeid.cc
  caffe2/core/typeid.h
Labels: caffe2

#8137 Name the thread pools
  caffe2/utils/thread_name.cc
  caffe2/utils/thread_name.h
  caffe2/utils/thread_pool.h
  caffe2/utils/threadpool/ThreadPool.h
  caffe2/utils/threadpool/WorkersPool.h
Labels: caffe2

#8379 Revert "Name the thread pools"
  caffe2/utils/thread_name.cc
  caffe2/utils/thread_name.h
  caffe2/utils/thread_pool.h
  caffe2/utils/threadpool/ThreadPool.h
  caffe2/utils/threadpool/WorkersPool.h
Labels: caffe2

#8312 Fix flaky RoiAlignTest, fixes #8084.
  caffe2/operators/roi_align_op_gpu_test.cc
Labels: caffe2

#8343 Get ROCm building again on master
  .jenkins/pytorch/build.sh
  .jenkins/pytorch/enabled-configs.txt
  aten/src/ATen/CMakeLists.txt
  aten/src/THC/THCAtomics.cuh
  aten/src/THC/THCHalf.h
  aten/src/THC/THCTensorMathPointwise.cuh
  aten/src/THC/THCTensorMathReduce.cuh
  aten/src/THC/THCTensorRandom.cu
  aten/src/THC/THCTensorTypeUtils.cuh
  aten/src/THCUNN/FusedRNNKernel.cu
  caffe2/CMakeLists.txt
  cmake/Dependencies.cmake
  cmake/public/LoadHIP.cmake
  docker/caffe2/jenkins/build.sh
  docker/caffe2/jenkins/common/install_rocm.sh
  setup.py
  tools/amd_build/build_pytorch_amd.py
  tools/amd_build/disabled_features.yaml
  tools/amd_build/patches/a_aten_src_THCUNN_THCHalfAutoNumerics.cuh.patch
  tools/amd_build/patches/a_aten_src_THC_THCTensorMathReduce.cuh.patch
  tools/amd_build/patches/a_aten_src_THC_generic_THCTensorRandom.cu.patch
  tools/setup_helpers/rocm.py
Labels: caffe2

#8415 Remove imaginary file
  caffe2/utils/CMakeLists.txt
Labels: caffe2

#8418 [easy][caffe2] Enable some reduce operators' ONNX backend tests
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#8416 [minor] fix old comment to point to the right file
  caffe2/proto/caffe2.proto
Labels: caffe2

#8421 Stop pinning nccl version.
  docker/caffe2/jenkins/common/install_nccl.sh
Labels: caffe2

#8423 Enable some of the ONNX backend test on broadcasting
  caffe2/python/onnx/tests/onnx_backend_test.py
Labels: caffe2

#8429 Allow nccl downgrades
  docker/caffe2/jenkins/common/install_nccl.sh
Labels: caffe2

#8446 Move hip utils files to a separate directory
  caffe2/utils/CMakeLists.txt
  caffe2/utils/hip/math_blas_hip_test.cc
  caffe2/utils/hip/math_hip.cc
  caffe2/utils/hip/math_hip_test.cc
  caffe2/utils/hip/mixed_utils_hip.h
Labels: caffe2

#8400 More efficient kernels that avoid deprecated shuffles in Embedding and LookupTable
  aten/src/ATen/native/cuda/Embedding.cu
  aten/src/THC/THCDeviceUtils.cuh
  aten/src/THCUNN/LookupTable.cu
  aten/src/THCUNN/generic/LookupTable.cu
Labels: high priority

#8470 Support new version of Dropout
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
Labels: caffe2

#8486 Update RunAsyncFailure test
  caffe2/core/net_test.cc
Labels: caffe2

#8350 TypeId improvements
  caffe2/core/plan_executor.cc
  caffe2/core/tensor.h
  caffe2/core/typeid.cc
  caffe2/core/typeid.h
  caffe2/core/types.cc
  caffe2/python/pybind_state.h
  caffe2/python/pybind_state_dlpack.h
  caffe2/utils/CMakeLists.txt
  caffe2/utils/IdWrapper.cpp
  caffe2/utils/IdWrapper.h
Labels: caffe2

#8372 [IDEEP] [fix bug] Fix bug in ideep SkipOutputCopy strategy
  caffe2/core/common.h
  caffe2/ideep/operators/operator_fallback_ideep.cc
  caffe2/ideep/operators/operator_fallback_ideep.h
  caffe2/operators/stylizer_ops.cc
Labels: caffe2

#8461 Add ONLY_FOR_TEST device type into executor
  caffe2/core/net_async_base.cc
Labels: caffe2

#8482 Support BatchNormalization opset 7
  caffe2/onnx/backend.cc
Labels: caffe2

#8542 Don't apply PR 12 to Thrust anymore.
  docker/caffe2/jenkins/common/install_rocm.sh
Labels: caffe2

#8436 Add order switch op to nomnigraph
  caffe2/core/nomnigraph/include/nomnigraph/Generated/OpClasses.h
  caffe2/core/nomnigraph/include/nomnigraph/Generated/OpEnum.h
  caffe2/core/nomnigraph/include/nomnigraph/Generated/OpNames.h
  caffe2/core/nomnigraph/ops.def
Labels: caffe2

#8490 Adding pyyaml to Ubuntu and Centos docker images
  docker/caffe2/jenkins/common/install_python.sh
Labels: caffe2

#8085 Update operator documentation with markdown descriptions and interfaces
  caffe2/operators/abs_op.cc
  caffe2/operators/arg_ops.cc
  caffe2/operators/cast_op.cc
  caffe2/operators/ceil_op.cc
  caffe2/operators/clip_op.cc
  caffe2/operators/concat_split_op.cc
  caffe2/operators/cos_op.cc
  caffe2/operators/counter_ops.cc
  caffe2/operators/distance_op.cc
  caffe2/operators/dropout_op.cc
  caffe2/operators/elementwise_ops_schema.cc
  caffe2/operators/elementwise_sum_op.cc
  caffe2/operators/exp_op.cc
  caffe2/operators/filler_op.cc
  caffe2/operators/flatten_op.cc
  caffe2/operators/floor_op.cc
  caffe2/operators/load_save_op.cc
  caffe2/operators/local_response_normalization_op.cc
  caffe2/operators/log_op.cc
  caffe2/operators/matmul_op.cc
  caffe2/operators/mean_op.cc
  caffe2/operators/minmax_ops.cc
  caffe2/operators/mod_op.cc
  caffe2/operators/negative_op.cc
  caffe2/operators/pool_op.cc
  caffe2/operators/prepend_dim_op.h
  caffe2/operators/reshape_op.cc
  caffe2/operators/reshape_op.h
  caffe2/operators/sequence_ops.cc
  caffe2/operators/shape_op.cc
  caffe2/operators/sigmoid_op.cc
  caffe2/operators/sin_op.cc
  caffe2/operators/softmax_op.cc
  caffe2/operators/softmax_with_loss_op.cc
  caffe2/operators/sqr_op.cc
  caffe2/operators/sqrt_op.cc
  caffe2/operators/transpose_op.cc
  caffe2/operators/utility_ops.cc
Labels: caffe2

#8263 New operator 'expand'
  caffe2/operators/expand_op.cc
  caffe2/operators/expand_op.h
  caffe2/operators/expand_op_gpu.cc
  caffe2/python/operator_test/expand_op_test.py
Labels: caffe2

#7666 Simplify pthreadpool implementation on top of Caffe2 thread pool
  caffe2/share/contrib/nnpack/conv_op.cc
  caffe2/utils/threadpool/pthreadpool_impl.cc
  caffe2/utils/threadpool/pthreadpool_impl.h
Labels: caffe2

#8642 Export BlobFetcherRegistry
  caffe2/python/pybind_state.h
Labels: caffe2

#8632 Class name corrected: Attibute => Attribute
  caffe2/onnx/backend.cc
  caffe2/onnx/backend.h
Labels: caffe2

#8657 Add CAFFE2_USE_CUDNN guard on context_gpu.cu
  caffe2/core/context_gpu.cu
Labels: caffe2

#8389 TensorTypeId
  caffe2/core/common.h
  caffe2/core/dispatch/CMakeLists.txt
  caffe2/core/dispatch/TensorTypeId.cpp
  caffe2/core/dispatch/TensorTypeId.h
  caffe2/core/dispatch/TensorTypeIdRegistration.cpp
  caffe2/core/dispatch/TensorTypeIdRegistration.h
  caffe2/core/dispatch/dummy.cpp
  caffe2/core/dispatch/dummy.h
  caffe2/core/dispatch/dummy_test.cpp
  caffe2/utils/flat_hash_map/flat_hash_map.h
Labels: caffe2

#8671 Remove dangling inclusion path
  caffe2/core/dispatch/CMakeLists.txt
Labels: caffe2

#8684 [Caffe2] Fix build error in pybind_state_ideep due to code change in caffe2 core
  caffe2/python/pybind_state_ideep.cc
Labels: caffe2

#8662 Implement OpSchema and a default DispatchKey
  caffe2/core/dispatch/CMakeLists.txt
  caffe2/core/dispatch/DeviceId.cpp
  caffe2/core/dispatch/DeviceId.h
  caffe2/core/dispatch/DispatchKey.cpp
  caffe2/core/dispatch/DispatchKey.h
  caffe2/core/dispatch/LayoutId.cpp
  caffe2/core/dispatch/LayoutId.h
  caffe2/core/dispatch/OpSchema.cpp
  caffe2/core/dispatch/OpSchema.h
  caffe2/core/dispatch/OpSchema_test.cpp
  caffe2/core/dispatch/dummy_test.cpp
Labels: caffe2

#8731 Install vim by default on all Caffe2 docker images.
  docker/caffe2/jenkins/common/install_base.sh
Labels: caffe2

#8765 [c10d] Configurable number of algorithm entries per key
  torch/csrc/distributed/c10d/init.cpp
  torch/lib/c10d/ProcessGroupGloo.cpp
  torch/lib/c10d/ProcessGroupGloo.hpp
Labels: distributed

#7244 Resolve name conflict of ContextManager
  caffe2/python/context.py
Labels: caffe2

#8783 [Caffe2] Expose is_compatible function in onnx backend
  caffe2/python/onnx/backend.py
Labels: caffe2

#8780 [Caffe2] Use virtual dtor for Annotation
  caffe2/core/nomnigraph/include/nomnigraph/Representations/NeuralNet.h
  caffe2/opt/converter.h
Labels: caffe2

#8811 [easy][caffe2] Export clang compilation datatbase in setuptools build
  setup_caffe2.py
Labels: caffe2

#8713 First version of dispatcher
  caffe2/core/dispatch/CMakeLists.txt
  caffe2/core/dispatch/DeviceId.h
  caffe2/core/dispatch/DispatchKey.h
  caffe2/core/dispatch/DispatchTable.cpp
  caffe2/core/dispatch/DispatchTable.h
  caffe2/core/dispatch/Dispatcher.cpp
  caffe2/core/dispatch/Dispatcher.h
  caffe2/core/dispatch/KernelRegistration.cpp
  caffe2/core/dispatch/KernelRegistration.h
  caffe2/core/dispatch/LayoutId.h
  caffe2/core/dispatch/OpSchema.h
  caffe2/core/dispatch/OpSchemaRegistration.cpp
  caffe2/core/dispatch/OpSchemaRegistration.h
  caffe2/core/typeid.h
  caffe2/utils/CMakeLists.txt
  caffe2/utils/Optional.cpp
  caffe2/utils/Optional.h
  caffe2/utils/flat_hash_map/flat_hash_map.h
  cmake/Utils.cmake
Labels: caffe2

#8889 [c10d] Fix link order for building C++ tests
  torch/lib/c10d/CMakeLists.txt
Labels: distributed

#8891 Fix CMake cuDNN autodetection
  cmake/Modules/FindCuDNN.cmake
  cmake/public/cuda.cmake
Labels: build

#8888 [c10d] No default device for ProcessGroupGloo
  torch/lib/c10d/ProcessGroupGloo.cpp
Labels: distributed
