Repository pytorch/pytorch, pull requests merged in 2019-05, with the labels that each got.

#19974 [jit] Document new features, fix some rst bugs
  README.md
  docs/source/community/persons_of_interest.rst
  docs/source/distributions.rst
  docs/source/jit.rst
  docs/source/nn.rst
  torch/csrc/jit/README.md
  torch/jit/__init__.py
Labels: jit, module: build, module: cpu, module: cuda, module: docs, module: internals, module: lint, module: operators

#20698 Lightweight at-most-once logging for API usage
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  c10/core/TensorImpl.cpp
  c10/macros/Macros.h
  c10/util/Logging.cpp
  c10/util/Logging.h
  c10/util/Registry.h
  c10/util/typeid.h
  caffe2/core/context_gpu.cu
  caffe2/core/init.cc
  caffe2/core/net.cc
  caffe2/core/operator.cc
  caffe2/core/operator.h
  caffe2/python/pybind_state.cc
  torch/csrc/Module.cpp
  torch/csrc/distributed/c10d/init.cpp
  torch/csrc/jit/export.cpp
  torch/csrc/jit/graph_executor.cpp
  torch/csrc/jit/import.cpp
  torch/csrc/jit/python_tracer.cpp
  torch/csrc/jit/script/init.cpp
  torch/lib/c10d/ProcessGroup.cpp
  torch/nn/modules/module.py
  torch/optim/optimizer.py
  torch/utils/data/dataloader.py
Labels: caffe2, jit, module: cuda, module: dataloader, module: distributed, module: internals, module: nn, module: optimizer, module: pybind

#20702 Re-sync with internal repository
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  c10/core/TensorImpl.cpp
  c10/macros/Macros.h
  c10/util/Logging.cpp
  c10/util/Logging.h
  c10/util/Registry.h
  c10/util/typeid.h
  caffe2/core/context_gpu.cu
  caffe2/core/init.cc
  caffe2/core/net.cc
  caffe2/core/operator.cc
  caffe2/core/operator.h
  caffe2/python/pybind_state.cc
  torch/csrc/Module.cpp
  torch/csrc/distributed/c10d/init.cpp
  torch/csrc/jit/export.cpp
  torch/csrc/jit/graph_executor.cpp
  torch/csrc/jit/import.cpp
  torch/csrc/jit/python_tracer.cpp
  torch/csrc/jit/script/init.cpp
  torch/lib/c10d/ProcessGroup.cpp
  torch/nn/modules/module.py
  torch/optim/optimizer.py
  torch/utils/data/dataloader.py
Labels: caffe2, fh:direct-merge-enabled, jit, module: cuda, module: dataloader, module: distributed, module: internals, module: nn, module: optimizer, module: pybind
