Repository pytorch/pytorch, pull requests merged in 2019-10, with the labels that each got.

#27066 [v1.3.0] Fix test_overwrite_module_params_on_conversion_cpu_cuda after comparison ops type promotion was introduced
  test/test_nn.py
Labels: module: nn

#27018 [v1.3.0] Remove outdated note in cholesky_solve and triangular_solve doc strings
  torch/_torch_docs.py
Labels: module: docs, open source

#27323 Fix race condition in Function::optimized_graph().
  torch/csrc/jit/function.h
Labels: jit

#27120 Fix Windows CI for 1.3.0
  test/test_jit.py
Labels: jit, open source

#27069 Fixed seek offset size to 64bit. (#27125 for 1.3.0)
  test/test_torch.py
  torch/csrc/generic/StorageMethods.cpp
Labels: module: internals, module: operators, open source

#27275 [android][1.3.0] gradle.properties version bump
  android/gradle.properties
Labels: module: android

#27349 [tensorboard] Add method add_hparams to API doc
  docs/source/tensorboard.rst
Labels: module: docs

#27340 Use NNPACK for strided convolutions.
  aten/src/ATen/native/Convolution.cpp
  aten/src/ATen/native/NNPACK.cpp
  aten/src/ATen/native/cpu/DepthwiseConvKernel.cpp
  aten/src/ATen/native/native_functions.yaml
  test/test_nn.py
  tools/autograd/derivatives.yaml
Labels: module: cpu, module: internals, module: nn, module: operators

#27044 make cudnn rnn respect current stream
  aten/src/ATen/cudnn/Descriptors.h
  aten/src/ATen/native/cudnn/RNN.cpp
Labels: module: cudnn, module: operators

#27042 Serialize XLA Tensor
  torch/_utils.py
  torch/tensor.py
Labels: module: build, module: ci, module: cuda, module: cudnn, module: internals, module: operators, module: quantization

#27079 [jit] Serializing autograd ops into its own namespace
  aten/src/ATen/core/interned_strings.h
  test/test_jit.py
  torch/csrc/jit/passes/python_print.cpp
  torch/csrc/jit/script/sugared_value.h
Labels: jit, module: internals, module: pybind

#27111 [android] Module method destroy
  android/pytorch_android/src/main/java/org/pytorch/Module.java
Labels: module: android

#27112 [jit] Fix `toIValue` dict iteration
  torch/csrc/jit/pybind_utils.h
Labels: jit, module: pybind

#27226 [JIT] make class types callable
  test/test_jit.py
  torch/csrc/jit/script/sugared_value.cpp
Labels: jit

#27233 Fix ONNX Interpolate
  torch/onnx/symbolic_opset11.py
Labels: module: onnx

#27249 Enabled comparison ops with named tensors (#27162)
  aten/src/ATen/native/native_functions.yaml
  test/test_namedtensor.py
Labels: module: operators

#27250 Fixed Error message for tensor.align_to (#27221)
  aten/src/ATen/native/NamedTensor.cpp
  test/test_namedtensor.py
  torch/functional.py
Labels: module: operators

#27321 [v1.3.0] add AutoNonVariableTypeMode for USE_STATIC_DISPATCH on JIT->ATen path (#27274)
  tools/jit/gen_jit_dispatch.py
Labels: jit

#27367 Make `align_to` method-only. (#27304)
  aten/src/ATen/native/native_functions.yaml
Labels: module: operators

#27398 fix segfault when printing error msg for list comp
  torch/csrc/jit/script/compiler.cpp
Labels: jit

#27407 [android][torchvision] Add methods to write image tensor content to buffer
  android/pytorch_android_torchvision/src/main/java/org/pytorch/torchvision/TensorImageUtils.java
Labels: module: android

#27469 Revert to align_corners=True as default.
  torch/nn/functional.py
Labels: module: nn

#27386 [jit] Reduce special casing around 'training'
  test/test_jit.py
  torch/csrc/jit/pickler.cpp
  torch/csrc/jit/script/init.cpp
  torch/csrc/jit/script/module.cpp
  torch/csrc/jit/script/module.h
  torch/csrc/jit/script/python_sugared_value.cpp
  torch/jit/__init__.py
  torch/jit/_recursive.py
  torch/nn/modules/module.py
  torch/nn/quantized/modules/conv.py
  torch/nn/quantized/modules/linear.py
  torch/utils/mkldnn.py
Labels: jit, module: nn, module: pybind

#27480 #include <stdexcept> into flat_hash_map.h
  c10/util/flat_hash_map.h
Labels: module: internals

#27533 Fix compilation error when buildng with FFMPEG
  caffe2/video/video_decoder.cc
  caffe2/video/video_input_op.h
  cmake/Modules/FindFFmpeg.cmake
Labels: caffe2, module: build

#27557 Add missing Optional annotation.
  torch/nn/functional.py
Labels: module: nn

#27547 Modify PyTorch's integration of NNPACK to use a unified underlying thread pool implementation.
  aten/src/ATen/native/NNPACK.cpp
Labels: module: operators

#27473 Adding docstrings for nnq.functional
  torch/nn/quantized/functional.py
Labels: module: nn

#27545 [jit] Set existing attributes under recursive script
  test/test_jit.py
  torch/jit/_recursive.py
Labels: jit

#27573 Documentation for named tensors
  docs/source/index.rst
  docs/source/name_inference.rst
  docs/source/named_tensor.rst
  test/test_docs_coverage.py
  test/test_torch.py
  test/test_type_hints.py
  torch/_tensor_docs.py
  torch/tensor.py
Labels: module: docs, module: operators, module: typing

#27638 Update docs CI for v1.3.0
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs-custom.yml
Labels: module: ci

#27574 take2: Docstring only changes in quantization, fake_quantize, and observer
  torch/quantization/fake_quantize.py
  torch/quantization/observer.py
  torch/quantization/quantize.py
Labels: module: docs, module: quantization, quantization_release_1.3

#28343 Move type casting to c10/util/TypeCast.h
  aten/src/ATen/cpu/vec256/vec256_base.h
  aten/src/ATen/native/Copy.h
  aten/src/ATen/native/cpu/CopyKernel.cpp
  aten/src/ATen/native/cuda/Copy.cu
  c10/core/ScalarType.h
  c10/util/TypeCast.h
Labels: module: internals, topic: type promotion

#28344 Make TensorIterator stop promoting types by copying
  aten/src/ATen/native/TensorIterator.cpp
  aten/src/ATen/native/TensorIterator.h
  aten/src/ATen/native/cpu/BinaryOpsKernel.cpp
  aten/src/ATen/native/cpu/Loops.h
  aten/src/ATen/native/cuda/BinaryOpsKernel.cu
  aten/src/ATen/native/cuda/Loops.cuh
  aten/src/ATen/test/tensor_iterator_test.cpp
Labels: module: cpu, module: cuda, module: internals, module: operators, topic: performance, topic: type promotion

#28352 Simplify copy kernel
  aten/src/ATen/Dispatch.h
  aten/src/ATen/native/Copy.cpp
  aten/src/ATen/native/TensorIterator.h
  aten/src/ATen/native/cpu/CopyKernel.cpp
  aten/src/ATen/native/cuda/Copy.cu
Labels: better-engineering, module: operators
