Repository pytorch/pytorch, pull requests merged in 2020-10, with the labels that each got.

#45631 [1.7] Hide FX
  test/fx/quantization.py
  test/quantization/test_quantize_fx.py
  test/test_fx.py
  torch/_fx/__init__.py
  torch/_fx/experimental/GraphManipulation.py
  torch/_fx/experimental/__init__.py
  torch/_fx/graph.py
  torch/_fx/graph_module.py
  torch/_fx/node.py
  torch/_fx/proxy.py
  torch/_fx/symbolic_trace.py
  torch/quantization/__init__.py
  torch/quantization/fx/fuse.py
  torch/quantization/fx/quantization_patterns.py
  torch/quantization/fx/quantize.py
  torch/quantization/quantize_fx.py
  torch/testing/_internal/common_quantization.py
Labels: fx

#45758 [v1.7.0 Patch][Docs] Adding Distributed Store API Docs
  docs/source/distributed.rst
  torch/csrc/distributed/c10d/init.cpp
Labels: oncall: distributed

#45770 [release/1.7] Fix cuDNN error message when it's Conv2d
  aten/src/ATen/native/cudnn/Conv.cpp
Labels: open source

#45756 [v1.7.0 Patch][ONNX] Update embedding_bag export (#44693)
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.h
  torch/csrc/jit/passes/onnx/helper.cpp
  torch/csrc/jit/passes/onnx/helper.h
  torch/csrc/jit/python/init.cpp
  torch/csrc/jit/python/python_ir.cpp
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, triaged

#45755 [v1.7.0 Patch][ONNX] Add dim_param support in export with onnx shape inference
  scripts/onnx/test.sh
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_pytorch_onnx_shape_inference.py
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.h
  torch/csrc/jit/python/init.cpp
  torch/csrc/jit/python/python_ir.cpp
  torch/csrc/jit/python/script_init.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/csrc/jit/serialization/export.h
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, triaged

#45839 Disable angle backwards
  tools/autograd/derivatives.yaml
Labels: module: complex

#46042 [1.7] Workaround for cublas bug for 45724 (#46001)
  aten/src/THC/THCBlas.cu
  test/test_torch.py
Labels: open source

#46109 [v1.7 patch] Remove object-based collective APIs from public docs
  docs/source/distributed.rst
Labels: oncall: distributed

#46060 [Release/1.7] aten::set_grad_enabled should not push as it does not return a value
  torch/csrc/jit/runtime/register_special_ops.cpp
Labels: oncall: jit

#46073 [v1.7 patch] Disallow creation of ProcessGroupNCCL without GPUs. (#45…
  test/distributed/test_c10d.py
  torch/lib/c10d/ProcessGroupNCCL.cpp
  torch/testing/_internal/common_distributed.py
Labels: oncall: distributed

#46105 [v1.7 cherry-pick] [JIT] Dict Bug Fixes
  test/cpp/jit/test_constant_pooling.cpp
  test/jit/test_list_dict.py
  test/test_jit.py
  torch/csrc/jit/ir/node_hashing.cpp
  torch/csrc/jit/runtime/register_prim_ops.cpp
Labels: oncall: jit

#46100 [Release/1.7] [ONNX] Improve error handling for adaptive_pool
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/utils.py
Labels: open source

#46099 [v1.7 patch] Prioritize raising error message about unused parameters when rebuild_buckets fails
  torch/csrc/distributed/c10d/reducer.cpp
  torch/csrc/distributed/c10d/reducer.h
  torch/testing/_internal/distributed/distributed_test.py
Labels: oncall: distributed

#46071 [dist_optim] serialize compilation when creating dist_optim (#45871)
  torch/distributed/optim/optimizer.py
Labels: oncall: distributed

#46214 [NNC] Fix two bugs in Cuda Half support
  test/test_tensorexpr.py
  torch/csrc/jit/tensorexpr/cuda_codegen.cpp
  torch/csrc/jit/tensorexpr/cuda_half_support.h
Labels: oncall: jit

#46333 [v1.7] Rocm skip test cases (#45782)
  test/distributed/test_c10d.py
  test/test_tensor_creation_ops.py
  test/test_torch.py
  torch/testing/_internal/common_methods_invocations.py
Labels: oncall: distributed

#46323 Performance fix for torch.cat operator on ROCm (#46097)
  aten/src/ATen/native/cuda/Shape.cu
Labels: module: rocm, open source, topic: performance, triaged

#46388 Remove Python version upper boundary check
  setup.py
Labels: open source

#46366 [v1.7 patch] Add warning on ProcessGroup and ProcessGroup::Work APIs
  torch/csrc/distributed/c10d/init.cpp
  torch/distributed/distributed_c10d.py
  torch/lib/c10d/ProcessGroup.hpp
Labels: oncall: distributed

#46385 Workaround for bug in DistributedDataParallel
  test/distributed/test_c10d_spawn.py
Labels: oncall: distributed, open source

#46422 [v1.7][JIT] Improve class type annotation inference
  test/jit/test_class_type.py
  torch/jit/_state.py
  torch/jit/annotations.py
  torch/testing/_internal/jit_utils.py
Labels: oncall: jit

#46513 Cherry-picks for TE fixes for aten::cat.
  test/cpp/tensorexpr/test_kernel.cpp
  test/cpp/tensorexpr/tests.h
  test/test_tensorexpr.py
  torch/csrc/jit/tensorexpr/ir_printer.cpp
  torch/csrc/jit/tensorexpr/kernel.cpp
Labels: oncall: jit

#46621 properly handle getGraphExecutorOptimize to not leak memory due to
  torch/csrc/jit/runtime/profiling_graph_executor_impl.cpp
  torch/csrc/jit/runtime/profiling_graph_executor_impl.h
Labels: oncall: jit

#46556 gate load_library tests behind BUILD_TEST=1
  test/jit/test_backends.py
  test/jit/test_torchbind.py
Labels: oncall: jit

#46765 Make add_relu an internal function
  aten/src/ATen/core/NamedRegistrations.cpp
  aten/src/ATen/native/native_functions.yaml
  test/backward_compatibility/check_backward_compatibility.py
  test/test_jit.py
  test/test_mobile_optimizer.py
  test/test_nn.py
  tools/code_analyzer/default_op_deps.yaml
  torch/csrc/jit/passes/fuse_relu.cpp
  torch/overrides.py
Labels: oncall: jit

#46892 Brianjo release feature status
  docs/source/distributed.rst
  docs/source/futures.rst
  docs/source/onnx.rst
Labels: oncall: distributed

#46879 [v1.7] Add NCCL_ASYNC_ERROR_HANDLING to docs (#46856)
  torch/distributed/constants.py
  torch/distributed/distributed_c10d.py
Labels: oncall: distributed

#46915 DOC, BLD: on a tag build, percolate the tag into the doc build script
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/job-specs-custom.yml
Labels: open source
