Repository pytorch/pytorch, pull requests merged in 2020-12, with the labels that each got.

#48262 [POC] Class-based scaffolding for structured functions
  aten/src/ATen/TensorMeta.cpp
  aten/src/ATen/TensorMeta.h
  aten/src/ATen/native/UpSampleNearest1d.cpp
  aten/src/ATen/native/cuda/UpSampleNearest1d.cu
  aten/src/ATen/templates/MetaFunctions.h
  aten/src/ATen/templates/NativeFunctions.h
  tools/codegen/api/meta.py
  tools/codegen/gen.py
Labels: cla signed

#48744 [Release/1.7] Fix index parsing on Python-3.9
  torch/jit/frontend.py
Labels: cla signed, oncall: jit

#48768 [1.7.1] torch: Stop using _nt_quote_args from distutils (#48618)
  torch/utils/cpp_extension.py
Labels: cla signed, module: cpp-extensions

#48819 [1.7.1] Fix LAPACK functionality detection from static OpenBLAS
  cmake/Dependencies.cmake
  cmake/Modules/FindBLAS.cmake
  cmake/Modules/FindLAPACK.cmake
Labels: cla signed

#48937 [v.1.7.x] Use local env for building CUDA extensions on Windows (#47150)
  torch/utils/cpp_extension.py
Labels: cla signed, module: cpp-extensions, module: windows

#48936 Disable autocast cache for tensor views as fix for #48049 (#48696)
  aten/src/ATen/autocast_mode.cpp
  test/test_cuda.py
Labels: cla signed

#48943 [v.1.7.x] Pin the rest of flake8 dependencies.
  .github/workflows/lint.yml
Labels: cla signed

#49270 [ONNX] Support onnx if/loop sequence output in opset 13 - dev
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset13.py
Labels: cla signed, open source

#49446 [ONNX] Symbolic function for torch.square
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source
