Repository pytorch/pytorch, pull requests merged in 2020-11, with the labels that each got.

#48133 [v1.7.1] Add Python 3.9 support (linux / macOS)
  .circleci/cimodel/data/binary_build_data.py
  .circleci/cimodel/data/dimensions.py
  .circleci/config.yml
  .circleci/scripts/binary_linux_test.sh
  .circleci/scripts/binary_macos_test.sh
Labels: cla signed

#46927 Properly add quotes where needed
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/job-specs-custom.yml
Labels: cla signed, open source

#47391 T78750158 Support varying size input in numeric suite at 10/30/2020, 3:55:01 PM
  test/quantization/test_numeric_suite.py
  torch/quantization/_numeric_suite.py
Labels: cla signed

#48218 [v1.7.1] Enable Python 3.9 for Windows builds
  .circleci/cimodel/data/binary_build_data.py
  .circleci/config.yml
  setup.py
Labels: cla signed, module: ci

#48220 [v1.7.1] Various setup.py fixes
  setup.py
Labels: cla signed, module: build

#48215 [v1.7.1] Make sure valid ParameterList/Dict don't warn on creation (#47772)
  test/test_nn.py
  torch/nn/modules/container.py
Labels: cla signed

#48216 [v1.7.1] [complex] torch.sqrt: fix edge values (#47424)
  aten/src/ATen/cpu/vec256/vec256_complex_double.h
  aten/src/ATen/cpu/vec256/vec256_complex_float.h
  aten/src/ATen/test/vec256_test_all_types.h
  test/test_unary_ufuncs.py
Labels: cla signed

#48219 [v1.7.1] Fix max_pool1d on discontiguous tensor (#47065)
  aten/src/ATen/native/cpu/MaxPooling.cpp
  test/test_nn.py
Labels: cla signed

#48137 Tensor-expression fuser bugfixes for 1.7.1
  test/cpp/tensorexpr/test_te_fuser_pass.cpp
  test/cpp/tensorexpr/tests.h
  test/test_jit_fuser_te.py
  torch/csrc/jit/passes/tensorexpr_fuser.cpp
  torch/csrc/jit/tensorexpr/kernel.cpp
  torch/csrc/jit/tensorexpr/kernel.h
Labels: cla signed, oncall: jit

#47843 Fix documentation to point to torch.overrides instead of _overrides.
  docs/source/notes/extending.rst
Labels: cla signed, open source

#48309 [Release/1.7.1] Add max supported SM for nvrtc-11.0
  torch/csrc/jit/tensorexpr/cuda_codegen.cpp
Labels: cla signed, oncall: jit

#47736 Fix incorrect signatures in get_testing_overrides for 1.7 release
  test/test_overrides.py
  torch/overrides.py
Labels: cla signed, open source

#47735 Fix output type of torch.max for Tensor subclasses.
  test/test_overrides.py
  torch/tensor.py
Labels: cla signed, open source

#48311 [Release/1.7.1] Fix `collect_env.py` when PyTorch is not installed
  torch/utils/collect_env.py
Labels: cla signed

#48317 [Release/1.7.1] Make setup.py Python 2 friendly
  setup.py
Labels: cla signed

#48319 [Release/1.7.1] Fix torch.version.debug generation
  tools/generate_torch_version.py
Labels: cla signed

#48310 [Release/1.7.1] Fix mul cuda for bool
  aten/src/ATen/native/cuda/BinaryMulDivKernel.cu
  test/test_torch.py
Labels: cla signed

#48056 Compare Weights FX Implementation
  test/quantization/test_numeric_suite_fx.py
  test/test_quantization.py
  torch/quantization/_numeric_suite_fx.py
Labels: cla signed

#48337 [Release/1.7.1] Embed `libiomp5.dylib` into wheel package
  setup.py
Labels: cla signed
