Repository pytorch/pytorch, pull requests merged in 2020-06, with the labels that each got.

#39288 [v1.5.1] Implement CUDA_KERNEL_ASSERT for MSVC (#39218)
  c10/macros/Macros.h
  test/test_cuda.py
Labels: open source, triaged

#39359 [v1.5.1][JIT] make torch.unique compilable (#38156)
  docs/source/jit_unsupported.rst
  test/jit/test_unsupported_ops.py
  test/onnx/expect/TestOperators.test_unique.expect
  test/test_jit.py
  torch/functional.py
  torch/jit/_builtins.py
Labels: jit

#39416 [1.5.1] Bug fix for argmin/argmax (#39212)
  aten/src/ATen/native/TensorIterator.cpp
Labels: open source

#40498 Skip test_mem_leak on Windows (v1.6.0)
  test/test_profiler.py
Labels: open source, triaged

#40569 Docs merge
  docs/source/jit.rst
  test/jit/test_async.py
  torch/csrc/jit/python/python_sugared_value.cpp
  torch/jit/__init__.py
Labels: jit

#40676 Remove constexpr for NVCC on Windows (v1.6)
  torch/csrc/jit/api/module.h
Labels: jit, open source

#40487 Fixes caffe2 loading issues on Windows (v1.6.0)
  caffe2/python/__init__.py
Labels: open source, triaged

#40538 Allow slicing sequential container
  test/test_jit.py
  torch/csrc/jit/frontend/ir_emitter.cpp
  torch/csrc/jit/frontend/sugared_value.h
  torch/csrc/jit/python/python_sugared_value.cpp
  torch/csrc/jit/python/python_sugared_value.h
Labels: jit

#40572 [JIT] script if tracing fix (#40468)
  test/test_jit.py
  torch/jit/__init__.py
Labels: jit

#40757 [1.6 cherrypick] Fix zip serialization for file > 2GiB
  test/test_serialization.py
  torch/csrc/jit/python/init.cpp
Labels: jit

#40542 1.6 Port: Dynamic Versioning
  caffe2/serialize/inline_container.cc
  caffe2/serialize/inline_container.h
  test/cpp/jit/test_save_load.cpp
  test/cpp/jit/tests.h
  torch/csrc/jit/frontend/versioned_symbols.cpp
  torch/csrc/jit/frontend/versioned_symbols.h
  torch/csrc/jit/serialization/export_module.cpp
  torch/csrc/jit/serialization/python_print.cpp
  torch/csrc/jit/serialization/python_print.h
  torch/jit/__init__.py
  torch/serialization.py
Labels: jit

#39283 [WIP] Enable TF32 support for cuBLAS
  aten/src/ATen/Context.cpp
  aten/src/ATen/Context.h
  aten/src/ATen/cuda/CUDABlas.cpp
  aten/src/ATen/cuda/CublasHandlePool.cpp
  aten/src/ATen/native/cuda/MiscUtils.h
  aten/src/THC/THCBlas.cu
  docs/source/notes/cuda.rst
  test/test_cuda.py
  test/test_nn.py
  test/test_torch.py
  torch/backends/cuda/__init__.py
  torch/csrc/Module.cpp
Labels: open source
