Repository pytorch/pytorch, pull requests merged in 2020-07, with the labels that each got.

#40852 Fix zip serialization for file > 2GiB for Windows (v1.6)
  test/test_serialization.py
  torch/csrc/jit/python/init.cpp
Labels: jit, open source

#40849 Fix wrong MSVC version constraint for CUDA 9.2 (v1.6)
  cmake/public/cuda.cmake
Labels: open source

#40716 [JIT][1.6] Shape analysis fixes.
  test/test_jit.py
  torch/csrc/jit/passes/shape_analysis.cpp
Labels: jit

#40799 Ports full dtype inference deprecation to 1.6
  aten/src/ATen/native/TensorFactories.cpp
  caffe2/serialize/inline_container.h
  test/cpp/api/autograd.cpp
  test/distributed/test_c10d.py
  test/jit/fixtures/test_versioned_full_integer_value_v4.pt
  test/jit/fixtures/test_versioned_full_preserved_v4.pt
  test/jit/test_save_load.py
  test/jit/test_tracer.py
  test/onnx/test_onnx_opset.py
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/test_autograd.py
  test/test_multiprocessing.py
  test/test_namedtensor.py
  test/test_torch.py
  torch/_torch_docs.py
  torch/csrc/jit/frontend/builtin_functions.cpp
  torch/csrc/jit/frontend/versioned_symbols.cpp
  torch/testing/_internal/common_utils.py
Labels: jit

#40797 [1.6] Fix dictConstruct ordering and enable dict mix in tracing/scripting
  test/jit/test_list_dict.py
  test/jit/test_tracer.py
  torch/csrc/jit/frontend/tracer.cpp
  torch/csrc/jit/runtime/vararg_functions.cpp
Labels: jit

#40748 [jit] Remove unnecessary clone APIs for script::Module and RecursiveS…
  test/quantization/test_quantize_jit.py
  test/test_jit.py
  torch/csrc/jit/api/module.cpp
  torch/csrc/jit/api/module.h
  torch/csrc/jit/python/script_init.cpp
  torch/jit/__init__.py
Labels: jit

#40750 Inplace construct of TorchScript Module and inplace option for quantization
  test/quantization/test_quantize_jit.py
  test/test_jit_py3.py
  torch/csrc/jit/python/script_init.cpp
  torch/jit/__init__.py
  torch/quantization/quantize_jit.py
Labels: jit

#40751 [quant] Fix fuse linear pass (#40549)
  test/quantization/test_quantize_jit.py
  torch/csrc/jit/passes/fuse_linear.cpp
  torch/csrc/jit/passes/graph_rewrite_helper.cpp
  torch/csrc/jit/passes/quantization/insert_observers.cpp
Labels: jit

#41014 [1.6 cherry-pick fix]update requires_gard on loop inputs correctly
  test/test_jit.py
  torch/csrc/jit/passes/requires_grad_analysis.cpp
Labels: jit

#41015 [cherry-pick 1.6 fix]shape inference of undefined for prim::grad
  aten/src/ATen/core/interned_strings.h
  test/test_jit.py
  torch/csrc/jit/passes/shape_analysis.cpp
  torch/csrc/jit/python/python_ir.cpp
Labels: jit

#41016 [cherry-pick 1.6 fix] infer tensor properties based on an input tensor rather than defaults…
  torch/csrc/jit/passes/shape_analysis.cpp
Labels: jit

#41017 [JIT] Switch executor from Simple to Legacy.
  test/test_jit_fuser_te.py
  torch/csrc/jit/runtime/profiling_graph_executor_impl.cpp
Labels: jit

#41075 [release/1.6] .circleci: Output binary sizes, store binaries
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
Labels: ci/binaries, module: ci

#41044 Bucket of shape analysis fixes
  aten/src/ATen/core/jit_type.h
  test/test_jit.py
  torch/csrc/jit/passes/shape_analysis.cpp
  torch/csrc/jit/python/python_ir.cpp
  torch/csrc/jit/runtime/register_prim_ops_fulljit.cpp
Labels: jit

#41036 Added index_put to promotelist
  aten/src/ATen/autocast_VS2017_helper.h
  aten/src/ATen/autocast_mode.cpp
  docs/source/amp.rst
  torch/testing/_internal/autocast_test_lists.py
Labels: open source

#40933 [quant][graphmode][fix] dequantize propagation for {add/mul}_scalar + aten::repeat
  test/quantization/test_quantize_jit.py
  torch/csrc/jit/passes/quantization/finalize.cpp
  torch/csrc/jit/passes/quantization/helper.cpp
  torch/csrc/jit/passes/quantization/helper.h
  torch/csrc/jit/passes/quantization/insert_observers.cpp
  torch/csrc/jit/passes/quantization/insert_quant_dequant.cpp
  torch/csrc/jit/passes/quantization/quantization_patterns.h
Labels: jit

#40970 [quant][graphmode][fix] Fold conv bn (#40865)
  test/quantization/test_quantize_jit.py
  torch/csrc/jit/passes/fold_conv_bn.cpp
  torch/csrc/jit/passes/graph_rewrite_helper.h
  torch/csrc/jit/passes/quantization/insert_observers.cpp
Labels: jit

#40935 Some fixes for graph mode quantization
  aten/src/ATen/native/TensorShape.cpp
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/quantized/TensorFactories.cpp
  test/quantization/test_quantized_tensor.py
  torch/_overrides.py
  torch/csrc/jit/passes/quantization/helper.cpp
Labels: jit

#40934 [quant][graphmode][fix] cloning schema in insert_observers (#40624)
  torch/csrc/jit/passes/quantization/insert_observers.cpp
Labels: jit

#41183 [1.6] Make IterableDataset DataLoader.__len__ warning clearer
  torch/nn/modules/loss.py
  torch/utils/data/dataloader.py
Labels: open source

#41185 [1.6] Make IterableDataset DataLoader.__len__ warning clearer
  torch/nn/modules/loss.py
  torch/utils/data/dataloader.py
Labels: open source

#41117 [ONNX][1.6] Update interpolate recompute_scale_factor default
  test/onnx/expect/TestOperators.test_upsample_nearest_scale_default_scale_factor.expect
  torch/csrc/api/include/torch/nn/functional/upsampling.h
  torch/nn/functional.py
Labels: open source, topic: bc-breaking

#41992 [jit] fix tuple alias analysis
  test/jit/test_freezing.py
  torch/csrc/jit/ir/alias_analysis.cpp
  torch/csrc/jit/ir/alias_analysis.h
Labels: jit

#42024 [release/1.6] .circleci: Don't use SCCACHE for windows release builds
  .circleci/scripts/binary_windows_build.sh
Labels: module: ci

#42029 [release/1.6] [JIT] Dont include view ops in autodiff graphs
  test/test_jit.py
  torch/csrc/jit/passes/create_autodiff_subgraphs.cpp
  torch/testing/_internal/common_methods_invocations.py
Labels: jit
