Repository pytorch/pytorch, pull requests merged in 2020-03, with the labels that each got.

#34936 [jit] Remove stray `@script`
  torch/distributions/von_mises.py
Labels: jit

#35113 [1.5 cherrypick] [C++ API Parity] Add xor_convergence test for lbfgs
  test/cpp/api/optim.cpp
Labels: module: cpp

#35242 [release/1.5] .circleci: Fix unbound CIRCLE_TAG variable
  .circleci/scripts/binary_populate_env.sh
Labels: module: ci

#35146 [1.5] Update docs about DP and DDP for CUDA (#35063)
  docs/source/distributed.rst
  docs/source/notes/cuda.rst
  docs/source/notes/multiprocessing.rst
  torch/nn/parallel/data_parallel.py
  torch/nn/parallel/distributed.py
Labels: open source, triaged

#35349 [1.5] non blocking copy from #35144
  aten/src/ATen/native/TensorConversions.cpp
Labels: open source

#35368 Load all DLLs in the lib directory for Windows (v1.5.0)
  torch/__init__.py
Labels: open source

#35475 [release/1.5] circleci: Remove python 2 binary builds
  .circleci/cimodel/data/binary_build_data.py
  .circleci/config.yml
Labels: module: binaries, releng

#35416 [1.5 cherrypick] Fix torch.mm in ONNX exporter
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/peephole.cpp
Labels: jit

#35440 [1.5 cherrypick] [C++ API Parity] Add xor_convergence test for lbfgs
  test/cpp/api/optim.cpp
Labels: module: cpp

#35514 [v1.5.0 patch] enforce rref JIT pickling to be in the scope of rpc calls
  torch/csrc/distributed/autograd/rpc_messages/cleanup_autograd_context_req.cpp
  torch/csrc/distributed/autograd/rpc_messages/cleanup_autograd_context_req.h
  torch/csrc/distributed/autograd/rpc_messages/cleanup_autograd_context_resp.cpp
  torch/csrc/distributed/autograd/rpc_messages/cleanup_autograd_context_resp.h
  torch/csrc/distributed/autograd/rpc_messages/propagate_gradients_req.cpp
  torch/csrc/distributed/autograd/rpc_messages/propagate_gradients_req.h
  torch/csrc/distributed/autograd/rpc_messages/propagate_gradients_resp.cpp
  torch/csrc/distributed/autograd/rpc_messages/propagate_gradients_resp.h
  torch/csrc/distributed/autograd/rpc_messages/rpc_with_autograd.cpp
  torch/csrc/distributed/autograd/rpc_messages/rpc_with_autograd.h
  torch/csrc/distributed/rpc/python_call.cpp
  torch/csrc/distributed/rpc/python_call.h
  torch/csrc/distributed/rpc/python_remote_call.cpp
  torch/csrc/distributed/rpc/python_remote_call.h
  torch/csrc/distributed/rpc/python_resp.cpp
  torch/csrc/distributed/rpc/python_resp.h
  torch/csrc/distributed/rpc/rpc_command_base.h
  torch/csrc/distributed/rpc/rref_proto.cpp
  torch/csrc/distributed/rpc/rref_proto.h
  torch/csrc/distributed/rpc/script_call.cpp
  torch/csrc/distributed/rpc/script_call.h
  torch/csrc/distributed/rpc/script_remote_call.cpp
  torch/csrc/distributed/rpc/script_remote_call.h
  torch/csrc/distributed/rpc/script_resp.cpp
  torch/csrc/distributed/rpc/script_resp.h
  torch/csrc/distributed/rpc/types.cpp
  torch/csrc/distributed/rpc/types.h
  torch/csrc/distributed/rpc/unpickled_python_call.cpp
  torch/csrc/distributed/rpc/unpickled_python_call.h
  torch/csrc/jit/serialization/pickler.cpp
  torch/testing/_internal/distributed/rpc/jit/rpc_test.py
Labels: jit

#35439 [1.5 cherrypick] [C++ API Parity] [Optimizers] Merged Optimizer and LossClosureOptimizer
  test/cpp/api/optim.cpp
  test/cpp/api/serialize.cpp
  torch/csrc/api/include/torch/optim/adagrad.h
  torch/csrc/api/include/torch/optim/adam.h
  torch/csrc/api/include/torch/optim/lbfgs.h
  torch/csrc/api/include/torch/optim/optimizer.h
  torch/csrc/api/include/torch/optim/rmsprop.h
  torch/csrc/api/include/torch/optim/serialize.h
  torch/csrc/api/include/torch/optim/sgd.h
  torch/csrc/api/src/optim/adagrad.cpp
  torch/csrc/api/src/optim/adam.cpp
  torch/csrc/api/src/optim/lbfgs.cpp
  torch/csrc/api/src/optim/optimizer.cpp
  torch/csrc/api/src/optim/rmsprop.cpp
  torch/csrc/api/src/optim/sgd.cpp
Labels: module: cpp, topic: bc-breaking

#35668 [Windows] make torch_cuda's forced link also work for CMake (v1.5 release)
  caffe2/CMakeLists.txt
  torch/utils/cpp_extension.py
Labels: open source

#35573 [v1.5.0] Fix Caffe2 mobile compilation
  caffe2/operators/fused_rowwise_nbitfake_conversion_ops.cc
Labels: open source, triaged

#35745 Add warnings that amp is incomplete in 1.5
  docs/source/amp.rst
  docs/source/notes/amp_examples.rst
Labels: open source
