Repository pytorch/pytorch, pull requests merged in 2021-11, with the labels that each got.

#67080 [ONNX] Remove the argument use_external_data_format of export() method entirely.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/python/python_ir.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#67559 @wconstab Use simple Shape for computationclient, remove layout
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.h
  lazy_tensor_core/lazy_tensor_core/csrc/layout_manager.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/layout_manager.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/op_by_op_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.h
  lazy_tensor_core/lazy_tensors/shape.cc
  lazy_tensor_core/lazy_tensors/shape.h
  lazy_tensor_core/lazy_tensors/shape_util.cc
  lazy_tensor_core/lazy_tensors/shape_util.h
  lazy_tensor_core/third_party/computation_client/client_data.h
Labels: cla signed, ciflow/default

#67584 [LTC] Code-gen comparison ops
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#67579 [LTC] Code-gen threshold
  lazy_tensor_core/lazy_tensor_core/csrc/ops/threshold.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/threshold.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#67614 [LTC] Clean up unused ops
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.h
Labels: cla signed, ciflow/default

#67409 [LTC] Code-gen index_select
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeDtype.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_select.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_select.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#67666 [LTC] Clean up headers in shape.cc/.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.cpp
  lazy_tensor_core/lazy_tensors/shape.cc
  lazy_tensor_core/lazy_tensors/shape.h
  lazy_tensor_core/lazy_tensors/shape_util.h
Labels: cla signed, ciflow/default

#67060 Added schedule build for LTS branch
  .circleci/config.yml
  .circleci/generate_config_yml.py
  .circleci/verbatim-sources/header-section.yml
Labels: open source, cla signed, ciflow/default

#67629 [ONNX] Follow-up: Remove the argument example_outpus of export() method entirely.
  test/onnx/test_utility_funs.py
Labels: open source, cla signed, ciflow/default

#67704 [LTC] Replace StrCat with c10::str
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/device.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/op_by_op_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  lazy_tensor_core/lazy_tensors/str_cat.h
  lazy_tensor_core/third_party/computation_client/metrics.h
  lazy_tensor_core/third_party/computation_client/sys_util.cc
Labels: cla signed, ciflow/default

#67719 [ONNX] Follow-up: Follow-up: Remove the argument example_outpus of export() method entirely.
  test/onnx/test_utility_funs.py
Labels: open source, cla signed, ciflow/default

#67630 [ONNX] ConstantMap setters to update existing value instead of emplace
  torch/csrc/jit/passes/onnx/constant_map.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#67628 Clean up the View class
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/permute.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view.h
  lazy_tensor_core/lazy_tensors/permutation_util.cc
  lazy_tensor_core/lazy_tensors/permutation_util.h
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#67791 Small cleanups for LoweringContext and BackendImplInterface
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
Labels: cla signed, ciflow/default

#67871 Wconstab/registrar
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/backend_registrar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/device.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_dump_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
Labels: cla signed, ciflow/default

#67868 Remove str_join.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.h
  lazy_tensor_core/lazy_tensors/str_join.cc
  lazy_tensor_core/lazy_tensors/str_join.h
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#67640 Add missing docstrings for ONNX converter API. Fixes #67393
  torch/onnx/__init__.py
Labels: module: onnx, open source, cla signed, ciflow/default

#67877 Add silu op
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#67914 Deprecates in hub.py
  torch/hub.py
Labels: cla signed, ciflow/default

#67460 Allow caffe2-specific graph transformations for OperatorExportTypes.ONNX_ATEN_FALLBACK when BUILD_CAFFE2 is ON
  torch/CMakeLists.txt
  torch/_C/_onnx.pyi
  torch/csrc/jit/serialization/export.cpp
  torch/csrc/onnx/init.cpp
  torch/onnx/__init__.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#67998 Re-enable using the << operator for at::Scalar
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.h
Labels: cla signed, ciflow/default

#68040 [LTC] A quick fix to Device(const std::string& device_spec)
  lazy_tensor_core/lazy_tensor_core/csrc/device.cpp
Labels: cla signed, ciflow/default

#68054 [LTC] Get rid of current device concept
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.h
  lazy_tensor_core/lazy_tensor_core/csrc/debug_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/device.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/device.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.h
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/test/cpp/torch_ltc_ts_test.cpp
Labels: cla signed, ciflow/default

#68090 Replace GetScalarType with c10::Scalar's type method
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/torch_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/torch_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
Labels: cla signed, ciflow/default

#68118 Add embedding op
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeDtype.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#68119 Add masked_fill_.Scalar, masked_fill_.Tensor
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeDtype.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#68141 Add support for at::clone
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#67573 [ONNX] Refactor _run_symbolic_function
  docs/source/onnx.rst
  test/onnx/test_custom_ops.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/python/python_ir.cpp
  torch/onnx/__init__.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/symbolic_registry.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#68162 [LTC] Replace Device with torch::lazy::BackendDevice
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.h
  lazy_tensor_core/lazy_tensor_core/csrc/backend_registrar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/data.h
  lazy_tensor_core/lazy_tensor_core/csrc/debug_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/device.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/device.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_dump_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_dump_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.h
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.h
  lazy_tensor_core/test/cpp/torch_ltc_ts_test.cpp
  torch/csrc/lazy/backend/backend_device.h
Labels: cla signed, ciflow/default

#68153 [LTC] Replace lazy_tensors::Shape with torch::lazy::shape
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/data.h
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/as_strided.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/as_strided.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/bernoulli.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/bernoulli.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cast.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cat.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/diagonal.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/diagonal.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/generic.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/generic.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/permute.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/permute.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/resize.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/select.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/select.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/unsqueeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/TsNode.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/TsNode.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.h
  lazy_tensor_core/lazy_tensor_core/csrc/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view.h
  lazy_tensor_core/lazy_tensors/literal.cc
  lazy_tensor_core/lazy_tensors/literal.h
  lazy_tensor_core/lazy_tensors/shape.cc
  lazy_tensor_core/lazy_tensors/shape.h
  lazy_tensor_core/lazy_tensors/shape_util.cc
  lazy_tensor_core/lazy_tensors/shape_util.h
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#68200 Fix Hash(c10::Scalar), account for garbage data in union
  torch/csrc/lazy/core/hash.h
Labels: cla signed, ciflow/default

#68152 Remove logical_element_type from LazyTensor
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_distributed.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#68257 Switch the following utils to the version on master
  lazy_tensor_core/lazy_tensor_core/csrc/backend_registrar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/debug_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_dump_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_dump_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ir_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/permute.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/TsNode.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/TsNode.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view.h
  lazy_tensor_core/lazy_tensors/permutation_util.cc
  lazy_tensor_core/lazy_tensors/permutation_util.h
  lazy_tensor_core/test/cpp/cpp_test_util.h
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/test/cpp/test_ltc_util_cache.cpp
  lazy_tensor_core/third_party/computation_client/cache.h
Labels: cla signed, ciflow/default

#68106 Support codegen for std, std.dim, std.correction
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeDtype.cpp
  lazy_tensor_core/third_party/computation_client/util.h
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/dest/lazy_ir.py
  torch/csrc/lazy/core/hash.h
Labels: cla signed, ciflow/default

#68147 Refactor lazy shape inference to use Shape class
  aten/src/ATen/templates/DispatchKeyNativeFunctions.cpp
  aten/src/ATen/templates/LazyIr.h
  aten/src/ATen/templates/ShapeInference.h
  lazy_tensor_core/.gitignore
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeDtype.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeInference.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cat.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cat.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  tools/codegen/dest/__init__.py
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#66969 [ONNX] Add support for shrink ops
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#68140 [ONNX] Relax constant_fold gather with indices rank > 1
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/constant_fold.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#68348 Remove unused header files
  lazy_tensor_core/lazy_tensor_core/csrc/data_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cast.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/reduction.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensors/int128.h
  lazy_tensor_core/lazy_tensors/layout.h
  lazy_tensor_core/lazy_tensors/layout_util.cc
  lazy_tensor_core/lazy_tensors/layout_util.h
  lazy_tensor_core/lazy_tensors/shape_util.cc
  lazy_tensor_core/lazy_tensors/status.h
  lazy_tensor_core/lazy_tensors/status_macros.h
  lazy_tensor_core/lazy_tensors/statusor.h
  lazy_tensor_core/third_party/computation_client/debug_macros.h
  lazy_tensor_core/third_party/computation_client/metrics.cc
  lazy_tensor_core/third_party/computation_client/types.h
  lazy_tensor_core/third_party/computation_client/util.h
Labels: cla signed, ciflow/default

#68408 Remove types.h
  lazy_tensor_core/lazy_tensor_core/csrc/data_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.h
  lazy_tensor_core/third_party/computation_client/metrics_reader.cc
  lazy_tensor_core/third_party/computation_client/types.h
  lazy_tensor_core/third_party/computation_client/util.h
Labels: cla signed, ciflow/default

#68427 Clean up tensor_util and torch_util
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/as_strided.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/as_strided_view_update.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cast.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/torch_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/torch_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  torch/csrc/lazy/core/hash.h
Labels: cla signed, ciflow/default

#68465 Switch BackendData to use the master version
  lazy_tensor_core/lazy_tensor_core/csrc/backend_registrar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/data.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/device_data.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/device_data.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.h
Labels: cla signed, ciflow/default

#68505 [ONNX] Add the developing PyTorch ONNX exporter wiki doc link
  docs/source/onnx.rst
  torch/onnx/README.md
Labels: open source, cla signed, ciflow/default

#68409 [LTC] Refactor LTCTensorImpl
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.h
Labels: cla signed, ciflow/default

#68312 Remove data_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/data_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/data_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/squeeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/squeeze.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/unsqueeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/unsqueeze.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  torch/csrc/lazy/core/shape.cpp
  torch/csrc/lazy/core/shape.h
Labels: cla signed, ciflow/default

#68203 [ONNX] shapeValueMap: Represent symbolic shape as value
  test/onnx/expect/TestOperators.test_dynamic_axes_add_inputs_same_symbolic_shape.expect
  test/onnx/expect/TestOperators.test_shape_value_map.expect
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/constant_map.cpp
  torch/csrc/jit/passes/onnx/constant_map.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#67869 Iterate on the backend API for device mgmt
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.h
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#68537 Switch BackendImplInterface and LoweringContext to the master version
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/backend_registrar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/compiler/backend_impl_interface.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ir_dump_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cat.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/squeeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/TsNode.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/TsNode.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.h
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  tools/codegen/dest/lazy_ir.py
  tools/codegen/dest/lazy_ts_lowering.py
  tools/codegen/gen_lazy_tensor.py
  torch/csrc/lazy/backend/backend_interface.h
  torch/csrc/lazy/ts_backend/ts_lowering_context.h
  torch/csrc/lazy/ts_backend/ts_node_lowering.h
Labels: cla signed, ciflow/default

#68569 [LTC] Remove Constant op and class Literal
  lazy_tensor_core/lazy_tensor_core/csrc/ops/constant.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/constant.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view.cpp
  lazy_tensor_core/lazy_tensors/literal.cc
  lazy_tensor_core/lazy_tensors/literal.h
Labels: cla signed, ciflow/default

#68570 [LTC] Code-gen lt.Scalar
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#68573 [LTC] Remove unused ops
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
Labels: cla signed, ciflow/default

#68627 [LTC] Remove shape_util
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/all_reduce.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/all_to_all.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/as_strided.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/as_strided_view_update.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/collective_permute.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/diagonal.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/get_dimensions_size.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/permute.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/resize.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/scalar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/unsqueeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensors/shape_util.cc
  lazy_tensor_core/lazy_tensors/shape_util.h
Labels: cla signed, ciflow/default

#68641 [LTC] Refactor computation_client/util.h
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view.cpp
  lazy_tensor_core/test/cpp/metrics_snapshot.cpp
  lazy_tensor_core/third_party/computation_client/util.h
  torch/csrc/lazy/core/hash.h
Labels: cla signed, ciflow/default

#68560 Properly generate ToString methods where members are optional
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#68674 Rename View class into LazyView
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_view.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
Labels: cla signed, ciflow/default

#68675 Fix lints for IR codegen
  tools/codegen/dest/__init__.py
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#68730 Clean up helpers.h, span.h, and str_split.h
  lazy_tensor_core/lazy_tensor_core/csrc/debug_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/function_call_tracker.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/helpers.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/arithmetic_ir_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensors/span.h
  lazy_tensor_core/lazy_tensors/str_split.h
  lazy_tensor_core/third_party/computation_client/metrics.cc
  lazy_tensor_core/third_party/computation_client/util.h
Labels: cla signed, ciflow/default

#68740 Move view ops into a separate directory
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/as_strided.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/as_strided.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/as_strided_view_update.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/as_strided_view_update.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/diagonal.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/diagonal.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/diagonal_view_update.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/diagonal_view_update.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/generic_slice.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/generic_slice.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/permute.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/permute.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/resize.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/resize.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/select.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/select.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/unselect.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/unselect.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/update_slice.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/update_slice.h
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/view.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/view_ops/view.h
  lazy_tensor_core/setup.py
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#68824 Update the default device for test_ptltc
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
Labels: cla signed, ciflow/default

#69062 [LTC] Further refactor bridge's device management
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#69045 [ONNX] Remove f arg from export_to_pretty_string
  test/jit/test_export_modes.py
  test/jit/test_onnx_export.py
  test/jit/test_tracer.py
  test/onnx/test_operators.py
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#69103 Add codegen support for logdet
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeInference.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default
