Repository pytorch/pytorch, pull requests merged in 2021-07, with the labels that each got.

#61161 Add op lowering guide
  lazy_tensor_core/OP_LOWERING_GUIDE.md
Labels: cla signed

#61084 [ONNX] Update expand_as for dynamic shape
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#60731 [ONNX] add supplement for standardOps low precision cast
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/scalar_type_analysis.cpp
Labels: cla signed, oncall: jit, open source

#60335 [ONNX]Enhance shape inference
  docs/source/onnx.rst
  test/onnx/expect/TestOperators.test_at_op.expect
  test/onnx/expect/TestOperators.test_aten_embedding_1.expect
  test/onnx/expect/TestOperators.test_aten_embedding_2.expect
  test/onnx/expect/TestOperators.test_c2_op.expect
  test/onnx/expect/TestOperators.test_embedding_bags.expect
  test/onnx/expect/TestOperators.test_empty_like_opset7.expect
  test/onnx/expect/TestOperators.test_layer_norm_aten.expect
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/passes/onnx/constant_map.cpp
  torch/csrc/jit/passes/onnx/constant_map.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.h
  torch/onnx/__init__.py
  torch/onnx/symbolic_registry.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#61476 [ONNX] Support lstm_cell symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#59486 [ONNX] Add support for opset14 in PT-ONNX exporter
  .jenkins/caffe2/test.sh
  aten/src/ATen/core/interned_strings.h
  scripts/onnx/test.sh
  test/onnx/test_models_onnxruntime.py
  test/onnx/test_pytorch_common.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  torch/csrc/jit/passes/onnx/constant_fold.cpp
  torch/csrc/jit/passes/onnx/constant_fold.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/__init__.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset14.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#61652 [ONNX] Remove aten parameter
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: cla signed, open source

#52758 [ONNX] Fix for batchnorm training op mode
  .jenkins/caffe2/test.sh
  test/onnx/expect/TestOperators.test_dropout_default.expect
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  torch/csrc/jit/passes/onnx/eval_peephole.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset14.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#61553 [ONNX] add test images to repo
  test/onnx/assets/grace_hopper_517x606.jpg
  test/onnx/assets/rgb_pytorch.png
  test/onnx/test_pytorch_onnx_onnxruntime.py
Labels: cla signed, open source

#60707 [ONNX] Fix controlflow shape inference with contrib op
  test/onnx/test_custom_ops.py
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#62036 Fix LTC_SAVE_TENSORS_FMT for TorchScript backend
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
Labels: cla signed

#61280 [ONNX] Fix an issue that optimizations might adjust graph inputs unexpectedly.
  test/onnx/expect/TestOperators.test_prelu.expect
  test/onnx/expect/TestOperators.test_retain_param_name_disabled.expect
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx/eval_peephole.cpp
  torch/csrc/jit/passes/onnx/eval_peephole.h
  torch/csrc/jit/python/init.cpp
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#62053 Add leaky_relu and leaky_relu_backward to the ltc_ts backend
  lazy_tensor_core/lazy_tensor_core/csrc/ops/leaky_relu_backward.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/leaky_relu_backward.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_methods.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_xla_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#61605 Fix cub issue for PyTorch LTS
  .github/workflows/lint.yml
  aten/src/ATen/cuda/CubUtils.cuh
  aten/src/ATen/native/cuda/Indexing.cu
  aten/src/ATen/native/cuda/Nonzero.cu
  aten/src/ATen/native/cuda/Randperm.cu
  aten/src/ATen/native/cuda/ScanKernels.cu
  aten/src/ATen/native/cuda/TensorFactories.cu
  test/test_tensor_creation_ops.py
Labels: ci/binaries, cla signed, open source

#62104 Fix build
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
Labels: cla signed

#62274 Fix a size calculation bug in InferCat
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
Labels: cla signed

#62275 Use the newly added dispatch key
  lazy_tensor_core/OP_LOWERING_GUIDE.md
  lazy_tensor_core/example.py
  lazy_tensor_core/lazy_tensor_core/core/lazy_model.py
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/scripts/generate_code.sh
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.h
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#62199 Fix a segfault in eager_fallback when the first input is a TensorList
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/EagerFallback.cpp
Labels: cla signed

#59979 [ONNX] Update repeat_interleave for dynamic repeats
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source
