Repository pytorch/pytorch, pull requests merged in 2021-02, with the labels that each got.

#51387 Update error message that displays when encountering an op unsupported for ONNX export.
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/symbolic_registry.py
Labels: cla signed, open source

#51096 [ONNX] Enable Constant Folding for ONNX Opset 13
  test/onnx/test_utility_funs.py
  torch/csrc/jit/passes/onnx/constant_fold.cpp
  torch/csrc/jit/passes/onnx/constant_fold.h
  torch/onnx/__init__.py
Labels: cla signed, oncall: jit, open source

#51415 [ONNX] Update unsafe_chunk() method to support new version 13 of Split operator.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset13.py
Labels: cla signed, open source

#51396 [ONNX] Fix opset 11 ConstantChunk with negative dim
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, open source

#51373 [ONNX] Support list remove for onnx export
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/onnx/symbolic_opset11.py
Labels: cla signed, oncall: jit, open source

#51222 [ONNX] Fix bug in scatter_add symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#51318 [ONNX] Modifications in remove inplace ops passes to better handle binary inplace ops
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/passes/remove_inplace_ops.cpp
  torch/csrc/jit/passes/remove_inplace_ops.h
Labels: cla signed, oncall: jit, open source

#51577 [ONNX] Fix for sequence of mutations in blocks
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#51882 concantenate LICENSE files when building a wheel (#51634)
  setup.py
  test/run_test.py
  test/test_license.py
Labels: cla signed

#51890 Disable unaliged-access test from TestVectorizedMemoryAccess.CopyKern…
  aten/src/ATen/test/cuda_vectorized_test.cu
Labels: cla signed

#51987 [FX] Hide experimental folder
  test/test_fx_experimental.py
  torch/fx/_experimental/__init__.py
  torch/fx/_experimental/accelerator_partitioner.py
  torch/fx/_experimental/const_fold.py
  torch/fx/_experimental/fuser.py
  torch/fx/_experimental/graph_manipulation.py
  torch/fx/_experimental/merge_matmul.py
  torch/fx/_experimental/param_fetch.py
  torch/fx/_experimental/partitioner_utils.py
  torch/fx/_experimental/rewriter.py
Labels: cla signed, fx

#52006 [v1.8.0] [wip] doc_fix
  docs/source/sparse.rst
Labels: cla signed, module: ci, module: docs

#51982 .jenkins: Release branch specific updates
  .circleci/config.yml
  .circleci/verbatim-sources/commands.yml
  .jenkins/pytorch/build.sh
  .jenkins/pytorch/common_utils.sh
  .jenkins/pytorch/test.sh
Labels: cla signed, module: ci

#51913 1.8 cherrypick: Add metacompile of Ternary if (#51789)
  test/test_jit.py
  torch/csrc/jit/frontend/ir_emitter.cpp
Labels: cla signed, oncall: jit

#52021 [FX][1.8] Cherrypick three FX fixes to 1.8
  test/test_fx.py
  torch/fx/interpreter.py
  torch/fx/proxy.py
Labels: cla signed, fx

#52160 fake_quant cachemask: remove Python bindings (#51878)
  test/quantization/test_workflow_module.py
  tools/autograd/gen_python_functions.py
  torch/overrides.py
Labels: cla signed

#52049 [1.8] Workaround arm64 gcc error in `std::copysign` (#51900)
  aten/src/ATen/native/cpu/BinaryOpsKernel.cpp
Labels: cla signed

#52050 [1.8] Do not print warning if CUDA driver not found (#51806)
  c10/cuda/CUDAFunctions.cpp
Labels: cla signed

#52215 [v1.8 patch] [Resubmission] Add a documentation page for DDP communication hooks
  docs/source/ddp_comm_hooks.rst
  docs/source/index.rst
  torch/distributed/algorithms/ddp_comm_hooks/powerSGD_hook.py
  torch/nn/parallel/distributed.py
Labels: cla signed, fx, oncall: distributed, oncall: jit

#52242 Ports fix for division documentation that removes "true" rounding mode
  tools/pyi/gen_pyi.py
  torch/_tensor_docs.py
  torch/_torch_docs.py
Labels: cla signed

#51795 [ONNX] Redesign onnx pass to enable shape type dependent pattern conversion - cont
  test/onnx/test_pytorch_onnx_onnxruntime.py
  tools/build_variables.bzl
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/erase_number_types.cpp
  torch/csrc/jit/passes/erase_number_types.h
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/passes/onnx.h
  torch/csrc/jit/passes/onnx/cast_all_constant_to_floating.cpp
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
  torch/csrc/jit/passes/onnx/helper.cpp
  torch/csrc/jit/passes/onnx/helper.h
  torch/csrc/jit/passes/onnx/pattern_conversion/common.cpp
  torch/csrc/jit/passes/onnx/pattern_conversion/common.h
  torch/csrc/jit/passes/onnx/pattern_conversion/pattern_conversion.cpp
  torch/csrc/jit/passes/onnx/pattern_conversion/pattern_conversion.h
  torch/csrc/jit/passes/onnx/pattern_conversion/pattern_encapsulation.cpp
  torch/csrc/jit/passes/onnx/pattern_conversion/pattern_encapsulation.h
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/python/init.cpp
  torch/onnx/symbolic_opset11.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#51729 [ONNX] Update fuseLogSoftmaxNllLoss function to handle autocasting
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
  torch/csrc/jit/passes/onnx/peephole.cpp
Labels: cla signed, oncall: jit, open source

#52199 [ONNX] Update LayerNorm symbolic to handle autocasting
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#52270 [1.8 patch] Use side-stream in CPU to GPU copies in DDP
  torch/nn/parallel/distributed.py
Labels: cla signed, oncall: distributed

#52313 Skip OneDNN Convolution in case of groups = 24 #50042
  aten/src/ATen/native/Convolution.cpp
  test/test_nn.py
Labels: cla signed

#52365 [1.8] Fix libnvrtc discoverability in package patched by `auditwheel`
  aten/src/ATen/ATen.h
  aten/src/ATen/DynamicLibrary.cpp
  aten/src/ATen/DynamicLibrary.h
  aten/src/ATen/cuda/detail/LazyNVRTC.cpp
  caffe2/CMakeLists.txt
  cmake/public/cuda.cmake
  torch/CMakeLists.txt
  torch/csrc/jit/codegen/fuser/cpu/fused_kernel.cpp
  torch/csrc/jit/codegen/fuser/cpu/fused_kernel.h
Labels: cla signed, oncall: jit

#52397 [1.8] Remove torch.vmap
  docs/source/torch.rst
  test/test_vmap.py
  torch/__init__.py
Labels: cla signed

#52404 [1.8][cmake] Add explicit cublas->cudart dependency
  cmake/public/cuda.cmake
Labels: cla signed

#52406 [v1.8.0] .circleci: Downgrade CUDA 11.2 -> 11.1 for binaries (#52151)
  .circleci/cimodel/data/dimensions.py
  .circleci/config.yml
  .circleci/scripts/binary_linux_build.sh
  .circleci/scripts/binary_windows_build.sh
Labels: cla signed

#52446 update symeig backward note about similar eigenvalues (#52311)
  torch/_torch_docs.py
Labels: cla signed

#52445 [v1.8.0] Fix upsample bicubic2d batching handling on CPU. (#52389)
  aten/src/ATen/native/UpSampleBicubic2d.cpp
  test/test_nn.py
Labels: cla signed

#52430 onnx export of per channel fake quantize functions (#42835)
  test/onnx/test_models.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset13.py
Labels: cla signed

#52469 Add arm64 binary build (#52443)
  .circleci/cimodel/data/binary_build_data.py
  .circleci/cimodel/data/binary_build_definitions.py
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
Labels: cla signed

#52392 Update freezing API - changes from 52337
  test/cpp/jit/test_module_api.cpp
  test/jit/test_freezing.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/api/module.cpp
  torch/csrc/jit/api/module.h
  torch/csrc/jit/passes/frozen_graph_optimizations.cpp
  torch/csrc/jit/passes/frozen_graph_optimizations.h
  torch/jit/_freeze.py
Labels: cla signed, oncall: jit

#52518 [v1.8.0] Various CUDA 11.1 with BUILD_SPLIT_CUDA_FIXES
  caffe2/CMakeLists.txt
  cmake/public/cuda.cmake
  torch/utils/cpp_extension.py
Labels: cla signed

#52510 [1.8] Fix onnx mixed precision export for layernorm & fuseLogSoftmaxNllLoss
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#52601 [1.8] Update api doc for enabling TcpStore on Windows
  docs/source/distributed.rst
Labels: cla signed, oncall: distributed

#52649 [release/1.8] Fix performance of CUDA trilinear interpolate backward
  aten/src/ATen/native/cuda/UpSampleTrilinear3d.cu
Labels: cla signed, open source

#52817 [ZeroRedundancyOptimizer] Use the common_utils test runner
  test/distributed/optim/test_zero_redundancy_optimizer.py
Labels: cla signed, oncall: distributed

#52646 [ONNX] Remove the last Cast in pow symbolic_opset9
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#52904 Expose documentation for LKJCholesky distribution
  docs/source/distributions.rst
Labels: cla signed

#52801 [v1.8] Catch Flake8 error codes with multiple letters
  .github/workflows/lint.yml
  test/distributed/test_c10d.py
  torch/utils/data/datapipes/__init__.py
  torch/utils/data/datapipes/iter/__init__.py
  torch/utils/data/datapipes/iter/listdirfiles.py
  torch/utils/data/datapipes/iter/loadfilesfromdisk.py
  torch/utils/data/datapipes/iter/readfilesfromtar.py
  torch/utils/data/datapipes/iter/readfilesfromzip.py
  torch/utils/data/datapipes/utils/__init__.py
  torch/utils/data/datapipes/utils/common.py
Labels: cla signed, oncall: distributed

#52063 [ONNX] Support inplace operations on inplace indexing
  scripts/onnx/test.sh
  test/onnx/test_models_onnxruntime.py
  test/onnx/test_pytorch_common.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
  test/onnx/test_pytorch_onnx_shape_inference.py
  test/onnx/test_utility_funs.py
  test/onnx/verify.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx/list_model_parameters.cpp
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/python/init.cpp
  torch/onnx/symbolic_opset11.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#52756 Fix hipify_python
  torch/utils/hipify/hipify_python.py
Labels: cla signed, open source
