Repository pytorch/pytorch, pull requests merged in 2021-03, with the labels that each got.

#51481 [ONNX] Symbolic shape inference
  .jenkins/caffe2/test.sh
  aten/src/ATen/core/interned_strings.h
  test/onnx/expect/TestOperators.test_arange_dynamic.expect
  test/onnx/expect/TestOperators.test_empty_like.expect
  test/onnx/expect/TestOperators.test_full.expect
  test/onnx/expect/TestOperators.test_full_like.expect
  test/onnx/expect/TestOperators.test_nonzero.expect
  test/onnx/expect/TestOperators.test_ones_like.expect
  test/onnx/expect/TestOperators.test_zeros_like.expect
  test/onnx/test_pytorch_onnx_onnxruntime.py
  tools/build_variables.bzl
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/passes/onnx.h
  torch/csrc/jit/passes/onnx/constant_fold.cpp
  torch/csrc/jit/passes/onnx/constant_fold.h
  torch/csrc/jit/passes/onnx/constant_map.cpp
  torch/csrc/jit/passes/onnx/constant_map.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#52748 Update test cases generated by make_test() method to support running them in script mode.
  test/onnx/model_defs/lstm_flattening_result.py
  test/onnx/model_defs/rnn_model_with_packed_sequence.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
Labels: cla signed, open source

#51722 [ONNX] enable several script unit tests using new jit passes
  test/onnx/test_pytorch_onnx_onnxruntime.py
Labels: cla signed, open source

#53046 [ONNX] Update export of copy_
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, open source

#53055 [1.8 release only] Remove fx graph mode quantization doc from release
  docs/source/quantization.rst
Labels: cla signed

#52893 [ONNX] Update assign output shape for nested structure and dict output
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#52855 [ONNX] Add repeat_interleave symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#51362 [ONNX] Update ONNX documentation
  docs/source/onnx.rst
Labels: cla signed, open source

#53328 [ONNX] Support torch.isinf, torch.any and torch.all export to ONNX
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/symbolic_registry.py
Labels: cla signed, open source

#53053 [ONNX] fix export of embedding with padding_idx
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#53519 [ONNX] Update inputs/input_names formatting to avoid ValueError with scriptMethods
  torch/onnx/utils.py
Labels: cla signed, open source

#50913 [experiment] AlwaysCall Backend Fallback
  aten/src/ATen/core/boxing/impl/boxing.h
  aten/src/ATen/core/dispatch/AlwaysCallBackendFallback.cpp
  aten/src/ATen/core/dispatch/DispatchKeyExtractor.h
  aten/src/ATen/core/ivalue.h
  c10/core/DispatchKey.cpp
  c10/core/DispatchKey.h
  c10/util/intrusive_ptr.h
  tools/build_variables.bzl
Labels: cla signed

#53674 Docs cherrypicks 1.8.1
  docs/source/fx.rst
  torch/fx/symbolic_trace.py
Labels: cla signed, fx

#53671 [1.8.1] enable autocast for xla
  aten/src/ATen/autocast_mode.h
  aten/src/ATen/core/aten_interned_strings.h
  aten/src/ATen/templates/TensorBody.h
  aten/src/ATen/templates/TensorMethods.cpp
  c10/core/TensorImpl.h
  torch/cuda/amp/autocast_mode.py
  torch/cuda/amp/common.py
  torch/cuda/amp/grad_scaler.py
Labels: cla signed

#53675 [1.8.1] Explicitly export submodules and variables from torch module
  torch/__init__.py
Labels: cla signed

#53734 [v1.8.1] ci: Remove special versioning privileges for cu102 (#53133)
  .circleci/scripts/binary_populate_env.sh
  .github/scripts/generate_pytorch_version.py
Labels: cla signed, module: build

#53653 [FX] Experimental type annotation pass using Python signatures
  test/test_fx_experimental.py
  torch/fx/experimental/schema_type_annotation.py
  torch/fx/graph.py
Labels: cla signed, fx

#53822 Fix set_device_map docs (#53508)
  torch/distributed/rpc/options.py
Labels: cla signed, oncall: distributed

#54003 Example LSTMCell (#51983)
  torch/nn/modules/rnn.py
Labels: cla signed

#53987 [1.8.1] Remove MNIST for XLA
  .jenkins/pytorch/test.sh
Labels: cla signed

#53763 [CherryPick] Fixes for distribution validation checks
  test/distributions/test_distributions.py
  torch/distributions/__init__.py
  torch/distributions/beta.py
  torch/distributions/kumaraswamy.py
  torch/distributions/lkj_cholesky.py
  torch/distributions/log_normal.py
  torch/distributions/logistic_normal.py
  torch/distributions/mixture_same_family.py
  torch/distributions/pareto.py
  torch/distributions/relaxed_categorical.py
  torch/distributions/transformed_distribution.py
  torch/distributions/weibull.py
Labels: cla signed

#53986 [1.8.1] [fix] nn.Embedding: allow changing the padding vector
  aten/src/ATen/native/Embedding.cpp
  test/test_nn.py
  torch/nn/functional.py
  torch/nn/modules/sparse.py
Labels: cla signed

#54005 [1.8.1] [ONNX] Update inputs/input_names formatting to avoid ValueError with …
  torch/onnx/utils.py
Labels: cla signed

#54007 [1.8.1] [ONNX] Support torch.isinf, torch.any and torch.all export to ONNX
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/symbolic_registry.py
Labels: cla signed

#53766 Cherrypick #53576 into release/1.8
  test/test_jit.py
  torch/jit/frontend.py
Labels: cla signed, oncall: jit

#54028 [1.8.1] Fix test to use proper condition. (#52216)
  test/test_torch.py
Labels: cla signed

#54019 [1.8.1][ONNX] Update assign output shape for nested structure and dict output
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#54033 [1.8.1][ONNX] Update embedding export wrt padding_idx
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#54015 Disabling dispatch to OneDNN for group convolutions when groups size = 24 * n
  aten/src/ATen/native/Convolution.cpp
  test/test_nn.py
Labels: cla signed

#53690 [ONNX] Improve index_put symbolic to handle singular Bool updates
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, open source

#54026 [1.8.1] [nn] nn.Embedding : `padding_idx` doc update (#53809)
  torch/nn/functional.py
  torch/nn/modules/sparse.py
Labels: cla signed

#54022 [1.8.1] Use `int8_t` instead of `char` in [load|store]_scalar` (#52616)
  torch/csrc/utils/python_scalars.h
Labels: cla signed

#54025 [1.8.1] Make ideep honor `torch.set_num_thread` changes (#53871)
  aten/src/ATen/ParallelOpenMP.cpp
  aten/src/ATen/native/mkldnn/IDeepRegistration.cpp
  test/test_dataloader.py
Labels: cla signed

#54178 [fix] Dimension out of range in pixel_shuffle / pixel_unshuffle
  aten/src/ATen/native/PixelShuffle.cpp
Labels: cla signed

#53550 [ONNX] Support primitive type input/outputs and attributes
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/python/python_arg_flatten.cpp
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#53219 [ONNX] Fix if output shape mismatch error & Fix graph input directly used as output
  test/onnx/expect/TestOperators.test_transpose.expect
  test/onnx/expect/TestOperators.test_type_as.expect
  test/onnx/test_onnx_opset.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
  torch/csrc/jit/passes/onnx/peephole.cpp
Labels: cla signed, oncall: jit, open source

#54141 various doc building cleanups
  .circleci/scripts/python_doc_push_script.sh
  docs/source/_templates-stable/layout.html
  docs/source/_templates/layout.html
  docs/source/complex_numbers.rst
  docs/source/conf.py
  torch/_torch_docs.py
Labels: cla signed, open source

#54537 [1.8.1] Replace thrust with cub in randperm
  aten/src/ATen/native/cuda/TensorFactories.cu
Labels: cla signed

#54556 [CI] Install compatible cmath for Win builds
  .circleci/config.yml
  .circleci/scripts/vs_install_cmath.ps1
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
  .circleci/verbatim-sources/job-specs/pytorch-job-specs.yml
Labels: cla signed

#54358 [v1.8.1] Perform appropriate CUDA stream synchronization in distributed autogr…
  torch/csrc/distributed/autograd/engine/dist_engine.cpp
  torch/csrc/distributed/autograd/engine/dist_engine.h
  torch/csrc/distributed/autograd/functions/sendrpc_backward.cpp
  torch/csrc/distributed/autograd/functions/sendrpc_backward.h
  torch/testing/_internal/distributed/rpc/dist_autograd_test.py
Labels: cla signed, oncall: distributed

#53077 [ONNX] Replace decomposeLinear pre process pass with a symbolic
  test/jit/test_onnx_export.py
  test/onnx/expect/TestOperators.test_linear.expect
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/preprocess_for_onnx.cpp
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#54634 [ONNX] Update scripting docs
  docs/source/onnx.rst
Labels: cla signed, open source

#53603 Add outer export to onnx
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset12.py
Labels: cla signed, open source

#51938 [ONNX] Fix export of copy_ operator
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, oncall: jit, open source
