Repository pytorch/pytorch, pull requests merged in 2021-08, with the labels that each got.

#62583 disable googletest -Werror failing on gcc10
  lazy_tensor_core/test/cpp/CMakeLists.txt
Labels: cla signed

#62604 Add fill_ binding
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#62468 [lazy_tensor] sqrt: lazy tensor lowering to torchscript
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, open source

#62621 [LT] Add addcdiv and addcdiv_ lowering
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#62596 [ONNX] Suppport torch.dot and torch.nn.utils.spectral_norm
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#61708 [ONNX] Deprecate enable_onnx_checker argument in torch.onnx.export()
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: cla signed, open source

#61702 [ONNX] Remove argument _retain_param_name from torch.onnx.export() function.
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: cla signed, open source

#61712 [ONNX] Remove strip_doc_string param from torch.onnx.export() function.
  test/onnx/test_utility_funs.py
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: open source, cla signed

#62848 Fix formatting of leaky_relu_backward.{cpp, h}
  lazy_tensor_core/lazy_tensor_core/csrc/ops/leaky_relu_backward.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/leaky_relu_backward.h
Labels: cla signed

#62864 [LTC] Fix some typos for lazy_tensor_core/README.md
  lazy_tensor_core/README.md
Labels: cla signed

#62085 [ONNX] Add supplementary tests and description for custom_opsets param from torch.onnx.export() function.
  test/onnx/test_utility_funs.py
  torch/onnx/__init__.py
Labels: open source, cla signed

#62816 [LT] Support half type
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensors/shape_util.h
  lazy_tensor_core/lazy_tensors/types.h
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
Labels: cla signed

#62971 node normalized arguments propagated to normalize function.
  test/test_fx.py
  torch/fx/node.py
Labels: fx, cla signed

#63105 [LTC] Add _log_softmax TorchScript lowering
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#62514 [ONNX] minor doc improvements and cleanup
  docs/source/onnx.rst
  test/jit/test_export_modes.py
  test/jit/test_tracer.py
  test/onnx/test_operators.py
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: open source, cla signed

#63123 [LTC] Improve QUICKSTART.md and OP_LOWERING_GUIDE.md
  lazy_tensor_core/OP_LOWERING_GUIDE.md
  lazy_tensor_core/QUICKSTART.md
Labels: cla signed

#62766 Enhance shape (#60335)
  docs/source/onnx.rst
  test/onnx/expect/TestOperators.test_at_op.expect
  test/onnx/expect/TestOperators.test_aten_embedding_1.expect
  test/onnx/expect/TestOperators.test_aten_embedding_2.expect
  test/onnx/expect/TestOperators.test_c2_op.expect
  test/onnx/expect/TestOperators.test_embedding_bags.expect
  test/onnx/expect/TestOperators.test_empty_like_opset7.expect
  test/onnx/expect/TestOperators.test_layer_norm_aten.expect
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/passes/onnx/constant_map.cpp
  torch/csrc/jit/passes/onnx/constant_map.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.h
  torch/onnx/__init__.py
  torch/onnx/symbolic_registry.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed

#63306 [LTC] Add _log_softmax_backward_data TorchScript lowering
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ts_log_softmax_backward.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ts_log_softmax_backward.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_methods.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#63418 [ONNX] Add log10 symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#60538 [ONNX] Update instance_norm implementation and support training
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#63639 [LTC] Add nll_loss_backward TorchScript lowering
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#63607 [ONNX] Fix creation of constants with empty list as shape
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: oncall: jit, open source, cla signed

#60554 [ONNX] Fix input sequence for pad op
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/serialization/export.cpp
  torch/onnx/symbolic_opset11.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed

#63597 [ONNX] Fix cuda test case
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
Labels: open source, cla signed

#62815 [ONNX] Deprecated the example_outputs param from torch.onnx.export() function.
  test/jit/test_export_modes.py
  test/jit/test_onnx_export.py
  test/onnx/test_models_onnxruntime.py
  test/onnx/test_onnx_opset.py
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_caffe2_quantized.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  test/quantization/eager/test_quantize_eager_ptq.py
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: open source, cla signed

#63261 [LTC] Improve some documentations
  lazy_tensor_core/OP_LOWERING_GUIDE.md
  lazy_tensor_core/QUICKSTART.md
  lazy_tensor_core/TROUBLESHOOTING.md
Labels: oncall: distributed, cla signed
