Repository pytorch/pytorch, pull requests merged in 2021-10, with the labels that each got.

#65795 [LTC] Auto-gen _log_softmax for TorchScript backend in LTC
  lazy_tensor_core/lazy_tensor_core/csrc/ops/log_softmax.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/log_softmax.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_methods.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/api/lazy.py
Labels: open source, cla signed

#65924 [DataPipe] Fix deepcopy for Mapper and in-place modification for IterableWrapper
  test/test_datapipe.py
  torch/utils/data/datapipes/README.md
  torch/utils/data/datapipes/iter/callable.py
  torch/utils/data/datapipes/iter/utils.py
Labels: cla signed

#65979 [ci] try installing libgnutls to fix cert error (#65934)
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/pytorch-job-specs.yml
Labels: ciflow/default

#65940 [ONNX] Symbolic: dynamic input for OneHot, bool for Einsum
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#66007 convert struct TSData to a class
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.h
Labels: cla signed

#66014 BUG FIX: Assign should copy base class fields as well
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.h
  lazy_tensor_core/test/cpp/test_ltc_util_cache.cpp
Labels: cla signed

#66078 Add a mssing private to protected change in #66014
  lazy_tensor_core/third_party/computation_client/client_data.h
Labels: cla signed, ciflow/default

#65705 [LTC] Map a graph to a graph executor instance
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.h
Labels: cla signed, ciflow/default

#65780 [ONNX] Add shape inference for squeeze nodes
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#65374 [ONNX] Support exporting with Apex O2
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
  torch/onnx/utils.py
Labels: open source, cla signed

#65782 [ONNX] Update slice process shape to support rank only inference
  test/onnx/test_pytorch_onnx_shape_inference.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#66117 [release/1.10] Binary building without python fix (#66031)
  torch/CMakeLists.txt
Labels: open source, cla signed, ciflow/default

#66155 Fix Windows ninja builds when MAX_JOBS is specified (#65444)
  tools/setup_helpers/cmake.py
  tools/test/test_cmake.py
Labels: ciflow/default

#66157 Krovatkin/revert
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.h
  lazy_tensor_core/test/cpp/test_ltc_util_cache.cpp
  lazy_tensor_core/third_party/computation_client/client_data.h
Labels: ciflow/default

#66022 [LTC] Cherry-pick fe053a2
  .jenkins/pytorch/test.sh
Labels: cla signed

#66121 Add shape inference for ConvTranspose
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
Labels: cla signed, ciflow/default

#66188 [iOS][CI] Update dev certs (#66004)
  .circleci/config.yml
  .circleci/scripts/binary_ios_test.sh
  .circleci/verbatim-sources/job-specs/job-specs-custom.yml
  ios/TestApp/AppleWWDRCAG3.cer
  ios/TestApp/fastlane/Fastfile
Labels: ciflow/default

#66202 Tweak `file_diff_from_base` for release/1.10 branch
  .jenkins/pytorch/common_utils.sh
Labels: ciflow/default

#66481 [ONNX] Allow registration of custom symbolics for aten namespace
  test/onnx/test_utility_funs.py
  torch/onnx/utils.py
Labels: open source, cla signed, ciflow/default

#67495 [LTC] Code-gen tanh
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default
