Repository pytorch/pytorch, pull requests merged in 2021-01, with the labels that each got.

#49783 [ONNX] Add checks in ONNXSetDynamicInputShape
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#49514 [ONNX] Enable export af aten::__derive_index
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#49798 [ONNX] Update the sequence of initializers in exported graph so that it is as same as inputs.
  test/onnx/expect/TestOperators.test_batchnorm.expect
  test/onnx/expect/TestOperators.test_batchnorm_1d.expect
  test/onnx/expect/TestOperators.test_batchnorm_onnx_irv4.expect
  test/onnx/expect/TestOperators.test_batchnorm_training.expect
  test/onnx/expect/TestOperators.test_layer_norm_aten.expect
  test/onnx/expect/TestOperators.test_linear.expect
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/serialization/export.cpp
Labels: cla signed, oncall: jit, open source

#49612 [ONNX] Enable opset 13 ops
  scripts/onnx/test.sh
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/__init__.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_registry.py
  torch/onnx/utils.py
Labels: open source

#50119 [ONNX] Improve error message for supported model input types in ONNX export API
  torch/csrc/jit/python/python_arg_flatten.cpp
Labels: cla signed, oncall: jit, open source

#49706 [ONNX] Use parameter values in onnx shape inference
  test/onnx/expect/TestOperators.test_upsample_nearest_scale.expect
  test/onnx/expect/TestOperators.test_upsample_nearest_scale_default_scale_factor.expect
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.h
  torch/csrc/jit/python/init.cpp
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#50150 [ONNX] Support opset13 Squeeze and Unsqueeze
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  torch/csrc/jit/passes/onnx/helper.cpp
  torch/csrc/jit/passes/onnx/helper.h
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#50532 [ONNX] Update Reducesum operator for opset 13
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#49675 [ONNX] Add binary_cross_entropy_with_logits op to ONNX opset version 12
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset12.py
Labels: cla signed, open source

#50570 [ONNX] Add logical_and, logical_or, logical_xor torch op support in pytorch exporter
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#50582 [ONNX] Enable _jit_pass_onnx_fold_if only when dynamic_axes is None
  .jenkins/caffe2/test.sh
  .jenkins/pytorch/common_utils.sh
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/utils.py
Labels: cla signed, open source

#50193 Add CPP Full Reduction Benchmarks.
  benchmarks/cpp/tensorexpr/CMakeLists.txt
  benchmarks/cpp/tensorexpr/bench_reduce.cpp
Labels: cla signed

#50057 Add full reduction benchmark.
  benchmarks/tensorexpr/__main__.py
  benchmarks/tensorexpr/reduction.py
Labels: cla signed

#50574 [ONNX] Replace optional parameters of Resize with placeholder for ops13.
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, open source

#50764 [ONNX] Fix param names
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
Labels: cla signed, oncall: jit, open source

#51001 update HistogramObserver to be scriptable
  test/quantization/test_workflow_module.py
  test/test_quantization.py
  torch/quantization/observer.py
Labels: cla signed

#51261 [Pytorch Mobile] Expose _export_operator_list to python
  test/mobile/test_lite_script_module.py
  torch/csrc/jit/python/script_init.cpp
  torch/jit/mobile/__init__.py
Labels: cla signed, oncall: jit

#51311 Revert "[Pytorch Mobile] Expose _export_operator_list to python"
  test/mobile/test_lite_script_module.py
  torch/csrc/jit/python/script_init.cpp
  torch/jit/mobile/__init__.py
Labels: cla signed, oncall: jit

#50554 [ONNX] Update constant-folding of Gather op
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/constant_fold.cpp
Labels: cla signed, oncall: jit, open source

#50504 [ONNX] Fix bug in unfold symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset12.py
Labels: cla signed, open source

#50512 [ONNX] Improve error message for parse_arg in symbolic functions
  torch/onnx/symbolic_helper.py
Labels: cla signed, open source

#50768 [ONNX] Export get/set attribute nodes
  scripts/onnx/test.sh
  test/onnx/test_pytorch_common.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx/list_model_parameters.cpp
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.h
  torch/onnx/symbolic_helper.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#50806 [ONNX] Enable remaining failed tests in opset13
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset13.py
Labels: cla signed, open source

#51193 [ONNX] Add silu operator support for onnx
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#50123 [ONNX] Fix graph position to insert clone node for inplace op removal
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
Labels: cla signed, oncall: jit, open source

#51305 [ONNX] Fix graph sequence output from loop node
  scripts/onnx/test.sh
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source
