Repository pytorch/pytorch, pull requests merged in 2021-05, with the labels that each got.

#56592 [ONNX] ListUnpack on dynamic tensor list
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/peephole.cpp
Labels: cla signed, oncall: jit, open source

#56989 [ONNX] Handle mixed mask, index input for index_put
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, open source

#56277 [ONNX] Fix split export in opset13
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset13.py
Labels: cla signed, open source

#57362 Bump LTS 1.8 version to 1.8.2 and hardcode builder branch
  .circleci/scripts/binary_checkout.sh
  .circleci/scripts/binary_populate_env.sh
  version.txt
Labels: ci/binaries, cla signed, open source

#55802 [ONNX] Handling incorrect format for example_outputs
  test/onnx/test_utility_funs.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/__init__.py
Labels: cla signed, oncall: jit, open source

#57196 optimal command buffer submission rate
  aten/src/ATen/native/vulkan/api/Command.h
Labels: cla signed

#57777 [LTS 1.8] Store Windows Artifacts
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
Labels: ci/binaries, cla signed, open source

#55051 [ONNX] Update instance_norm2 symbolic to handle track_running_stats=True
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#57564 [ONNX] RNN scripting
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#58359 Support symbolic for conv_tbc
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#58495 [release/1.9] Fix issues regarding binary_chekcout
  .circleci/scripts/setup_ci_environment.sh
Labels: cla signed

#56965 [ONNX] Update special post process for SequenceInsert after SequenceEmpty
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#57650 [ONNX] Improve lower tuples and handle control flow
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/lower_tuples.cpp
Labels: cla signed, oncall: jit, open source

#58514 [release/1.9] Pin builder and xla repo
  .circleci/scripts/binary_checkout.sh
  .jenkins/pytorch/build.sh
Labels: cla signed

#57757 [ONNX] use consistent quoting for string literals
  test/onnx/debug_embed_params.py
  test/onnx/export_onnx_tests_filter.py
  test/onnx/export_onnx_tests_generator.py
  test/onnx/pytorch_helper.py
  test/onnx/test_caffe2_common.py
  test/onnx/test_custom_ops.py
  test/onnx/test_models.py
  test/onnx/test_models_onnxruntime.py
  test/onnx/test_onnx_opset.py
  test/onnx/test_operators.py
  test/onnx/test_pytorch_common.py
  test/onnx/test_pytorch_helper.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_caffe2_quantized.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_pytorch_onnx_onnxruntime_cuda.py
  test/onnx/test_pytorch_onnx_shape_inference.py
  test/onnx/test_utility_funs.py
  test/onnx/test_verify.py
  test/onnx/verify.py
  torch/onnx/__init__.py
  torch/onnx/symbolic_caffe2.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset7.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/symbolic_registry.py
  torch/onnx/utils.py
Labels: cla signed, open source

#58317 [ONNX] handle aten::_set_item on Dict in convertInplaceOpsAndTrackAlias
  test/jit/test_onnx_export.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
Labels: cla signed, oncall: jit, open source

#58389 [ONNX] Enable support for roll() op.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#58589 [1.9] Remove torch.vmap
  docs/source/torch.rst
  test/test_vmap.py
  torch/__init__.py
Labels: cla signed

#58590 Add shape documentation for CosineEmbeddingLoss (#58403)
  torch/nn/modules/loss.py
Labels: cla signed

#58620 [1.9] remove gate for beta feature (torchscript support in torch.package)
  test/package/common.py
  torch/package/package_exporter.py
Labels: cla signed

#58714 Fix nonzero perf regressions
  aten/src/ATen/native/cuda/Nonzero.cu
Labels: cla signed

#58683 Adds grid_sampler to autocast fp32 list for release/1.9
  aten/src/ATen/autocast_mode.cpp
  docs/source/amp.rst
  torch/testing/_internal/autocast_test_lists.py
Labels: cla signed, open source

#58630 [PyTorch Edge] Use lite interpreter as default and bump model version
  .circleci/cimodel/data/simple/android_definitions.py
  .circleci/cimodel/data/simple/ios_definitions.py
  .circleci/config.yml
  .circleci/verbatim-sources/build-parameters/pytorch-build-params.yml
  .circleci/verbatim-sources/job-specs/job-specs-custom.yml
  android/pytorch_android/CMakeLists.txt
  android/pytorch_android/build.gradle
  android/pytorch_android/src/main/java/org/pytorch/PyTorchAndroid.java
  caffe2/serialize/versions.h
  ios/TestApp/TestApp/Benchmark.mm
  ios/TestApp/TestAppTests/TestAppTests.mm
  ios/TestApp/benchmark/setup.rb
  ios/TestApp/benchmark/trace_model.py
  scripts/build_android.sh
  scripts/build_ios.sh
  torch/csrc/jit/serialization/export_module.cpp
Labels: cla signed, oncall: jit

#58746 [Release/1.9] Enables builds with Compute Library backend for oneDNN (#55913)
  CMakeLists.txt
  cmake/Summary.cmake
  cmake/public/ComputeLibrary.cmake
  cmake/public/mkldnn.cmake
  setup.py
Labels: cla signed, open source

#58763 [release/1.9] Quote in setup-ci-env (#58637)
  .circleci/scripts/setup_ci_environment.sh
Labels: cla signed

#58752 [Release/1.9] catch exception when running print regression
  tools/print_test_stats.py
Labels: cla signed

#56594 [ONNX] Update Autograd Export Docs
  docs/source/onnx.rst
Labels: cla signed, open source

#58939 [1.9] Add no-grad inference mode note (#58513)
  docs/cpp/source/notes/inference_mode.rst
  docs/source/autograd.rst
  docs/source/notes/autograd.rst
  torch/autograd/grad_mode.py
  torch/nn/modules/module.py
  torch/nn/parameter.py
Labels: cla signed

#58940 Add mish activation function (#58648)
  aten/src/ATen/core/aten_interned_strings.h
  aten/src/ATen/native/Activation.cpp
  aten/src/ATen/native/Activation.h
  aten/src/ATen/native/cpu/Activation.cpp
  aten/src/ATen/native/cuda/Activation.cu
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/test/math_kernel_test.cpp
  docs/source/nn.functional.rst
  docs/source/nn.rst
  docs/source/scripts/build_activation_images.py
  test/cpp/api/functional.cpp
  test/cpp/api/modules.cpp
  test/cpp_api_parity/parity-tracker.md
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/quantization/test_quantize_fx.py
  test/test_fx.py
  test/test_module_init.py
  test/test_nn.py
  test/test_unary_ufuncs.py
  tools/autograd/derivatives.yaml
  tools/code_analyzer/default_op_deps.yaml
  torch/csrc/api/include/torch/enum.h
  torch/csrc/api/include/torch/nn/functional/activation.h
  torch/csrc/api/include/torch/nn/modules/activation.h
  torch/csrc/api/src/nn/modules/activation.cpp
  torch/csrc/autograd/FunctionsManual.cpp
  torch/csrc/autograd/FunctionsManual.h
  torch/csrc/jit/tensorexpr/external_functions_codegen.cpp
  torch/nn/functional.py
  torch/nn/functional.pyi.in
  torch/nn/modules/__init__.py
  torch/nn/modules/activation.py
  torch/onnx/symbolic_opset9.py
  torch/overrides.py
  torch/quantization/fx/quantization_patterns.py
  torch/quantization/ns/mappings.py
  torch/testing/_internal/common_nn.py
Labels: cla signed, fx, oncall: jit

#57003 [ONNX] Add support for torch.bernoulli() export
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#58141 [ONNX] Sum empty tensor could not be exported to ONNX successfully.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#58560 Symbolic for ReLu6
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#59001 Underscore prefix sparse_csr_tensor and to_sparse_csr
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/sparse/SparseCsrTensor.cpp
  benchmarks/sparse/utils.py
  docs/source/sparse.rst
  test/test_jit.py
  test/test_sparse_csr.py
  tools/autograd/gen_python_functions.py
  tools/autograd/templates/python_torch_functions.cpp
  tools/pyi/gen_pyi.py
  torch/_tensor.py
  torch/_tensor_docs.py
  torch/_torch_docs.py
  torch/csrc/utils/tensor_new.cpp
  torch/csrc/utils/tensor_new.h
  torch/overrides.py
  torch/testing/_internal/common_utils.py
Labels: cla signed

#58958 [docs] Clarify batch_first behavior for nn.LSTM, nn.RNN, and nn.GRU
  torch/nn/modules/rnn.py
Labels: cla signed

#59008 Fix build regression caused by #58940
  aten/src/ATen/native/cpu/Activation.cpp
Labels: cla signed

#59093 Add sparse_csr_tensor to BC allow-list
  test/backward_compatibility/check_backward_compatibility.py
Labels: cla signed

#59044 Add UninitializedBuffer to nn docs
  docs/source/nn.rst
Labels: cla signed

#59085 Add docstring for is_inference_mode_enabled and is_grad_enabled
  docs/source/torch.rst
  torch/_torch_docs.py
Labels: cla signed

#59048 [PyTorch] Remove device check from a few indexing methods (#58800)
  aten/src/ATen/native/native_functions.yaml
Labels: cla signed

#59072 fix nn.MHA scriptability (#58727)
  test/quantization/test_quantized_module.py
  torch/nn/modules/activation.py
  torch/nn/modules/linear.py
  torch/nn/quantizable/modules/activation.py
  torch/nn/quantized/dynamic/modules/linear.py
  torch/nn/quantized/modules/linear.py
  torch/quantization/ns/mappings.py
  torch/quantization/quantization_mappings.py
Labels: cla signed

#59105 Add underscores to some internal names
  torch/_C/_autograd.pyi
  torch/autograd/__init__.py
  torch/autograd/profiler.py
  torch/csrc/autograd/init.cpp
  torch/profiler/__init__.py
  torch/profiler/profiler.py
Labels: cla signed

#59119 Change link order for BUILD_SPLIT_CUDA option (#58437)
  caffe2/CMakeLists.txt
Labels: cla signed

#59116 [ROCm] fix JIT codegen (#57400)
  cmake/Dependencies.cmake
  tools/amd_build/build_amd.py
  torch/csrc/jit/codegen/cuda/executor_utils.cpp
  torch/csrc/jit/codegen/fuser/codegen.cpp
  torch/csrc/jit/codegen/fuser/cuda/resource_strings.h
  torch/csrc/jit/tensorexpr/cuda_codegen.cpp
Labels: cla signed, module: rocm, oncall: jit

#59118 Refactor GlooDeviceFactory::makeDeviceFor... (#58996)
  torch/lib/c10d/GlooDeviceFactory.cpp
Labels: cla signed, oncall: distributed

#59120 Split CUDA SpectralOp (#58459)
  aten/src/ATen/cuda/detail/CUDAHooks.cpp
  aten/src/ATen/cuda/detail/CUDAHooks.h
  aten/src/ATen/native/cuda/SpectralOps.cpp
  aten/src/ATen/native/cuda/SpectralOps.cu
  aten/src/THC/THCGeneral.h.in
  aten/src/THC/THCTensorMathMagma.cu
  caffe2/CMakeLists.txt
Labels: cla signed

#59121 Collect kernel version (#58485)
  torch/utils/collect_env.py
Labels: cla signed

#59055 fix unique for discontiguous inputs
  aten/src/ATen/native/cuda/UniqueCub.cu
  test/test_sort_and_select.py
Labels: cla signed

#59045 Document factory_kwargs in nn.Quantize + remove Attributes section
  torch/nn/quantized/modules/__init__.py
Labels: cla signed
