Repository pytorch/pytorch, pull requests merged in 2021-06, with the labels that each got.

#59266 [v1.9] [c10d] Fix monitored_barrier with wait_all_ranks
  torch/lib/c10d/ProcessGroupGloo.cpp
  torch/testing/_internal/distributed/distributed_test.py
Labels: cla signed, oncall: distributed

#59273 [pkg] simplifications to broken dependency handling (#58572)
  test/package/test_dependency_api.py
  torch/package/package_exporter.py
Labels: cla signed

#59272 [pkg] Catch exceptions where dependency resolution gets invalid imports (#58573)
  test/package/test_dependency_api.py
  torch/package/package_exporter.py
Labels: cla signed

#59275 Add breakpad + debug builds
  .circleci/docker/build.sh
  .circleci/docker/common/install_breakpad.sh
  .circleci/scripts/binary_linux_test.sh
  caffe2/CMakeLists.txt
  test/test_cpp_extensions_jit.py
  test/test_utils.py
  tools/build_variables.bzl
  torch/_C/__init__.pyi.in
  torch/csrc/Module.cpp
  torch/csrc/utils/crash_handler.cpp
  torch/csrc/utils/crash_handler.h
  torch/csrc/utils/init.cpp
  torch/utils/__init__.py
  torch/utils/_crash_handler.py
Labels: cla signed

#59274 Build with USE_GLOO_WITH_OPENSSL=1
  .circleci/scripts/binary_populate_env.sh
Labels: cla signed

#59339 [Release-1.9] Disable failing ROCM-4.2 tests
  test/test_nn.py
Labels: cla signed

#59341 [vulkan] Remove constant duplication for Vulkan optimize_for_mobile
  torch/csrc/jit/passes/vulkan_rewrite.cpp
Labels: cla signed, oncall: jit

#59367 Added missing namespaces for C++ API (#45736)
  aten/src/ATen/DeviceGuard.h
  aten/src/ATen/core/NamedTensor.h
Labels: cla signed, open source

#59462 [release/1.9] .circleci: Disable USE_GOLD_LINKER for CUDA 10.2 (#59413)
  .circleci/scripts/binary_populate_env.sh
Labels: cla signed, module: build

#59452 Fix torch.randperm for CUDA (#59352)
  aten/src/ATen/native/cuda/Randperm.cu
  test/test_tensor_creation_ops.py
Labels: cla signed

#59463 Search for static OpenBLAS compiled with OpenMP (#59428)
  cmake/Modules/FindBLAS.cmake
  cmake/Modules/FindLAPACK.cmake
Labels: cla signed

#59470 Prefer accurate reciprocal on ARMv8 (#59361)
  aten/src/ATen/cpu/vec256/vec256_float_neon.h
Labels: cla signed

#59500 Do not use gold linker for CUDA builds (#59490)
  .circleci/scripts/binary_populate_env.sh
Labels: cla signed

#59501 Move CUDA async warning to suffix (#59467)
  c10/cuda/CUDAException.h
  c10/cuda/CUDAFunctions.cpp
  c10/cuda/CUDAFunctions.h
Labels: cla signed

#59502 Fix test_randperm_device_compatibility for 1 GPU (#59484)
  test/test_tensor_creation_ops.py
Labels: cla signed

#59255 [ONNX] Add new_ones symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#59122 Handle onnx::Size in ComputeConstant folding
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/constant_fold.cpp
  torch/csrc/jit/passes/onnx/constant_fold.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#59320 [ONNX] Fix shape inference for large model
  torch/csrc/jit/python/python_ir.cpp
  torch/csrc/jit/serialization/export.cpp
Labels: cla signed, oncall: jit, open source

#59316 [ONNX] Fix sum export with attribute keepdims
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
Labels: cla signed, open source

#58854 [ONNX] Add linspace symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#59644 [ONNX] Extend chunk for dynamic chunk values
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
Labels: cla signed, open source

#59757 Make detach return an alias even under inference mode (#59633)
  aten/src/ATen/native/TensorProperties.cpp
  aten/src/ATen/native/TensorShape.cpp
Labels: cla signed

#59873 [Release/1.9] Link whole CuDNN for CUDA-11.1
  .circleci/scripts/binary_populate_env.sh
  CMakeLists.txt
  caffe2/CMakeLists.txt
  cmake/Dependencies.cmake
  cmake/Summary.cmake
  cmake/public/cuda.cmake
Labels: cla signed

#59672 hold references to storages during TorchScript serializaiton
  torch/csrc/jit/serialization/export.h
  torch/csrc/jit/serialization/export_module.cpp
Labels: cla signed, oncall: jit

#59886 [docs] Add torch.package documentation for beta release
  docs/source/package.rst
  torch/package/file_structure_representation.py
  torch/package/package_exporter.py
  torch/package/package_importer.py
Labels: cla signed

#59976 [docs] Add pickle security warning to package docs (#59959)
  docs/source/package.rst
Labels: cla signed

#60117 [package] fix tutorial link (#60113)
  docs/source/package.rst
Labels: cla signed

#59319 [ONNX] shape type inference fixes for control flow
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#58712 [ONNX] Update documentation
  caffe2/contrib/aten/docs/sample.py
  docs/source/onnx.rst
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#59685 [ONNX] Support tensor list as module attribute
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
Labels: cla signed, oncall: jit, open source

#60392 Add proper implementations for select, slice and squeeze
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_xla_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#60467 Remove references to NNC
  lazy_tensor_core/QUICKSTART.md
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_xla_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_computation_client.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/setup.py
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/third_party/computation_client/nnc_computation_client.cc
  lazy_tensor_core/third_party/computation_client/nnc_computation_client.h
  lazy_tensor_core/torch_patches/X10-codegen.diff
Labels: cla signed

#58651 [ONNX] Fix the issue of converting empty list to sequence.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/helper.cpp
  torch/csrc/jit/passes/onnx/helper.h
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#60743 Fix --dry-run option in tools/linter/clang_tidy.py
  tools/linter/clang_tidy.py
Labels: cla signed
