Repository pytorch/pytorch, pull requests merged in 2021-04, with the labels that each got.

#54587 [ONNX] Add support for hann_window operator.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#54112 [ONNX] Fix assign input shape for tuple inputs & primitive type inputs
  aten/src/ATen/core/jit_type.h
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/erase_number_types.cpp
  torch/csrc/jit/python/script_init.cpp
Labels: cla signed, oncall: jit, open source

#54312 [ONNX] Update repeat_interleave symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#55729 fixed whitespace, store getter and function overloading
  torch/lib/c10d/ProcessGroupGloo.cpp
  torch/lib/c10d/test/ProcessGroupGlooTest.cpp
Labels: cla signed, oncall: distributed

#55654 [ONNX] Enable tensordot symbolic function.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset12.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#55770 [ONNX] Fix onnx/constant_fold.cpp compilation on Windows
  torch/csrc/jit/passes/onnx/constant_fold.cpp
Labels: cla signed, oncall: jit, open source

#55259 [ONNX] Add support for prim::min
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#55470 [ONNX] Export mv op
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#54310 [ONNX] enable word_language_model GRU and LSTM scripting
  test/onnx/model_defs/word_language_model.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
Labels: cla signed, open source

#56053 [ONNX] Fix ComputeShapeFromReshape when input_shape_size < reshape_size
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#53813 Add standardOps match more input type in ORT
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx/scalar_type_analysis.cpp
  torch/csrc/jit/passes/onnx/scalar_type_analysis.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/python/init.cpp
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#55033 [ONNX] Redesign inplace conversion
  .jenkins/caffe2/test.sh
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, oncall: jit, open source

#56087 Add high-level overview of adding vendor backends
  lazy_tensor_core/QUICKSTART.md
  lazy_tensor_core/README.md
Labels: cla signed

#55697 [ONNX] Support .item() export & NumberType to tensor conversion
  aten/src/ATen/core/jit_type.h
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#55151 [ONNX] Warning when using __len__ to calculate tensor shape
  torch/_tensor.py
Labels: cla signed, open source

#56859 [ONNX] Add a new operator for fill_() function.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#55962 [ONNX] Special post process for onnx::Cast and onnx::ConstantOfShape shape type inference
  scripts/onnx/test.sh
  test/onnx/test_pytorch_onnx_shape_inference.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source

#56956 onnx.symbolic_helper.parse_args: document and clean up
  torch/onnx/symbolic_helper.py
Labels: cla signed, fx, oncall: distributed, oncall: jit, open source

#56857 [ONNX] Add support for calling tensor.to(tensor.device).
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: cla signed, open source

#55630 [ONNX] Support registering custom export for prim::PythonOp from torch.autograd.Function
  test/onnx/test_custom_ops.py
  test/onnx/test_models.py
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/python/python_ir.cpp
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#56449 [ONNX] Handle PackedParams inputs for _propagate_and_assign_input_shapes
  torch/_C/__init__.pyi.in
  torch/csrc/jit/python/script_init.cpp
  torch/onnx/utils.py
Labels: cla signed, open source

#54569 [ONNX] Process const folding progressively when converts to ONNX
  test/onnx/expect/TestOperators.test_arange_dynamic.expect
  test/onnx/expect/TestOperators.test_empty_like.expect
  test/onnx/expect/TestOperators.test_full.expect
  test/onnx/expect/TestOperators.test_full_like.expect
  test/onnx/expect/TestOperators.test_ones_like.expect
  test/onnx/expect/TestOperators.test_slice_dynamic.expect
  test/onnx/expect/TestOperators.test_view_flatten.expect
  test/onnx/expect/TestOperators.test_zeros_like.expect
  test/onnx/test_onnx_opset.py
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  test/onnx/verify.py
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/passes/onnx.h
  torch/csrc/jit/passes/onnx/cast_all_constant_to_floating.cpp
  torch/csrc/jit/passes/onnx/constant_fold.cpp
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/utils.py
Labels: cla signed, oncall: jit, open source

#54623 [ONNX] Handle NoneType in Assign Output Shapes
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: cla signed, oncall: jit, open source
