Repository pytorch/pytorch, pull requests merged in 2021-09, with the labels that each got.

#53175 Add onnx test for batched_nms
  test/onnx/test_pytorch_onnx_onnxruntime.py
Labels: cla signed, Stale

#64271 [FX] Fix python code generation for wrapped getattr() with default value
  test/test_fx.py
  torch/fx/graph.py
Labels: cla signed, fx

#62257 [ONNX] Deprecate use_external_data_format param from torch.onnx.export() function.
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/python/python_ir.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/csrc/jit/serialization/export.h
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed

#64357 [ONNX] Fix use external data format PR rebase error
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: open source, cla signed

#64230 [ONNX] Fix remainder export
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset7.py
  torch/onnx/symbolic_opset8.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#64290 [ONNX] Update doc and error message for indexing export
  docs/source/onnx.rst
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/pattern_conversion/pattern_conversion.cpp
Labels: oncall: jit, open source, cla signed

#64233 [ONNX] Fix inplace fill_ dtype export mismatch
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/remove_mutation.cpp
Labels: oncall: jit, open source, cla signed

#64042 [ONNX] Enable export of __xor_
  test/onnx/test_pytorch_onnx_caffe2.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#64617 [Release-1.9.1] Fix CI failures
  .circleci/docker/common/install_breakpad.sh
  .circleci/docker/ubuntu-cuda/Dockerfile
  .circleci/docker/ubuntu/Dockerfile
  requirements.txt
Labels: cla signed, ciflow/default

#64648 [Release-1.9] .circleci: Remove conda-package-handling pin (#62290)
  .circleci/scripts/binary_linux_test.sh
Labels: cla signed, ciflow/default

#64616 [Release-1.9] Stop warning on .names() access in max_pool2d and max_pool2d_backward
  aten/src/ATen/native/DilatedMaxPool2d.cpp
  test/test_namedtensor.py
Labels: cla signed, ciflow/default

#64651 [Release-1.9] Remove Caffe2 thread-pool leak warning (#60318)
  caffe2/utils/threadpool/pthreadpool-cpp.cc
Labels: cla signed, ciflow/default

#64659 [Release-1.9.1] Fix infinite loop in `_validate_not_a_forked_repo()` (#62072)
  torch/hub.py
Labels: cla signed, ciflow/default

#64677 [Release-1.9.1] Add option to skip GH validation for torch.hub (#62139)
  torch/hub.py
Labels: cla signed, ciflow/default

#64679 Update torch.distributed.run OMP_NUM_THREADS message to log.warning (#63953)
  torch/distributed/run.py
Labels: oncall: distributed, cla signed, ciflow/default

#64681 [torch/elastic] Pretty print the failure message captured by @record (#64036)
  torch/distributed/elastic/multiprocessing/errors/__init__.py
  torch/distributed/elastic/multiprocessing/errors/error_handler.py
Labels: oncall: distributed, cla signed, ciflow/default

#64702 [Release-1.9.1] fix mm not correctly report TORCH_CHECK failure issue (#61394)
  aten/src/ATen/native/LinearAlgebra.cpp
  aten/src/ATen/native/cuda/LinearAlgebra.cu
  test/test_linalg.py
Labels: cla signed, ciflow/default

#64792 [torch/distributed] remove outdated FutureWarning in distributed/elastic/util/store.py (#60807)
  torch/distributed/elastic/utils/store.py
Labels: oncall: distributed, cla signed, ciflow/default

#64791 [Release-1.9.1][torch] Set `nproc_per_node` to 1 (#61552)
  test/distributed/launcher/run_test.py
  torch/distributed/run.py
Labels: oncall: distributed, cla signed, ciflow/default

#64796 [Release-1.9.1] Remove use_env from torch.distributed.run, clarify bc around that parameter in comment. (#59409)
  torch/distributed/run.py
Labels: oncall: distributed, cla signed, ciflow/default

#64797 [Release-1.9.1] [torch] Various improvements to `torch.distributed.launch` and `torch.distributed.run` (#60925)
  docs/source/elastic/errors.rst
  docs/source/elastic/run.rst
  docs/source/elastic/train_script.rst
  torch/distributed/elastic/agent/server/local_elastic_agent.py
  torch/distributed/elastic/events/__init__.py
  torch/distributed/elastic/events/handlers.py
  torch/distributed/elastic/multiprocessing/api.py
  torch/distributed/elastic/utils/logging.py
  torch/distributed/elastic/utils/store.py
  torch/distributed/launch.py
  torch/distributed/launcher/api.py
  torch/distributed/run.py
Labels: oncall: distributed, cla signed, ciflow/default

#64798 [Release-1.9.1]: Fix elastic launch doc (#62378)
  docs/source/elastic/train_script.rst
Labels: cla signed, ciflow/default

#60534 [ONNX] Support tensorList when Infers shape and type uninitialized output
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
Labels: oncall: jit, open source, cla signed

#64190 [ONNX] Fix duplicated output same name case
  test/onnx/test_utility_funs.py
  torch/onnx/utils.py
Labels: open source, cla signed

#64780 [ONNX] Enable scripting tests
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#64460 [ONNX] Allow registration of custom symbolics for prim namespace
  docs/source/onnx.rst
  test/onnx/test_custom_ops.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/onnx/symbolic_registry.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed

#64831 [Release-1.9.1] Pin macos mkl conda version to fix the cmake build (#61773)
  .jenkins/pytorch/macos-common.sh
Labels: cla signed, ciflow/default

#64826 (torch.distributed) Add torch.distributed.is_torchelastic_launched() util method + make init_method=tcp:// compatible with torchelastic (#63910)
  docs/source/distributed.rst
  test/distributed/launcher/bin/test_script_init_method.py
  test/distributed/launcher/bin/test_script_is_torchelastic_launched.py
  test/distributed/launcher/run_test.py
  torch/distributed/distributed_c10d.py
  torch/distributed/launch.py
  torch/distributed/rendezvous.py
  torch/distributed/run.py
Labels: oncall: distributed, cla signed

#64790 [Operator] Adding support for Threshold operator
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed

#64944 [ONNX] Add prim::PythonOp check back in export.cpp
  torch/csrc/jit/serialization/export.cpp
Labels: oncall: jit, open source, cla signed

#64971 Fix builder pinning
  .circleci/scripts/binary_checkout.sh
Labels: cla signed, ciflow/default

#63589 [ONNX] Export nn.Module call as ONNX local function
  test/onnx/expect/TestOperators.test_aten_embedding_2.expect
  test/onnx/test_utility_funs.py
  tools/build_variables.bzl
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/canonicalize_graph_fuser_ops.cpp
  torch/csrc/jit/passes/erase_number_types.cpp
  torch/csrc/jit/passes/lower_tuples.cpp
  torch/csrc/jit/passes/onnx.cpp
  torch/csrc/jit/passes/onnx/cast_all_constant_to_floating.cpp
  torch/csrc/jit/passes/onnx/constant_map.cpp
  torch/csrc/jit/passes/onnx/constant_map.h
  torch/csrc/jit/passes/onnx/eval_peephole.cpp
  torch/csrc/jit/passes/onnx/fixup_onnx_controlflow.cpp
  torch/csrc/jit/passes/onnx/function_extraction.cpp
  torch/csrc/jit/passes/onnx/function_extraction.h
  torch/csrc/jit/passes/onnx/function_substitution.cpp
  torch/csrc/jit/passes/onnx/helper.cpp
  torch/csrc/jit/passes/onnx/helper.h
  torch/csrc/jit/passes/onnx/pattern_conversion/pattern_conversion.cpp
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/csrc/jit/passes/onnx/prepare_division_for_onnx.cpp
  torch/csrc/jit/passes/onnx/preprocess_for_onnx.cpp
  torch/csrc/jit/passes/onnx/remove_inplace_ops_for_onnx.cpp
  torch/csrc/jit/passes/onnx/scalar_type_analysis.cpp
  torch/csrc/jit/python/init.cpp
  torch/csrc/jit/python/python_ir.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/csrc/jit/serialization/export.h
  torch/onnx/__init__.py
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed

#64289 [ONNX] Update sum symbolic to handle dtypes
  test/onnx/expect/TestOperators.test_mean_dtype.expect
  test/onnx/expect/TestOperators.test_prod_dtype.expect
  test/onnx/expect/TestOperators.test_reduced_mean_dtype.expect
  test/onnx/expect/TestOperators.test_reduced_prod_dtype.expect
  test/onnx/expect/TestOperators.test_reduced_sum_dtype.expect
  test/onnx/expect/TestOperators.test_sum_dtype.expect
  test/onnx/test_operators.py
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset13.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#58849 remove git stamp from release documentation version
  docs/source/conf.py
Labels: open source, Merged, cla signed

#64955 [JIT] Improve BatchMM mutability handling
  test/jit/test_batch_mm.py
  test/test_jit.py
  torch/csrc/jit/passes/batch_mm.cpp
  torch/csrc/jit/python/init.cpp
Labels: oncall: jit, cla signed

#65008 [LTC] Enable CI for building and testing
  .jenkins/pytorch/build.sh
  .jenkins/pytorch/test.sh
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
Labels: cla signed

#63170 [ONNX] Add warning for inplace updates on tensor.shape in tracing mode
  docs/source/onnx.rst
  torch/csrc/jit/passes/remove_inplace_ops.cpp
Labels: oncall: jit, open source, cla signed

#64470 ONNX: Delete or document skipped ORT tests
  test/onnx/test_pytorch_onnx_onnxruntime.py
Labels: module: onnx, open source, cla signed

#65356 [ONNX] Fix expect files added in #64289
  test/onnx/expect/TestOperators.test_mean_dtype.expect
  test/onnx/expect/TestOperators.test_prod_dtype.expect
  test/onnx/expect/TestOperators.test_reduced_mean_dtype.expect
  test/onnx/expect/TestOperators.test_reduced_prod_dtype.expect
  test/onnx/expect/TestOperators.test_reduced_sum_dtype.expect
  test/onnx/expect/TestOperators.test_sum_dtype.expect
Labels: open source, cla signed

#65379 [ONNX] fix docs
  torch/onnx/__init__.py
Labels: open source, cla signed

#64104 Add basic ltc codegen to staging branch
  aten/src/ATen/templates/DispatchKeyNativeFunctions.cpp
  aten/src/ATen/templates/LazyIr.h
  aten/src/ATen/templates/LazyTsLowering.cpp
  aten/src/ATen/templates/ShapeDtype.h
  lazy_tensor_core/.gitignore
  lazy_tensor_core/lazy_tensor_core/csrc/ops/mean.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/mean.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_methods.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/LazyShapeDtype.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensors/literal.h
  lazy_tensor_core/lazy_tensors/shape.cc
  lazy_tensor_core/lazy_tensors/shape.h
  lazy_tensor_core/lazy_tensors/str_join.cc
  lazy_tensor_core/lazy_tensors/str_join.h
  lazy_tensor_core/scripts/generate_code.sh
  lazy_tensor_core/third_party/computation_client/util.cc
  lazy_tensor_core/third_party/computation_client/util.h
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/api/lazy.py
  tools/codegen/dest/__init__.py
  tools/codegen/dest/lazy_ir.py
  tools/codegen/dest/lazy_ts_lowering.py
  tools/codegen/dest/native_functions.py
  tools/codegen/gen_backend_stubs.py
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed

#65285 [ONNX] publicize func for discovering unconvertible ops
  docs/source/onnx.rst
  test/onnx/test_utility_funs.py
  torch/onnx/utils.py
Labels: open source, cla signed

#65421 [ONNX] Fix code block formatting in doc
  docs/source/onnx.rst
Labels: cla signed

#65014 [JIT] canonicalize aten::rsub
  test/jit/test_peephole.py
  test/test_jit_fuser_te.py
  test/test_ops.py
  torch/csrc/jit/passes/normalize_ops.cpp
Labels: oncall: jit, cla signed

#65433 [release/1.10] Pin builder and xla repo
  .circleci/scripts/binary_checkout.sh
  .jenkins/pytorch/common_utils.sh
Labels: cla signed, ciflow/default

#65529 Auto-gen the 'mm' Op in the new lazy tensor core.
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_methods.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/dest/lazy_ir.py
Labels: open source, cla signed

#65496 [1.10] Remove torch.vmap
  docs/source/torch.rst
  test/test_vmap.py
  torch/__init__.py
Labels: cla signed, ciflow/default

#64454 [ONNX] Add diagonal symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset13.py
Labels: open source, cla signed

#65697 [ONNX] Deprecate fold_if pass
  tools/build_variables.bzl
  torch/_C/__init__.pyi.in
  torch/csrc/jit/passes/onnx/fold_if_node.cpp
  torch/csrc/jit/passes/onnx/fold_if_node.h
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
  torch/csrc/jit/python/init.cpp
Labels: oncall: jit, open source, cla signed

#65787 Fix test reporting git merge-base
  tools/stats/print_test_stats.py
Labels: ciflow/default

#65001 [ONNX] Modify softplus symbolic to support beta!=1
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed

#65835 Fix the slowdown of _object_to_tensor since 1.9 (#65721)
  torch/distributed/distributed_c10d.py
Labels: oncall: distributed, cla signed, ciflow/default

#65633 [LTC] Auto-gen the 'mv' and 'mv.out' Op in the new lazy tensor core.
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_methods.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/LazyShapeDtype.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: open source, cla signed
