Repository pytorch/pytorch, pull requests merged in 2022-03, with the labels that each got.

#72936 LTC: reuse compiled graph
  lazy_tensor_core/lazy_tensor_core/core/extract_compiled_graph.py
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/test/test_extract_compiled_graph.py
  torch/csrc/lazy/core/cache.h
  torch/csrc/lazy/core/ir_dump_util.cpp
  torch/csrc/lazy/core/lazy_graph_executor.cpp
  torch/csrc/lazy/core/lazy_graph_executor.h
Labels: cla signed, ciflow/default

#73497 [v1.11] Also install c10d headers with .h extension (#73422)
  caffe2/CMakeLists.txt
  setup.py
Labels: cla signed, ciflow/default

#73740 [GHA] Increase ASAN test timeout to 5h
  .github/scripts/generate_ci_workflows.py
  .github/templates/common.yml.j2
  .github/templates/linux_ci_workflow.yml.j2
  .github/templates/windows_ci_workflow.yml.j2
  .github/workflows/generated-linux-bionic-cuda10.2-py3.9-gcc7.yml
  .github/workflows/generated-linux-bionic-py3.7-clang9.yml
  .github/workflows/generated-linux-bionic-rocm4.5-py3.7.yml
  .github/workflows/generated-linux-vulkan-bionic-py3.7-clang9.yml
  .github/workflows/generated-linux-xenial-cuda11.3-py3.7-gcc7.yml
  .github/workflows/generated-linux-xenial-py3.7-clang7-asan.yml
  .github/workflows/generated-linux-xenial-py3.7-clang7-onnx.yml
  .github/workflows/generated-linux-xenial-py3.7-gcc5.4.yml
  .github/workflows/generated-linux-xenial-py3.7-gcc7.yml
  .github/workflows/generated-parallelnative-linux-xenial-py3.7-gcc5.4.yml
  .github/workflows/generated-periodic-linux-bionic-cuda11.5-py3.7-gcc7.yml
  .github/workflows/generated-periodic-linux-xenial-cuda10.2-py3-gcc7-slow-gradcheck.yml
  .github/workflows/generated-periodic-linux-xenial-cuda11.3-py3.7-gcc7-debug.yml
  .github/workflows/generated-periodic-win-vs2019-cuda11.5-py3.yml
  .github/workflows/generated-pytorch-xla-linux-bionic-py3.7-clang8.yml
  .github/workflows/generated-win-vs2019-cpu-py3.yml
Labels: module: rocm, cla signed, ciflow/default

#73728 Add a section on how to enable logging in LTC
  lazy_tensor_core/QUICKSTART.md
Labels: cla signed, ciflow/default

#73580 Disable special scalar handling for the TS backend
  torch/csrc/lazy/core/config.cpp
  torch/csrc/lazy/core/config.h
  torch/csrc/lazy/core/tensor_util.cpp
Labels: cla signed, ciflow/default

#72742 [LTS] CircleCI: Deprecate `gpu.medium` class
  .circleci/cimodel/data/binary_build_definitions.py
  .circleci/cimodel/data/pytorch_build_definitions.py
  .circleci/cimodel/data/simple/binary_smoketest.py
  .circleci/cimodel/data/simple/ge_config_tests.py
  .circleci/config.yml
  .circleci/scripts/setup_ci_environment.sh
  .jenkins/pytorch/build.sh
Labels: open source, cla signed, ciflow/default

#72877 [LTS] Skip large tensor tests that cause OOM kill on CircleCI
  test/test_torch.py
  torch/testing/_internal/common_utils.py
Labels: open source, cla signed, ciflow/default

#72445 [LTS] Install dependencies explicitly before pytorch package for conda (pytorch repo)
  .circleci/scripts/binary_macos_test.sh
Labels: open source, cla signed, ciflow/default

#72611 [LTS] Skip TestSerialization.test_lstm if avx512_vnni supported
  test/quantization/test_backward_compatibility.py
  torch/testing/_internal/common_utils.py
Labels: open source, cla signed, ciflow/default

#72783 [LTS] CherryPick: Resolve attribute error in ONNX CI
  test/onnx/test_models_onnxruntime.py
Labels: open source, cla signed, ciflow/default

#72605 [LTS] CherryPick: Use latest ubuntu supported by CircleCI
  .circleci/config.yml
  .circleci/scripts/setup_ci_environment.sh
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
  .circleci/verbatim-sources/job-specs/binary_update_htmls.yml
  .circleci/verbatim-sources/job-specs/docker_jobs.yml
  .circleci/verbatim-sources/job-specs/job-specs-custom.yml
  .circleci/verbatim-sources/job-specs/pytorch-job-specs.yml
Labels: open source, cla signed, ciflow/default

#72236 [LTS] CherryPick: Update clang-format linux hash and yaml import calls
  caffe2/contrib/aten/gen_op.py
  test/test_namedtuple_return_api.py
  tools/autograd/gen_python_functions.py
  tools/autograd/load_derivatives.py
  tools/clang_format_hash/linux64/clang-format-linux64
  tools/clang_format_hash/mac/clang-format-mojave
  tools/clang_format_utils.py
  tools/clang_tidy.py
  tools/codegen/gen.py
  tools/codegen/selective_build/selector.py
  tools/setup_helpers/generate_code.py
Labels: open source, cla signed, ciflow/default

#73615 use codegen for sub
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#72923 [LTS] CherryPick: Add multi gpu checker for `TestZeroRedundancyOptimizer.test_collect_shards`
  test/distributed/optim/test_zero_redundancy_optimizer.py
Labels: open source, cla signed, ciflow/default

#73758 Implement TensorList and demonstrate it via Stack op
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  torch/csrc/lazy/backend/backend_device.cpp
  torch/csrc/lazy/backend/backend_device.h
  torch/csrc/lazy/core/tensor.cpp
  torch/csrc/lazy/core/tensor.h
  torch/csrc/lazy/ts_backend/ts_node.cpp
  torch/csrc/lazy/ts_backend/ts_node.h
Labels: cla signed, ciflow/default

#73889 Update lazy_bench.py to use atol=1e-4
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#73896 Fix libtorch_cuda_linalg builds
  caffe2/CMakeLists.txt
Labels: cla signed, ciflow/default, ciflow/binaries

#73900 Re-enable Windows debug libtorch
  .circleci/config.yml
  .circleci/scripts/binary_populate_env.sh
  .circleci/verbatim-sources/build-parameters/binary-build-params.yml
  .github/generated-ciflow-ruleset.json
  .github/scripts/generate_binary_build_matrix.py
  .github/scripts/generate_ci_workflows.py
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/generated-windows-binary-libtorch-debug.yml
  .github/workflows/generated-windows-binary-libtorch-release.yml
Labels: cla signed, ciflow/default

#73613 Support _to_copy to enable AMP
  lazy_tensor_core/lazy_tensor_core/csrc/ops/to_copy.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/api/lazy.py
  torch/csrc/lazy/core/hash.h
  torch/csrc/lazy/core/shape_inference.cpp
  torch/csrc/lazy/core/shape_inference.h
Labels: cla signed, ciflow/default

#72890 [LTS] Stick to conda-4.10 for 3.6 on Windows
  .circleci/cimodel/data/simple/ios_definitions.py
  .jenkins/pytorch/win-test-helpers/installation-helpers/install_miniconda3.bat
  .jenkins/pytorch/win-test-helpers/setup_pytorch_env.bat
Labels: open source, cla signed, ciflow/default

#72922 [LTS] Increase timeout for `TensorPipeDistAutogradTestWithSpawn.test_multiple_backward`
  .jenkins/pytorch/perf_test/common.sh
  torch/testing/_internal/common_distributed.py
Labels: open source, cla signed, ciflow/default

#72231 [LTS] CherryPick: Ensure libgnutls30 for all docker builds
  .circleci/docker/build_docker.sh
  .circleci/docker/common/install_base.sh
Labels: open source, cla signed, ciflow/default

#72744 [LTS] CherryPick: Quote in setup-ci-env
  .circleci/scripts/setup_ci_environment.sh
Labels: open source, cla signed, ciflow/default

#72286 [LTS] Pin pytorch/manylinux images for python 3.6 manywheel build/test jobs
  .circleci/cimodel/data/binary_build_definitions.py
  .circleci/config.yml
Labels: open source, cla signed, ciflow/default

#73729 [LT] Eliminate copy cost in the DDP eager fallback
  torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp
Labels: oncall: distributed, cla signed, ciflow/default

#73892 delete unimplemented ops (nms, svd)
  lazy_tensor_core/lazy_tensor_core/core/functions.py
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/nms.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/nms.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/svd.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/svd.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
Labels: cla signed, ciflow/default

#73861 Fix typo and broken link in LazyTensor documentation
  lazy_tensor_core/API_GUIDE.md
  lazy_tensor_core/README.md
Labels: cla signed, ciflow/default

#73886 Implement codegen repeat op
  lazy_tensor_core/lazy_tensor_core/csrc/ops/repeat.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/repeat.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/ts_native_functions.yaml
  torch/csrc/lazy/core/shape_inference.cpp
  torch/csrc/lazy/core/shape_inference.h
Labels: cla signed, ciflow/default

#73793 Implement codegen for TensorList
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cat.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/cat.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/stack.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/stack.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/api/lazy.py
  tools/codegen/dest/lazy_ir.py
  torch/csrc/lazy/core/shape_inference.cpp
  torch/csrc/lazy/core/shape_inference.h
Labels: cla signed, ciflow/default

#73887 [LT] run_tests.sh for python3.9
  lazy_tensor_core/test/cpp/run_tests.sh
Labels: cla signed, ciflow/default

#73979 basic op_info tests
  lazy_tensor_core/test/test_lazy.py
Labels: cla signed, ciflow/default

#74018 Add M1 Py3.10 build definitions
  .circleci/cimodel/data/binary_build_data.py
  .circleci/config.yml
Labels: cla signed, ciflow/default

#74003 OpInfo-based correctness tests for LTC
  lazy_tensor_core/test/test_lazy.py
Labels: cla signed, ciflow/default

#74029 Emit std::string instead of c10::string_view for Lazy IR class
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#74183 [LT] Skip tacotron2 and demucs in lazy_bench.py
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#74071 move shape to Node base
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/squeeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ts_native_batch_norm_backward.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/ts_native_batch_norm_forward.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/unsqueeze.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_shape_inference.cpp
  test/cpp/lazy/test_cache.cpp
  test/cpp/lazy/test_ir.cpp
  test/cpp/lazy/test_ir_util.cpp
  torch/csrc/lazy/core/ir.h
  torch/csrc/lazy/core/tensor.cpp
  torch/csrc/lazy/core/view_ops/as_strided.cpp
  torch/csrc/lazy/core/view_ops/as_strided_view_update.cpp
  torch/csrc/lazy/core/view_ops/diagonal.cpp
  torch/csrc/lazy/core/view_ops/diagonal_view_update.cpp
  torch/csrc/lazy/core/view_ops/narrow.cpp
  torch/csrc/lazy/core/view_ops/narrow_view_update.cpp
  torch/csrc/lazy/core/view_ops/permute.cpp
  torch/csrc/lazy/core/view_ops/resize.cpp
  torch/csrc/lazy/core/view_ops/select.cpp
  torch/csrc/lazy/core/view_ops/select_view_update.cpp
  torch/csrc/lazy/core/view_ops/squeeze.cpp
  torch/csrc/lazy/core/view_ops/unsqueeze.cpp
  torch/csrc/lazy/core/view_ops/view.cpp
  torch/csrc/lazy/ts_backend/ops/arithmetic_ir_ops.cpp
  torch/csrc/lazy/ts_backend/ops/cast.cpp
  torch/csrc/lazy/ts_backend/ops/expand.cpp
  torch/csrc/lazy/ts_backend/ts_node.cpp
  torch/csrc/lazy/ts_backend/ts_node.h
Labels: cla signed, ciflow/default

#74270 [GHA][BE] Delete unused definitions
  .github/templates/android_ci_full_workflow.yml.j2
  .github/templates/android_ci_workflow.yml.j2
  .github/templates/bazel_ci_workflow.yml.j2
Labels: cla signed, ciflow/default

#73939 Add support for c10::Generator to lazy codegen and move bernoulli/random ops
  lazy_tensor_core/lazy_tensor_core/csrc/ops/bernoulli.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/bernoulli.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/random.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/api/lazy.py
  tools/codegen/dest/lazy_ir.py
  tools/codegen/dest/lazy_ts_lowering.py
  torch/csrc/lazy/core/shape_inference.cpp
  torch/csrc/lazy/core/shape_inference.h
Labels: cla signed, ciflow/default

#74477 Codegen uniform_
  lazy_tensor_core/ts_native_functions.yaml
  torch/csrc/lazy/core/shape_inference.cpp
  torch/csrc/lazy/core/shape_inference.h
Labels: cla signed, ciflow/default

#73973 Add non-eager registration to dispatch autogen
  aten/src/ATen/templates/DispatchKeyNativeFunctions.h
  aten/src/ATen/templates/RegisterDispatchKey.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
  lazy_tensor_core/scripts/generate_code.sh
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  tools/codegen/gen.py
  tools/codegen/gen_backend_stubs.py
  tools/codegen/gen_lazy_tensor.py
Labels: open source, cla signed, ciflow/default

#74567 Fix PyObject leak issue
  torch/csrc/utils/disable_torch_function.cpp
Labels: cla signed

#74578 LTC+Dynamo: dedup device data
  lazy_tensor_core/lazy_tensor_core/core/extract_compiled_graph.py
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/test/test_extract_compiled_graph.py
Labels: cla signed

#74657 Dynamoc+LTC: handle duplicate tensors returned
  lazy_tensor_core/lazy_tensor_core/core/extract_compiled_graph.py
  lazy_tensor_core/test/test_extract_compiled_graph.py
Labels: cla signed

#74764 Added folders torch/csrc/onnx and torch/csrc/cuda to clang-tidy. Fixed some source issues in csrc/cuda.
  .github/workflows/lint.yml
  tools/linter/clang_tidy/__main__.py
  torch/csrc/cuda/Event.cpp
  torch/csrc/cuda/shared/cudart.cpp
Labels: cla signed

#74977 [testing] Update dispatch macros
  test/test_autograd.py
  test/test_binary_ufuncs.py
  test/test_complex.py
  test/test_foreach.py
  test/test_linalg.py
  test/test_nn.py
  test/test_numpy_interop.py
  test/test_ops.py
  test/test_reductions.py
  test/test_serialization.py
  test/test_shape_ops.py
  test/test_sort_and_select.py
  test/test_sparse.py
  test/test_sparse_csr.py
  test/test_tensor_creation_ops.py
  test/test_testing.py
  test/test_torch.py
  test/test_type_promotion.py
  test/test_unary_ufuncs.py
  test/test_view_ops.py
  torch/testing/_internal/common_methods_invocations.py
Labels: cla signed

#74930 Dynamo+LTC: force lazy device for tensors created without specifying device
  lazy_tensor_core/lazy_tensor_core/core/extract_compiled_graph.py
  lazy_tensor_core/lazy_tensor_core/core/tensor_factory_functions.py
  lazy_tensor_core/test/test_extract_compiled_graph.py
Labels: cla signed

#74936 Dynamo+LTC: bailout if found LTC fallbacks
  lazy_tensor_core/lazy_tensor_core/core/extract_compiled_graph.py
  lazy_tensor_core/test/test_extract_compiled_graph.py
Labels: cla signed

#74709 [LT] Move the DDP fallback prototype into a ProcessGroup extension
  lazy_tensor_core/lazy_tensor_core/core/lazy_model.py
  lazy_tensor_core/test/ddp/c10d.py
  lazy_tensor_core/test/ddp/ddp.py
  lazy_tensor_core/test/ddp/ddp_correctness.py
  lazy_tensor_core/test/ddp/ddp_exception.py
  torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp
  torch/csrc/distributed/c10d/logger.cpp
  torch/csrc/distributed/c10d/reducer.cpp
  torch/nn/parallel/distributed.py
  torch/testing/_internal/distributed/distributed_test.py
Labels: oncall: distributed, cla signed
