Repository pytorch/pytorch, pull requests merged in 2022-05, with the labels that each got.

#77258 [Bootcamp] fix TCPStore world_size into Optional[int]
  test/distributed/test_store.py
  torch/_C/_distributed_c10d.pyi
  torch/csrc/distributed/c10d/init.cpp
Labels: oncall: distributed, cla signed

#77983 Release 1.12 Install torch from test channel, Pin builder and xla repo
  .circleci/scripts/binary_checkout.sh
  .jenkins/pytorch/common_utils.sh
  .jenkins/pytorch/test.sh
Labels: cla signed

#77986 [release/1.12] ci: Pin builder to release/1.12
  .github/templates/common.yml.j2
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-master.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-master.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-master.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-master.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-master.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-master.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: cla signed

#77795 [symint] Make TensorImpl::sizes_and_strides_ contain SymInt
  aten/src/ATen/BatchingRegistrations.cpp
  aten/src/ATen/FunctionalInverses.cpp
  aten/src/ATen/OpaqueTensorImpl.h
  aten/src/ATen/SparseCsrTensorImpl.cpp
  aten/src/ATen/SparseTensorImpl.h
  aten/src/ATen/native/TensorShape.cpp
  c10/core/SymInt.cpp
  c10/core/SymInt.h
  c10/core/SymIntArrayRef.cpp
  c10/core/SymIntArrayRef.h
  c10/core/TensorImpl.cpp
  c10/core/TensorImpl.h
  c10/core/impl/SizesAndStrides.cpp
  c10/core/impl/SizesAndStrides.h
  c10/test/core/impl/SizesAndStrides_test.cpp
  tools/autograd/derivatives.yaml
Labels: cla signed

#78021 [1.12] Remove torch.vmap
  docs/source/torch.rst
  test/test_vmap.py
  torch/__init__.py
Labels: cla signed

#78174 Fixing binary builds (absence of tags) during checkout
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-master.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-master.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-master.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-master.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-master.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-master.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: ci/binaries, cla signed, ciflow/nightly, ciflow/binaries_conda, ciflow/binaries_wheel

#78198 MPS: Add back the memory leak fixes. (#77964)
  aten/src/ATen/mps/MPSDevice.mm
  aten/src/ATen/native/mps/OperationUtils.mm
  aten/src/ATen/native/mps/operations/Convolution.mm
Labels: cla signed

#78056 [1.12] Add sharding tests to multigpu-test.sh and fix custom operator decorator
  .jenkins/pytorch/multigpu-test.sh
  test/distributed/_shard/sharded_tensor/ops/test_matrix_ops.py
  test/distributed/_shard/sharded_tensor/test_sharded_tensor.py
  test/run_test.py
  torch/distributed/_shard/sharded_tensor/__init__.py
  torch/distributed/_shard/sharded_tensor/_ops/_common.py
  torch/distributed/_shard/sharded_tensor/_ops/binary_cmp.py
  torch/distributed/_shard/sharded_tensor/_ops/chunk.py
  torch/distributed/_shard/sharded_tensor/_ops/init.py
  torch/distributed/_shard/sharded_tensor/_ops/math_ops.py
  torch/distributed/_shard/sharded_tensor/_ops/tensor_ops.py
  torch/distributed/_shard/sharded_tensor/api.py
Labels: oncall: distributed, cla signed, ciflow/trunk

#78204 [MPS] Initialize `MPSDevice::_mtl_device` property to `nil` (#78136)
  aten/src/ATen/mps/MPSDevice.mm
Labels: cla signed

#78084 [Profiler] Fix segfault in AppendOnlyList
  torch/csrc/profiler/containers.h
Labels: cla signed

#78315 Update PyTorch/XLA git clone branch name for 1.12
  .jenkins/pytorch/common_utils.sh
Labels: open source, cla signed

#78370 [ONNX] Fix typo when comparing DeviceObjType (#78085)
  torch/onnx/symbolic_opset9.py
Labels: cla signed

#78455 Speed up test_mps from 9min to 25s
  test/test_mps.py
Labels: cla signed
