Repository pytorch/pytorch, pull requests merged in 2022-07, with the labels that each got.

#81282 Enforce linter in vulkan code
  .lintrunner.toml
  aten/src/ATen/native/vulkan/VulkanGuardImpl.cpp
  aten/src/ATen/native/vulkan/VulkanOpaqueTensorImpl.h
  aten/src/ATen/native/vulkan/api/Adapter.cpp
  aten/src/ATen/native/vulkan/api/Adapter.h
  aten/src/ATen/native/vulkan/api/Allocator.h
  aten/src/ATen/native/vulkan/api/Command.cpp
  aten/src/ATen/native/vulkan/api/Command.h
  aten/src/ATen/native/vulkan/api/Common.h
  aten/src/ATen/native/vulkan/api/Context.cpp
  aten/src/ATen/native/vulkan/api/Context.h
  aten/src/ATen/native/vulkan/api/Descriptor.cpp
  aten/src/ATen/native/vulkan/api/Descriptor.h
  aten/src/ATen/native/vulkan/api/Pipeline.cpp
  aten/src/ATen/native/vulkan/api/Pipeline.h
  aten/src/ATen/native/vulkan/api/QueryPool.cpp
  aten/src/ATen/native/vulkan/api/QueryPool.h
  aten/src/ATen/native/vulkan/api/Resource.cpp
  aten/src/ATen/native/vulkan/api/Resource.h
  aten/src/ATen/native/vulkan/api/Runtime.cpp
  aten/src/ATen/native/vulkan/api/Runtime.h
  aten/src/ATen/native/vulkan/api/Shader.cpp
  aten/src/ATen/native/vulkan/api/Shader.h
  aten/src/ATen/native/vulkan/api/Utils.h
  aten/src/ATen/native/vulkan/ops/Arithmetic.cpp
  aten/src/ATen/native/vulkan/ops/Batchnorm.cpp
  aten/src/ATen/native/vulkan/ops/Clamp.cpp
  aten/src/ATen/native/vulkan/ops/Clone.cpp
  aten/src/ATen/native/vulkan/ops/Common.cpp
  aten/src/ATen/native/vulkan/ops/Common.h
  aten/src/ATen/native/vulkan/ops/Concat.cpp
  aten/src/ATen/native/vulkan/ops/Convolution.cpp
  aten/src/ATen/native/vulkan/ops/Copy.cpp
  aten/src/ATen/native/vulkan/ops/Factory.cpp
  aten/src/ATen/native/vulkan/ops/Glu.cpp
  aten/src/ATen/native/vulkan/ops/Gru.cpp
  aten/src/ATen/native/vulkan/ops/Gru.h
  aten/src/ATen/native/vulkan/ops/Layernorm.cpp
  aten/src/ATen/native/vulkan/ops/Lerp.cpp
  aten/src/ATen/native/vulkan/ops/Lstm.cpp
  aten/src/ATen/native/vulkan/ops/Lstm.h
  aten/src/ATen/native/vulkan/ops/Mean.cpp
  aten/src/ATen/native/vulkan/ops/Mm.cpp
  aten/src/ATen/native/vulkan/ops/Padding.cpp
  aten/src/ATen/native/vulkan/ops/Permute.cpp
  aten/src/ATen/native/vulkan/ops/Pool.cpp
  aten/src/ATen/native/vulkan/ops/Register.cpp
  aten/src/ATen/native/vulkan/ops/Shape.cpp
  aten/src/ATen/native/vulkan/ops/Slice.cpp
  aten/src/ATen/native/vulkan/ops/Softmax.cpp
  aten/src/ATen/native/vulkan/ops/Tensor.cpp
  aten/src/ATen/native/vulkan/ops/Tensor.h
  aten/src/ATen/native/vulkan/ops/TransposeConvolution2d.cpp
  aten/src/ATen/native/vulkan/ops/Upsample.cpp
  aten/src/ATen/native/vulkan/ops/Utils.cpp
  aten/src/ATen/native/vulkan/ops/Utils.h
  aten/src/ATen/native/vulkan/ops/VulkanOpContext.cpp
  aten/src/ATen/native/vulkan/ops/cumsum.cpp
Labels: cla signed

#81857 Remove overly restrictive assert in adam (#80222)
  torch/optim/adam.py
Labels: cla signed

#81860 Fix distributed store to use add for the counter of DL shared seed (#…
  torch/utils/data/_utils/__init__.py
  torch/utils/data/dataloader.py
Labels: cla signed

#81858 remove overly restrictive checks for cudagraph (#80881)
  torch/optim/adamw.py
Labels: cla signed

#81865 Don't error if _warned_capturable_if_run_uncaptured not set (#80345) …
  torch/optim/optimizer.py
Labels: cla signed

#81867 Fix `Module.share_memory` error (#80843) (#80843)
  test/test_torch.py
  torch/storage.py
Labels: cla signed

#81866 Allow register float16 weight_norm on cpu and speed up test (#80600) …
  aten/src/ATen/native/WeightNorm.cpp
  test/test_nn.py
Labels: cla signed

#81884 Use fabi-version=11 to ensure compatibility between gcc7 and gcc9 bin…
  CMakeLists.txt
Labels: cla signed

#81870 [Prims] Unbreak CUDA lazy init (#80899) (#80899)
  torch/_prims/utils.py
Labels: cla signed

#81872 fix weight norm backward bug on CPU when OMP_NUM_THREADS <= 2 (#80930…
  aten/src/ATen/native/cpu/WeightNormKernel.cpp
Labels: cla signed

#81878 [forward ad] Fix codegen to ignore undefined outputs (#81114) (#81114)
  test/test_autograd.py
  tools/autograd/gen_variable_type.py
Labels: cla signed

#81879 Add 3.10 stdlib to torch.package (#81261) (#81261)
  torch/package/_stdlib.py
Labels: cla signed

#81880 Make nn.stateless correctly reset parameters if the forward pass fail…
  test/test_stateless.py
  torch/nn/utils/stateless.py
Labels: cla signed

#81886 [DataLoader] Locking lower ranks seed recepients (#81071) (#81071)
  torch/utils/data/dataloader.py
Labels: cla signed

#81888 Cudnn conv cache key patch (#81418) (#81418)
  aten/src/ATen/native/cudnn/ConvShared.cpp
  aten/src/ATen/native/cudnn/ConvShared.h
  aten/src/ATen/native/cudnn/Conv_v7.cpp
  aten/src/ATen/native/cudnn/Conv_v8.cpp
  aten/src/ATen/native/quantized/cudnn/Conv.cpp
Labels: cla signed

#81892 Raise proper timeout when sharing the distributed shared seed (#81666…
  torch/utils/data/_utils/__init__.py
  torch/utils/data/dataloader.py
Labels: cla signed

#81970 Add check for cuda lazy init (#80912) (#80912)
  test/test_cuda.py
Labels: cla signed

#81977 Disable XLA builds (#80099) (#80099)
  .github/workflows/pull.yml
Labels: cla signed

#81976 MPS cherry picks for 1.12.1
  .github/workflows/_mac-test-arm64.yml
  aten/src/ATen/mps/MPSAllocator.h
  aten/src/ATen/mps/MPSAllocator.mm
  aten/src/ATen/native/mps/OperationUtils.h
  aten/src/ATen/native/mps/OperationUtils.mm
  aten/src/ATen/native/mps/operations/Activation.mm
  aten/src/ATen/native/mps/operations/BinaryOps.mm
  aten/src/ATen/native/mps/operations/Copy.mm
  aten/src/ATen/native/mps/operations/Distributions.mm
  aten/src/ATen/native/mps/operations/Equal.cpp
  aten/src/ATen/native/mps/operations/Indexing.mm
  aten/src/ATen/native/mps/operations/Linear.mm
  aten/src/ATen/native/mps/operations/LossOps.mm
  aten/src/ATen/native/mps/operations/Pooling.mm
  aten/src/ATen/native/mps/operations/ReduceOps.mm
  aten/src/ATen/native/mps/operations/RnnOps.mm
  aten/src/ATen/native/mps/operations/Shape.mm
  aten/src/ATen/native/mps/operations/UnaryOps.mm
  aten/src/ATen/native/mps/operations/View.mm
  aten/src/ATen/native/native_functions.yaml
  test/test_mps.py
  torchgen/gen.py
Labels: cla signed, ciflow/trunk, ciflow/binaries_conda, ciflow/binaries_wheel

#81952 1.12.1/bt fix
  aten/src/ATen/native/nested/NestedTensorMath.cpp
  test/test_nn.py
  test/test_transformers.py
  torch/nn/modules/activation.py
  torch/nn/modules/transformer.py
Labels: cla signed

#82096 [CI] Disable ios-12-5-1-x86-64 (#81612) (#81612)
  .github/workflows/trunk.yml
Labels: cla signed

#82094 Fix deserialization of TransformerEncoderLayer (#81832) (#81832)
  torch/nn/modules/transformer.py
Labels: cla signed

#82113 [ci] Release only change: bump macos worker instance type
  .github/actionlint.yaml
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
Labels: cla signed, ciflow/binaries_conda

#82405 Fix invalid read in masked softmax (#82272) (#82272)
  aten/src/ATen/native/cuda/PersistentSoftmax.cuh
Labels: cla signed
