Repository pytorch/pytorch, pull requests merged in 2022-10, with the labels that each got.

#86244 Fix doc of DDP
  torch/nn/parallel/distributed.py
Labels: oncall: distributed, cla signed, ciflow/trunk

#86218 [MPS] Fix GELU for `torch.half`
  aten/src/ATen/native/mps/operations/Activation.mm
  test/test_mps.py
Labels: cla signed, ciflow/trunk, topic: bug fixes, release notes: mps, ciflow/mps

#86290 Release 1.13, Install torch from test channel, Pin build…
  .circleci/scripts/binary_checkout.sh
  .github/templates/common.yml.j2
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-master.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-master.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
  .jenkins/pytorch/common_utils.sh
  functorch/packaging/pkg_helpers.bash
Labels: cla signed, ciflow/trunk, release notes: releng

#86316 add comparison ops to PySymFloat
  torch/fx/experimental/symbolic_shapes.py
Labels: cla signed, release notes: fx, fx

#86352 adding PySymFloat.floor
  c10/core/SymFloatNodeImpl.cpp
  c10/core/SymFloatNodeImpl.h
  torch/csrc/jit/python/init.cpp
  torch/fx/experimental/symbolic_shapes.py
Labels: oncall: jit, cla signed, release notes: jit, fx

#86354 adding a meta function to upsample_nearest2d.vec
  torch/_meta_registrations.py
Labels: cla signed

#86385 Fix for the binary upload
  .github/workflows/_binary-upload.yml
Labels: cla signed, ciflow/trunk, topic: not user facing

#86484 Fix binary builds for the release - unblock release
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-master.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-master.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: ciflow/trunk, topic: not user facing, ciflow/binaries_conda, ciflow/binaries_wheel

#86377 Conditionally build the TestApp benchmark based on lite interpreter (…
  ios/TestApp/TestApp/Benchmark.h
  ios/TestApp/TestApp/Benchmark.mm
  ios/TestApp/TestApp/ViewController.mm
  ios/TestApp/benchmark/setup.rb
Labels: cla signed, ciflow/trunk

#86689 Add version selector back to functorch docs (#86602)
  functorch/docs/source/_templates/layout.html
Labels: ciflow/trunk

#86725 [ROCm] set nvfuser default to disabled, keep CI (#86369)
  .github/workflows/_rocm-test.yml
  torch/csrc/jit/codegen/cuda/interface.cpp
Labels: module: rocm, open source, ciflow/trunk, release notes: releng

#86844 [MPS] Better error message for `slow_conv2d_forward`
  aten/src/ATen/mps/MPSFallback.mm
  test/test_mps.py
Labels: ciflow/trunk, release notes: mps, ciflow/mps

#86851 [DOC] Use type hints to show annotation in the docs
  docs/source/conf.py
Labels: ciflow/trunk

#86333 [1.13] Remove torch.vmap
  docs/source/torch.rst
  test/test_vmap.py
  torch/__init__.py
Labels: cla signed, ciflow/trunk

#86693 [1.13] Release-only improvements to functorch docs
  functorch/docs/source/conf.py
  functorch/notebooks/aot_autograd_optimizations.ipynb
  functorch/notebooks/ensembling.ipynb
  functorch/notebooks/jacobians_hessians.ipynb
  functorch/notebooks/neural_tangent_kernels.ipynb
  functorch/notebooks/per_sample_grads.ipynb
  functorch/notebooks/whirlwind_tour.ipynb
Labels: ciflow/trunk

#86895 ci: Just use regular checkout (#86824)
  .github/workflows/docker-release.yml
Labels: ciflow/trunk, topic: not user facing

#86904 [CI] Fix builder ref for release, linux only
  .github/workflows/_binary-build-linux.yml
Labels: ciflow/trunk, topic: not user facing, ciflow/binaries_conda

#86903 [functorch] Add more details to the functorch install page (#86823)
  functorch/docs/source/install.rst
Labels: ciflow/trunk

#86726 [quant] Move the order of x86 engine to avoid changing the default qe…
  aten/src/ATen/Context.cpp
  torch/ao/quantization/qconfig.py
  torch/ao/quantization/qconfig_mapping.py
Labels: ciflow/trunk, release notes: AO frontend

#86902 Add vmap support for slogdet; fix regression from functorch 0.2.1 (#8…
  aten/src/ATen/functorch/BatchRulesDecompositions.cpp
  functorch/test/test_vmap.py
Labels: ciflow/trunk

#86933 Install c10d headers with absolute path (#86257)
  caffe2/CMakeLists.txt
  setup.py
Labels: ciflow/trunk, topic: not user facing

#86803 Allow PrivateUse1 backends to not have Storage (#86557)
  aten/src/ATen/TensorIterator.cpp
  torch/_tensor.py
Labels: open source, ciflow/trunk

#86934 [functorch] fix cross
  aten/src/ATen/functorch/BatchRulesLinearAlgebra.cpp
  functorch/test/test_vmap.py
Labels: ciflow/trunk

#86516 Fix the performance issue that the for-loop before ExternallCall
  test/cpp/tensorexpr/test_kernel.cpp
  test/cpp/tensorexpr/test_loopnest.cpp
  torch/csrc/jit/tensorexpr/kernel.cpp
  torch/csrc/jit/tensorexpr/kernel.h
Labels: open source, ciflow/trunk, release notes: jit

#87201 Add error checking to flaky test bot platform parser (#86632)
  torch/testing/_internal/common_utils.py
Labels: ciflow/trunk

#87140 [Release 1.13.0][DataPipe] Documentation and interface fix
  setup.py
  torch/utils/data/datapipes/iter/filelister.py
Labels: ciflow/trunk, release notes: dataloader

#87132 handle libomp update on circleci (#86979)
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/job-specs-custom.yml
Labels: ciflow/trunk, topic: not user facing

#86925 [ONNX] Fix triu/tril export with diagonal input (#86843)
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset14.py
Labels: open source, ciflow/trunk, release notes: onnx

#86924 [ONNX] Renable assert diagnostic test (#85999)
  test/onnx/internal/test_diagnostics.py
  torch/onnx/_internal/diagnostics/_diagnostic.py
  torch/onnx/_internal/diagnostics/infra/_infra.py
Labels: open source, ciflow/trunk, release notes: onnx

#86672 Bug fix for torch._C._will_engine_execute_node
  test/test_autograd.py
  torch/csrc/Module.cpp
Labels: ciflow/trunk

#86923 [ONNX] Fix scalar_type_analysis metadata for copied constant (#86716)
  test/onnx/test_utility_funs.py
  torch/csrc/jit/ir/ir.h
  torch/csrc/jit/passes/onnx/scalar_type_analysis.cpp
Labels: open source, ciflow/trunk, release notes: onnx

#87122 Ignore print(Tensor) during tracing
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: module: onnx, open source, ciflow/trunk, release notes: onnx, topic: bug fixes

#87144 [einsum] Fix opt_einsum defaults to be more reasonable (#86985)
  torch/backends/opt_einsum/__init__.py
Labels: ciflow/trunk

#87337 Improve NestedTensor documentation (#85186)
  docs/source/nested.rst
  torch/_tensor_docs.py
  torch/nested/__init__.py
Labels: ciflow/trunk

#87307 Reenable aot tests on windows for cuda 11.7 and up (#87193)
  test/run_test.py
Labels: ciflow/trunk, topic: not user facing

#87376 Add torch.sparse overview section (#85265)
  docs/source/sparse.rst
Labels: ciflow/trunk

#87379 [Docs] Update mm family ops and F.linear to note limited sparse support. (#86220)
  torch/_torch_docs.py
  torch/nn/functional.py
Labels: ciflow/trunk

#87380 Add prototype warning to MaskedTensor constructor (#87107)
  torch/masked/maskedtensor/core.py
Labels: ciflow/trunk

#87381 [maskedtensor] add docs (#84887)
  docs/source/_static/img/masked/tensor_comparison.jpg
  docs/source/masked.rst
Labels: ciflow/trunk

#87386 [functorch][docs] Downgrade the warning about forward-mode AD coverag…
  functorch/_src/eager_transforms.py
Labels: ciflow/trunk

#87079 [release] Add warning to stateless.functional_call for deprecated behavior
  test/test_stateless.py
  torch/nn/utils/stateless.py
Labels: ciflow/trunk

#87427 [MPS] Do not dispatch empty job in `bitwise_not` (#87286)
  aten/src/ATen/native/mps/operations/BitwiseOps.mm
Labels: ciflow/trunk, release notes: mps, ciflow/mps

#87408 [ci] handle libomp upgrade on github (#87382)
  .github/workflows/_mac-build.yml
  .github/workflows/_mac-test.yml
Labels: ciflow/trunk, topic: not user facing

#87434 [functorch] fix AOTAutograd tutorial (#87415)
  functorch/notebooks/aot_autograd_optimizations.ipynb
Labels: ciflow/trunk

#87392 [1.13] Fix functorch version docs
  functorch/docs/source/conf.py
Labels: ciflow/trunk

#87406 [maskedtensor] fix docs formatting (#87387)
  docs/source/masked.rst
Labels: ciflow/trunk

#87455 Avoid calling logging.basicConfig (#86959)
  torch/fx/passes/backends/nvfuser.py
  torch/fx/passes/infra/partitioner.py
Labels: ciflow/trunk, release notes: fx

#87456 Move PadNd from ATen/native to ATen
  aten/src/ATen/PadNd.h
  aten/src/ATen/native/PadNd.cpp
  torch/csrc/api/include/torch/nn/functional/padding.h
Labels: ciflow/trunk, release notes: cpp

#87463 Reenable `isinstance` with `torch.distributed.ReduceOp` (#87303)
  test/distributed/test_c10d_common.py
  torch/_C/_distributed_c10d.pyi
  torch/csrc/distributed/c10d/Types.hpp
  torch/csrc/distributed/c10d/init.cpp
  torch/distributed/distributed_c10d.py
Labels: ciflow/trunk, release notes: distributed (c10d)

#87457 [ONNX] Reland: Update training state logic to support ScriptedModule …
  test/onnx/test_utility_funs.py
  torch/onnx/utils.py
Labels: ciflow/trunk, release notes: onnx

#87475 [MPS] Revamp copy_to_mps_ implementation
  aten/src/ATen/native/mps/operations/Copy.mm
  test/test_mps.py
Labels: ciflow/trunk, release notes: mps, ciflow/mps

#87612 Fix distributed issue by including distributed files
  setup.py
Labels: ciflow/binaries, ciflow/trunk, topic: not user facing

#87628 fix docs push (#87498)
  .circleci/scripts/cpp_doc_push_script.sh
  .circleci/scripts/python_doc_push_script.sh
Labels: topic: not user facing

#87618 attempted fix for nvrtc with lovelace (#87611)
  aten/src/ATen/native/cuda/jit_utils.cpp
  torch/csrc/jit/codegen/fuser/cuda/fused_kernel.cpp
Labels: ciflow/trunk, release notes: jit

#87945 Fix dynamo not recording slices in graphs
  torch/_dynamo/variables/lists.py
Labels: module: dynamo, ciflow/inductor

#88009 ci: Switch merge / revert flow to our own infra
  .github/workflows/revert.yml
  .github/workflows/trymerge.yml
Labels: ciflow/trunk, topic: not user facing

#88016 Revert "ci: Switch merge / revert flow to our own infra"
  .github/workflows/revert.yml
  .github/workflows/trymerge.yml
Labels: topic: not user facing

#88028 Voz/symbolic size fix 2
  torch/_dynamo/variables/__init__.py
  torch/_dynamo/variables/builtin.py
  torch/_dynamo/variables/tensor.py
  torch/_dynamo/variables/torch.py
Labels: module: dynamo, ciflow/inductor
