Repository pytorch/pytorch, pull requests merged in 2022-02, with the labels that each got.

#72169 LTC: fix random number seed setting in lazy_bench.py
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#72217 release 1.11 Install torch from test channel, Pin builder and xla repo
  .circleci/scripts/binary_checkout.sh
  .jenkins/pytorch/common_utils.sh
  .jenkins/pytorch/test.sh
Labels: cla signed, ciflow/default

#72119 Add `norm` to LazyTensor codegen
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#72356 [CP-1.11] Remove forcing CUDNN_STATIC when CAFFE2_STATIC_LINK_CUDA
  cmake/public/cuda.cmake
Labels: cla signed, ciflow/default

#71268 Support `full_codegen` for `abs`, `min`, `max`, and `neg`
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeInference.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#72109 Add all remaining ops that can be codegen'd
  aten/src/ATen/TensorIterator.h
  aten/src/ATen/native/native_functions.yaml
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeInference.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#72126 [ONNX] Add symbolic for torch.addcmul
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed, ciflow/default

#72439 [ONNX] Resolve attribute error in CI (#72350)
  test/onnx/test_models_onnxruntime.py
Labels: cla signed, ciflow/default

#72215 [ONNX] Add infra for quantized model export and support quantized mobilenet v3
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  torch/csrc/jit/passes/onnx/peephole.cpp
  torch/csrc/jit/passes/onnx/unpack_quantized_weights.cpp
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset14.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/symbolic_registry.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#72514 [1.11] Add missing entry for sampled_addmm in sparse.rst
  docs/source/sparse.rst
  torch/sparse/__init__.py
Labels: module: sparse, open source, cla signed, ciflow/cuda

#72562 Revert `hardswish_` codegen
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#72090 [ONNX] Add torch.nan_to_num and torch.maximum/minimum symbolic
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset10.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed, ciflow/default

#72574 [LT] Copy the device ordinal in MakeComputationDataFromTensor
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/backend_impl.cpp
Labels: cla signed, ciflow/default

#72613 [CircleCI] Remove `gpu.medium` class
  .circleci/cimodel/data/simple/binary_smoketest.py
  .circleci/config.yml
  .circleci/verbatim-sources/job-specs/binary-build-tests.yml
Labels: ci/binaries, cla signed, ciflow/default

#72561 fix shape cache hash for dynamic shape
  lazy_tensor_core/lazy_bench.py
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  test/cpp/lazy/test_cache.cpp
  test/cpp/lazy/test_ir.cpp
  test/cpp/lazy/test_ir_util.cpp
  torch/csrc/lazy/core/ir.cpp
  torch/csrc/lazy/core/ir.h
  torch/csrc/lazy/core/shape.cpp
  torch/csrc/lazy/core/shape.h
  torch/csrc/lazy/ts_backend/ts_node.cpp
  torch/csrc/lazy/ts_backend/ts_node.h
Labels: cla signed, ciflow/default

#72604 Disable complex32
  aten/src/ATen/native/ComplexHelper.h
  docs/source/tensors.rst
  test/jit/test_dtype_analysis.py
  test/test_jit_fuser_te.py
  test/test_linalg.py
  test/test_reductions.py
  test/test_spectral_ops.py
  test/test_torch.py
  test/test_view_ops.py
  tools/pyi/gen_pyi.py
  torch/csrc/utils/tensor_dtypes.cpp
  torch/onnx/symbolic_helper.py
  torch/testing/_comparison.py
  torch/testing/_internal/common_methods_invocations.py
  torch/testing/_legacy.py
Labels: oncall: jit, cla signed, ciflow/default

#72635 Fix doc build for release branches (#72567)
  .github/templates/linux_ci_workflow.yml.j2
  .github/workflows/generated-linux-docs-push.yml
  .github/workflows/generated-linux-docs.yml
Labels: cla signed, ciflow/default

#71921 Fix hardcoded `TsNode` in `lazy_ir.py`
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
Labels: open source, cla signed, ciflow/default

#72652 Fix tagged build detection for binary builds (#72628)
  .circleci/scripts/binary_populate_env.sh
Labels: cla signed, ciflow/default

#72218 Remove duplicate copy in lazy _copy_from()
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
Labels: cla signed, ciflow/default

#72683 [LT] Allow lazy_model.mark_step to specify a device
  lazy_tensor_core/lazy_tensor_core/core/lazy_model.py
Labels: cla signed, ciflow/default

#72599 Move debug_util and python_util to torch/csrc/lazy
  lazy_tensor_core/lazy_tensor_core/csrc/function_call_tracker.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/python_util.h
  lazy_tensor_core/test/cpp/cpp_test_util.h
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  tools/build_variables.bzl
  torch/csrc/Module.cpp
  torch/csrc/lazy/core/debug_util.cpp
  torch/csrc/lazy/core/debug_util.h
  torch/csrc/lazy/core/lazy_graph_executor.cpp
  torch/csrc/lazy/python/README.md
  torch/csrc/lazy/python/init.cpp
  torch/csrc/lazy/python/init.h
  torch/csrc/lazy/python/python_util.cpp
  torch/csrc/lazy/python/python_util.h
Labels: cla signed, ciflow/default

#72732 Fix for builder repo not pinned in release branch (#72719)
  .github/templates/common.yml.j2
Labels: cla signed, ciflow/default

#72739 Pin builder repo for GHA builds to release/1.11
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/generated-linux-binary-conda.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11.yml
  .github/workflows/generated-linux-binary-manywheel.yml
  .github/workflows/generated-windows-binary-libtorch-cxx11-abi.yml
  .github/workflows/generated-windows-binary-libtorch-pre-cxx11.yml
  .github/workflows/generated-windows-binary-wheel.yml
Labels: cla signed, ciflow/default

#72656 Fix refcounting in access of saved for forward attribute (#72627)
  torch/csrc/autograd/python_function.cpp
Labels: cla signed, ciflow/default

#72678 Cat shape analysis execution fix for -1 dim
  test/jit/test_symbolic_shape_analysis.py
  torch/csrc/jit/runtime/shape_functions.h
Labels: oncall: jit, cla signed, ciflow/default

#72697 pad_sequence: fix regression - support tensor (#72436)
  test/test_nn.py
  torch/nn/utils/rnn.py
Labels: cla signed, ciflow/default

#72128 [ONNX] Add symbolic support for torch.nn.cosinesimilarity
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_utility_funs.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed, ciflow/default

#72801 [1.11][DataPipe] Docs Improvement
  torch/utils/data/datapipes/iter/callable.py
  torch/utils/data/datapipes/iter/combinatorics.py
  torch/utils/data/datapipes/iter/combining.py
  torch/utils/data/datapipes/iter/filelister.py
  torch/utils/data/datapipes/iter/fileopener.py
  torch/utils/data/datapipes/iter/grouping.py
  torch/utils/data/datapipes/iter/routeddecoder.py
  torch/utils/data/datapipes/iter/selecting.py
  torch/utils/data/datapipes/iter/streamreader.py
  torch/utils/data/datapipes/iter/utils.py
  torch/utils/data/datapipes/map/callable.py
  torch/utils/data/datapipes/map/combinatorics.py
  torch/utils/data/datapipes/map/combining.py
  torch/utils/data/datapipes/map/grouping.py
  torch/utils/data/datapipes/map/utils.py
  torch/utils/data/dataset.py
Labels: module: data, cla signed, ciflow/default

#72668 [LTS] CherryPick: Pin librosa
  .circleci/docker/common/install_conda.sh
  .jenkins/pytorch/macos-test.sh
  .jenkins/pytorch/win-test-helpers/setup_pytorch_env.bat
Labels: open source, cla signed, ciflow/default

#72734 [ONNX] Fix lstm reshape shape inference regression
  test/onnx/test_pytorch_onnx_onnxruntime.py
  test/onnx/test_pytorch_onnx_shape_inference.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: oncall: jit, cla signed, ciflow/default

#72929 [quant][core][docs] Add docs for torch.quantize_per_tensor_dynamic (#…
  torch/_torch_docs.py
Labels: cla signed, ciflow/default

#72914 Rename `Typed/UntypedStorage` to `_Typed/_UntypedStorage` (#72540)
  docs/source/conf.py
  test/test_cuda.py
  test/test_serialization.py
  tools/autograd/templates/python_variable_methods.cpp
  tools/pyi/gen_pyi.py
  torch/_C/__init__.pyi.in
  torch/__init__.py
  torch/_deploy.py
  torch/_tensor.py
  torch/_utils.py
  torch/csrc/DynamicTypes.cpp
  torch/csrc/generic/Storage.cpp
  torch/csrc/utils/tensor_new.cpp
  torch/cuda/__init__.py
  torch/multiprocessing/reductions.py
  torch/package/_directory_reader.py
  torch/package/package_exporter.py
  torch/package/package_importer.py
  torch/serialization.py
  torch/storage.py
  torch/testing/_internal/common_utils.py
Labels: cla signed, ciflow/default

#72800 Add optional encoding argument to fileopener
  torch/utils/data/datapipes/iter/fileopener.py
  torch/utils/data/datapipes/utils/common.py
Labels: cla signed, ciflow/default

#72937 [JIT] API Changes for dynamic fusion
  docs/source/jit.rst
  torch/csrc/jit/api/module.h
  torch/csrc/jit/runtime/profiling_graph_executor_impl.h
  torch/jit/__init__.py
  torch/jit/_fuser.py
Labels: oncall: jit, cla signed, ciflow/default

#72959 Set `BLAS_LIBRARIES` to `${MKL_LIBRARIES}` for MKL case (#72806)
  cmake/Dependencies.cmake
Labels: cla signed, ciflow/default

#72954 Add docstrings to native_channel_shuffle
  test/test_fx.py
  tools/pyi/gen_pyi.py
  torch/nn/functional.py
Labels: cla signed, ciflow/default

#73000 [LT] Fix a bug in lazy_model.mark_step()
  lazy_tensor_core/lazy_tensor_core/core/lazy_model.py
Labels: cla signed, ciflow/default

#73027 [release/1.11] [CircleCI] Re-enable nightly android builds
  .circleci/cimodel/data/simple/android_definitions.py
  .circleci/cimodel/data/simple/nightly_android.py
  .circleci/config.yml
  .circleci/generate_config_yml.py
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
  .circleci/verbatim-sources/job-specs/pytorch-job-specs.yml
Labels: cla signed, ciflow/default

#73017 Fix `sequence_ops_test` (#72844)
  caffe2/python/operator_test/sequence_ops_test.py
Labels: cla signed, ciflow/default

#73029 [NNC] TensorExprKernel state should not be modified on calls to run
  test/cpp/tensorexpr/test_dynamic_shapes.cpp
  torch/csrc/jit/tensorexpr/kernel.cpp
  torch/csrc/jit/tensorexpr/kernel.h
Labels: oncall: jit, cla signed, ciflow/default

#73036 [1.11][DataPipe] Adding usage examples for IterDataPipes
  torch/utils/data/datapipes/iter/callable.py
  torch/utils/data/datapipes/iter/combinatorics.py
  torch/utils/data/datapipes/iter/combining.py
  torch/utils/data/datapipes/iter/filelister.py
  torch/utils/data/datapipes/iter/fileopener.py
  torch/utils/data/datapipes/iter/grouping.py
  torch/utils/data/datapipes/iter/selecting.py
  torch/utils/data/datapipes/iter/streamreader.py
  torch/utils/data/datapipes/iter/utils.py
  torch/utils/data/dataset.py
Labels: cla signed, ciflow/default

#73122 stop sccache server after building (#72794)
  .jenkins/pytorch/win-test-helpers/build_pytorch.bat
Labels: cla signed, ciflow/default

#72825 [LTS] CherryPick: Resolve jited `torch.isnan` crash for `torch.float16`
  test/test_jit_fuser_te.py
  test/test_tensorexpr.py
  torch/csrc/jit/passes/tensorexpr_fuser.cpp
Labels: open source, cla signed, ciflow/default

#73258 [LTS] CircleCI: Resize resources to avoid timeout
  .circleci/config.yml
  .circleci/verbatim-sources/header-section.yml
  .circleci/verbatim-sources/job-specs/binary-job-specs.yml
Labels: open source, cla signed, ciflow/default

#72823 [LTS] CherryPick: Skip broken svd tests
  test/test_linalg.py
Labels: open source, cla signed, ciflow/default

#73128 Adding python stacktrace to JIT dumps
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_lowering_context.cpp
  torch/csrc/lazy/core/debug_util.cpp
  torch/csrc/lazy/core/debug_util.h
  torch/csrc/lazy/ts_backend/ts_node.cpp
  torch/csrc/lazy/ts_backend/ts_node.h
Labels: cla signed, ciflow/default

#73216 Fix tensor.__deepcopy__ for lazy device #73197
  torch/_tensor.py
Labels: cla signed, ciflow/default

#73312 Documenting cuda 11.5 windows issue (#73013)
  torch/utils/cpp_extension.py
Labels: cla signed, ciflow/default

#73358 Improvements to C10d log
  docs/source/distributed.rst
  test/distributed/test_c10d_common.py
  test/distributed/test_c10d_nccl.py
  tools/build_variables.bzl
  torch/_C/_distributed_c10d.pyi
  torch/csrc/Exceptions.h
  torch/csrc/distributed/c10d/ProcessGroup.cpp
  torch/csrc/distributed/c10d/ProcessGroup.hpp
  torch/csrc/distributed/c10d/Utils.cpp
  torch/csrc/distributed/c10d/Utils.hpp
  torch/csrc/distributed/c10d/debug.cpp
  torch/csrc/distributed/c10d/debug.h
  torch/csrc/distributed/c10d/init.cpp
  torch/csrc/distributed/c10d/logger.cpp
  torch/csrc/distributed/c10d/logging.cpp
  torch/csrc/distributed/c10d/logging.h
  torch/csrc/distributed/c10d/reducer.cpp
  torch/csrc/distributed/c10d/reducer.hpp
  torch/csrc/distributed/c10d/socket.cpp
  torch/csrc/distributed/c10d/socket.h
  torch/distributed/__init__.py
  torch/distributed/distributed_c10d.py
  torch/distributed/optim/zero_redundancy_optimizer.py
  torch/nn/parallel/distributed.py
  torch/testing/_internal/common_distributed.py
  torch/testing/_internal/distributed/distributed_test.py
Labels: oncall: distributed, cla signed, ciflow/default

#73357 Introduce an environment variable to change c10 log level (#71746)
  c10/util/Logging.cpp
  c10/util/Logging.h
  torch/csrc/Module.cpp
Labels: cla signed, ciflow/default

#73365 `scatter_reduce` documentation (#73125)
  aten/src/ATen/native/native_functions.yaml
  docs/source/tensors.rst
  docs/source/torch.rst
  test/forward_backward_compatibility/check_forward_backward_compatibility.py
  test/test_torch.py
  tools/autograd/derivatives.yaml
  torch/_tensor_docs.py
  torch/_torch_docs.py
  torch/overrides.py
  torch/testing/_internal/common_methods_invocations.py
Labels: cla signed, ciflow/default

#72631 [LT] Integrating with DDP with c10d comm ops falling back to eager
  lazy_tensor_core/test/ddp/c10d.py
  lazy_tensor_core/test/ddp/ddp.py
  lazy_tensor_core/test/ddp/ddp_correctness.py
  lazy_tensor_core/test/ddp/ddp_exception.py
  torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp
  torch/csrc/distributed/c10d/logger.cpp
  torch/csrc/distributed/c10d/reducer.cpp
  torch/distributed/distributed_c10d.py
  torch/nn/parallel/distributed.py
  torch/testing/_internal/distributed/distributed_test.py
Labels: oncall: distributed, cla signed, ciflow/default

#73430 Cherry-pick NVFuser's fix on return value number
  torch/csrc/jit/codegen/cuda/kernel_cache.cpp
  torch/csrc/jit/codegen/cuda/kernel_cache.h
Labels: oncall: jit, cla signed, ciflow/default

#73490 [GHA] Increase win test timeout to 5h
  .github/templates/common.yml.j2
  .github/templates/windows_ci_workflow.yml.j2
  .github/workflows/generated-periodic-win-vs2019-cuda11.5-py3.yml
  .github/workflows/generated-win-vs2019-cpu-py3.yml
  .github/workflows/generated-win-vs2019-cuda11.3-py3.yml
Labels: cla signed, ciflow/default
