Repository pytorch/pytorch, pull requests merged in 2022-12, with the labels that each got.

#90044 Fix ONNX operator_export_type on the new registry #87735
  test/onnx/test_pytorch_onnx_no_runtime.py
  torch/onnx/utils.py
Labels: release notes: onnx

#90210 [Release only change] Uninstall sympy while running windows tests
  .jenkins/pytorch/win-test-helpers/setup_pytorch_env.bat
Labels: topic: not user facing

#89931 Fix get_default_qat_qconfig for PT 1.13 (#88876)
  test/quantization/core/test_top_level_apis.py
  torch/ao/quantization/qconfig.py
Labels: release notes: quantization

#89997 Use the Python frame safely in _pythonCallstack (#88993)
  torch/csrc/jit/python/python_tracer.cpp
Labels: open source, release notes: jit

#89998 Mark IPU device as not supports_as_strided (#89130)
  c10/core/Device.h
Labels: open source

#89924 Add platform markers for linux only extra_install_requires (#88826)
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  setup.py
Labels: ciflow/binaries, topic: not user facing, ciflow/binaries_wheel

#90321 [Release only change] Fix rocm5.1.1 docker image
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
Labels: module: rocm, topic: not user facing, ciflow/binaries_wheel, ciflow/binaries_libtorch

#89999 Handle Tensor.__deepcopy__ via clone(), on IPU (#89129)
  torch/_tensor.py
Labels: open source

#90376 Add support for batch_size>1 in AVX version
  aten/src/ATen/native/cpu/UpSampleKernel.cpp
  aten/src/ATen/native/cpu/UpSampleKernelAVXAntialias.h
Labels: module: cpu

#90378 Add support for C <= 4 in AVX version
  aten/src/ATen/native/cpu/UpSampleKernel.cpp
  aten/src/ATen/native/cpu/UpSampleKernelAVXAntialias.h
Labels: module: cpu

#90104 Fix ATen Fallback for BUILD_CAFFE2=0 for ONNX-only ops (#88504)
  test/onnx/test_pytorch_onnx_no_runtime.py
  torch/onnx/utils.py
Labels: ciflow/binaries, release notes: onnx, ciflow/binaries_conda, ciflow/binaries_wheel, ciflow/binaries_libtorch

#90433 [BE] Do not package caffe2 in wheel (#87986)
  .jenkins/pytorch/win-test-helpers/build_pytorch.bat
  setup.py
Labels: topic: not user facing

#90506 [1.13.1] Update XLA pin
  .github/ci_commit_pins/xla.txt
Labels: topic: not user facing

#90519 [Release only change] Turn off failing tests in release
  torch/testing/_internal/common_methods_invocations.py
Labels: release notes: python_frontend

#90729 nit: remove '_ORT_PROVIDERS' line
  test/onnx/onnx_test_common.py
Labels: open source, topic: not user facing

#90740 Info Sharing
  torch/onnx/_internal/docs/README.txt
  torch/onnx/_internal/docs/gpt.py
Labels: release notes: onnx

#90675 Add macro C10_AS_INTARRAYREF_SLOW
  .github/ci_commit_pins/xla.txt
  aten/src/ATen/core/boxing/KernelFunction_impl.h
  aten/src/ATen/functorch/LegacyBatchingRegistrations.cpp
  aten/src/ATen/native/AdaptiveAveragePooling.cpp
  aten/src/ATen/native/TensorShape.cpp
  aten/src/ATen/native/metal/MetalAten.mm
  aten/src/ATen/native/metal/ops/MetalReshape.mm
  aten/src/ATen/native/mkldnn/TensorShape.cpp
  c10/core/SymIntArrayRef.h
  torch/csrc/jit/frontend/tracer.cpp
  torch/csrc/lazy/ts_backend/ts_native_functions.cpp
  torchgen/api/translate.py
Labels: module: cpu, Merged, Reverted, ciflow/trunk, release notes: mobile, release notes: composability, topic: not user facing
