Repository pytorch/pytorch, pull requests merged in 2022-09, with the labels that each got.

#83837 Support Custom Memory Plan in CudaCachingAllocator
  c10/cuda/CUDACachingAllocator.cpp
  c10/cuda/CUDACachingAllocator.h
  docs/source/cuda.rst
  test/test_cuda.py
  torch/csrc/cuda/Module.cpp
  torch/cuda/__init__.py
Labels: cla signed

#84680 add decomp for slice.Tensor
  test/test_decomp.py
  test/test_proxy_tensor.py
  torch/_decomp/decompositions.py
Labels: cla signed

#84733 symintify embedding/embedding_dense_backward,
  aten/src/ATen/native/Embedding.cpp
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/ts_native_functions.yaml
  aten/src/ATen/native/vulkan/ops/Shape.cpp
  functorch/functorch/csrc/BatchRulesDecompositions.cpp
  functorch/functorch/csrc/BatchRulesModules.cpp
  tools/autograd/derivatives.yaml
  torch/csrc/lazy/core/shape_inference.cpp
  torch/csrc/lazy/core/shape_inference.h
Labels: cla signed, release notes: vulkan

#85644 numel -> sym_numel in batch_norm_index_
  aten/src/ATen/native/Normalization.cpp
Labels: cla signed

#85646 Krovatkin/symbolic shapes3
  torch/_decomp/decompositions.py
Labels: cla signed

#85680 super wrong meta function for convolution_backward
  torch/_meta_registrations.py
Labels: cla signed

#85871 Clone symint on set_sizes_and_strides
  c10/core/SymInt.h
  c10/core/SymIntNodeImpl.h
  c10/core/TensorImpl.cpp
  functorch/test/test_aotdispatch.py
  torch/csrc/jit/python/init.cpp
  torch/fx/experimental/symbolic_shapes.py
Labels: oncall: jit, cla signed, release notes: jit, fx
