Repository pytorch/pytorch, pull requests merged in 2022-11, with the labels that each got.

#88039 [symbolic-shapes] Specialize on dynamic shape control flow instead of graph breaking
  test/dynamo/test_export.py
  torch/_dynamo/guards.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/symbolic_convert.py
  torch/_dynamo/variables/builtin.py
  torch/_dynamo/variables/tensor.py
Labels: module: dynamo, ciflow/inductor

#88580 extract out the clean workspace test to its own file
  caffe2/python/clean_workspace_test.py
  caffe2/python/workspace_test.py
Labels: caffe2, topic: not user facing

#88599 FX-to-ONNX exporter prototype
  test/onnx/onnx_test_common.py
  test/onnx/test_fx_to_onnx.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/csrc/jit/python/python_ir.cpp
  torch/onnx/_fx.py
  torch/onnx/verification.py
Labels: open source, release notes: onnx

#88618 Address comments in #88599
  test/onnx/test_fx_to_onnx.py
  torch/onnx/_internal/_fx.py
  torch/onnx/verification.py
Labels: module: onnx, open source

#88711 [dynamo][symbolic-shapes] Refactor symbolic shapes dynamo, make tests pass
  benchmarks/dynamo/common.py
  test/dynamo/test_aot_cudagraphs.py
  test/dynamo/test_dynamic_shapes.py
  test/dynamo/test_export.py
  test/dynamo/test_minifier.py
  test/dynamo/test_misc.py
  test/dynamo/test_no_fake_tensors.py
  test/dynamo/test_python_autograd.py
  test/dynamo/test_repros.py
  torch/_dynamo/convert_frame.py
  torch/_dynamo/guards.py
  torch/_dynamo/optimizations/analysis.py
  torch/_dynamo/optimizations/training.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/symbolic_convert.py
  torch/_dynamo/utils.py
  torch/_dynamo/variables/base.py
  torch/_dynamo/variables/builder.py
  torch/_dynamo/variables/builtin.py
  torch/_dynamo/variables/def wrap_fx_proxy(tx, proxy, example_val.py
  torch/_dynamo/variables/misc.py
  torch/_dynamo/variables/nn_module.py
  torch/_dynamo/variables/tensor.py
  torch/_dynamo/variables/torch.py
  torch/_prims/__init__.py
Labels: module: dynamo, ciflow/inductor

#89032 [dynamo] [dynamic shapes] Fix register_buffer (and all module associated tensors)
  torch/_dynamo/guards.py
Labels: release notes: fx, module: dynamo, ciflow/inductor

#88703 Allows real tensors in FakeTensorProp
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/fx/passes/fake_tensor_prop.py
  torch/onnx/_internal/_fx.py
Labels: open source, release notes: onnx, ciflow/inductor

#89148 RM sus assert
  torch/_dynamo/guards.py
Labels: module: dynamo, ciflow/inductor

#88546 Pass dynamo's fake_mode down to aot_autograd, remove duplicate fake tensor conversion, install aot guards in dynamo
  functorch/_src/aot_autograd.py
  test/dynamo/test_aot_autograd.py
  torch/_dynamo/eval_frame.py
  torch/_dynamo/guards.py
  torch/_dynamo/optimizations/analysis.py
  torch/_dynamo/optimizations/backends.py
  torch/_dynamo/optimizations/training.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/variables/builder.py
  torch/_dynamo/variables/torch.py
  torch/_inductor/compile_fx.py
  torch/fx/experimental/symbolic_shapes.py
Labels: release notes: fx, module: inductor, module: dynamo, ciflow/inductor

#89250 Record TensorReference for ._base tensors, but don't install guards on them
  torch/_dynamo/guards.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/utils.py
Labels: release notes: fx, module: dynamo, ciflow/inductor

#89304 Use nn module source to make buffers on modules static shape fake tensors
  torch/_dynamo/utils.py
  torch/_dynamo/variables/builder.py
Labels: module: dynamo, ciflow/inductor

#89687 upress Werror introduced by no override #86786 on `bool initialized()`
  c10/cuda/CUDAMallocAsyncAllocator.cpp
Labels: topic: not user facing

#89698 Add statement about minor releases, in the release.md document
  RELEASE.md
Labels: topic: not user facing

#89783 Dasboard runner cmd
  benchmarks/dynamo/runner.py
Labels: topic: not user facing, module: dynamo, ciflow/inductor

#89925 [JIT][Security] Do not blindly eval input string (#89189)
  test/test_jit.py
  torch/csrc/jit/frontend/script_type_parser.cpp
  torch/jit/annotations.py
Labels: release notes: jit
