Repository pytorch/pytorch, pull requests merged in 2022-01, with the labels that each got.

#70752 Don't build lazy tensor under bazel builds
  .jenkins/pytorch/build.sh
Labels: cla signed, ciflow/default

#70636 lazy bench reformat
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#70860 [LTC] Adopt upstreamed version of LazyTensor and etc
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/aten_ltc_bridge.h
  lazy_tensor_core/lazy_tensor_core/csrc/backend_registrar.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/debug_util.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/debug_util.h
  lazy_tensor_core/lazy_tensor_core/csrc/init_python_bindings.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/lazy_graph_executor.h
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ops/index_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_aten_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_distributed.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_distributed.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_impl.h
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/tensor_ops.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_autograd_ops_ts.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.cpp
  lazy_tensor_core/test/cpp/cpp_test_util.h
  lazy_tensor_core/test/cpp/test_aten_ltc_ts_tensor.cpp
  lazy_tensor_core/test/cpp/torch_ltc_ts_test.cpp
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
  torch/csrc/lazy/core/lazy_graph_executor.cpp
  torch/csrc/lazy/core/lazy_graph_executor.h
  torch/csrc/lazy/core/tensor.cpp
  torch/csrc/lazy/core/tensor.h
Labels: cla signed, ciflow/default

#70939 Wconstab/check results
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#70961 [LTC] Export torch::lazy::GetBackendDevice()
  .jenkins/pytorch/test.sh
  test/cpp/lazy/test_backend_device.cpp
  torch/csrc/lazy/backend/backend_device.h
Labels: cla signed, ciflow/default

#70962 small improvements to reformat
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#70949 Recursively clean up child process if we hit a timeout
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71010 Fix check_results for dict and recursive data structs
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71006 Fix flake8
  lazy_tensor_core/lazy_bench.py
  lazy_tensor_core/lazy_tensor_core/debug/metrics.py
  lazy_tensor_core/test/test_lazy.py
  tools/codegen/dest/lazy_ir.py
Labels: cla signed, ciflow/default

#71020 Unskip training models to re-baseline
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#70018 [LTC] Code-gen nll_loss2d_forward
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeInference.cpp
  lazy_tensor_core/ts_native_functions.yaml
Labels: cla signed, ciflow/default

#71032 Wconstab/us per op
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71167 change 1 to 13 error code
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71223 error improvements
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71293 [LT] Remove a no-op TODO
  tools/codegen/dest/lazy_ts_lowering.py
Labels: cla signed, ciflow/default

#71281 [LTC] Remove _ from public members in code-gen IRs
  tools/codegen/dest/lazy_ir.py
  tools/codegen/dest/lazy_ts_lowering.py
Labels: cla signed, ciflow/default

#71284 [LTC] Add a RValue ctor to torch::lazy::Value
  tools/codegen/dest/lazy_ir.py
  torch/csrc/lazy/core/ir.h
Labels: cla signed, ciflow/default

#71319 Cleanups for lazy_bench.py
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71537 [LTS] CherryPick: Fix docker builds for Python-3.6
  .circleci/docker/common/install_conda.sh
Labels: open source, cla signed, ciflow/default

#71615 Revert "[ONNX] Minor doc update (#69501)"
  docs/source/onnx.rst
  torch/onnx/README.md
Labels: cla signed, ciflow/default

#71564 Fix version strings in CI
  .circleci/scripts/binary_populate_env.sh
Labels: open source, cla signed, ciflow/default, ciflow/cpu

#71039 Wconstab/fallback infra
  lazy_tensor_core/lazy_bench.py
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/EagerFallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.cpp
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_eager_fallback.h
  lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/aten_ltc_ts_type.cpp
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#69090 enable autocast for Lazy CUDA device
  aten/src/ATen/autocast_mode.h
  c10/core/DispatchKeySet.cpp
Labels: open source, cla signed, ciflow/default

#71532 [LTS] CherryPick: Fix cuda debug nightly build not enough space issue
  .circleci/scripts/binary_windows_build.sh
Labels: open source, cla signed, ciflow/default

#71529 [LTS] CherryPick: Pin SciPy to 1.6.3 on mac
  .jenkins/pytorch/macos-test.sh
  test/distributions/test_distributions.py
Labels: open source, cla signed, ciflow/default

#71527 [LTS] CherryPick: Pin macos mkl conda version to fix the cmake build
  .jenkins/pytorch/macos-common.sh
Labels: open source, cla signed, ciflow/default

#71523 [LTS] CI: Remove unsupported build jobs
  .circleci/cimodel/data/pytorch_build_data.py
  .circleci/cimodel/data/simple/docker_definitions.py
  .circleci/cimodel/data/simple/ios_definitions.py
  .circleci/config.yml
Labels: open source, cla signed, ciflow/default

#67029 Codegen arange.start_out
  lazy_tensor_core/lazy_tensor_core/csrc/LazyShapeInference.cpp
  lazy_tensor_core/ts_native_functions.yaml
  tools/codegen/api/lazy.py
  tools/codegen/dest/lazy_ir.py
  tools/codegen/gen_lazy_tensor.py
Labels: cla signed, ciflow/default

#66575 [ONNX] Add export support for linalg norm
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
Labels: open source, cla signed, ciflow/default

#71125 Integrate full ONNX check into ONNX export API
  torch/_C/__init__.pyi.in
  torch/csrc/jit/python/script_init.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/csrc/jit/serialization/export.h
  torch/onnx/utils.py
Labels: oncall: jit, open source, cla signed, ciflow/default

#71777 Add lazy device to grad_scaler asserts
  torch/cuda/amp/grad_scaler.py
Labels: cla signed, ciflow/default

#71744 Clean up unused ToDevice sync and associated memory leak
  lazy_tensor_core/lazy_bench.py
Labels: cla signed, ciflow/default

#71524 [LTS] CherryPick: Pin docutils to 0.16
  docs/cpp/requirements.txt
  docs/requirements.txt
Labels: open source, cla signed, ciflow/default

#71526 [LTS] CherryPick: Temporary disable some numba integration tests
  test/test_numba_integration.py
Labels: open source, cla signed, ciflow/default

#71965 [ONNX] Fix an assertion failure involving Slice
  torch/csrc/jit/passes/onnx/constant_fold.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#70534 [onnx export] Add broadcast to matmul shape inference
  test/onnx/test_pytorch_onnx_shape_inference.py
  torch/csrc/jit/passes/onnx/shape_type_inference.cpp
Labels: oncall: jit, open source, cla signed, ciflow/default

#71528 [LTS] CherryPick: Skip all dataloader tests with asan
  test/test_dataloader.py
Labels: open source, cla signed, ciflow/default

#71522 [LTS] Check backward compatibility with PyTorch 1.8.1
  .jenkins/pytorch/test.sh
Labels: open source, cla signed, ciflow/default
