Repository pytorch/pytorch, pull requests merged in 2023-02, with the labels that each got.

#92871 Symbolic ONNX Exporter for TB Scale Models
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/_subclasses/fake_tensor.py
  torch/fx/_symbolic_trace.py
  torch/onnx/_internal/docs/fake_gpt.py
  torch/onnx/_internal/fx/__init__.py
  torch/onnx/_internal/fx/context.py
  torch/onnx/_internal/fx/export.py
  torch/onnx/symbolic_opset11.py
  torch/onnx/symbolic_opset9.py
Labels: open source, release notes: fx, ciflow/inductor

#93875 Improve Symbolic ONNX Exporter
  torch/onnx/_internal/fx/export.py
Labels: open source, release notes: onnx

#94094 [ONNX] Add validation op debugging with ORT
  torch/onnx/_internal/fx/export.py
Labels: open source, release notes: onnx

#92717 [ONNX] onnxscript w/ atenlib
  test/onnx/test_fx_to_onnx.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/onnx/_internal/fx/export.py
Labels: module: onnx, open source, release notes: onnx, topic: new feature

#94354 [ONNX] Diagnostics for demo
  .ci/onnx/test.sh
  test/onnx/internal/test_diagnostics.py
  test/onnx/onnx_test_common.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  tools/onnx/gen_diagnostics.py
  tools/onnx/templates/rules.py.in
  torch/csrc/onnx/diagnostics/diagnostics.h
  torch/csrc/onnx/diagnostics/generated/rules.h
  torch/onnx/_internal/diagnostics/__init__.py
  torch/onnx/_internal/diagnostics/_diagnostic.py
  torch/onnx/_internal/diagnostics/_rules.py
  torch/onnx/_internal/diagnostics/infra/__init__.py
  torch/onnx/_internal/diagnostics/infra/_infra.py
  torch/onnx/_internal/diagnostics/infra/decorator.py
  torch/onnx/_internal/diagnostics/infra/engine.py
  torch/onnx/_internal/diagnostics/infra/formatter.py
  torch/onnx/_internal/diagnostics/infra/utils.py
  torch/onnx/_internal/diagnostics/rules.yaml
  torch/onnx/_internal/docs/symbolically_exported_gpt.py
  torch/onnx/_internal/fx/diagnostics.py
  torch/onnx/_internal/fx/export.py
  torch/onnx/verification.py
Labels: open source, release notes: onnx

#94540 [ONNX] fx-onnx fix lint
  tools/onnx/gen_diagnostics.py
  torch/csrc/onnx/diagnostics/generated/rules.h
  torch/onnx/_internal/diagnostics/_diagnostic.py
  torch/onnx/_internal/diagnostics/_rules.py
  torch/onnx/_internal/diagnostics/infra/decorator.py
  torch/onnx/_internal/docs/gpt.py
  torch/onnx/_internal/docs/symbolically_exported_bloom.py
  torch/onnx/_internal/docs/symbolically_exported_gpt.py
  torch/onnx/_internal/fx/diagnostics.py
  torch/onnx/_internal/fx/export.py
Labels: module: onnx, open source, release notes: onnx, topic: not user facing

#94533 [ONNX] Diagnostics + demo scripts
  .ci/onnx/test.sh
  test/onnx/internal/test_diagnostics.py
  test/onnx/onnx_test_common.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  test/test_testing.py
  tools/onnx/gen_diagnostics.py
  tools/onnx/templates/rules.py.in
  torch/csrc/onnx/diagnostics/diagnostics.h
  torch/csrc/onnx/diagnostics/generated/rules.h
  torch/onnx/_internal/diagnostics/__init__.py
  torch/onnx/_internal/diagnostics/_diagnostic.py
  torch/onnx/_internal/diagnostics/_rules.py
  torch/onnx/_internal/diagnostics/infra/__init__.py
  torch/onnx/_internal/diagnostics/infra/_infra.py
  torch/onnx/_internal/diagnostics/infra/decorator.py
  torch/onnx/_internal/diagnostics/infra/engine.py
  torch/onnx/_internal/diagnostics/infra/formatter.py
  torch/onnx/_internal/diagnostics/infra/utils.py
  torch/onnx/_internal/diagnostics/rules.yaml
  torch/onnx/_internal/docs/bloom/bloom.py
  torch/onnx/_internal/docs/bloom/mismatch.ipynb
  torch/onnx/_internal/docs/bloom/requirements.txt
  torch/onnx/_internal/docs/gpt.py
  torch/onnx/_internal/docs/symbolically_exported_bloom.py
  torch/onnx/_internal/docs/symbolically_exported_gpt.py
  torch/onnx/_internal/fx/diagnostics.py
  torch/onnx/_internal/fx/export.py
  torch/onnx/verification.py
Labels: module: onnx, open source, release notes: onnx, topic: improvements

#94936 try to fix OSS CI error (#94785)
  third_party/xnnpack.buck.bzl
Labels: topic: not user facing

#94934 Changes for release 2.0 only
  .ci/pytorch/common_utils.sh
  .circleci/scripts/binary_checkout.sh
  .github/ci_commit_pins/xla.txt
  .github/templates/common.yml.j2
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-master.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-master.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: release notes: releng

#94981 [release only change] Add change to template - fix lint
  .github/templates/windows_binary_build_workflow.yml.j2
Labels: topic: not user facing

#95018 fix performance issue in torch.sparse.mm reduce mode (#94969)
  aten/src/ATen/native/cpu/SpmmReduceKernel.cpp
Labels: module: cpu, open source, release notes: releng

#95054 inductor(cpu): fix C++ compile error when sigmoid's post ops is a reduction op (#94890)
  test/inductor/test_torchinductor.py
  torch/_inductor/codegen/cpp.py
Labels: open source, ciflow/trunk, module: inductor, ciflow/inductor, release notes: inductor

#95071 Deprecate Caffe2 ONNX exporter
  torch/onnx/utils.py
Labels: open source, release notes: onnx

#95285 Update triton hash (#95247)
  .github/ci_commit_pins/triton.txt
Labels: topic: not user facing

#95150 Cherrypick for 2.0: fix numpy1.24 deprecations in unittests
  test/quantization/core/test_quantized_op.py
  test/test_reductions.py
  test/test_tensor_creation_ops.py
  test/test_tensorboard.py
  test/test_torch.py
Labels: open source, release notes: quantization, topic: not user facing

#95329 Raise error if torch.compile is called from windows or py 3.11 (#94940)
  test/inductor/test_perf.py
  tools/dynamo/verify_dynamo.py
  torch/_dynamo/eval_frame.py
  torch/testing/_internal/common_utils.py
Labels: module: inductor, module: dynamo, ciflow/inductor

#95317 [MPS] Numerical stability and reduction fixes
  aten/src/ATen/native/mps/operations/Activation.mm
  aten/src/ATen/native/mps/operations/ReduceOps.mm
  aten/src/ATen/native/mps/operations/RnnOps.mm
  test/test_mps.py
Labels: open source, release notes: mps, ciflow/mps

#95318 [MPS] Convolution fixes
  aten/src/ATen/native/mps/operations/Convolution.mm
  test/test_mps.py
Labels: open source, ciflow/trunk, release notes: mps, ciflow/mps

#95327 [MPS] Fixes in backward functions of the MPS ops
  aten/src/ATen/native/mps/OperationUtils.mm
  aten/src/ATen/native/mps/operations/Activation.mm
  aten/src/ATen/native/mps/operations/Indexing.mm
  aten/src/ATen/native/mps/operations/ReduceOps.mm
  test/test_mps.py
Labels: open source, release notes: mps, ciflow/mps

#95321 [MPS] Copy fixes for MPS backend
  aten/src/ATen/native/mps/operations/Copy.mm
  test/test_mps.py
Labels: open source, ciflow/mps

#95396 Raise error on 3.11 dynamo export (#95088)
  torch/_dynamo/eval_frame.py
Labels: module: dynamo, ciflow/inductor, release notes: dynamo

#95363 Fix warning if backend registers timer (#91702)
  torch/csrc/distributed/c10d/logger.cpp
Labels: open source, release notes: distributed (c10d)

#95323 [MPS] View fixes
  aten/src/ATen/native/mps/OperationUtils.mm
  aten/src/ATen/native/mps/operations/ConstantOps.mm
  aten/src/ATen/native/mps/operations/View.mm
  test/test_mps.py
Labels: open source, release notes: mps, ciflow/mps

#95325 [MPS] Fix issues with max_pool2d
  aten/src/ATen/native/Pooling.cpp
  aten/src/ATen/native/mps/operations/Pooling.mm
  aten/src/ATen/native/mps/operations/UpSample.mm
  aten/src/ATen/native/native_functions.yaml
  test/expect/HasDecompTest.test_has_decomposition.expect
  test/forward_backward_compatibility/check_forward_backward_compatibility.py
  test/test_mps.py
  tools/autograd/derivatives.yaml
  torchgen/model.py
Labels: open source, release notes: mps, ciflow/mps

#95383 use 4 warps for small block config in mm
  test/inductor/test_select_algorithm.py
  torch/_inductor/kernel/mm_common.py
Labels: module: inductor, ciflow/inductor, release notes: inductor

#95415 [optim] Set defaults to foreach, NOT fused (#95241)
  torch/optim/adadelta.py
  torch/optim/adagrad.py
  torch/optim/adam.py
  torch/optim/adamax.py
  torch/optim/adamw.py
  torch/optim/asgd.py
  torch/optim/nadam.py
  torch/optim/optimizer.py
  torch/optim/radam.py
  torch/optim/rmsprop.py
  torch/optim/rprop.py
  torch/optim/sgd.py
Labels: release notes: nn

#95439 inductor: fix complier error when trying to vectorize logit_and and logit_or (#95361)
  test/inductor/test_torchinductor.py
  torch/_inductor/codegen/cpp.py
Labels: open source, module: inductor, ciflow/inductor

#95477 hotfix for memory leak in aot autograd induced by saving tensors for …
  test/functorch/test_aotdispatch.py
  torch/_functorch/aot_autograd.py
Labels: release notes: AO frontend

#95516 [optim] Add general documentation on our algorithm defaults (#95391)
  docs/source/optim.rst
Labels: release notes: nn, topic: documentation

#95388 [MPS] LSTM fixes
  aten/src/ATen/native/RNN.cpp
  aten/src/ATen/native/mps/operations/RnnOps.mm
  aten/src/ATen/native/native_functions.yaml
  test/forward_backward_compatibility/check_forward_backward_compatibility.py
  test/test_mps.py
  tools/autograd/derivatives.yaml
  torchgen/api/python.py
Labels: open source, ciflow/trunk, release notes: mps, ciflow/mps

#95577 Cherry pick triton cuda.h fix
  .github/ci_commit_pins/triton.txt
Labels: topic: not user facing

#95627 Reserve the tensorrt backend name for torch-tensorrt
  torch/_dynamo/backends/onnxrt.py
  torch/_dynamo/backends/tensorrt.py
Labels: release notes: onnx, module: dynamo, ciflow/inductor

#95495 [MPS] Add TORCH_CHECK for Convolution
  aten/src/ATen/native/mps/operations/Convolution.mm
Labels: open source, release notes: mps, ciflow/mps

#95625 [MPS] Remove FFTs from MPSFallback
  aten/src/ATen/mps/MPSFallback.mm
Labels: open source, release notes: mps, ciflow/mps
