Repository pytorch/pytorch, pull requests merged in 2023-04, with the labels that each got.

#97857 [release 2.0.1] [fix] vmap: fix segfault on data access
  aten/src/ATen/functorch/BatchRulesDecompositions.cpp
  aten/src/ATen/functorch/BatchedTensorImpl.cpp
  aten/src/ATen/functorch/BatchedTensorImpl.h
  test/functorch/test_vmap.py
Labels: open source, ciflow/binaries, module: functorch

#97867 [release 2.0.1] Fix type hint for torch.Tensor.grad_fn (#96804)
  torch/_C/__init__.pyi.in
  torch/distributed/_shard/sharded_tensor/_ops/tensor_ops.py
  torch/distributed/fsdp/_runtime_utils.py
Labels: open source, ciflow/binaries, release notes: distributed (sharded)

#97885 [v2.0.1] Handle `grad_scale` and `found_inf` independently
  test/test_optim.py
  torch/optim/adam.py
  torch/optim/adamw.py
Labels: open source, ciflow/binaries, release notes: nn, topic: bug fixes

#97886 [v2.0.1] `GradScaler` recomputes `found_inf` before `optimizer.step`
  test/test_cuda.py
  torch/cuda/amp/grad_scaler.py
Labels: open source, ciflow/binaries

#97908 [release 2.0.1] [fix] jacrev and jacfwd : support non-tensor args again
  test/functorch/test_eager_transforms.py
  torch/_functorch/eager_transforms.py
Labels: open source, ciflow/binaries

#98017 Fix module backward pre-hooks to actually update gradient (#97983)
  test/nn/test_module_hooks.py
  torch/utils/hooks.py
Labels: ciflow/binaries, release notes: autograd

#98019 [vmap] Fix index_select support when dim is negative (#97916)
  aten/src/ATen/functorch/BatchRulesScatterOps.cpp
  torch/testing/_internal/common_methods_invocations.py
Labels: release notes: functorch

#98055 [release v2.0.1] Revisit `torch._six.string_classes` removal (#97737, #97789, #97863)
  test/distributed/test_store.py
  torch/cuda/amp/autocast_mode.py
  torch/distributed/rendezvous.py
  torch/onnx/_internal/jit_utils.py
  torch/serialization.py
  torch/testing/_internal/common_utils.py
  torch/utils/data/_utils/collate.py
  torch/utils/data/_utils/pin_memory.py
  torch/utils/data/dataloader.py
Labels: open source, release notes: onnx, topic: bug fixes

#98513 Add support for custom backend (#95072)
  test/distributed/test_c10d_common.py
  torch/distributed/distributed_c10d.py
Labels: release notes: distributed (c10d)

#98523 [v2.0.1][DataLoader] Forward fix for DataLoader to accept custom Sharding DataPipe
  test/test_datapipe.py
  torch/utils/data/dataloader.py
  torch/utils/data/datapipes/iter/sharding.py
  torch/utils/data/graph_settings.py
Labels: release notes: dataloader

#98528 [cuDNN][cuDNN V8 API] Fix incorrect use of emplace in the benchmark cache (#97838)
  aten/src/ATen/native/cudnn/Conv_v8.cpp
Labels: module: cudnn, open source, ciflow/trunk, topic: not user facing

#98289 Modify 'fake_tensor_unsupported' function
  torch/_dynamo/backends/common.py
Labels: open source, topic: not user facing, module: dynamo, ciflow/inductor

#99193 Update README.md
  README.md
Labels: topic: not user facing

#99194 Revert "Update README.md"
  README.md
Labels: topic: not user facing

#99210 Rename default branch to `main`
  .circleci/README.md
  .circleci/scripts/binary_checkout.sh
  .github/ISSUE_TEMPLATE.md
  .github/scripts/README.md
  .github/scripts/fetch_latest_green_commit.py
  .github/scripts/generate_ci_workflows.py
  .github/scripts/test_tryrebase.py
  .github/scripts/trymerge.py
  .github/scripts/update_commit_hashes.py
  .github/workflows/_android-build-test.yml
  .github/workflows/_android-full-build-test.yml
  .github/workflows/_bazel-build-test.yml
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/_binary-upload.yml
  .github/workflows/_buck-build-test.yml
  .github/workflows/_calculate-docker-image.yml
  .github/workflows/_docs.yml
  .github/workflows/_ios-build-test.yml
  .github/workflows/_linux-build.yml
  .github/workflows/_linux-test.yml
  .github/workflows/_mac-build.yml
  .github/workflows/_mac-test-mps.yml
  .github/workflows/_mac-test.yml
  .github/workflows/_rocm-test.yml
  .github/workflows/_run_android_tests.yml
  .github/workflows/_win-build.yml
  .github/workflows/_win-test.yml
  .github/workflows/build-triton-wheel.yml
  .github/workflows/check-labels.yml
  .github/workflows/create_release.yml
  .github/workflows/docker-builds.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-main.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-main.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/inductor.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-rockset-uploads.yml
  .github/workflows/pull.yml
  .github/workflows/scorecards.yml
  .github/workflows/trunk.yml
  .github/workflows/trymerge.yml
  .github/workflows/unstable.yml
  .github/workflows/update_pytorch_labels.yml
  .github/workflows/upload-test-stats.yml
  .github/workflows/upload-torch-dynamo-perf-stats.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
Labels: topic: not user facing

#98777 [release 2.0.1] Warn once for TypedStorage deprecation
  test/test_torch.py
  torch/storage.py
  torch/testing/_internal/common_utils.py
Labels: open source, module: python frontend

#98910 [MPS] Fix the MacOS 13.3 selector check.
  aten/src/ATen/mps/MPSDevice.mm
Labels: open source, release notes: mps, ciflow/mps

#99092 Adds 3D attn_mask support to merge_masks() for Multihead Attention fa…
  test/test_transformers.py
  torch/nn/modules/activation.py
Labels: release notes: nn, topic: bug fixes, module: multi-headed-attention

#98718 Cherry-pick of #97214
  test/test_nn.py
  test/test_transformers.py
  torch/nn/functional.py
  torch/nn/modules/activation.py
  torch/nn/modules/transformer.py
Labels: release notes: nn

#99456 [MPS] Fix batch_norm_backwards key (#98794)
  aten/src/ATen/native/mps/operations/Normalization.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps

#99459 [release/2.0.1] Fix flaky Dynamo export tests (#96488)
  test/dynamo/test_repros.py
  torch/csrc/dynamo/eval_frame.c
  torch/testing/_internal/common_utils.py
Labels: open source, module: dynamo

#99103 [release 2.0.1] [fix] fix load_sharded_optimizer_state_dict error on multi node
  torch/distributed/checkpoint/optimizer.py
Labels: open source

#99552 Remove rocm python 3.11 restriction
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
Labels: module: rocm, topic: not user facing

#99666 [2.0.1] Remove redundant `found_inf` recompute
  test/test_cuda.py
  torch/cuda/amp/grad_scaler.py
Labels: open source

#99740 aot autograd: handle detach() and no_grad() mutations on input (#95980)
  test/dynamo/test_aot_autograd.py
  test/functorch/test_aotdispatch.py
  torch/_functorch/aot_autograd.py
Labels: module: dynamo, release notes: AO frontend

#99443 Fix tuple iterator issue
  test/dynamo/test_misc.py
  torch/_dynamo/variables/builder.py
  torch/_dynamo/variables/builtin.py
  torch/_dynamo/variables/lists.py
Labels: module: dynamo, ciflow/inductor, release notes: dynamo

#99941 Add pass to normalize torch.ops.fb.equally_split
  test/inductor/test_split_cat_fx_passes.py
  torch/_inductor/fx_passes/pre_grad.py
  torch/_inductor/fx_passes/split_cat.py
Labels: fb-exported, module: inductor, ciflow/inductor

#99826 [buckbuild.bzl] Fix dep handling in cross-builds
  buckbuild.bzl
  tools/build_defs/fb_native_wrapper.bzl
Labels: fb-exported, ciflow/periodic

#100091 Migrate jobs from windows.4xlarge to windows.4xlarge.nonephemeral instances
  .github/actionlint.yaml
  .github/scripts/rockset_mocks.json
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/_win-build.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
Labels: topic: not user facing

#99935 [quant][pt2e] remove dropout from fx quant
  torch/ao/quantization/backend_config/executorch.py
Labels: fb-exported, release notes: quantization, release notes: AO frontend

#100024 Introduce fast path in the CPU equal op
  aten/src/ATen/native/ReduceOps.cpp
  test/test_torch.py
Labels: fb-exported
