Repository pytorch/pytorch, pull requests merged in 2023-09, with the labels that each got.

#108311 Fix triton upload channel detection
  .github/workflows/_binary-upload.yml
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing, test-config/default

#108134 [functorch] make torch.compile support opt-in
  torch/_dynamo/config.py
Labels: open source, module: dynamo, ciflow/inductor

#108216 Add channels_last3d support for mkldnn conv and mkldnn deconv
  aten/src/ATen/native/ConvUtils.h
  aten/src/ATen/native/Convolution.cpp
  aten/src/ATen/native/mkldnn/Conv.cpp
  test/test_mkldnn.py
  test/test_mkldnn_fusion.py
Labels: module: cpu, module: mkldnn, open source, ciflow/trunk, topic: not user facing, ciflow/periodic, ciflow/inductor

#108385 Update to RNN documentation (#106222)
  torch/nn/modules/rnn.py
Labels: open source

#108410 [MPS] Fix `.item()` for multi-dim scalar (#107913)
  aten/src/ATen/native/mps/operations/Copy.mm
  aten/src/ATen/native/mps/operations/Scalar.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps

#108423 [Release-Only] Add triton dependency to PyPI PyTorch package
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
Labels: topic: not user facing, test-config/default

#108471 Only add triton dependency to CUDA and ROCm binaries if it hasn't been set as an installation requirement yet
  setup.py
Labels: module: rocm, topic: not user facing, test-config/default

#108119 [inductor] Add constant_to_device for ir.Constant
  test/inductor/test_cuda_repro.py
  torch/_inductor/ir.py
Labels: module: inductor, ciflow/inductor

#108120 [dynamo] Graph break on pack_padded_sequence
  torch/_dynamo/variables/torch.py
  torch/_inductor/select_algorithm.py
Labels: module: inductor, module: dynamo, ciflow/inductor

#108121 [dynamo] Fix setattr nn.Module with new attribute
  test/dynamo/test_modules.py
  torch/_dynamo/variables/builtin.py
Labels: module: dynamo, ciflow/inductor

#108122 [inductor] Add aten.multinomial to disallowed cudagraphs ops
  torch/_inductor/utils.py
Labels: module: inductor, ciflow/inductor

#108129 inductor change needed to update triton pin
  test/test_sparse_csr.py
  torch/_inductor/codegen/triton_utils.py
  torch/_inductor/kernel/mm.py
  torch/_inductor/kernel/mm_common.py
  torch/_inductor/triton_heuristics.py
  torch/_inductor/utils.py
Labels: module: inductor, ciflow/inductor

#108523 When byteorder record is missing load as little endian by default
  test/test_serialization.py
  torch/serialization.py
Labels: open source

#108259 [inductor] Fix inputs with existing offsets
  test/inductor/test_cpp_wrapper.py
  test/inductor/test_torchinductor.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/graph.py
  torch/_inductor/ir.py
  torch/csrc/inductor/inductor_ops.cpp
  torch/csrc/inductor/inductor_ops.h
Labels: module: inductor, ciflow/inductor

#108255 [quant] Move dropout replacement to `move_model_to_eval` (#108184)
  test/quantization/pt2e/test_quantize_pt2e.py
  torch/ao/quantization/__init__.py
  torch/ao/quantization/pt2e/utils.py
  torch/ao/quantization/quantize_pt2e.py
Labels: module: correctness (silent), release notes: quantization

#108593 Pin pandas version for inductor Docker image
  .ci/docker/common/install_inductor_benchmark_deps.sh
  .ci/docker/requirements-ci.txt
Labels: topic: not user facing, test-config/default

#108327 [Inductor] Add fused_attention pattern matcher with additional clone
  test/inductor/test_fused_attention.py
  torch/_inductor/fx_passes/fuse_attention.py
Labels: open source, ciflow/trunk, module: inductor, ciflow/inductor

#108628 torch.compile-functorch interaction: update docs (#108130)
  docs/source/torch.compiler_faq.rst
Labels: open source

#108649 Add check for out of range pointer. (#107510)
  torch/csrc/jit/mobile/flatbuffer_loader.cpp
Labels: release notes: mobile

#108652 Inductor cpp wrapper: fix codegen of positional args with default value
  test/inductor/test_cpp_wrapper.py
  test/inductor/test_torchinductor.py
  torch/_inductor/ir.py
  torch/_inductor/utils.py
Labels: open source, module: inductor, ciflow/inductor

#108679 [ONNX] Show sarif_report_path (#108398)
  torch/onnx/_internal/exporter.py
Labels: open source, release notes: onnx

#108680 Revert "docs: Match open bracket with close bracket in unsqueeze (#95…
  torch/_torch_docs.py
Labels: release notes: python_frontend

#108688 Release only change, test against test channel
  .circleci/scripts/binary_linux_test.sh
Labels: topic: not user facing, ciflow/binaries_wheel

#108617 Add TORCH_API to Expose RPC module functions for RPC module device extension
  torch/csrc/distributed/rpc/agent_utils.h
  torch/csrc/distributed/rpc/rpc_agent.h
Labels: open source, release notes: distributed (rpc)

#108737 [Doc 2.1] Move Dynamo IPEX backend to training/inference category
  docs/source/torch.compiler.rst
Labels: open source

#108555 Use contiguous() to handle noncontiguous outputs during elementwise d…
  torch/_refs/__init__.py
Labels: open source

#108825 Revert and reland fix clang-tidy warnings in torch/csrc
  torch/csrc/dynamo/eval_frame.c
Labels: open source, ciflow/binaries_conda, ciflow/binaries_wheel, module: dynamo

#108939 [ONNX] Add initial support for FP8 ONNX export (#107962)
  test/onnx/test_pytorch_onnx_no_runtime.py
  test/onnx/test_pytorch_onnx_shape_inference.py
  test/onnx/test_utility_funs.py
  torch/_C/_onnx.pyi
  torch/csrc/jit/passes/onnx/helper.cpp
  torch/csrc/jit/passes/onnx/scalar_type_analysis.cpp
  torch/csrc/jit/serialization/export.cpp
  torch/csrc/onnx/back_compat.h
  torch/csrc/onnx/init.cpp
  torch/onnx/_constants.py
  torch/onnx/_type_utils.py
Labels: open source, release notes: onnx

#109026 Refactor torch.onnx documentation
  .github/merge_rules.yaml
  docs/Makefile
  docs/source/_static/img/onnx/onnx_dynamo_mlp_model.png
  docs/source/_static/img/onnx/onnx_dynamo_mlp_model_function_body.png
  docs/source/_static/img/onnx/onnx_dynamo_mlp_model_function_highlight.png
  docs/source/index.rst
  docs/source/onnx.rst
  docs/source/onnx_diagnostics.rst
  docs/source/onnx_dynamo.rst
  docs/source/onnx_dynamo_onnxruntime_backend.rst
  docs/source/onnx_torchscript.rst
  docs/source/onnx_torchscript_supported_aten_ops.rst
  docs/source/scripts/onnx/build_onnx_dynamo_diagnostics_rules_md.py
  docs/source/scripts/onnx/build_onnx_torchscript_supported_aten_op_csv_table.py
  docs/source/torch.compiler.rst
  torch/onnx/__init__.py
  torch/onnx/_internal/diagnostics/infra/_infra.py
  torch/onnx/_internal/exporter.py
  torch/onnx/_internal/fx/passes/type_promotion.py
Labels: module: onnx, open source, release notes: onnx, topic: docs

#109027 [quant][pt2] Fix and rename `move_model_to_eval` (#108891)
  test/inductor/test_inductor_freezing.py
  test/inductor/test_mkldnn_pattern_matcher.py
  test/quantization/pt2e/test_quantize_pt2e.py
  torch/ao/quantization/__init__.py
  torch/ao/quantization/pt2e/utils.py
  torch/ao/quantization/quantize_pt2e.py
Labels: release notes: quantization, module: inductor

#109051 Add torch_lazy_enable_device_data_cache to disable lazy device data cache
  torch/csrc/lazy/core/config.cpp
  torch/csrc/lazy/core/config.h
  torch/csrc/lazy/core/lazy_graph_executor.cpp
Labels: open source

#109069 Refactor ios-build-test workflow to support binary release
  .github/workflows/_ios-build-test.yml
  .github/workflows/build-ios-binaries.yml
  .github/workflows/periodic.yml
  cmake/iOS.cmake
  ios/LibTorch-Lite.podspec.template
  ios/LibTorch.podspec.template
  ios/TestApp/benchmark/coreml_backend.py
  ios/TestApp/benchmark/trace_model.py
Labels: release notes: releng, test-config/default

#109106 Prerequisite of ATen/native/utils header for C++ extension (#109013)
  aten/src/ATen/CMakeLists.txt
  setup.py
Labels: topic: not user facing

#109297 [fx][split] Copy node metadata for placeholders (#107981)
  torch/fx/passes/split_utils.py
Labels: release notes: fx

#109608 [release-2.1] Make numpy dependency optional for torch.compile
  torch/_dynamo/variables/constant.py
  torch/_inductor/codegen/cpp.py
  torch/_inductor/fx_passes/split_cat.py
Labels: module: inductor, module: dynamo, ciflow/inductor

#109789 [release-2.1] Add docs for torch.compile(numpy)
  docs/source/torch.compiler_faq.rst
Labels: open source, topic: docs, release notes: dynamo

#109803 Remove torchtext from Build Official Docker images (#109799)
  Dockerfile
Labels: topic: not user facing

#109801 [Release/2.1] [Docs] Fix typo in `torch.unflatten`
  torch/_torch_docs.py
Labels: release notes: python_frontend

#109809 [release only] Docker build - Setup release specific variables
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#109826 [Release-2.1]Fix the parameter error in test_device_mesh.py
  test/distributed/_tensor/test_device_mesh.py
Labels: topic: not user facing

#109823 [Release-2.1]Add tensorboard to pip requirements
  .ci/docker/requirements-ci.txt
  .ci/pytorch/win-test.sh
  .github/requirements/pip-requirements-macOS.txt
  test/test_tensorboard.py
Labels: ciflow/trunk, release notes: releng

#106863 Add redirect links to the contributor wiki
  CONTRIBUTING.md
  docs/source/community/contribution_guide.rst
  docs/source/community/governance.rst
Labels: topic: not user facing
