Repository pytorch/pytorch, pull requests merged in 2023-10, with the labels that each got.

#110309 [release only] Docker build for release - trigger manually from pytorch channel
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#110547 [release only] Docker build for release - trigger manually from pytorch channel
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#110553 [release only] Docker build for release - trigger manually from pytorch channel
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#110556 [release only] Docker build for release - trigger manually from pytorch channel
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#110566 [release only] Docker build for release - trigger manually from pytorch channel
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#110705 Move Docker official builds to Cuda 12.1.1 (#110703)
  docker.Makefile
Labels: topic: not user facing

#110655 Add a workflow to release Android binaries
  .github/requirements/conda-env-Linux-X64.txt
  .github/workflows/_run_android_tests.yml
  .github/workflows/build-android-binaries.yml
  .github/workflows/periodic.yml
  .gitignore
  android/pytorch_android/build.gradle
  android/pytorch_android/src/androidTest/java/org/pytorch/PytorchTestBase.java
  android/pytorch_android/src/main/cpp/pytorch_jni_common.cpp
  android/pytorch_android/src/main/cpp/pytorch_jni_jit.cpp
  android/pytorch_android/src/main/cpp/pytorch_jni_lite.cpp
  android/pytorch_android/src/main/java/org/pytorch/LitePyTorchAndroid.java
  android/pytorch_android/src/main/java/org/pytorch/PyTorchAndroid.java
  android/test_app/app/build.gradle
  android/test_app/app/src/main/java/org/pytorch/testapp/MainActivity.java
  test/mobile/model_test/gen_test_model.py
  test/mobile/model_test/torchvision_models.py
Labels: release notes: releng, test-config/default

#111009 [Release-only] Set Android version to 2.1.0
  android/gradle.properties
Labels: test-config/default

#111083 Fix Android publish step with lite interpreter (#111071)
  android/pytorch_android/host/build.gradle
Labels: test-config/default

#111039 Try to use linux.arm64.2xlarge runners (#107672)
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
Labels: topic: not user facing

#111149 [FSDP] continue if param not exist in sharded load (#109116)
  torch/distributed/fsdp/_state_dict_utils.py
Labels: release notes: distributed (fsdp)

#110969 Improved the docs for torch.std, torch.var, torch.std_mean, torch.var…
  torch/_torch_docs.py
Labels: open source, release notes: python_frontend

#111578 Add pypi required metadata to all wheels except linux
  .circleci/scripts/binary_populate_env.sh
  .github/scripts/generate_binary_build_matrix.py
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
  setup.py
Labels: topic: not user facing

#111036 Update fully_sharded_data_parallel to fix typing (#110545)
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: open source, release notes: distributed (fsdp)

#111683 Revert "Update fully_sharded_data_parallel to fix typing (#110545)"
  torch/distributed/fsdp/fully_sharded_data_parallel.py
Labels: release notes: distributed (sharded)

#111675 [release only] Pin disabled and unstable jobs. keep CI green
  .github/scripts/filter_test_configs.py
Labels: topic: not user facing

#111801 Fix create source distribution step for release (#111697)
  .github/workflows/create_release.yml
Labels: topic: not user facing

#111694 [Release/2.1.1][ONNX] Fix aten::new_zeros due to TorchScript behavior change on Pytorch 2.1 Fix #110935
  test/onnx/test_pytorch_onnx_onnxruntime.py
  torch/onnx/_type_utils.py
  torch/onnx/symbolic_helper.py
  torch/onnx/symbolic_opset9.py
Labels: module: onnx, open source, release notes: onnx

#111679 [Release/2.1.1] [Test][ShardedTensor] Add test for corner case for chunk sharding spec #109626
  test/distributed/_shard/sharded_tensor/test_sharded_tensor.py
Labels: topic: not user facing

#111877 [CUDA][cuFFT] Initialize CUDA context for cuFFT before execute is called
  aten/src/ATen/cuda/detail/LazyNVRTC.cpp
  aten/src/ATen/cuda/nvrtc_stub/ATenNVRTC.h
  aten/src/ATen/native/cuda/SpectralOps.cpp
  test/test_spectral_ops.py
Labels: open source, topic: not user facing

#111942 fix TEST_ROCM definition to disable test_jit_cudnn_extension on rocm (#110385)
  test/test_cpp_extensions_jit.py
Labels: module: rocm, ciflow/trunk, topic: not user facing, ciflow/rocm

#112026 Add continue-on-error if ssh step is failing (#111916)
  .github/templates/common.yml.j2
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing

#111971 [release only] Pin Docker images for release.
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-main.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-main.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
Labels: topic: not user facing, ciflow/binaries_conda, ciflow/binaries_wheel, ciflow/binaries_libtorch

#112040 Docker release build don't include build suffix in the release
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#112165 Verify flatbuffer module fields are initialized (#109794)
  torch/csrc/jit/mobile/flatbuffer_loader.cpp
Labels: release notes: mobile

#111835 [release/2.1.1][dynamo] Fix circular import with einops
  test/dynamo/test_misc.py
  torch/_dynamo/allowed_functions.py
  torch/_dynamo/decorators.py
  torch/_dynamo/guards.py
  torch/_dynamo/symbolic_convert.py
  torch/_dynamo/variables/builder.py
  torch/_dynamo/variables/dicts.py
Labels: open source, module: dynamo, ciflow/inductor

#111955 Fix #110680 (requires_grad typo in decomp)
  torch/_decomp/decompositions.py
  torch/testing/_internal/common_methods_invocations.py
Labels: ciflow/inductor

#111861 [Release/2.1.1] Ignore beartype if its version is 0.16.0
  torch/onnx/_internal/_beartype.py
Labels: open source, release notes: onnx, topic: bug fixes

#112187 Revert "Do not materialize entire randperm in RandomSampler (#103339)"
  torch/utils/data/sampler.py
Labels: release notes: dataloader, ciflow/mps

#111875 [NCCL][CUDA][CUDA Graphs] Flush enqueued work before starting a graph capture 2
  aten/src/ATen/cuda/CUDAGraph.cpp
  aten/src/ATen/cuda/CUDAGraph.h
  test/distributed/test_c10d_nccl.py
  torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp
Labels: open source, topic: not user facing

#112265 [MPS] Skip virtualized devices (#111576)
  aten/src/ATen/mps/MPSDevice.mm
Labels: ciflow/trunk, release notes: mps, ciflow/mps, test-config/default

#112432 [MPS] Fix mps to cpu copy with storage offset
  aten/src/ATen/native/mps/operations/Copy.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps
