Repository pytorch/pytorch, pull requests merged in 2023-12, with the labels that each got.

#114958 [MPS] Fix out-of-bounds fill to sliced tensor (#114838)
  aten/src/ATen/mps/MPSStream.mm
  aten/src/ATen/native/mps/operations/ConstantOps.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps

#114837 Require less alignment for attn bias (#114173)
  aten/src/ATen/native/transformers/attention.cpp
  aten/src/ATen/native/transformers/cuda/mem_eff_attention/kernel_backward.h
  aten/src/ATen/native/transformers/cuda/mem_eff_attention/kernel_forward.h
  test/inductor/test_torchinductor.py
  test/inductor/test_torchinductor_codegen_dynamic_shapes.py
  test/test_transformers.py
  torch/_inductor/lowering.py
  torch/_meta_registrations.py
Labels: module: inductor, ciflow/inductor

#115241 Fix NULL dereference in binary CPU ops (#115183)
  aten/src/ATen/native/cpu/BinaryOpsKernel.cpp
  test/test_foreach.py
  test/test_numpy_interop.py
Labels: module: cpu, ciflow/trunk, release notes: foreach_frontend, test-config/default

#115292 [Release 2.2] Release only changes
  .ci/pytorch/common_utils.sh
  .github/ci_commit_pins/xla.txt
  .github/scripts/filter_test_configs.py
  .github/templates/common.yml.j2
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/_android-build-test.yml
  .github/workflows/_android-full-build-test.yml
  .github/workflows/_bazel-build-test.yml
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/_binary-upload.yml
  .github/workflows/_buck-build-test.yml
  .github/workflows/_docs.yml
  .github/workflows/_ios-build-test.yml
  .github/workflows/_linux-build.yml
  .github/workflows/_linux-test.yml
  .github/workflows/_mac-build.yml
  .github/workflows/_mac-test-mps.yml
  .github/workflows/_mac-test.yml
  .github/workflows/_rocm-test.yml
  .github/workflows/_run_android_tests.yml
  .github/workflows/_win-build.yml
  .github/workflows/_win-test.yml
  .github/workflows/build-triton-wheel.yml
  .github/workflows/check-labels.yml
  .github/workflows/close-nonexistent-disable-issues.yml
  .github/workflows/docker-builds.yml
  .github/workflows/docker-release.yml
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-main.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-main.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
  .github/workflows/lint-bc.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-rockset-uploads.yml
  .github/workflows/update_pytorch_labels.yml
  .github/workflows/upload-alerts.yml
  .github/workflows/upload-test-stats.yml
  .github/workflows/upload-torch-dynamo-perf-stats.yml
  tools/stats/import_test_stats.py
Labels: release notes: releng

#115318 [Release 2.2] Release only changes 2
  .github/templates/common.yml.j2
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing

#115348 [Release 2.2] Release only changes 3
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
Labels: topic: not user facing

#115320 Add `reset_storage` method to FunctionalTensorWrapper (#115235)
  aten/src/ATen/FunctionalTensorWrapper.cpp
  aten/src/ATen/FunctionalTensorWrapper.h
  test/lazy/test_functionalization.py
  torch/csrc/lazy/core/lazy_graph_executor.cpp
  torch/csrc/utils/python_dispatch.cpp
Labels: open source

#115379 Checkout release version if we are using python release
  .github/scripts/build_triton_wheel.py
Labels: topic: not user facing

#115470 [Release-2.2] Fix NULL dereference in binary CPU ops
  aten/src/ATen/native/cpu/BinaryOpsKernel.cpp
  test/test_foreach.py
  test/test_numpy_interop.py
Labels: module: cpu, module: mkldnn, release notes: foreach_frontend

#115440 Use linux.large.arc for stale workflow
  .github/actionlint.yaml
  .github/workflows/stale.yml
Labels: topic: not user facing

#115600 [Release/2.2]Rename _device_mesh.py to device_mesh.py
  docs/source/distributed.rst
  test/distributed/_tensor/test_utils.py
  test/distributed/fsdp/test_fsdp_dtensor_state_dict.py
  test/distributed/fsdp/test_hsdp_dtensor_state_dict.py
  test/distributed/test_device_mesh.py
  test/test_public_bindings.py
  torch/_dynamo/skipfiles.py
  torch/_dynamo/variables/distributed.py
  torch/distributed/_device_mesh.py
  torch/distributed/_tensor/__init__.py
  torch/distributed/_tensor/_collective_utils.py
  torch/distributed/_tensor/_utils.py
  torch/distributed/_tensor/_xla.py
  torch/distributed/_tensor/api.py
  torch/distributed/_tensor/device_mesh.py
  torch/distributed/_tensor/dispatch.py
  torch/distributed/_tensor/op_schema.py
  torch/distributed/_tensor/ops/basic_strategy.py
  torch/distributed/_tensor/ops/math_ops.py
  torch/distributed/_tensor/ops/matrix_ops.py
  torch/distributed/_tensor/ops/pointwise_ops.py
  torch/distributed/_tensor/ops/random_ops.py
  torch/distributed/_tensor/ops/tensor_ops.py
  torch/distributed/_tensor/placement_types.py
  torch/distributed/_tensor/random.py
  torch/distributed/_tensor/redistribute.py
  torch/distributed/_tensor/sharding_prop.py
  torch/distributed/device_mesh.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_state_dict_utils.py
  torch/distributed/tensor/parallel/_utils.py
  torch/distributed/tensor/parallel/fsdp.py
  torch/testing/_internal/distributed/distributed_test.py
Labels: release notes: distributed (fsdp), ciflow/periodic, module: dynamo, ciflow/inductor, module: distributed

#114309 Initial Flash Attention support on ROCM
  CMakeLists.txt
  aten/src/ATen/CMakeLists.txt
  aten/src/ATen/native/transformers/attention.cpp
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
  aten/src/ATen/native/transformers/hip/flash_attn/flash_api.hip
  caffe2/CMakeLists.txt
  cmake/Dependencies.cmake
  cmake/External/oort.cmake
  cmake/Summary.cmake
  test/test_transformers.py
  tools/amd_build/build_amd.py
  torch/testing/_internal/common_cuda.py
  torch/testing/_internal/common_methods_invocations.py
  torch/utils/hipify/cuda_to_hip_mappings.py
Labels: module: rocm, triaged, open source, ciflow/trunk, release notes: rocm, ciflow/binaries_wheel, keep-going, ciflow/rocm

#115753 [export] Do not copy state_dict in run_decomp (#115269)
  test/export/test_export.py
  torch/export/exported_program.py
Labels: open source, module: export

#115669 [Cherry-pick][ONNX][dynamo_export] Extend expected fx output types for int, float, bool (#115431)
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/onnx/_internal/fx/fx_onnx_interpreter.py
  torch/onnx/_internal/fx/type_utils.py
Labels: open source, release notes: onnx

#115929 Set _dynamo.config.capture_func_transforms=False (#115267)
  test/dynamo/test_functions.py
  test/dynamo/test_higher_order_ops.py
  test/dynamo/test_interop.py
  torch/_dynamo/config.py
Labels: module: dynamo, ciflow/inductor

#115939 [cherry-pick][tp] improve documentation
  docs/source/distributed.tensor.parallel.rst
  torch/distributed/tensor/parallel/api.py
  torch/distributed/tensor/parallel/style.py
Labels: module: distributed

#115952 [cherry-pick][export] Update schema version
  torch/_export/serde/schema.py
Labels: ciflow/inductor, oncall: export

#116063 Use matrix generate script for docker release workflows (#115949)
  .github/scripts/generate_binary_build_matrix.py
  .github/scripts/generate_docker_release_matrix.py
  .github/workflows/docker-release.yml
  Dockerfile
  docker.Makefile
Labels: topic: not user facing

#116098 [releng] Docker release, Change docker tag. Refactor Push nightly tags step. Move cuda and cudnn version to docker tag rather then name
  .github/workflows/docker-release.yml
  docker.Makefile
Labels: topic: not user facing

#115990 Enable thp(transparent huge pages) for buffer sizes >=2MB
  c10/core/alignment.h
  c10/core/impl/alloc_cpu.cpp
Labels: open source

#116115 [CherryPick][DeviceMesh] Fix DeviceMesh docs #116053 and #116074
  torch/distributed/device_mesh.py
Labels: release notes: distributed (fsdp), module: dynamo, ciflow/inductor, module: distributed

#116207 [ROCm] Disabling Kernel Asserts for ROCm by default - fix and clean up and refactoring (#114660)
  CMakeLists.txt
  build.bzl
  c10/CMakeLists.txt
  c10/macros/Macros.h
  c10/macros/cmake_macros.h.in
  c10/ovrsource_defs.bzl
  caffe2/core/macros.h.in
  cmake/Dependencies.cmake
  cmake/Summary.cmake
  setup.py
Labels: module: rocm, open source, ciflow/binaries, ciflow/rocm

#116301 Fix bug in mem_eff kernel with attention mask and MQA (#116234)
  aten/src/ATen/native/transformers/cuda/mem_eff_attention/kernel_forward.h
  test/test_transformers.py
Labels: ciflow/inductor

#116272 Fix allowed dtypes for mem_eff attention (#116026)
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
  test/test_transformers.py
Labels: ciflow/inductor

#116332 Back out "[Kineto] Initialize libkineto profilers during torch init process during pybind set-up (#112623)" (#116201)
  test/test_testing.py
  torch/csrc/autograd/init.cpp
Labels: ciflow/trunk

#116541 [RelEng] Missing signal for release branches (#116516)
  .github/workflows/inductor.yml
  .github/workflows/periodic.yml
  .github/workflows/slow.yml
Labels: topic: not user facing

#116542 [MPS] aten::erfinv bug fix: add storage offset buffers to handle slicing (#105801)
  aten/src/ATen/native/mps/operations/UnaryKernel.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps

#116552 [CI] Fix docker builds (#116549)
  .ci/docker/requirements-ci.txt
Labels: topic: not user facing

#116551 Fix broken PyYAML 6.0 on MacOS x86
  .github/actions/filter-test-configs/action.yml
Labels: topic: not user facing, ciflow/periodic
