Repository pytorch/pytorch, pull requests merged in 2023-06, with the labels that each got.

#102552 [FSDP][2/n]fsdp dtensor state_dict support: add the flag use_dtensor to both StateDictConfig and OptimStateDictConfig
  torch/distributed/fsdp/api.py
Labels: module: fsdp, ciflow/trunk, release notes: distributed (fsdp)

#103464 Back out "Dropout support for memory efficient attention (#102038)" & "Two small mem_eff bug fixes (#103201)"
  aten/src/ATen/cuda/detail/UnpackRaw.cuh
  aten/src/ATen/native/native_functions.yaml
  aten/src/ATen/native/nested/cuda/NestedTensorTransformerFunctions.cpp
  aten/src/ATen/native/transformers/attention.cpp
  aten/src/ATen/native/transformers/cuda/attention.cu
  aten/src/ATen/native/transformers/cuda/attention_backward.cu
  aten/src/ATen/native/transformers/cuda/mem_eff_attention/kernel_backward.h
  aten/src/ATen/native/transformers/cuda/mem_eff_attention/kernel_forward.h
  aten/src/ATen/native/transformers/cuda/sdp_utils.cpp
  test/expect/HasDecompTest.test_has_decomposition.expect
  test/forward_backward_compatibility/check_forward_backward_compatibility.py
  test/inductor/test_torchinductor.py
  test/test_transformers.py
  tools/autograd/derivatives.yaml
  torch/_meta_registrations.py
  torch/testing/_internal/common_methods_invocations.py
  torchgen/gen_functionalization_type.py
Labels: fb-exported, module: inductor

#103922 Adds the initial support for AOTInductor model and interface
  setup.py
  test/cpp/aot_inductor/CMakeLists.txt
  test/cpp/aot_inductor/test.cpp
  test/cpp/aot_inductor/test.py
  torch/_inductor/aot_inductor_include/aot_inductor_interface.cpp
  torch/_inductor/aot_inductor_include/aot_inductor_interface.h
  torch/_inductor/aot_inductor_include/aot_inductor_model.h
  torch/_inductor/aot_inductor_include/aot_inductor_model_container.h
  torch/_inductor/codecache.py
  torch/_inductor/codegen/wrapper.py
Labels: module: inductor, ciflow/inductor
