Repository pytorch/pytorch, pull requests merged in 2023-01, with the labels that each got.

#91596 [FX-ONNX] Minor Cleanup and Partial Lint
  test/onnx/test_fx_to_onnx.py
  torch/_C/__init__.pyi.in
  torch/csrc/onnx/init.cpp
  torch/onnx/_internal/_fx.py
  torch/onnx/_internal/docs/gpt.py
  torch/onnx/verification.py
Labels: module: onnx, open source, release notes: onnx, topic: not user facing

#91728 Clean up gpt example
  torch/onnx/_internal/docs/gpt.py
Labels: open source, release notes: onnx

#91925 [ONNX-FX] Support on setting test_suite opset_version
  torch/onnx/_internal/_fx.py
  torch/onnx/symbolic_opset9.py
  torch/onnx/verification.py
Labels: module: onnx, open source, release notes: onnx, topic: not user facing

#92019 meta registration of linalg_inv_ex
  test/functorch/test_aotdispatch.py
  test/test_proxy_tensor.py
  torch/_meta_registrations.py
Labels: topic: not user facing

#92020 meta registration of _linalg_svd
  test/functorch/test_aotdispatch.py
  test/test_proxy_tensor.py
  torch/_meta_registrations.py
Labels: topic: not user facing

#92179 Clean up
  test/onnx/onnx_test_common.py
  test/onnx/test_fx_to_onnx.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/onnx/_internal/docs/bloom/bloom.py
  torch/onnx/_internal/docs/bloom/repro_dynamo.py
  torch/onnx/_internal/docs/gpt.py
  torch/onnx/_internal/fx/__init__.py
  torch/onnx/_internal/fx/export.py
  torch/onnx/verification.py
Labels: open source, release notes: onnx

#92021 meta registration of _linalg_det
  test/test_proxy_tensor.py
  torch/_meta_registrations.py
Labels: ciflow/trunk, topic: not user facing

#92366 Add gpt2 to unittest; fix regression
  .jenkins/onnx/test.sh
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  torch/onnx/_internal/docs/.gitignore
  torch/onnx/_internal/docs/bloom/bloom.py
  torch/onnx/_internal/docs/gpt.py
  torch/onnx/_internal/fx/export.py
Labels: module: onnx, open source, release notes: onnx

#92840 [ONNX] fx atenlib update
  torch/onnx/_internal/fx/export.py
Labels: open source, release notes: onnx

#92894 add op tests
  test/onnx/test_fx_to_onnx.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
Labels: open source, topic: not user facing

#93018 [DO NOT MERGE] Trigger CI
  torch/onnx/_internal/fx/export.py
Labels: open source, release notes: onnx

#93021 Fix CI docs_test regression
  torch/onnx/_internal/fx/export.py
  torch/onnx/verification.py
Labels: open source, release notes: onnx
