Repository pytorch/pytorch, pull requests merged in 2023-11, with the labels that each got.

#112756 Prevent OOB access in foreach_list variants (#112349)
  test/test_foreach.py
  tools/autograd/gen_variable_type.py
Labels: release notes: foreach_frontend

#111814 Fixed a memory leak in PyTorchFileReader
  test/test_jit.py
  torch/csrc/jit/python/init.cpp
Labels: oncall: jit, open source, release notes: jit

#112790 Revert "Fix bug: not creating empty tensor with correct sizes and device. (#106734)" (#112170)
  aten/src/ATen/native/BinaryOps.cpp
Labels: test-config/default

#112665 [Release-only] Pin Docker images to 2.1 for release
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-main.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-main.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
Labels: topic: not user facing, ciflow/binaries_wheel, ciflow/binaries_libtorch, test-config/default

#112792 Fix the meta func for mem_eff_backward (#110893)
  torch/_meta_registrations.py
  torch/_subclasses/fake_utils.py
  torch/testing/_internal/common_methods_invocations.py
Labels: ciflow/inductor

#112930 [DCP] Add test for planner option for load_sharded_optimizer_state_dict #112891
  test/distributed/checkpoint/test_fsdp_optim_state.py
Labels: ciflow/trunk, topic: not user facing, ciflow/periodic

#111687 [Release/2.1.1][DCP] Remove _shard_tensor() call in load_sharded_optimizer_state_dict in optimizer.py #111096
  torch/distributed/checkpoint/optimizer.py
Labels: ciflow/periodic

#114449 add testcase when bytecode hook changes the bytecode; fix code map
  test/dynamo/test_bytecode_hook.py
  torch/_dynamo/convert_frame.py
Labels: open source, ciflow/trunk, topic: not user facing, module: dynamo, ciflow/inductor, merging

#114418 [Release/2.1] [Caffe2] Handle `cpuinfo_initialize()` failure
  caffe2/utils/threadpool/ThreadPool.cc
Labels: caffe2

#114419 [Release/2.1][MPS] Fix crashes during Conv backward pass
  aten/src/ATen/native/mps/operations/Convolution.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps

#114756 Package `pybind11/eigen/` (#113055)
  setup.py
Labels: topic: not user facing

#114795 Fix broadcasting cosine_similarity
  aten/src/ATen/ExpandUtils.h
  aten/src/ATen/native/Distance.cpp
  test/test_nn.py
  test/test_proxy_tensor.py
Labels: release notes: nn

#114851 Fix mkldnn_matmul error on AArch64
  aten/src/ATen/native/LinearAlgebra.cpp
Labels: open source, release notes: linalg_frontend
