Repository pytorch/pytorch, pull requests merged in 2023-08, with the labels that each got.

#108064 [CI] Release only chnages use anaconda token for test env
  .github/templates/upload.yml.j2
  .github/workflows/build-triton-wheel.yml
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing

#108139 skip dynamic shape test for test_conv_bn_fuse
  test/inductor/test_torchinductor.py
Labels: open source, topic: not user facing, release notes: inductor

#108177 Fix the use of inputs.build_environment in #107868
  .github/workflows/_binary-build-linux.yml
Labels: topic: not user facing, test-config/default

#108200 Fix various issues on build-triton-wheel workflow
  .circleci/scripts/binary_upload.sh
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing, test-config/default

#108229 [ROCm] Update ROCm pin to fix triton wheel lib issue
  .ci/docker/ci_commit_pins/triton-rocm.txt
Labels: module: rocm, open source, topic: not user facing, ciflow/inductor
