Repository pytorch/pytorch, pull requests merged in 2023-03, with the labels that each got.

#95822 [BE] Fix TORCH_WARN_ONCE (#95559)
  aten/src/ATen/native/mps/operations/ReduceOps.mm
  aten/src/ATen/native/mps/operations/Repeat.mm
  aten/src/ATen/native/mps/operations/Sort.mm
Labels: release notes: mps, ciflow/mps

#95834 [ROCM] Restrict pytorch rocm to only use triton 2.0.x (#95793)
  .github/requirements/triton-requirements-rocm.txt
Labels: module: rocm, open source, topic: not user facing

#95853 Release version of fixed nll decomp
  test/inductor/test_torchinductor.py
  torch/_decomp/decompositions.py
Labels: topic: bug fixes, module: inductor, release notes: inductor

#95862 [optim] _actually_ default to foreach
  test/distributed/fsdp/test_fsdp_use_orig_params.py
  test/test_optim.py
  torch/optim/adadelta.py
  torch/optim/adagrad.py
  torch/optim/adam.py
  torch/optim/adamax.py
  torch/optim/adamw.py
  torch/optim/asgd.py
  torch/optim/nadam.py
  torch/optim/optimizer.py
  torch/optim/radam.py
  torch/optim/rmsprop.py
  torch/optim/rprop.py
  torch/optim/sgd.py
Labels: release notes: distributed (fsdp)

#95840 Remove torch._inductor.config.triton.convolution for release branch
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/config.py
  torch/_inductor/ir.py
Labels: ciflow/trunk, module: inductor, ciflow/inductor

#95871 [MPS] Fix views with 3 or more sliced dimensions
  aten/src/ATen/native/mps/operations/View.mm
  test/test_mps.py
Labels: open source, release notes: mps, ciflow/mps

#95869 [MPS] Add fixes for div with floor
  aten/src/ATen/native/mps/MPSGraphVenturaOps.h
  aten/src/ATen/native/mps/operations/BinaryOps.mm
  aten/src/ATen/native/mps/operations/UnaryOps.mm
  test/test_mps.py
Labels: open source, release notes: mps, ciflow/mps

#95978 [MPS] Disallow reshape in slice
  aten/src/ATen/native/mps/operations/View.mm
  test/test_mps.py
Labels: open source, release notes: mps, ciflow/mps

#96007 Remove mention of dynamo.optimize() in docs (#95802)
  docs/source/dynamo/get-started.rst
  docs/source/dynamo/guards-overview.rst
  docs/source/dynamo/index.rst
  docs/source/dynamo/installation.rst
Labels: topic: not user facing

#96010 [Release/2.0] Use Triton from PYPI
  .github/scripts/build_triton_wheel.py
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/build-triton-wheel.yml
  .github/workflows/generated-linux-binary-manywheel-master.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  setup.py
Labels: topic: not user facing, ciflow/binaries_conda, ciflow/binaries_wheel

#96248 [inductor] show performance for each autotune config for a kernel
  torch/_inductor/codegen/triton.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/config.py
  torch/_inductor/triton_ops/autotune.py
  torch/_inductor/utils.py
Labels: topic: not user facing, module: inductor, ciflow/inductor

#96450 Add jinja2 as mandatory dependency (#95691)
  setup.py
Labels: topic: not user facing

#96462 [inductor] use triu ref instead of lowering (#96040)
  test/inductor/test_torchinductor_opinfo.py
  torch/_decomp/__init__.py
  torch/_inductor/lowering.py
Labels: module: inductor, ciflow/inductor
