Repository pytorch/pytorch, pull requests merged in 2024-10, with the labels that each got.

#136905 [FlexAttention] Fix output layout (#135882)
  test/inductor/test_flex_attention.py
  torch/_higher_order_ops/flex_attention.py
  torch/_inductor/kernel/flex_attention.py
Labels: module: inductor, ciflow/inductor

#137025 [dynamo] Do not treat user defined nn module attributes static for dynamic shape infra
  torch/_dynamo/utils.py
Labels: module: dynamo, ciflow/inductor

#136805 [RELEASE-ONLY CHANGES] Disable slow workflows
  .github/workflows/slow.yml
Labels: topic: not user facing

#137148 [RELEASE-ONLY Change] Push ROCm images on RC
  .ci/docker/manywheel/build.sh
  .github/workflows/build-manywheel-images.yml
Labels: module: rocm, topic: not user facing, ciflow/rocm

#137242 [RELEASE-ONLY CHANGES] Fix dependency on filesystem on Linux
  torch/csrc/inductor/aoti_torch/shim_common.cpp
Labels: ciflow/inductor

#137379 Remove unused enforce_cond_guard_match Dynamo feature flag.
  torch/_dynamo/config.py
Labels: ciflow/trunk, topic: not user facing, module: dynamo, ciflow/inductor

#137816 [dynamo] Don't codegen temporary cells for pre-existing cells
  torch/_dynamo/side_effects.py
Labels: topic: not user facing, module: dynamo, ciflow/inductor

#137895 [Release only] use triton 3.1.x from pypi
  .circleci/scripts/binary_populate_env.sh
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing

#138055 [c10d] Add unit test for CUDAEventCache to ensure caching is working
  test/cpp/c10d/ProcessGroupNCCLTest.cpp
Labels: topic: not user facing

#138286 updated EC2 fetching of metadata to use IMDSv2
  .github/actions/setup-linux/action.yml
  .github/actions/setup-win/action.yml
  .github/templates/common.yml.j2
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: ciflow/trunk, topic: not user facing

#138260 Bugfix for passing None args to user defined Triton kernel
  test/inductor/test_triton_kernels.py
  torch/_higher_order_ops/triton_kernel_wrap.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/ir.py
  torch/_inductor/runtime/triton_heuristics.py
Labels: ciflow/trunk, topic: not user facing, module: inductor, ciflow/inductor

#138469 Revert "Bugfix for passing None args to user defined Triton kernel"
  test/inductor/test_triton_kernels.py
  torch/_higher_order_ops/triton_kernel_wrap.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/ir.py
  torch/_inductor/runtime/triton_heuristics.py
Labels: module: inductor, ciflow/inductor

#138526 [Cherry-Pick] Use cuda 12.4 pytorch_extra_install_requirements as default
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-s390x-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing
