Repository pytorch/pytorch, pull requests merged in 2024-12, with the labels that each got.

#141366 Add option to split Linear gates for Quantizable LSTM into separate ops
  test/quantization/core/test_quantized_op.py
  torch/ao/nn/quantizable/modules/rnn.py
  torch/ao/nn/quantized/modules/rnn.py
  torch/ao/quantization/fx/lstm_utils.py
Labels: fb-exported, ciflow/trunk, release notes: quantization, fx

#143131 Remove Checkout pytorch/builder for Linux Binary Builds (#143125)
  .github/workflows/_binary-build-linux.yml
Labels: topic: not user facing

#143186 [Reland 2.6][BE][accelerator] formalize API name `{current,set}_device_{idx => index}`
  docs/source/accelerator.rst
  torch/accelerator/__init__.py
  torch/accelerator/_utils.py
Labels: open source, ci-no-td

#143452 [Inductor] Fix _can_be_inplace function (#143279)
  test/inductor/test_mkldnn_pattern_matcher.py
  torch/_inductor/fx_passes/mkldnn_fusion.py
Labels: open source, module: inductor, ciflow/inductor

#143617 [Inductor] Constrain the shape of other tensor for Conv/Linear + broa…
  aten/src/ATen/native/mkldnn/Linear.cpp
  test/inductor/test_mkldnn_pattern_matcher.py
  torch/_inductor/fx_passes/mkldnn_fusion.py
Labels: module: cpu, open source, module: inductor, ciflow/inductor

#143767 Revert "Exclude py 31.3t triton package from PyTorch 3.13t wheel"
  .circleci/scripts/binary_populate_env.sh
Labels: topic: not user facing

#143875 Use random64 in Fischer-Yates algorithm for large N (#143682)
  aten/src/ATen/native/TensorFactories.cpp
  test/test_dataloader.py
  test/test_sparse_csr.py
  test/test_tensor_creation_ops.py
  test/torch_np/test_random.py
Labels: release notes: dataloader

#143781 torch/accelerator: fix device type comparison (#143541)
  torch/accelerator/_utils.py
Labels: open source
