Repository pytorch/pytorch, pull requests merged in 2024-03, with the labels that each got.

#120806 [torch] Use __prepare_scriptable__ for closures
  test/jit/mydecorator.py
  test/jit/myfunction_a.py
  test/jit/myfunction_b.py
  test/jit/test_decorator.py
  torch/jit/_recursive.py
Labels: fb-exported, release notes: jit

#121229 Fix make triton command on release branch (#121169)
  scripts/install_triton_wheel.sh
Labels: topic: not user facing

#121250 [FSDP][StateDict] Allow FULL_STATE_DICT option for 2D (#120837)
  test/distributed/fsdp/test_fsdp_dtensor_state_dict.py
  torch/distributed/fsdp/_optim_utils.py
  torch/distributed/fsdp/_state_dict_utils.py
Labels: open source, release notes: distributed (fsdp), module: distributed

#121726 [RELEASE ONLY CHANGES] Apply release only changes Release 2.3
  .ci/pytorch/common_utils.sh
  .github/ci_commit_pins/xla.txt
  .github/scripts/filter_test_configs.py
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/macos_binary_build_workflow.yml.j2
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/_android-build-test.yml
  .github/workflows/_android-full-build-test.yml
  .github/workflows/_bazel-build-test.yml
  .github/workflows/_binary-build-linux.yml
  .github/workflows/_binary-test-linux.yml
  .github/workflows/_binary-upload.yml
  .github/workflows/_buck-build-test.yml
  .github/workflows/_docs.yml
  .github/workflows/_ios-build-test.yml
  .github/workflows/_linux-build.yml
  .github/workflows/_linux-test.yml
  .github/workflows/_mac-build.yml
  .github/workflows/_mac-test-mps.yml
  .github/workflows/_mac-test.yml
  .github/workflows/_rocm-test.yml
  .github/workflows/_run_android_tests.yml
  .github/workflows/_win-build.yml
  .github/workflows/_win-test.yml
  .github/workflows/_xpu-test.yml
  .github/workflows/build-triton-wheel.yml
  .github/workflows/check-labels.yml
  .github/workflows/close-nonexistent-disable-issues.yml
  .github/workflows/docker-builds.yml
  .github/workflows/docker-release.yml
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-main.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-main.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-main.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-main.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
  .github/workflows/lint-bc.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-rockset-uploads.yml
  .github/workflows/nightly.yml
  .github/workflows/target-determination-indexer.yml
  .github/workflows/target_determination.yml
  .github/workflows/update-viablestrict.yml
  .github/workflows/update_pytorch_labels.yml
  .github/workflows/upload-alerts.yml
  .github/workflows/upload-test-stats.yml
  .github/workflows/upload-torch-dynamo-perf-stats.yml
  .github/workflows/weekly.yml
  tools/stats/import_test_stats.py
Labels: release notes: releng

#121765 [Release Only] Build triton using pinned version rather branch
  .circleci/scripts/binary_populate_env.sh
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing

#121851 [RELEASE ONLY CHANGES] Increase timeout for linux binary jobs, fix workflow lint
  .github/workflows/_binary-build-linux.yml
  .github/workflows/lint.yml
Labels: topic: not user facing

#121934 [Release only] Disable triton build workflows
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing

#122438 Use temporary name for triton package, fix lint
  .circleci/scripts/binary_populate_env.sh
  .github/scripts/build_triton_wheel.py
Labels: topic: not user facing

#122497 Revert "CI: Specify libc and libstdcxx versions in conda environments"
  .ci/docker/common/install_conda.sh
Labels: topic: not user facing

#122523 Revert "Revert "CI: Specify libc and libstdcxx versions in conda environments""
  .ci/docker/common/install_conda.sh
Labels: topic: not user facing, ciflow/binaries_conda

#122406 [dynamo] Config to not emit runtime asserts
  torch/_dynamo/config.py
  torch/_dynamo/output_graph.py
Labels: ciflow/trunk, module: dynamo, ciflow/inductor

#122787 Workaround dind-rootless volumes mount as root
  .ci/pytorch/build.sh
  .ci/pytorch/test.sh
Labels: open source, ciflow/trunk

#122493 [ROCm] Update triton rocm branch to release/2.3.x
  .ci/docker/ci_commit_pins/triton-rocm.txt
  .github/scripts/build_triton_wheel.py
  test/inductor/test_triton_heuristics.py
Labels: module: rocm, open source, topic: not user facing, module: inductor, ciflow/inductor, ciflow/rocm

#122495 [CherryPick] Back out "[DeviceMesh] Add support for nD slicing (#119752)" (#121763)
  test/distributed/test_device_mesh.py
  torch/distributed/device_mesh.py
Labels: oncall: distributed
