Repository pytorch/pytorch, pull requests merged in 2024-08, with the labels that each got.

#134042 [inductor] parallel compile: Create new pipes for subproc communicati…
  torch/_inductor/compile_worker/__main__.py
  torch/_inductor/compile_worker/subproc_pool.py
Labels: ciflow/trunk, module: inductor, ciflow/inductor

#133888 [Inductor] short-term fix for needs_fixed_stride_order silent incorrectness (#133452)
  test/inductor/test_torchinductor.py
  torch/_inductor/graph.py
  torch/_inductor/lowering.py
Labels: module: inductor, ciflow/inductor

#134057 Avoid autocast deprecation warning in DataParallel (#130660)
  torch/nn/parallel/parallel_apply.py
Labels: oncall: distributed

#134148 [CpuInductor] Enable NEON ISA detection on Linux ARM (#129075)
  torch/_inductor/codecache.py
Labels: module: inductor, ciflow/inductor

#134165 [CpuInductor] Enable NEON ISA detection on Linux ARM
  torch/_inductor/codecache.py
Labels: module: inductor, ciflow/inductor

#134347 [Release only] Disable triton build workflows
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing

#134350 [Release only] Use amazon linux 2 runners for CI
  .github/actionlint.yaml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/slow.yml
  .github/workflows/trunk.yml
Labels: topic: not user facing

#134395 [CD] fix xpu nightly wheel test env
  .circleci/scripts/binary_linux_test.sh
Labels: open source, ciflow/binaries, topic: not user facing

#134492 Use ephemeral runners for linux nightly builds (#134367)
  .github/actionlint.yaml
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/workflows/_binary-build-linux.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
Labels: topic: not user facing

#134493 [CD] Use ephemeral arm64 runners for nightly and docker builds (#134473)
  .github/actionlint.yaml
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
Labels: topic: not user facing

#134496 Use ephemeral runners for windows nightly builds (#134463)
  .github/actionlint.yaml
  .github/templates/windows_binary_build_workflow.yml.j2
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing

#134489 [Release Only] Disable flaky failing tests in release. Pin optree. Pin sympy
  .ci/pytorch/test.sh
  .github/workflows/_win-test.yml
  test/dynamo/test_misc.py
  test/test_dataloader.py
Labels: ciflow/trunk, topic: not user facing, module: dynamo

#134287 dynamic shapes for combo_kenel/foreach_kernel
  test/inductor/test_combo_kernels.py
  test/inductor/test_cuda_cpp_wrapper.py
  test/inductor/test_foreach.py
  torch/_inductor/codegen/cpp_wrapper_cuda.py
  torch/_inductor/codegen/triton_combo_kernel.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/config.py
  torch/_inductor/lowering.py
  torch/_inductor/runtime/triton_heuristics.py
  torch/_inductor/scheduler.py
Labels: fb-exported, release notes: foreach_frontend, module: inductor, ciflow/inductor

#134599 [TEST ONLY] Revert "dynamic shapes for combo_kenel/foreach_kernel"
  test/inductor/test_combo_kernels.py
  test/inductor/test_cuda_cpp_wrapper.py
  test/inductor/test_foreach.py
  torch/_inductor/codegen/cpp_wrapper_cuda.py
  torch/_inductor/codegen/triton_combo_kernel.py
  torch/_inductor/codegen/wrapper.py
  torch/_inductor/config.py
  torch/_inductor/lowering.py
  torch/_inductor/runtime/triton_heuristics.py
  torch/_inductor/scheduler.py
Labels: release notes: foreach_frontend, module: inductor, ciflow/inductor

#134604 Do not use `<filesystem>` on Linux (#134494)
  torch/csrc/distributed/c10d/control_plane/WorkerServer.cpp
Labels: oncall: distributed, release notes: distributed (c10d)
