Repository pytorch/pytorch, pull requests merged in 2024-01, with the labels that each got.

#116424 [inductor] Add ABI shim function for torch.scatter_reduce
  test/inductor/test_aot_inductor.py
  torch/csrc/inductor/aoti_torch/c/shim.h
  torch/csrc/inductor/aoti_torch/shim_common.cpp
Labels: ciflow/trunk, topic: not user facing, module: inductor, ciflow/inductor

#116666 [AARCH64] Fall back to GEMM if mkldnn_matmul fails (#115936)
  aten/src/ATen/native/LinearAlgebra.cpp
Labels: release notes: linalg_frontend

#116699 Revert "[inductor] Add ABI shim function for torch.scatter_reduce"
  test/inductor/test_aot_inductor.py
  torch/csrc/inductor/aoti_torch/c/shim.h
  torch/csrc/inductor/aoti_torch/shim_common.cpp
Labels: module: inductor

#115715 [Cherry-pick] [Quant] [PT2] Enable batchnorm in _move_exported_model_to_eval
  test/inductor/test_mkldnn_pattern_matcher.py
  test/quantization/pt2e/test_quantize_pt2e.py
  test/quantization/pt2e/test_quantize_pt2e_qat.py
  torch/ao/quantization/pt2e/eval_utils.py
  torch/ao/quantization/pt2e/qat_utils.py
Labels: open source, release notes: quantization, module: inductor

#115578 [Release 2.2][ONNX] Update ONNX's IO Adapter to support FakeTensor with ExportedProgram (…
  test/onnx/onnx_test_common.py
  test/onnx/pytorch_test_common.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  test/onnx/torch_export/test_torch_export_with_onnxruntime.py
  torch/onnx/_internal/exporter.py
  torch/onnx/_internal/fx/dynamo_graph_extractor.py
  torch/onnx/_internal/fx/fx_symbolic_graph_extractor.py
  torch/onnx/_internal/fx/serialization.py
  torch/onnx/_internal/fx/torch_export_graph_extractor.py
  torch/onnx/_internal/io_adapter.py
Labels: open source, release notes: onnx

#115583 [Release 2.2][ONNX]Store user model to simplify ONNXProgram.{adapt_torch_*,__call__} AP
  test/onnx/onnx_test_common.py
  test/onnx/test_fx_to_onnx_with_onnxruntime.py
  test/onnx/torch_export/test_torch_export_with_onnxruntime.py
  torch/onnx/_internal/exporter.py
  torch/onnx/_internal/fx/dynamo_graph_extractor.py
  torch/onnx/_internal/fx/fx_symbolic_graph_extractor.py
  torch/onnx/_internal/io_adapter.py
Labels: module: onnx, open source, release notes: onnx

#116988 [CI] Use jemalloc for CUDA builds (#116900)
  .ci/docker/common/install_base.sh
  .ci/pytorch/build.sh
Labels: release notes: releng

#117043 [CI] Test that cuInit is not called during import (#117010)
  test/test_cuda.py
Labels: topic: not user facing

#117095 Fix cuInit test on Windows
  test/test_cuda.py
Labels: topic: not user facing

#117182 Run docker release build on final tag (#117131)
  .github/workflows/docker-release.yml
Labels: topic: not user facing

#117450 Properly create proxies for subgraph tracing consts [note - for https://github.com/pytorch/pytorch/pull/113538]
  test/dynamo/test_higher_order_ops.py
  torch/_dynamo/symbolic_convert.py
  torch/_dynamo/variables/higher_order_ops.py
Labels: module: dynamo, ciflow/inductor

#118464 Add lowering to special.bessel_j0
  test/inductor/test_cpu_repro.py
  test/inductor/test_perf.py
  test/inductor/test_torchinductor.py
  torch/_inductor/codegen/cpp.py
  torch/_inductor/codegen/triton.py
  torch/_inductor/lowering.py
Labels: open source, module: inductor, ciflow/inductor
