Repository pytorch/pytorch, pull requests merged in 2024-05, with the labels that each got.

#125843 Lint: Update older-python test to 3.6
  .github/workflows/lint.yml
Labels: topic: not user facing

#125790 Revert "Include torch warn in each error in cudnn/Conv_v8.cpp (#120719)"
  aten/src/ATen/native/cudnn/Conv_v8.cpp
Labels: module: cudnn, open source, topic: not user facing

#126202 Revert "[Release only] Release 2.3 start using triton package from pypi"
  .circleci/scripts/binary_populate_env.sh
Labels: topic: not user facing

#126204 [Release only] Advance triton version to 2.3.1
  .ci/docker/ci_commit_pins/triton.txt
  .ci/docker/triton_version.txt
  .github/scripts/build_triton_wheel.py
Labels: ciflow/trunk, topic: not user facing, ciflow/inductor

#125755 Do not import transformers when import torch._dynamo (#124634)
  torch/onnx/_internal/fx/patcher.py
Labels: release notes: onnx

#126301 [EZ] Get rid of utf-8 quotes
  torch/_torch_docs.py
Labels: release notes: python_frontend

#126309 Pin triton-rocm to latest 2.3.1 commit
  .ci/docker/ci_commit_pins/triton-rocm.txt
  .github/scripts/build_triton_wheel.py
Labels: module: rocm, topic: not user facing, ciflow/inductor, ciflow/rocm

#126452 [Release only] Pin rocm docker images
  .github/workflows/_linux-build.yml
  .github/workflows/inductor.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/rocm.yml
  .github/workflows/slow.yml
  .github/workflows/trunk.yml
Labels: module: rocm, topic: not user facing, ciflow/rocm

#126332 [dynamo] use proxies to nn.Module in dynamo generated GraphModules
  test/dynamo/test_dynamic_shapes.py
  test/dynamo/test_misc.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/utils.py
Labels: module: dynamo, ciflow/inductor

#126448 [release/2.3] Added cublasGemmAlgo_t -> hipblasGemmAlgo_t
  torch/utils/hipify/cuda_to_hip_mappings.py
Labels: open source

#126942 [release/2.3] Fix miopenStatusInternalError caused in new ROCm6.0 CI docker images
  .ci/docker/common/install_rocm.sh
  .github/workflows/_linux-build.yml
  .github/workflows/inductor.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/rocm.yml
  .github/workflows/slow.yml
  .github/workflows/trunk.yml
Labels: module: rocm, open source, topic: not user facing, ciflow/rocm

#126957 [FSDP1] fix _same_storage check for DTensor (#123617)
  .ci/pytorch/test.sh
  test/distributed/fsdp/test_fsdp_tp_integration.py
  torch/distributed/fsdp/_flat_param.py
Labels: oncall: distributed, release notes: distributed (fsdp), ciflow/inductor

#126559 Remove activation checkpointing tag to get correct FQNs (#124698)
  torch/distributed/checkpoint/state_dict.py
Labels: oncall: distributed, open source, module: distributed_checkpoint

#126992 [Cherry-pick][DCP][AC] Add test for apply AC with FSDP1 (#126935)
  test/distributed/checkpoint/test_state_dict.py
Labels: oncall: distributed, topic: not user facing, module: distributed_checkpoint

#126567 [DSD] Correctly handle _extra_state (#125336)
  test/distributed/checkpoint/test_state_dict.py
  torch/distributed/checkpoint/state_dict.py
Labels: oncall: distributed, open source, module: distributed_checkpoint

#127130 [DSD] Add a test to verify FSDP lazy initialization case (#127069)
  test/distributed/checkpoint/test_state_dict.py
Labels: oncall: distributed, topic: not user facing, module: distributed_checkpoint

#127219 [DSD] Fix to remove non_persistent buffer in distributed state dict (#125337)
  test/distributed/checkpoint/test_state_dict.py
  torch/distributed/checkpoint/state_dict.py
Labels: oncall: distributed, open source, module: distributed_checkpoint
