Repository pytorch/pytorch, pull requests merged in 2024-06, with the labels that each got.

#128388 [Release 2.4] Release only changes - use pinned triton.
  .circleci/scripts/binary_populate_env.sh
Labels: topic: not user facing

#128563 Add build-conda-images.yml in pytorch/pytorch
  .github/workflows/build-conda-images.yml
  scripts/docker/build_docker.sh
Labels: triaged, open source, topic: not user facing

#128700 Add build-conda-images.yml in pytorch/pytorch (#128563)
  .github/workflows/build-conda-images.yml
  common/aotriton_version.txt
  common/install_aotriton.sh
  common/install_conda.sh
  common/install_cpython.sh
  common/install_cuda.sh
  common/install_cuda_aarch64.sh
  common/install_jni.sh
  common/install_libpng.sh
  common/install_magma.sh
  common/install_miopen.sh
  common/install_mkl.sh
  common/install_mnist.sh
  common/install_openblas.sh
  common/install_openssl.sh
  common/install_patchelf.sh
  common/install_rocm.sh
  common/install_rocm_drm.sh
  common/install_rocm_magma.sh
  conda/Dockerfile
  scripts/docker/build_docker.sh
Labels: topic: not user facing

#128767 [Inductor][FlexAttention] Tune backwards kernel block sizes
  torch/_inductor/kernel/flex_attention.py
Labels: topic: not user facing, module: inductor, ciflow/inductor

#128962 Add build-conda-images.yml in pytorch/pytorch (#128563)
  .ci/docker/build_docker_conda.sh
  .ci/docker/conda/Dockerfile
  .github/workflows/build-conda-images.yml
Labels: topic: not user facing

#128541 Revert "Set simdlen based on ATEN_CPU_CAPABILITY (#123514)"
  test/inductor/test_cpu_repro.py
  test/inductor/test_extension_backend.py
  test/inductor/test_torchinductor.py
  torch/_dynamo/testing.py
  torch/_inductor/codecache.py
  torch/_inductor/codegen/cpp_prefix.h
Labels: module: inductor, module: dynamo, ciflow/inductor

#128542 Revert "Deprecate `torch._utils.is_compiling()` and `torch._dynamo.external_utils.is_compiling()` (#127690)"
  test/test_optim.py
  torch/_dynamo/decorators.py
  torch/_dynamo/external_utils.py
  torch/_functorch/apis.py
  torch/_functorch/eager_transforms.py
  torch/_higher_order_ops/associative_scan.py
  torch/_utils.py
  torch/distributed/algorithms/ddp_comm_hooks/default_hooks.py
  torch/distributed/tensor/parallel/_utils.py
  torch/nn/parallel/distributed.py
  torch/optim/adadelta.py
  torch/optim/adam.py
  torch/optim/adamax.py
  torch/optim/adamw.py
  torch/optim/asgd.py
  torch/optim/nadam.py
  torch/optim/optimizer.py
  torch/optim/radam.py
  torch/optim/rmsprop.py
  torch/optim/rprop.py
  torch/optim/sgd.py
  torch/testing/_internal/optests/generate_tests.py
Labels: oncall: distributed, release notes: releng, module: dynamo, ciflow/inductor

#128978 [ALI] Use lf runners for Lint
  .github/workflows/lint.yml
Labels: topic: not user facing

#128581 Change Dynamo's custom ops warning message to be less spammy (#128456)
  test/dynamo/test_misc.py
  torch/_dynamo/__init__.py
  torch/_dynamo/utils.py
  torch/_dynamo/variables/functions.py
Labels: module: dynamo, ciflow/inductor

#128614 Clean up xpu ut to make CI happy (#128383)
  test/test_xpu.py
Labels: open source, topic: not user facing, ciflow/xpu

#128615 [Inductor] Update Intel GPU Triton commit pin. (#124842)
  .ci/docker/ci_commit_pins/triton-xpu.txt
Labels: open source, topic: not user facing, ciflow/inductor

#128717 [inductor] fix compile time regression by caching get_gpu_type (#128363)
  torch/_inductor/comm_analysis.py
Labels: module: inductor, ciflow/inductor

#128719 [tp] refactor and fix PrepareModuleInput for DTensor inputs (#128431)
  test/distributed/tensor/parallel/test_tp_style.py
  torch/distributed/tensor/parallel/style.py
Labels: oncall: distributed

#128591 [Port][Quant][Inductor] Bug fix: mutation nodes not handled correctly for QLinearPointwiseBinaryPT2E
  test/inductor/test_flex_attention.py
  test/inductor/test_mkldnn_pattern_matcher.py
  torch/_inductor/ir.py
Labels: open source, Merged, Reverted, ciflow/trunk, topic: not user facing, intel, module: inductor, ciflow/inductor

#128834 [Inductor] Fix the High Order Op layout issue (#128275)
  test/higher_order_ops/test_with_effects.py
  torch/_inductor/ir.py
Labels: module: inductor, ciflow/inductor

#129139 Revert "[Release 2.4] Release only changes - use pinned triton."
  .circleci/scripts/binary_populate_env.sh
Labels: topic: not user facing

#129143 [Release 2.4] Release only changes for triton 3.0.x build
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing

#129227 [ROCm] [Triton] - Include roctracer headers in triton whl
  .github/scripts/amd/package_triton_wheel.sh
Labels: module: rocm, open source, topic: not user facing, ciflow/rocm

#129237 [custom ops] Switch out references from old landing page to new landi…
  aten/src/ATen/core/MetaFallbackKernel.cpp
  c10/core/StorageImpl.cpp
  c10/core/TensorImpl.h
  test/dynamo/test_misc.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/variables/functions.py
  torch/library.py
Labels: module: dynamo, ciflow/inductor

#129235 [ROCm] Include hsa headers for rocm-triton whl
  .ci/docker/ci_commit_pins/triton-rocm.txt
  .github/scripts/amd/package_triton_wheel.sh
Labels: module: rocm, open source, topic: not user facing, ciflow/inductor, ciflow/rocm

#129273 Cleanup build docker images
  .ci/docker/conda/Dockerfile
  .ci/docker/conda/build_all_docker.sh
  .ci/docker/conda/build_docker.sh
  common/aotriton_version.txt
  common/install_aotriton.sh
  common/install_conda.sh
  common/install_cpython.sh
  common/install_cuda.sh
  common/install_cuda_aarch64.sh
  common/install_jni.sh
  common/install_libpng.sh
  common/install_magma.sh
  common/install_miopen.sh
  common/install_mkl.sh
  common/install_mnist.sh
  common/install_openblas.sh
  common/install_openssl.sh
  common/install_patchelf.sh
  common/install_rocm.sh
  common/install_rocm_drm.sh
  common/install_rocm_magma.sh
Labels: topic: not user facing

#128811 [cpp_extension][inductor] Fix sleef windows depends. (#128770)
  torch/_inductor/cpp_builder.py
  torch/utils/cpp_extension.py
Labels: module: windows, module: cpp-extensions, module: cpp, open source, ciflow/trunk, topic: not user facing, ciflow/binaries_libtorch, intel, module: inductor, ciflow/inductor

#129252 [DSD] Correctly handle shared parameters for optimizer state_dict (#1…
  test/distributed/checkpoint/test_state_dict.py
  torch/distributed/checkpoint/state_dict.py
Labels: oncall: distributed, ciflow/trunk, module: distributed_checkpoint

#129255 [DSD] Add unittest to verify HSDP1 + broadcast_from_rank0 (#128755)
  test/distributed/checkpoint/test_state_dict.py
Labels: oncall: distributed, ciflow/trunk, topic: not user facing, module: distributed_checkpoint

#129254 Support HSDP + Monolith Checkpointing (#128446)
  torch/distributed/fsdp/_optim_utils.py
Labels: oncall: distributed, release notes: distributed (fsdp), ciflow/inductor

#129478 Cherry pick #129244, #129251, #129239, 129396 into release/2.4
  test/distributed/_tensor/test_dtensor.py
  test/test_nn.py
  test/test_serialization.py
  torch/_weights_only_unpickler.py
  torch/serialization.py
Labels: oncall: distributed, release notes: nn, suppress-bc-linter

#129337 [Inductor][Intel GPU] Support reduction split. (#129120)
  test/inductor/test_torchinductor.py
  torch/_inductor/ir.py
Labels: open source, module: inductor, ciflow/inductor, ciflow/xpu

#129571 Revert "Cherry pick #129244, #129251, #129239, 129396 into release/2.4"
  test/distributed/_tensor/test_dtensor.py
  test/test_nn.py
  test/test_serialization.py
  torch/_weights_only_unpickler.py
  torch/serialization.py
Labels: oncall: distributed, release notes: nn

#129574 Cherry pick #129244 #129251 #129509
  test/distributed/_tensor/test_dtensor.py
  test/test_serialization.py
  torch/_utils.py
  torch/_weights_only_unpickler.py
  torch/serialization.py
Labels: oncall: distributed

#129572 Add warning for weights_only
  test/test_nn.py
  test/test_serialization.py
  torch/serialization.py
Labels: release notes: nn, suppress-bc-linter

#129607 Tunableop hotfix2 unit tests, release/2.4
  aten/src/ATen/cuda/tunable/Tunable.cpp
  aten/src/ATen/cuda/tunable/TunableOp.h
  test/test_linalg.py
Labels: open source, release notes: linalg_frontend
