Repository pytorch/pytorch, pull requests merged in 2024-11, with the labels that each got.

#139657 Migrate inductor-perf-test-nightly.yml to use linux.aws.a100
  .github/workflows/inductor-perf-test-nightly.yml
Labels: topic: not user facing

#139358 [BE] And delete `DeprecatedTypeProperties` cast
  aten/src/ATen/Dispatch.h
Labels: Merged, Reverted, ciflow/trunk, release notes: cpp, topic: bc breaking, ci-no-td

#138635 ILP for auto FSDP wrapping
  test/distributed/_tools/test_fsdp_ilp.py
  torch/distributed/_tools/fsdp_ilp.py
Labels: oncall: distributed, ciflow/trunk, topic: not user facing, release notes: distributed (tools), merging

#141140 [dynamo] Added cuda and triton versions to dynamo_compile
  test/dynamo/test_utils.py
  torch/_dynamo/utils.py
Labels: fb-exported, ciflow/trunk, topic: not user facing, module: dynamo, ciflow/inductor
