Repository pytorch/pytorch, pull requests merged in 2024-04, with the labels that each got.

#123064 [CherryPick] Inductor cpp wrapper: fix dtype of ShapeAsConstantBuffer (#122297)
  test/inductor/test_cpu_cpp_wrapper.py
  test/inductor/test_torchinductor.py
  torch/_inductor/codegen/cpp_wrapper_cpu.py
Labels: open source, module: inductor, ciflow/inductor

#123073 [Cherrypick][DeviceMesh] Cache and reuse sliced result (#122975)
  test/distributed/test_device_mesh.py
  torch/distributed/device_mesh.py
Labels: oncall: distributed

#123197 Pin protobuf to 3.20.2 on macOS
  .github/requirements/pip-requirements-macOS.txt
Labels: topic: not user facing

#122967 Fix performance regression and memory storage handling of Flash Attention on ROCM (#122857)
  aten/src/ATen/native/transformers/hip/flash_attn/flash_api.hip
  cmake/External/aotriton.cmake
  test/test_transformers.py
Labels: module: rocm, open source, ciflow/rocm

#123179 Remove cuda dependencies when building AOTriton (#122982)
  cmake/External/aotriton.cmake
Labels: open source

#123106 nn.Module: use swap_tensors for Tensor subclasses (#122755)
  test/distributed/_tensor/test_api.py
  torch/nn/modules/module.py
Labels: oncall: distributed

#123383 [MPS] Fwd-fix for clamp regression
  aten/src/ATen/native/mps/operations/TensorCompare.mm
Labels: ciflow/mps

#123442 [Wheel] Change libtorch_cpu OpenMP search path (#123417)
  setup.py
Labels: topic: not user facing

#123580 [Release only] Release 2.3 start using triton package from pypi
  .circleci/scripts/binary_populate_env.sh
Labels: topic: not user facing

#123980 Enable `int8mm` kernel for float16
  aten/src/ATen/native/LinearAlgebra.cpp
  aten/src/ATen/native/cpu/int8mm_kernel.cpp
  torch/_meta_registrations.py
Labels: module: cpu, ciflow/trunk, release notes: linalg_frontend, topic: performance

#123981 Use NEON to speedup `int8pack_mm` on aarch64
  aten/src/ATen/native/cpu/int8mm_kernel.cpp
Labels: module: cpu, release notes: linalg_frontend, topic: performance

#124321 Specify the exact table we upload metrics to
  tools/stats/upload_metrics.py
Labels: topic: not user facing
