Repository pytorch/pytorch, pull requests merged in 2024-07, with the labels that each got.

#129683 [CherryPick][DCP] Fix Optimizer Learning Rate not being loaded correctly (#129398)
  test/distributed/checkpoint/e2e/test_e2e_save_and_load.py
  torch/distributed/checkpoint/planner_helpers.py
Labels: oncall: distributed, module: distributed_checkpoint

#129923 [CherryPick][FSDP2+TP] Disable 2D state_dict (#129519)
  test/distributed/_composable/fsdp/test_fully_shard_state_dict.py
  test/distributed/_composable/fsdp/test_fully_shard_training.py
  torch/distributed/_composable/fsdp/_fsdp_param_group.py
Labels: oncall: distributed, release notes: distributed (fsdp)

#130125 test
  .github/workflows/generated-linux-binary-conda-nightly.yml
Labels: topic: not user facing

#130336 [Release only] use triton 3.0.x from pypi
  .circleci/scripts/binary_populate_env.sh
Labels: topic: not user facing

#129729 [CMAKE] Look for `Development.Module` instead of `Development`
  cmake/Dependencies.cmake
Labels: open source

#130469 [fbgemm_gpu] Break up `fbgemm_cuda_utils.cuh`, pt 10 (#130468)
  tools/amd_build/build_amd.py
Labels: fb-exported, ciflow/trunk, topic: not user facing

#131187 [lint] Remove unnecessary BUCKRESTRICTEDSYNTAX suppressions
  buckbuild.bzl
  pt_ops.bzl
  third_party/kineto.buck.bzl
  tools/BUCK.bzl
  tools/build_defs/android/build_mode_defs.bzl
  tools/build_defs/apple/build_mode_defs.bzl
  tools/build_defs/default_platform_defs.bzl
  tools/build_defs/fb_native_wrapper.bzl
  tools/build_defs/fb_xplat_cxx_library.bzl
  tools/build_defs/fb_xplat_cxx_test.bzl
  tools/build_defs/fb_xplat_genrule.bzl
  tools/build_defs/fbsource_utils.bzl
  tools/build_defs/select.bzl
  tools/build_defs/windows/windows_flag_map.bzl
Labels: fb-exported

#131469 [pt2e][quant] Ensure BN node is erased after convert
  test/quantization/pt2e/test_quantize_pt2e_qat.py
  torch/ao/quantization/pt2e/utils.py
Labels: release notes: quantization
