Repository pytorch/pytorch, pull requests merged in 2024-02, with the labels that each got.

#119003 [Inductor max autotune] Multithreaded Precompilation
  test/inductor/test_max_autotune.py
  torch/_inductor/autotune_process.py
  torch/_inductor/codecache.py
  torch/_inductor/codegen/cuda/cuda_kernel.py
  torch/_inductor/select_algorithm.py
Labels: ciflow/trunk, topic: not user facing, module: inductor, ciflow/inductor

#119384 Revert "[Inductor max autotune] Multithreaded Precompilation"
  test/inductor/test_max_autotune.py
  torch/_inductor/autotune_process.py
  torch/_inductor/codecache.py
  torch/_inductor/codegen/cuda/cuda_kernel.py
  torch/_inductor/select_algorithm.py
Labels: module: inductor, ciflow/inductor

#119505 Fix typo on Contribution Guide (#119428)
  docs/source/community/contribution_guide.rst
Labels: open source

#119388 Fix typo on torch.frombuffer() documentation
  torch/_torch_docs.py
Labels: open source, release notes: python_frontend

#119560 Switch nightly binaries to oidc. Remove aws keys (#117416)
  .github/templates/linux_binary_build_workflow.yml.j2
  .github/templates/upload.yml.j2
  .github/workflows/_binary-upload.yml
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-conda-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-main.yml
  .github/workflows/generated-linux-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-main.yml
  .github/workflows/generated-linux-binary-libtorch-pre-cxx11-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-conda-nightly.yml
  .github/workflows/generated-macos-arm64-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-macos-binary-conda-nightly.yml
  .github/workflows/generated-macos-binary-libtorch-cxx11-abi-nightly.yml
  .github/workflows/generated-macos-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-conda-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-debug-nightly.yml
  .github/workflows/generated-windows-binary-libtorch-release-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing

#119564 [oidc] Migrate Triton wheel upload to oidc (#117648)
  .github/workflows/build-triton-wheel.yml
Labels: topic: not user facing

#119565 Migrate rocm test to using oidc (#117160)
  .github/workflows/_rocm-test.yml
  .github/workflows/periodic.yml
  .github/workflows/rocm.yml
  .github/workflows/slow.yml
  .github/workflows/trunk.yml
Labels: module: rocm, topic: not user facing, ciflow/rocm

#119568 [CI] Explicitly specify read-all permissions on the token (#117290)
  .github/workflows/docker-builds.yml
  .github/workflows/docker-release.yml
  .github/workflows/inductor-perf-compare.yml
  .github/workflows/inductor-perf-test-nightly.yml
  .github/workflows/inductor-periodic.yml
  .github/workflows/inductor.yml
  .github/workflows/lint.yml
  .github/workflows/mac-mps.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/rocm.yml
  .github/workflows/slow.yml
  .github/workflows/stale.yml
  .github/workflows/trunk.yml
  .github/workflows/unstable-periodic.yml
  .github/workflows/unstable.yml
  .github/workflows/weekly.yml
Labels: topic: not user facing

#119301 Replaced CHECK with TORCH_CHECK in order to not abort, but throw a RuntimeError instead
  test/lazy/test_meta_kernel.py
  torch/csrc/lazy/core/tensor.cpp
  torch/csrc/lazy/core/tensor_impl.cpp
  torch/csrc/lazy/python/init.cpp
  torch/csrc/lazy/ts_backend/ts_backend_impl.cpp
  torch/csrc/lazy/ts_backend/ts_lowering_context.cpp
  torch/csrc/lazy/ts_backend/ts_native_functions.cpp
  torch/csrc/lazy/ts_backend/ts_node.cpp
Labels: open source

#119313 Missing docs for CircularPad2d
  docs/source/nn.rst
Labels: open source

#119315 Clarified sampling process of torch.randn for complex dtypes. (#118315)
  torch/_torch_docs.py
Labels: open source, release notes: python_frontend

#119316 Updated docs for deprecated `torch.set_default_tensor_type` (#115041)
  torch/__init__.py
  torch/_torch_docs.py
  torch/csrc/lazy/core/shape_inference.cpp
  torch/distributed/_shard/sharded_tensor/__init__.py
  torch/distributed/_shard/sharded_tensor/api.py
  torch/distributed/_tensor/__init__.py
Labels: open source, release notes: distributed (sharded), ciflow/inductor, module: distributed

#119769 Fix TCP Store Windows (#118860)
  torch/csrc/distributed/c10d/TCPStoreBackend.cpp
Labels: release notes: distributed (c10d), ciflow/inductor, module: distributed

#119773 Update oneDNN build option for older systems (#118057)
  cmake/Modules/FindMKLDNN.cmake
Labels: module: mkldnn

#119821 Fix ColwiseParallel typo (#116151)
  torch/distributed/tensor/parallel/style.py
Labels: module: distributed

#119688 [FSDP] enable autograd in forward prefetching (#116792)
  test/distributed/fsdp/test_fsdp_freezing_weights.py
  torch/distributed/fsdp/_flat_param.py
Labels: open source, release notes: distributed (fsdp), ciflow/inductor, module: distributed

#119690 [FSDP][2D] Fix DTensor Extension Bugs
  test/distributed/fsdp/test_fsdp_tp_integration.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/tensor/parallel/_data_parallel_utils.py
  torch/distributed/tensor/parallel/fsdp.py
Labels: open source, release notes: distributed (fsdp), ciflow/inductor, module: distributed

#119804 Correctly formatting the example in get_state_dict (#119532)
  torch/distributed/checkpoint/state_dict.py
Labels: module: distributed_checkpoint, module: distributed

#118067 Properly preserve SymInt input invariant when splitting graphs (#117406)
  test/distributed/test_dynamo_distributed.py
  torch/fx/passes/split_module.py
Labels: open source, release notes: fx, module: distributed

#119807 [DCP][state_dict] Fix the issue that get_state_dict/set_state_dict ig…
  torch/distributed/checkpoint/state_dict.py
  torch/testing/_internal/common_dist_composable.py
Labels: module: distributed_checkpoint

#119692 [state_dict] Calls wait() for the DTensor to_local() result (#118197)
  torch/distributed/checkpoint/_state_dict_utils.py
Labels: open source, module: distributed

#119687 [dtensor] fix dtensor _to_copy op for mix precision (#116426)
  test/distributed/_tensor/test_tensor_ops.py
  torch/distributed/_tensor/ops/tensor_ops.py
Labels: open source, ciflow/inductor, module: distributed

#119894 [Inductor] Skip triton templates for mixedmm on SM70- (#118591)
  torch/_inductor/kernel/mm.py
Labels: module: inductor, ciflow/inductor

#119819 HSDP + TP integration bug fixes
  test/distributed/fsdp/test_fsdp_hybrid_shard.py
  test/distributed/fsdp/test_hsdp_dtensor_state_dict.py
  torch/distributed/fsdp/_init_utils.py
  torch/distributed/fsdp/_runtime_utils.py
  torch/distributed/fsdp/fully_sharded_data_parallel.py
  torch/distributed/tensor/parallel/fsdp.py
Labels: open source, release notes: distributed (fsdp), ciflow/periodic, ciflow/inductor, module: distributed

#119916 Update state_dict.py to propagate cpu offload (#117453)
  torch/distributed/checkpoint/state_dict.py
Labels: open source, module: distributed

#119995 Revert "Update state_dict.py to propagate cpu offload (#117453)"
  torch/distributed/checkpoint/state_dict.py
Labels: module: distributed

#119941 fix compile DTensor.from_local in trace_rule_look up (#119659)
  test/distributed/_tensor/test_dtensor_compile.py
  torch/_dynamo/trace_rules.py
Labels: module: dynamo, ciflow/inductor, module: distributed

#119988 [RelEng] Define `BUILD_BUNDLE_PTXAS` (#119750)
  CMakeLists.txt
  torch/_inductor/codecache.py
Labels: module: inductor, ciflow/inductor
