Repository pytorch/pytorch, pull requests merged in 2025-03, with the labels that each got.

#144566 Add a docstring to build.sh
  .ci/docker/build.sh
Labels: open source, topic: not user facing, test-config/default

#149160 [cherry-pick] Revert #148823 - Make dynamism code robust to NotImplementedException
  test/fx/test_dynamism.py
  torch/fx/experimental/_dynamism.py
Labels: module: rocm, release notes: releng, fx, module: inductor, ciflow/inductor

#149630 [cherry-pick] Update ExecuTorch pin update (#149539)
  .ci/docker/ci_commit_pins/executorch.txt
  .ci/docker/common/install_executorch.sh
  .ci/pytorch/test.sh
Labels: release notes: releng, ciflow/inductor

#149129 [cherry-pick] [CI] Don't clean workspace when fetching repo (#147994)
  .github/actions/checkout-pytorch/action.yml
Labels: topic: not user facing

#149546 [cherry-pick] nccl: upgrade to 2.26.2 to avoid hang on ncclCommAbort (#149351)
  .ci/docker/ci_commit_pins/nccl-cu12.txt
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
  .github/workflows/generated-linux-s390x-binary-manywheel-nightly.yml
  .github/workflows/generated-macos-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-windows-arm64-binary-wheel-nightly.yml
  .github/workflows/generated-windows-binary-wheel-nightly.yml
Labels: topic: not user facing, ciflow/inductor

#149624 [cherry-pick] Modify cuda aarch64 install for cudnn and nccl. Cleanup aarch64 cuda 12.6 docker #149540
  .ci/docker/common/install_cuda_aarch64.sh
  .github/workflows/build-manywheel-images.yml
Labels: topic: not user facing

#150126 update release 2.7 xla pin
  .ci/pytorch/test.sh
Labels: open source, release notes: releng

#150132 [Release-only] Pin intel-oneapi-dnnl to 2025.0.1-6
  .ci/docker/common/install_xpu.sh
Labels: open source, topic: not user facing, ciflow/xpu

#149435 Enable fast path for qlinear (static/dynamic) and qadd for AArch64 though ACL directly.
  aten/src/ATen/native/quantized/cpu/ACLUtils.cpp
  aten/src/ATen/native/quantized/cpu/ACLUtils.h
  aten/src/ATen/native/quantized/cpu/BinaryOps.cpp
  aten/src/ATen/native/quantized/cpu/qlinear.cpp
  aten/src/ATen/native/quantized/cpu/qlinear_dynamic.cpp
  aten/src/ATen/native/quantized/cpu/qlinear_prepack.cpp
Labels: module: cpu, open source, module: arm, release notes: quantization, ciflow/linux-aarch64, arm priority

#150352 Revert "[PGNCCL] Launch kernel on current stream & remove `record_stream` entirely (#148590)
  test/cpp/c10d/ProcessGroupNCCLErrorsTest.cpp
  test/forward_backward_compatibility/check_forward_backward_compatibility.py
  torch/_C/_distributed_c10d.pyi
  torch/csrc/distributed/c10d/Ops.cpp
  torch/csrc/distributed/c10d/ProcessGroup.hpp
  torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp
  torch/csrc/distributed/c10d/ProcessGroupNCCL.hpp
  torch/csrc/distributed/c10d/Types.hpp
  torch/csrc/distributed/c10d/init.cpp
  torch/distributed/distributed_c10d.py
  torch/testing/_internal/distributed/distributed_test.py
Labels: oncall: distributed, release notes: distributed (c10d)
