Repository pytorch/pytorch, pull requests merged in 2025-09, with the labels that each got.

#162935 [Release 2.9] Update torch-xpu-ops commit pin
  third_party/xpu.txt
Labels: open source, topic: not user facing, ciflow/xpu

#163268 [PyTorch] Add SVE128 ISA (#158932)
  aten/src/ATen/Version.cpp
  aten/src/ATen/cpu/vec/functional_base.h
  aten/src/ATen/cpu/vec/sve/sve_helper.h
  aten/src/ATen/cpu/vec/sve/vec_bfloat16.h
  aten/src/ATen/cpu/vec/vec.h
  aten/src/ATen/cpu/vec/vec128/vec128_bfloat16_neon.h
  aten/src/ATen/cpu/vec/vec128/vec128_convert.h
  aten/src/ATen/cpu/vec/vec128/vec128_float_neon.h
  aten/src/ATen/cpu/vec/vec128/vec128_half_neon.h
  aten/src/ATen/cpu/vec/vec256/vec256.h
  aten/src/ATen/cpu/vec/vec256/vec256_bfloat16.h
  aten/src/ATen/cpu/vec/vec256/vec256_half.h
  aten/src/ATen/cpu/vec/vec256/vec256_qint.h
  aten/src/ATen/cpu/vec/vec512/vec512.h
  aten/src/ATen/cpu/vec/vec_base.h
  aten/src/ATen/cpu/vec/vec_common_aarch64.h
  aten/src/ATen/native/BatchLinearAlgebraKernel.cpp
  aten/src/ATen/native/DispatchStub.cpp
  aten/src/ATen/native/DispatchStub.h
  aten/src/ATen/native/SegmentReduce.cpp
  aten/src/ATen/native/cpu/AmpGradScalerKernels.cpp
  aten/src/ATen/native/cpu/BlasKernel.cpp
  aten/src/ATen/native/cpu/ReducedPrecisionFloatGemvFastPathKernel.cpp
  aten/src/ATen/native/mkl/SpectralOps.cpp
  aten/src/ATen/native/sparse/FlattenIndicesKernel.cpp
  aten/src/ATen/native/sparse/SparseBinaryOpIntersectionKernel.cpp
  aten/src/ATen/native/transformers/attention.cpp
  torch/_inductor/codegen/cpp_micro_gemm.py
  torch/_inductor/cpu_vec_isa.py
  torch/backends/cpu/__init__.py
  torch/csrc/inductor/cpp_prefix.h
  torch/nativert/kernels/GeneratedNativeStaticDispatchKernels.cpp
Labels: module: cpu, release notes: sparse, module: inductor, ciflow/inductor

#163802 [BE] Update Python min version to 3.10 (#162310)
  pyproject.toml
  setup.py
Labels: topic: not user facing

#163790 [CD] Simplify NVIDIA driver installation step (#163349)
  .github/workflows/_binary-test-linux.yml
Labels: topic: not user facing

#163800 [cherrypick] [CI] Move Windows build/tests to Python-3.10 #162862
  .ci/docker/requirements-ci.txt
  .ci/pytorch/win-test-helpers/build_pytorch.bat
  .ci/pytorch/win-test-helpers/installation-helpers/activate_miniconda3.bat
  .ci/pytorch/win-test-helpers/setup_pytorch_env.bat
  .ci/pytorch/win-test.sh
  .github/actions/setup-win/action.yml
  .github/workflows/_win-build.yml
  .github/workflows/_win-test.yml
Labels: release notes: releng

#163885 [BE] Update Python min version to 3.10 (#162310)
  .ci/docker/build.sh
  .github/workflows/docker-builds.yml
  .github/workflows/lint.yml
  pyproject.toml
  setup.py
Labels: topic: not user facing

#163622 [Release 2.9] Update torch-xpu-ops commit pin
  third_party/xpu.txt
Labels: open source, topic: not user facing, ciflow/xpu
