Repository pytorch/pytorch, pull requests merged in 2025-06, with the labels that each got.

#156757 [cherry pick] revert #155412
  .github/workflows/upload-test-stats.yml
Labels: module: rocm, release notes: releng, topic: not user facing, ciflow/inductor, ci-no-td

#156890 Update triton version to 3.4
  .ci/docker/ci_commit_pins/triton.txt
  .ci/docker/triton_version.txt
Labels: ciflow/trunk, topic: not user facing, ciflow/inductor

#156768 [cherry-pick] revert #156517 on release 2.8
  torch/_inductor/runtime/triton_heuristics.py
Labels: module: inductor, ciflow/inductor, ci-no-td
