Repository pytorch/pytorch, pull requests merged in 2025-07, with the labels that each got.

#157471 Revert "Update triton version to 3.4"
  .ci/docker/ci_commit_pins/triton.txt
  .ci/docker/triton_version.txt
Labels: ciflow/trunk, topic: not user facing, ciflow/inductor, ci-no-td

#157519 [cherry-pick] [fake tensor] fix issue of no attribute tags (#156689)
  test/test_fake_tensor.py
  torch/_subclasses/fake_tensor.py
Labels: open source, ciflow/trunk, topic: not user facing, ciflow/inductor

#158031 cherrypick revert of #152932 for release 2.8
  aten/src/ATen/DeviceAccelerator.h
  aten/src/ATen/cuda/CUDAGraph.cpp
  aten/src/ATen/cuda/CUDAGraph.h
  aten/src/ATen/hip/impl/HIPAllocatorMasqueradingAsCUDA.h
  aten/src/ATen/hip/impl/HIPCachingAllocatorMasqueradingAsCUDA.cpp
  c10/core/CachingDeviceAllocator.cpp
  c10/core/CachingDeviceAllocator.h
  c10/cuda/CUDACachingAllocator.cpp
  c10/cuda/CUDACachingAllocator.h
  c10/cuda/CUDAGraphsC10Utils.h
  c10/cuda/CUDAMallocAsyncAllocator.cpp
  c10/xpu/XPUCachingAllocator.cpp
  docs/source/accelerator.md
  torch/_C/__init__.pyi.in
  torch/accelerator/__init__.py
  torch/accelerator/memory.py
  torch/csrc/DeviceAccelerator.cpp
  torch/csrc/cuda/CUDAPluggableAllocator.cpp
  torch/csrc/cuda/CUDAPluggableAllocator.h
  torch/cuda/memory.py
Labels: cherry-picked, suppress-bc-linter, ci-no-td

#156767 [cherry-pick] revert #156552
  test/dynamo/test_fx_graph_runnable.py
Labels: module: rocm, release notes: releng, topic: not user facing, module: dynamo, ciflow/inductor, ci-no-td

#158039 Revert "Add NVSHMEM to PYTORCH_EXTRA_INSTALL_REQUIREMENTS (#154568)"
  .ci/manywheel/build_cuda.sh
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-binary-manywheel-main.yml
  .github/workflows/generated-linux-binary-manywheel-nightly.yml
Labels: release notes: releng, ci-no-td

#158574 [BE][EZ] Minor doc fixes
  README.md
  functorch/README.md
  functorch/writing_batching_rules.md
  scripts/release_notes/README.md
  torch/csrc/jit/tensorexpr/ConditionalsInTE.md
  torch/distributed/CONTRIBUTING.md
  torch/fx/README.md
  torch/onnx/README.md
  torch/utils/benchmark/README.md
Labels: oncall: distributed, oncall: jit, NNC, topic: not user facing, fx

#157951 [cherry-pick] temporarily disabling generation of weblinks for torch v2.8 & removing string literals for weblink generation
  test/distributed/_composable/fsdp/test_fully_shard_compile.py
  test/dynamo/test_error_messages.py
  test/dynamo/test_exc.py
  test/dynamo/test_reorder_logs.py
  test/test_custom_ops.py
  torch/_dynamo/exc.py
Labels: oncall: distributed, release notes: distributed (fsdp), module: dynamo, ciflow/inductor

#158445 [cherry-pick] Fix AArch64 segfaults by disabling strict-aliasing in GridSamplerKernel for GCC 12 and above
  aten/src/ATen/native/cpu/GridSamplerKernel.cpp
Labels: module: cpu, open source, module: arm, topic: not user facing, ciflow/linux-aarch64, arm priority

#158801 Cherry pick PR 158746
  .ci/docker/requirements-docs.txt
Labels: topic: not user facing
