Repository pytorch/pytorch, pull requests merged in 2025-01, with the labels that each got.

#144096 [Release/2.6][MPS] Fix crash on CPU scalars
  aten/src/ATen/native/mps/OperationUtils.h
  aten/src/ATen/native/mps/OperationUtils.mm
  test/test_mps.py
Labels: release notes: mps, ciflow/mps

#144209 Update torch-xpu-ops commit pin
  test/inductor/test_torchinductor.py
  third_party/xpu.txt
Labels: open source, topic: not user facing, module: inductor, ciflow/inductor

#144484 Cleanup gpt_fast benchmark
  benchmarks/gpt_fast/benchmark.py
Labels: topic: not user facing

#144335 Fix PythonMod printing
  test/dynamo/test_repros.py
  test/inductor/test_indexing.py
  torch/utils/_sympy/functions.py
  torch/utils/_sympy/printers.py
Labels: module: cpu, open source, module: inductor, module: dynamo, ciflow/inductor

#144730 Revert "Use random64 in Fischer-Yates algorithm for large N (#143682)…
  aten/src/ATen/native/TensorFactories.cpp
  test/test_dataloader.py
  test/test_sparse_csr.py
  test/test_tensor_creation_ops.py
  test/torch_np/test_random.py
Labels: release notes: dataloader

#144740 [cherry-pick] [dtensor] improve doc of the DTensor class (#144099)
  docs/source/distributed.tensor.rst
  torch/distributed/tensor/_api.py
Labels: oncall: distributed, ciflow/inductor

#144878 [Release/2.6] Enable python-3.13t aarch64 builds
  .ci/aarch64_linux/aarch64_ci_setup.sh
  .ci/aarch64_linux/aarch64_wheel_ci_build.py
  .github/scripts/generate_binary_build_matrix.py
  .github/workflows/generated-linux-aarch64-binary-manywheel-nightly.yml
Labels: release notes: releng

#145408 Fix staging for CPU tensors in OSS DCP async_save
  torch/distributed/checkpoint/staging.py
  torch/distributed/checkpoint/state_dict_saver.py
Labels: oncall: distributed, fb-exported, ciflow/trunk, topic: not user facing, module: distributed_checkpoint, merging

#145931 [no ci] Edits on release notes
  scripts/release/release.md
Labels: topic: not user facing

#145324 Add stft option to align window for center = false
  aten/src/ATen/native/SpectralOps.cpp
  aten/src/ATen/native/native_functions.yaml
  test/test_spectral_ops.py
  torch/_refs/__init__.py
  torch/_tensor.py
  torch/_tensor_docs.py
  torch/functional.py
  torch/onnx/symbolic_opset17.py
  torch/overrides.py
Labels: release notes: onnx
