Repository pytorch/pytorch, pull requests merged in 2025-05, with the labels that each got.

#152774 [dynamo][super variable] Fix bug to use correct source
  benchmarks/dynamo/ci_expected_accuracy/aot_eager_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/cu124/dynamic_inductor_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/cu124/inductor_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_aot_eager_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_inductor_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamo_eager_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/inductor_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/aot_eager_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/dynamic_aot_eager_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/dynamic_inductor_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/dynamo_eager_huggingface_training.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/inductor_huggingface_training.csv
  test/dynamo/test_misc.py
  torch/_dynamo/guards.py
  torch/_dynamo/source.py
  torch/_dynamo/variables/misc.py
  torch/csrc/dynamo/guards.cpp
Labels: module: rocm, module: dynamo, ciflow/inductor

#153080 [BE] Move all lint runner to 24.04
  .github/actionlint.yaml
  .github/workflows/check-labels.yml
  .github/workflows/lint.yml
  .github/workflows/revert.yml
  .github/workflows/trymerge.yml
Labels: topic: not user facing

#153098 [Cherry-pick] Fix copysign + scalar correctness issue
  aten/src/ATen/native/mps/operations/BinaryKernel.mm
  test/test_mps.py
  torch/testing/_internal/common_methods_invocations.py
Labels: release notes: mps, ciflow/mps

#153554 [release only] Bump triton version to 3.3.1
  .ci/docker/triton_version.txt
Labels: topic: not user facing

#153390 Revert "Cleanup VS 2019 refs in pytorch (#145863)" (#152613)
  .ci/pytorch/windows/internal/smoke_test.bat
  .ci/pytorch/windows/internal/static_lib_test.bat
  .ci/pytorch/windows/internal/vc_install_helper.bat
  .ci/pytorch/windows/internal/vs2019_install.ps1
  .circleci/scripts/binary_windows_build.sh
  .circleci/scripts/binary_windows_test.sh
  .github/ISSUE_TEMPLATE/disable-ci-jobs.md
Labels: module: windows, module: cpu, open source, ciflow/binaries, ciflow/trunk, release notes: releng, ci-no-td

#153218 Only print dde partial fx graph for export
  test/dynamo/test_repros.py
  torch/_dynamo/symbolic_convert.py
  torch/export/_trace.py
  torch/fx/_symbolic_trace.py
Labels: fx, module: dynamo, ciflow/inductor, release notes: export

#153104 [FlexAttention] Remove Old Constraint on lastdim strides
  test/inductor/test_flex_attention.py
  torch/_inductor/kernel/flex_attention.py
Labels: module: inductor, ciflow/inductor

#153304 Mark auto_functionalized HOPs as cacheable (#151194)
  test/inductor/test_codecache.py
  torch/_higher_order_ops/auto_functionalize.py
Labels: module: inductor, ciflow/inductor

#153639 [Release-Only] Make pull linux-jammy-py3.9-gcc11 green
  .github/workflows/pull.yml
Labels: topic: not user facing

#153973 [Release-Only] Enable docs build on final rc. Disable push on regular rc
  .github/workflows/nightly.yml
Labels: topic: not user facing

#153750 Update ExecuTorch pin to latest viable/strict 3/28/2025 (#150308)
  .ci/docker/ci_commit_pins/executorch.txt
  .ci/docker/common/install_executorch.sh
  .ci/pytorch/test.sh
Labels: release notes: releng, test-config/default, ciflow/inductor, test-config/executorch

#153612 Return ConstantVariable(None) from WithExitFunctionVariable.exit to prevent NoneType crash inside autocast exception path
  test/dynamo/test_exceptions.py
  torch/_dynamo/variables/ctx_manager.py
Labels: open source, module: dynamo

#154121 Fix uint view copy (#151598)
  test/inductor/test_cuda_repro.py
  torch/_inductor/codegen/triton.py
Labels: module: inductor, ciflow/inductor

#154179 [c10d] Add more tests to prevent extra context
  test/distributed/test_c10d_nccl.py
Labels: oncall: distributed, topic: not user facing

#152834 [c10d] Fix extra CUDA context created by barrier
  test/distributed/test_c10d_nccl.py
  torch/distributed/distributed_c10d.py
Labels: oncall: distributed, release notes: distributed (c10d)

#154600 Temporarily disable sparse tensor validation when loading from external storage.
  test/test_serialization.py
  torch/_utils.py
Labels: module: sparse, module: serialization, open source, topic: not user facing

#154755 Revert "Temporarily disable sparse tensor validation when loading from external storage."
  test/test_serialization.py
  torch/_utils.py
Labels: ci-no-td
