Repository pytorch/pytorch, pull requests merged in 2025-10, with the labels that each got.

#164312 [vllm hash update] update the pinned vllm hash (#164190)
  .ci/lumen_cli/cli/lib/core/vllm/lib.py
  .github/ci_commit_pins/vllm.txt
Labels: topic: not user facing, ciflow/vllm

#164254 Update Sphinx theme (#164147)
  .ci/docker/requirements-docs.txt
Labels: topic: not user facing

#164508 [Cherry-Pick] Work Around exposing statically linked libstdc++ CXX11 ABI strong symbols (#163980)
  .ci/docker/common/patch_libstdc.sh
  .ci/docker/manywheel/Dockerfile_2_28
  .ci/docker/manywheel/Dockerfile_2_28_aarch64
  .ci/docker/manywheel/Dockerfile_cuda_aarch64
  .ci/pytorch/check_binary.sh
  .ci/pytorch/smoke_test/check_binary_symbols.py
Labels: release notes: releng
