Repository pytorch/pytorch, pull requests merged in 2025-04, with the labels that each got.

#150460 [Cherry-pick] Make PyTorch buildable with cmake-4
  .ci/docker/common/install_conda.sh
  .ci/pytorch/windows/condaenv.bat
  aten/src/ATen/native/quantized/cpu/qnnpack/CMakeLists.txt
  cmake/Dependencies.cmake
  cmake/External/nnpack.cmake
  cmake/ProtoBuf.cmake
  requirements.txt
  test/custom_backend/CMakeLists.txt
  test/custom_operator/CMakeLists.txt
  test/edge/CMakeLists.txt
  test/jit_hooks/CMakeLists.txt
  test/mobile/custom_build/CMakeLists.txt
  test/mobile/lightweight_dispatch/CMakeLists.txt
Labels: module: cpu, ciflow/binaries, release notes: quantization, release notes: releng

#150327 [cherry-pick] [CI] Disable some tests that are failing in periodic #150059
  .github/workflows/periodic.yml
  test/functorch/test_eager_transforms.py
  test/inductor/test_compiled_optimizers.py
  test/inductor/test_cpu_repro.py
  test/profiler/test_profiler.py
  test/test_accelerator.py
  test/test_overrides.py
Labels: topic: not user facing, ciflow/periodic, module: inductor, ciflow/inductor

#150572 Revert "[fx] Move Node._prepend/Node._remove_from_list to C++ (#148261)"
  torch/_C/__init__.pyi.in
  torch/csrc/fx/node.cpp
  torch/fx/node.py
Labels: release notes: fx, fx, ci-no-td

#150550 [Release/2.7][MPS] Warn that torch.compile is a protoype
  torch/_inductor/codegen/mps.py
Labels: ciflow/mps, module: inductor, ciflow/inductor

#150658 Revert "[ROCm] change preferred blas lib defaults (#150249)"
  aten/src/ATen/BlasBackend.h
  aten/src/ATen/Context.cpp
  aten/src/ATen/Context.h
  test/test_cuda.py
  torch/_C/__init__.pyi.in
  torch/backends/cuda/__init__.py
  torch/csrc/Module.cpp
Labels: module: rocm, ciflow/rocm, ci-no-td

#150699 Revert "Dont exclude constant_pad_nd in prologue fusion"
  test/inductor/test_max_autotune.py
  torch/_inductor/analyze_preserves_zero_mask.py
  torch/_inductor/ir.py
  torch/_inductor/scheduler.py
Labels: module: inductor, ciflow/inductor, ci-no-td

#150707 Reland of "[ROCm] change preferred blas lib defaults (#150249)""
  aten/src/ATen/BlasBackend.h
  aten/src/ATen/Context.cpp
  aten/src/ATen/Context.h
  test/test_cuda.py
  torch/_C/__init__.pyi.in
  torch/backends/cuda/__init__.py
  torch/csrc/Module.cpp
Labels: module: rocm, ciflow/rocm, ci-no-td

#150855 Revert "[CUDA] Only use vec128 if CUDA version is newer than 12.8"
  aten/src/ATen/native/cuda/CUDALoops.cuh
  aten/src/ATen/native/cuda/MemoryAccess.cuh
  aten/src/ATen/native/cuda/thread_constants.h
  aten/src/ATen/test/cuda_vectorized_test.cu
Labels: ci-no-td
