Repository pytorch/pytorch, changes with the owners that CODEOWNERS names for each.
All owners: @fmassa, @soumith, @ezyang, @albanD, @soulitzer, @jbschlosser, @mikaylagawarecki, @janeyx99, @larryliu0820, @salilsdesai, @kimishpatel, @digantdesai, @jianyuh, @jerryzh168, @hdcharles, @jiayisuse, @osalpekar, @lw, @kwen2501, @wschin, @xadupre, @titaiwangms, @shubhambhokare1, @justinchuby, @pytorch/pytorch-dev-infra, @jeffdaily, @desertfire, @Chillee, @eellison, @shunting314, @bertmaher, @jataylo, @jithunnair-amd, @pruthvistony, @EikanWang, @gujinghui, @mruberry, @lezcano, @IvanYashchuk, @nikitaved, @zou3519, @chillee, @kshitij12345, @tugsbayasgalan, @ydwu4, @bdhirsh, @kulinseth, @malfet, @egienvalue, @sraikund16, @divyanshk, @ramanishsingh, @avikchaudhuri, @zhxchen17, @angelayi, @bobrenjc93, @laithsakka, @eqy, @syed-ahmed, @XuehaiPan

[Testing] Add copysign from scalar regression test (#152997)
  torch/testing/_internal/common_methods_invocations.py
Owners: @mruberry

[Dynamo] Guard serialization for EQUALS_MATCH (#152704)
  test/dynamo/test_guard_serialization.py
Owners: none

Update test_aot_inductor.py
  test/inductor/test_aot_inductor.py
Owners: none

[CI] Upgrade sccache to 0.10.0 (#152957)
  .ci/docker/common/install_cache.sh
Owners: @jeffdaily

Update on "[Linter] Add linter to detect device-bias hard code in test cases."
  test/higher_order_ops/test_invoke_quant.py
Owners: none

[Dynamo] Guard serialization for CONSTANT_MATCH (#152724)
  test/dynamo/test_guard_serialization.py
Owners: none

[MPS] SDPA specialized kernels (#152781)
  aten/src/ATen/native/mps/kernels/Attention.metal
  aten/src/ATen/native/mps/operations/Attention.mm
  test/test_mps.py
Owners: @kulinseth, @malfet

Add NVSHMEM_HOME detection
  caffe2/CMakeLists.txt
  tools/setup_helpers/cmake.py
  torch/__init__.py
Owners: none

Revert "[dynamo][ca] support dynamic annotations on tensors in ListVariables/TupleVariables (#152119)"
  test/inductor/test_compiled_autograd.py
  torch/_dynamo/output_graph.py
Owners: none

Revert "[ca] hide unused scalar int sizes from dynamo (#151962)"
  test/dynamo/test_backward_higher_order_ops.py
  test/inductor/test_compiled_autograd.py
  test/inductor/test_distributed_patterns.py
  torch/_dynamo/compiled_autograd.py
Owners: none

Revert "[aot][ca] save bw_module in AOTAutogradCache (#151860)"
  test/dynamo/test_aot_autograd_cache.py
  test/dynamo/test_structured_trace.py
  torch/_dynamo/compiled_autograd.py
  torch/_functorch/_aot_autograd/autograd_cache.py
  torch/_functorch/_aot_autograd/jit_compile_runtime_wrappers.py
  torch/_functorch/_aot_autograd/runtime_wrappers.py
Owners: @bdhirsh

Revert "[ca] mark scalar int sizes as dynamic via tensor wrapping (#151731)"
  test/dynamo/test_backward_higher_order_ops.py
  test/inductor/test_compiled_autograd.py
  torch/_dynamo/compiled_autograd.py
  torch/_dynamo/external_utils.py
  torch/csrc/dynamo/python_compiled_autograd.cpp
Owners: none

init
  test/dynamo/test_misc.py
  torch/_meta_registrations.py
  torch/_refs/__init__.py
Owners: none

add
  test/dynamo/test_misc.py
Owners: none

Update
  .ci/pytorch/macos-test.sh
Owners: @pytorch/pytorch-dev-infra

Update (base update)
  .ci/pytorch/macos-test.sh
Owners: @pytorch/pytorch-dev-infra

Update (base update)
  .ci/pytorch/macos-test.sh
  .github/workflows/_mac-test.yml
  .github/workflows/trunk.yml
Owners: @pytorch/pytorch-dev-infra

Update
  .lintrunner.toml
Owners: none

[export] Add draft-export docs (#152637)
  docs/source/_static/img/export/draft_export_report.png
  docs/source/_static/img/export/draft_export_report_dde.png
  docs/source/draft_export.rst
  docs/source/export.rst
Owners: none

Update
  .github/workflows/mac-mps.yml
Owners: @pytorch/pytorch-dev-infra

Update (base update)
  .github/workflows/mac-mps.yml
Owners: @pytorch/pytorch-dev-infra

Update on "Detect NVSHMEM location"
  caffe2/CMakeLists.txt
Owners: none

[aoti] skip input symbol codegen for sympy expr w/ many symbols (#152579)
  test/inductor/test_aot_inductor.py
  torch/_inductor/codegen/cpp_wrapper_cpu.py
  torch/_inductor/codegen/wrapper.py
Owners: none

Update __init__.py
  torch/accelerator/__init__.py
Owners: none

Update on "[Linter] Add linter to detect device-bias hard code in test cases."
  tools/linter/adapters/test_device_bias_linter.py
Owners: none

Adding a generic attribute for easier debugging.
  torch/utils/checkpoint.py
Owners: none

Define USE_C10D_XCCL and USE_XCCL in pytorch
  CMakeLists.txt
  cmake/Summary.cmake
Owners: none

Update
  pyproject.toml
Owners: none

Fix cmake warning
  cmake/Codegen.cmake
Owners: none

[dynamo][ez] Remove unused guard OBJECT_MUTATION. (#152855)
  torch/_dynamo/guards.py
Owners: none

[dynamo] Recursively realize the stack_values (#152853)
  benchmarks/dynamo/ci_expected_accuracy/aot_eager_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/cpu_inductor_freezing_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/cpu_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_aot_eager_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_cpu_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamic_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/dynamo_eager_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/dynamic_inductor_torchbench_inference.csv
  benchmarks/dynamo/ci_expected_accuracy/rocm/inductor_torchbench_inference.csv
  test/dynamo/test_repros.py
  test/dynamo/test_structured_trace.py
  test/export/test_export_with_inline_and_install.py
  torch/_dynamo/output_graph.py
  torch/_dynamo/variables/builder.py
Owners: none

[c10d] Fix unused `group` input argument in `new_subgroups()` (#152765)
  torch/distributed/distributed_c10d.py
Owners: none

fix a cuda bias case
  test/inductor/test_flex_attention.py
Owners: none

Update
  test/test_sparse.py
Owners: none

tc
  .ci/pytorch/install_cache_xla.sh
Owners: @pytorch/pytorch-dev-infra

Pass UNINSTALL_DILL to docker build (#152792)
  .ci/docker/build.sh
Owners: @jeffdaily

remove register_fake
  test/inductor/test_pattern_matcher.py
Owners: none

Update on "[Inductor] Pattern matcher support for mutable ops with non-view inputs"
  test/inductor/test_pattern_matcher.py
Owners: none

[Dynamo] Replace `unimplemented` with `unimplemented_v2` in `torch/_dynamo/variables/misc.py` [1/2] (#152274)
  torch/_dynamo/variables/misc.py
Owners: none

[nativert] Port string join and split to c10/util (#152873)
  c10/test/util/string_util_test.cpp
  c10/util/StringUtil.cpp
  c10/util/StringUtil.h
Owners: none

CODEOWNERS:

# IMPORTANT:
# This file is ONLY used to subscribe for notifications for PRs
# related to a specific file path. Approvals from people in this
# file are not required for merges.

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# For module labels => owners mapping, please see https://github.com/pytorch/pytorch/issues/24422.

/torch/utils/cpp_extension.py @fmassa @soumith @ezyang

# Not there to strictly require the approval, but to be tagged as a reviewer
# on the PRs to push them into a high priority inbox.
/torch/csrc/autograd/ @albanD @soulitzer
/torch/autograd/ @albanD @soulitzer
/tools/autograd/ @albanD @soulitzer
/torch/nn/ @albanD @jbschlosser @mikaylagawarecki
/torch/optim/ @albanD @janeyx99
/test/test_public_bindings.py @albanD
/test/allowlist_for_publicAPI.json @albanD
/test/forward_backward_compatibility/check_forward_backward_compatibility.py @larryliu0820
/docs/source/conf.py @albanD
/aten/src/ATen/native/tags.yaml @ezyang

# Architecture Optimization (quantization, sparsity, etc.)
/aten/src/ATen/native/ao_sparse @salilsdesai @kimishpatel @digantdesai @jianyuh
/aten/src/ATen/native/quantized @jerryzh168 @salilsdesai @kimishpatel @digantdesai @jianyuh
/aten/src/ATen/native/quantized/cpu @jerryzh168 @salilsdesai @kimishpatel @digantdesai @jianyuh
/aten/src/ATen/native/quantized/cuda @jerryzh168
/aten/src/ATen/native/quantized/cudnn @jerryzh168
/test/test_quantization.py @jerryzh168
/test/ao/ @jerryzh168 @hdcharles
/test/quantization/ @jerryzh168
/torch/quantization/ @jerryzh168
ao/sparisty/ @hdcharles
ao/quantization/ @jerryzh168
nn/intrinsic/ @jerryzh168
nn/quantized/ @jerryzh168
nn/quantizable/ @jerryzh168
nn/qat/ @jerryzh168

# Tensorpipe RPC Agent.
/torch/csrc/distributed/rpc/tensorpipe_agent.cpp @jiayisuse @osalpekar @lw
/torch/csrc/distributed/rpc/tensorpipe_agent.h @jiayisuse @osalpekar @lw

# Distributed
# c10d backend APIs
/torch/csrc/distributed/c10d/Backend.* @kwen2501
/torch/csrc/distributed/c10d/Ops.* @kwen2501

# ONNX Export
/torch/_dynamo/backends/onnxrt.py @wschin @xadupre
/torch/csrc/jit/passes/onnx.h @titaiwangms @shubhambhokare1 @xadupre
/torch/csrc/jit/passes/onnx.cpp @titaiwangms @shubhambhokare1 @xadupre
/torch/csrc/jit/passes/onnx/ @titaiwangms @shubhambhokare1 @xadupre
/torch/onnx/ @titaiwangms @shubhambhokare1 @justinchuby @wschin @xadupre
/test/onnx/  @titaiwangms @shubhambhokare1 @justinchuby @wschin @xadupre

# CI
/.ci  @pytorch/pytorch-dev-infra

# Docker
/.ci/docker/ @jeffdaily
/.ci/docker/ci_commit_pins/triton.txt @desertfire @Chillee @eellison @shunting314 @bertmaher @jeffdaily @jataylo @jithunnair-amd @pruthvistony
/.ci/docker/ci_commit_pins/triton-xpu.txt @EikanWang @gujinghui

# Github Actions
# This list is for people wanting to be notified every time there's a change
# related to Github Actions
/.github/ @pytorch/pytorch-dev-infra

# Custom Test Infrastructure
/test/run_test.py @pytorch/pytorch-dev-infra
/torch/testing/_internal/common_device_type.py @mruberry
/torch/testing/_internal/common_utils.py @pytorch/pytorch-dev-infra

# Parametrizations
/torch/nn/utils/parametriz*.py @lezcano

# torch.linalg
# docs
/torch/linalg/ @lezcano @IvanYashchuk @nikitaved
# code
/aten/src/ATen/native/**/*LinearAlgebra* @lezcano @nikitaved @IvanYashchuk
# tests
/test/test_linalg.py @lezcano @nikitaved @IvanYashchuk

# OpInfo-related files
/torch/testing/_internal/common_methods_invocations.py @mruberry
/torch/testing/_internal/common_device_type.py @mruberry
test/test_ops.py @mruberry
test/test_ops_gradients.py @mruberry @soulitzer
test/test_ops_fwd_gradients.py @mruberry @soulitzer
test/test_unary_ufuncs.py @mruberry
test/test_binary_ufuncs.py @mruberry
test/test_reductions.py @mruberry
test/test_type_promotion.py @mruberry

# functorch-related things
# This list is for people wanting to be notified every time there's a change
# Useful for e.g. auditing xfails that other folks add to tests
test/functorch/test_ops.py @zou3519 @chillee @kshitij12345
test/functorch/test_vmap.py @zou3519 @chillee @kshitij12345

# This is the file where people can add new argument types to torch.fx.
torch/fx/proxy.py @zou3519

# HOPs
torch/_higher_order_ops/*.py @zou3519
torch/_dynamo/variables/higher_order_ops.py @zou3519
test/test_hop_infra.py @zou3519
torch/testing/_internal/hop_db.py @tugsbayasgalan @zou3519 @ydwu4

# AOTAutograd
torch/_functorch/_aot_autograd/*.py @bdhirsh
torch/_functorch/aot_autograd.py @bdhirsh

# torch MPS
test/test_mps.py @kulinseth @malfet
aten/src/ATen/mps/ @kulinseth @malfet
aten/src/ATen/native/mps/ @kulinseth @malfet

# MTIA
aten/src/ATen/detail/MTIAHooksInterface.h @egienvalue
torch/csrc/mtia/ @egienvalue

# Profiler
torch/csrc/autograd/profiler* @sraikund16
torch/autograd/profiler* @sraikund16
torch/csrc/profiler/ @sraikund16
torch/profiler/ @sraikund16

# AOTDispatch tests
test/functorch/test_aotdispatch.py @ezyang @Chillee

# Dataloader
torch/utils/data/ @divyanshk @ramanishsingh

# hipify
torch/utils/hipify/ @jeffdaily @jithunnair-amd
tools/amd_build/ @jeffdaily @jithunnair-amd

# ROCm-specific files
aten/src/ATen/hip/ @jeffdaily @jithunnair-amd
aten/src/ATen/miopen/ @jeffdaily @jithunnair-amd
aten/src/ATen/native/miopen/ @jeffdaily @jithunnair-amd
c10/hip @jeffdaily @jithunnair-amd
caffe2/core/hip @jeffdaily @jithunnair-amd
caffe2/operators/hip @jeffdaily @jithunnair-amd
caffe2/operators/rnn/hip @jeffdaily @jithunnair-amd
caffe2/utils/hip @jeffdaily @jithunnair-amd

# XPU-specific files
/aten/src/ATen/xpu/ @EikanWang @gujinghui
/aten/src/ATen/native/mkldnn/xpu/ @EikanWang @gujinghui
/c10/xpu/ @EikanWang @gujinghui
/torch/csrc/xpu/ @EikanWang @gujinghui
/torch/xpu/ @EikanWang @gujinghui
/test/xpu/ @EikanWang @gujinghui
/test/test_xpu.py @EikanWang @gujinghui
/third_party/xpu.txt @EikanWang @gujinghui

# torch.export
/torch/export/ @avikchaudhuri @tugsbayasgalan @zhxchen17 @ydwu4 @angelayi
/torch/_export/ @avikchaudhuri @tugsbayasgalan @zhxchen17 @ydwu4 @angelayi

# Dynamic Shapes
/torch/fx/experimental/symbolic_shapes.py @bobrenjc93 @laithsakka
/torch/fx/experimental/sym_node.py @bobrenjc93 @laithsakka
/torch/fx/experimental/recording.py @bobrenjc93 @laithsakka

# serialization-related files
/aten/src/ATen/MapAllocator* @mikaylagawarecki
/caffe2/serialize/ @mikaylagawarecki
/torch/serialization.py @mikaylagawarecki
/torch/storage.py @mikaylagawarecki
/torch/csrc/Storage* @mikaylagawarecki
# subscribing for PyTorchFileWriter/PyTorchFileReader changes
/torch/csrc/jit/python/init.cpp @mikaylagawarecki

# CUDA and CUDA math libraries
aten/src/ATen/cuda/ @eqy @syed-ahmed
aten/src/ATen/cudnn/ @eqy @syed-ahmed
aten/src/ATen/native/cuda/ @eqy @syed-ahmed
aten/src/ATen/native/cudnn/ @eqy @syed-ahmed
c10/cuda @eqy @syed-ahmed
torch/cuda/ @eqy @syed-ahmed
torch/csrc/cuda/ @eqy @syed-ahmed
torch/backends/cuda/ @eqy @syed-ahmed
torch/backends/cudnn/ @eqy @syed-ahmed

# PyTree utilities
/torch/utils/_pytree.py @XuehaiPan
/torch/utils/_cxx_pytree.py @XuehaiPan
/torch/utils/pytree/ @XuehaiPan
/torch/_dynamo/polyfills/pytree.py @XuehaiPan
